@model IEnumerable<MailboxMessageGridViewModel>

<table class="table table-hover table-mail">
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr class="read">
                <td class="mail-subject text-center">No Messages</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="@(item.IsMarkedAsRead ? "read" : "unread")">
                    <td class="check-mail">
                        <input id="select-message" type="checkbox" class="i-checks check" value="@item.Id">
                    </td>
                    @if (item.MessageStatusId == AppMessageStatus.Draft)
                    {
                        <td class="mail-contact"><a id="message-sender" href="@Url.Action("Compose", "Mailbox", new { area= "Messages", composeType = AppMessageComposeType.Draft, messageId = item.Id })">@item.SenderName</a></td>
                        <td class="mail-subject"><a id="message-subject" href="@Url.Action("Compose", "Mailbox", new { area= "Messages", composeType = AppMessageComposeType.Draft, messageId = item.Id })">@item.Subject</a></td>
                    }
                    else
                    {
                        <td class="mail-contact"><a id="message-sender" href="@Url.Action("ViewEmail", "Mailbox", new { area= "Messages", messageId = item.Id })">@item.SenderName</a></td>
                        <td class="mail-subject"><a id="message-subject" href="@Url.Action("ViewEmail", "Mailbox", new { area= "Messages", messageId = item.Id })">@item.Subject</a></td>
                    }
                    <td class="">
                        <i class="@(item.IsMarkedAsImportant ? "fa fa-star" : "fa fa-star-o")"></i>
                    </td>
                    <td class="text-right mail-date">@item.TimeStamp.ToString(Resource.constFormatDateTime)</td>
                </tr>
            }
        }
    </tbody>
</table>

