@model AssetDetailViewModel

@{
    if (Model.Asset.Type == (int)AssetType.Asset)
    {
        ViewBag.Title = "Asset Details";
    }
    else if (Model.Asset.Type == (int)AssetType.Tank)
    {
        ViewBag.Title = "Tank Details";
    }
}

<div class="row">
    <div class="col-md-4 mb25 tab-headers">
        <a href="javascript:void(0)" onclick="showsection('asset-details'), activelink(this), inputBoxShowHide(null, 'download')" class="active mr20">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.tabheadingDetails</span>
            </div>
        </a>
        @if (Model.Asset.Type == (int)AssetType.Asset)
        {
            <a href="javascript:void(0)" onclick="showsection('asset-history'), activelink(this), inputBoxShowHide('download',null)" class="mr20">
                <div class="step-inprogress fs18">
                    <span class="f-light step-text float-left">@Resource.tabHeadingHistory</span>
                </div>
            </a>
        }
        </div>
</div>
<div class="tab-container">
    <div id="asset-details">
        <div class="row">
            @if (Model.Asset.Type == (int)AssetType.Asset)
            {
                <div class="col-sm-12">
                    <div class="border-b mb10">
                        <h4 class="f-light fs18 dib mt0">@Resource.headingAsset</h4>
                    </div>
                    @Html.PartialFor("_PartialAssetDetail", m => m)
                </div>
            }
            else if (Model.Asset.Type == (int)AssetType.Tank)
            {
                <div class="col-sm-12">
                    <div class="border-b mb10">
                        <h4 class="f-light fs18 dib mt0">@Resource.headingTanks</h4>
                    </div>
                    @Html.PartialFor("_PartialTankDetail", m => m)
                </div>
            }

            <div class="col-sm-12">
                <div class="border-b mb10">
                    <h4 class="f-light fs18 dib mt0">@Resource.headingImage</h4>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div id="image-block" class="text-center">
                            @if (Model.Asset.Image == null || Model.Asset.Image.Id == 0)
                            {
                                <img id="image-ctrl" class="company-logo-dim img-circle" src="~/Content/images/no-image.png" />
                            }
                            else
                            {
                                <img id="image-ctrl" class="company-logo-dim img-circle" src="@Html.ImageSrc(Model.Asset.Image.Data)" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="asset-history" class="hide-element">
        @Html.Partial("_PartialAssetHistory", Model.Asset.Id)
    </div>*@
</div>
