@model AuditReportAxxisFilter
@{
    ViewBag.Title = "Audit Report Axxis";
}

<div class="row">
    <div class="col-sm-12 col-12">
        <h4>@Resource.headingAuditReportAxxis</h4>
    </div>
</div>
<div class="row mb10">
    <div class="col-sm-12">
        <div class="well pb10 mb5">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5">
                    <input type="text" id="txtFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" value="@Model.StartDate" />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5">
                    <input type="text" id="txtToDate" placeholder="@Resource.lblTo" class="form-control datepicker" value="@Model.EndDate" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="button" class="btn btn-primary" value="@Resource.btnLabelCreateReport" onclick="ReloadDataTable();" />
                    <input type="button" class="btn ml5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="90DaysDataWarning" class="col-md-12 @((string.IsNullOrWhiteSpace(Model.StartDate) && string.IsNullOrWhiteSpace(Model.EndDate)) ? "" : "hide-element")">
        <div class="alert alert-info fs12 mb15"><strong>@Resource.lblInfo</strong>@Resource.lbl90DaysDataWarning</div>
    </div>
    <div class="col-md-12">
        @Html.Partial("_PartialAuditReportAxxisGrid")
    </div>
</div>
<script type="text/javascript">
    var ClearFilter;
    $(document).ready(function () {
        ClearFilter = function () {
            setFilterDates();
            ReloadDataTable();
        }

        if ($('#txtFromDate').length > 0 && $('#txtToDate').length > 0) {
            $("#txtFromDate").on('dp.change dp.show', function (e) {
                if (e.date == false)
                    $('#txtToDate').data("DateTimePicker").minDate($("#txtFromDate").datetimepicker("minDate"));
                else
                    $('#txtToDate').data("DateTimePicker").minDate(moment($('#txtFromDate').val()));
            });

            if ($('#txtFromDate').val() === '' && $('#txtToDate').val() === '') {
                setFilterDates();
            }
        }
    });

    var auditReportDataTable;
    function ReloadDataTable() {
        var startDate = moment(), endDate = moment();
        var txtStartDate = $('#txtFromDate').val(), txtEndDate = $('#txtToDate').val();
        if (txtStartDate !== '') {
            startDate = moment(txtStartDate, "MM/DD/YYYY");
        }
        if (txtEndDate !== '') {
            endDate = moment(txtEndDate, "MM/DD/YYYY");
        }
        if (endDate.diff(startDate, 'days') == 90) {
            $('#90DaysDataWarning').show();
        }
        else {
            $('#90DaysDataWarning').hide();
        }
        auditReportDataTable.ajax.reload();
    }

    function setFilterDates() {
        $('#txtFromDate').data("DateTimePicker").date(moment().subtract(moment.duration(90, 'days')));
        $('#txtToDate').data("DateTimePicker").date(moment());
    }

</script>
<style>
    /*.dataTables_wrapper {
        overflow: auto !important
    }*/
</style>