@model CompanyViewModel
@{
    ViewBag.Title = "Company Details";
}
@section pageTabs {
<div class="row">
    <div class="col-md-7 mb10 tab-headers">
        <a id="tab-company-details" href="javascript:void(0)" onclick="showsection('company-details'), activelink(this)" class="active mr20">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.lblProfile</span>
            </div>
        </a>
        <a id="tab-company-addresses" href="javascript:void(0)" onclick="GetPartialViewData('company-addresses'), activelink(this)" class="mr20">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.lblAddresses</span>
            </div>
        </a>
        <a id="tab-company-users" href="javascript:void(0)" onclick="GetPartialViewData('company-users'), activelink(this)" class="mr20">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.lblUsers</span>
            </div>
        </a>
        @if (Model.IsTPOCompany)
        {
            <a id="tab-company-jobs" href="javascript:void(0)" onclick="GetPartialViewData('company-jobs'), activelink(this)" class="mr20">
                <div class="step-inprogress fs18">
                    <span class="f-light step-text float-left">@Resource.lblJobs</span>
                </div>
            </a>
        }
    </div>
</div>
   }
<div class="tab-container">
    <div id="company-details" data-parent-tab="tab-company-details" class="subTabs">
        <div class="col-sm-12">
            <div class="row well">
                @{ Html.RenderAction("CompanyProfilePartial", "Profile", new { Area = "Settings", Id = Model.Id });}
            </div>
        </div>
    </div>
    <div id="company-addresses" data-parent-tab="tab-company-addresses" class="hide-element subTabs"></div>
    <div id="company-users" data-parent-tab="tab-company-users" class="hide-element subTabs"></div>
    <div id="company-jobs" data-parent-tab="tab-company-jobs" class="hide-element subTabs"></div>
</div>
<div class="row">
    <div class="col-sm-12 text-right pb30">
        <input type="button" onclick="window.history.go(-1);" class="btn btn-default" value="@Resource.btnLabelBack" />
    </div>
</div>
@using (Html.BeginScripts())
{
    <script>

        function GetPartialViewData(key) {
            var url = '';
            switch (key)
            {
                case 'company-details': url = '@Url.Action("CompanyProfilePartial", "Profile", new { area = "Settings", id = Model.Id })'; break;
                case 'company-addresses': url = '@Url.Action("CompanyAddressesPartial", "Profile", new { area = "Settings", id = Model.Id })'; break;
                case 'company-users': url = '@Url.Action("CompanyUsersPartial", "SuperAdmin", new { area = "SuperAdmin", id = Model.Id })'; break;
                case 'company-jobs': url = '@Url.Action("CompanyJobsPartial", "SuperAdmin", new { area = "SuperAdmin", id = Model.Id })'; break;
            }
            $(".tab-container > div").hide();
            $(".tab-container #" + key).show();
            $('#' + key).load(url);
        }
    </script>
}

