@model JobStepsViewModelForSuperAdmin
@using System.Threading
@{
    ViewBag.Title = "Job Details/Edit";
    Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(Model.Culture);
    string currentUrl = Request.Url.AbsoluteUri.ToString();
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-10 mb15 visible-xs visible-sm visible-md hidden-lg">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @Resource.lblMoreDetails
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a id="tab-fr-details" href="javascript:void(0)" onclick="showsection('fr-details'), activelink(this)">
                                    @Resource.stepLabelJobDetails
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 tab-headers hidden-xs visible-lg pr0">
                    <a id="tab-fr-details" href="javascript:void(0)" onclick="showsection('fr-details'), activelink(this);inputBoxShowHide('floating-buttons',null)" class="active mr15">
                        <div class="step-inprogress fs15">
                            <span class="f-light step-text float-left">@Resource.stepLabelJobDetails</span>
                        </div>
                    </a>
                    <div class="spinner-job-details dib float-left pr mtm3"><span class="spinner-small ml10 mt5 pa"></span></div>
                </div>
            </div>
            <div class="tab-container mt10 readOnlyModeFR">
                <div id="fr-details" data-parent-tab="tab-fr-details" class="subTabs">
                    @if (CurrentUser.IsAccountSpecialist || CurrentUser.IsSuperAdmin)
                    {
                        Html.RenderPartial("_PartialJobDetails", Model);
                    }
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginScripts())
{
    <script src="https://maps.googleapis.com/maps/api/js?key=@(SiteFuel.Exchange.Core.Utilities.AppSettings.GoogleMapApiKey)" type="text/javascript"></script>
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/address-goecoder")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Scripts/js/news-feed")

    <script>
        SetPageCulture('@Model.Culture');
		var mapsApiKey = '@SiteFuel.Exchange.Core.Utilities.AppSettings.GoogleApiKey';
        var allStates =  @Html.Raw(Json.Encode(CommonHelperMethods.GetStatesOfAllCountries()));

        var isJobEdit = true;
        var currentEntityId = @Model.Job.Id; // for newsfeed
        var stateId = @Model.Job.State.Id; // for state autofill

        $(document).ready(function () {
            checkBoxChange(".enableAssetTracking input:checkbox","enableStatusForAllAssets")
			var jobEndDate = $(".job-end-date");
			if (jobEndDate.length > 0) {
				jobEndDate.data("DateTimePicker").useCurrent(false);
				jobEndDate.data("DateTimePicker").minDate(moment());
            }

            if ($('input[name="@Html.NameFor(m=> m.Job.LocationType)"]:checked').val() == '@(JobLocationTypes.Various)') {
                $(".jobLocationTypes-location,.jobLocationTypes-geoLocation").addClass("pntr-none subSectionOpacity").attr("disabled");
            }

            if (@Model.Job.Id > 0) {
                $('#ddl-currency-filter-div').find('.currency').attr('readonly', true);
            }





            $('#@Html.IdFor(m => m.Job.IsTaxExempted)').on('change', function () {
				if ('@Model.Job.Id' > 0 && '@Model.Job.StatusId' != '@((int)JobStatus.Draft)') {
					var isTaxexempted = '@(Model.Job.IsTaxExempted)' == 'True' ? true : false;
					if (isTaxexempted == $('#@Html.IdFor(m => m.Job.IsTaxExempted)').is(':checked')) {
                        $("#valTaxExempted").addClass('hide-element').removeClass('show-element');
					}
					else {
                        $("#valTaxExempted").addClass('show-element').removeClass('hide-element');
					}
				}
			});

            $('#@Html.IdFor(m => m.Job.IsAssetTracked)').on('change', function () {
				if ('@Model.Job.Id' > 0 && '@Model.Job.StatusId' != '@((int)JobStatus.Draft)') {
					if ('@Model.Job.IsAssetTracked' == 'True' && $('#@Html.IdFor(m => m.Job.IsAssetTracked)').is(':checked') == false) {
						$("#valAssetTracking").addClass('show-element').removeClass('hide-element');
					}
					else {
                        $("#valAssetTracking").addClass('hide-element').removeClass('show-element');
					}
				}
			});

            $("#Submit").click(function () {
                fixedButtons(this);
                var url = "@Url.Action("SaveJob", "SuperAdmin", new { area = "SuperAdmin" })";
                $("form").attr("action", url);
			});

			//enable or disable required asset picture checkbox
            requireAssetPic(true);

            $(".chkGeoCode").click(function () {
                if ($(this).is(":checked")) {
                    $(".address-container .field-validation-error").addClass("hide-element");
                }
                else if (!$(this).is(":checked")) {
                    $(".address-container .field-validation-error,.address-container .field-validation-valid").removeClass("hide-element");
                }
            });
        });

		function showMessage(element)
		{
			if ($.inArray('@((int)UserRoles.Admin)', $(element).val()) != -1 && $(element).val().length > 1) {
				$(element).closest('div').next().addClass('show-element').removeClass('hide-element');
			}
		     else {
				$(element).closest('div').next().addClass('hide-element').removeClass('show-element');
			}
		}

        $(document).ajaxComplete(function (event, request, settings) {
            $(".spinner-job-details").hide()
		});

        $(function () {
            $('.enableAssetTracking input').click(requireAssetPic);
        })

        function requireAssetPic(isOnDocumentReady) {
			if ($("#@Html.IdFor(m=>m.Job.IsAssetTracked)").is(':checked')) {
                $(".requireAssetPic").removeClass("defaultDisabled subSectionOpacity");
                $(".requireAssetPic label").removeClass("pntr-none");
			}
            else {
                $(".requireAssetPic").addClass("defaultDisabled subSectionOpacity");
                $(".requireAssetPic label").addClass("pntr-none");
                $(".requireAssetPic input").prop("checked",false);
			}
        }
    </script>
}