@model ExternalMeterDataViewModel
@{
    ViewBag.Title = Resource.lblExternalMeterData;
}
<div class="row">
    <div class="col-md-12">
        <h4>@Resource.lblExternalMeterData</h4>
    </div>
</div>

@using (Html.BeginForm("ExternalMeterData", "SuperAdmin", new { area = "SuperAdmin" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-sm-12">
        <div class="row well">
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.SupplierCompanyId, new SelectList(CommonHelperMethods.GetTPOSuppliers(), "Id", "Name", Model.SupplierCompanyId), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SupplierCompanyId)
            </div>
            <div class="col-sm-12">
                @Html.TextAreaFor(m => m.MeterData, new { @class = "form-control mb10 mt10" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <input id="btnCancel" type="button" class="btn" onclick="window.location.href='/';" value="@Resource.btnLabelCancel" />
            <input id="btnSubmit" type="submit" class="btn btn-primary btn-lg" value="@Resource.btnLabelSubmit" />
        </div>
    </div>
}

<script>

    var supplierSelectElement = $("#SupplierCompanyId");

    $(document).ready(function () {
        supplierSelectElement.select2({
            placeholder: "@Resource.lblSupplierCompany",
            allowClear: true
        });
    })

</script>