@{
    ViewBag.Title = "Invoices";
}

<div class="row mb10">
    <div class="col-sm-3 col-md-2 col-xs-12 pr0">
        <h3 class="mt0 mb0 f-light fs21 pt5">@Resource.headingInvoices</h3>
    </div>
</div>

<div class="row mb10">
    <div class="col-sm-12">
        <div class="well pb10 mb5">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                <div class="col-xs-12 col-sm-4 col-md-5">
                    <input type="button" class="btn btn-primary mb5 mr5" value="@Resource.btnLabelApply" onclick="ReloadDataTable();" />
                    <a href="javascript:void(0);" class="btn btn-default mb5 mr5" onclick="downloadCsv();">@Resource.lblDownloadCsv</a>
                    <input type="button" class="btn mb5 mr5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_PartialInvoiceGrid", new InvoiceFilterViewModel())

<script type="text/javascript">
    var ClearFilter;
    $(document).ready(function () {
        ClearFilter = function () {
            $('#txtFromDate').val('');
            $('#txtToDate').val('');
            $('#txtToDate').data("DateTimePicker").minDate($("#txtFromDate").datetimepicker("minDate"));
            ReloadDataTable();
        }
    });

    function downloadCsv() {
        var url = '@Url.Action("ExportInvoicesToCsv", "SuperAdmin", new { area = "SuperAdmin" })?startDate=' + $('#txtFromDate').val() + '&endDate=' + $('#txtToDate').val();
        hideLoader();
        location.href = url;
    }
</script>



