@{
    ViewBag.Title = "Account Activity";
}

<div class="row">
    <div class="col-sm-12 col-12">
        <h4 class="float-left pt3">@Resource.lblAccountActivity</h4>
        <a class="float-left ml20 mt4" onclick="ClearFilter();">@Resource.btnLabelViewAll</a>
    </div>
</div>
<div class="row mb10">
    <div class="col-sm-12">
        <div class="well pb10 mb5">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtSuperadminAccountActivityFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtSuperadminAccountActivityToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <input type="button" class="btn btn-primary" value="@Resource.btnLabelApply" onclick="ReloadDataTable();" />
                    <input type="button" class="btn ml5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.Partial("_PartialAccountActivityGrid")
</div>
<script type="text/javascript">

    $('#txtSuperadminAccountActivityFromDate').val(GetLocalStorage('txtSuperadminAccountActivityFromDate'));
    $('#txtSuperadminAccountActivityToDate').val(GetLocalStorage('txtSuperadminAccountActivityToDate'));

    var ClearFilter;
    $(document).ready(function () {
        ClearFilter = function () {
            $('#txtSuperadminAccountActivityFromDate').val('');
            $('#txtSuperadminAccountActivityToDate').val('');
            $('#txtSuperadminAccountActivityToDate').data("DateTimePicker").minDate($("#txtSuperadminAccountActivityFromDate").datetimepicker("minDate"));
            ReloadDataTable();
        }

        if ($('#txtSuperadminAccountActivityFromDate').length > 0 && $('#txtSuperadminCompanyToDate').length > 0) {
            $("#txtSuperadminAccountActivityFromDate").on('dp.change dp.show', function (e) {
                if (e.date == false)
                    $('#txtSuperadminAccountActivityToDate').data("DateTimePicker").minDate($("#txtSuperadminAccountActivityFromDate").datetimepicker("minDate"));
                else
                    $('#txtSuperadminAccountActivityToDate').data("DateTimePicker").minDate(moment($('#txtSuperadminAccountActivityFromDate').val()));
            });
        }
    });

    var accountactivityDataTable;
    function ReloadDataTable() {
        SetLocalStorage('txtSuperadminAccountActivityFromDate', $('#txtSuperadminAccountActivityFromDate').val());
        SetLocalStorage('txtSuperadminAccountActivityToDate', $('#txtSuperadminAccountActivityToDate').val());
        accountactivityDataTable.ajax.reload();
    }

</script>

