@using SiteFuel.Exchange.Web.Common
@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="TrueFill Exchange Application">
    <meta name="author" content="TrueFill, Inc.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="~/Content/images/logo-favicon.png">

    <title>TrueFill - @ViewBag.Title</title>

    <!-- CSS -->
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/bootstrap")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/site")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/master-error")
    @RenderSection("styles", required: false)
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery")

</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Html.PageScripts()

</body>
</html>

