@using SiteFuel.Exchange.Web.Common
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TTHB5HZ');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TrueFill Exchange Application">
    <meta name="author" content="TrueFill, Inc.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    @if (!string.IsNullOrEmpty(ViewBag.FaviconPath))
    {
        <link rel="icon" href="@ViewBag.FaviconPath">
    }
    else
    {
        <link rel="icon" href="~/Content/images/logo-favicon.png">
    }

    <title>TrueFill - @ViewBag.Title</title>

    <!-- CSS -->
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/bootstrap")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/site")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/font-awesome")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/toast")
    @RenderSection("styles", required: false)
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/master-empty")


    <!-- JS -->
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery-mask")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/bootstrap")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/toast")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/site")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/master-dashboard")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/dataTables")
    @RenderSection("scripts", required: false)
</head>
<body class="authbg">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTHB5HZ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container-fluid container_full_height">
        <div class="loader">
            <div class="loading-content text-center">
                <div class="spinner"></div>
                <div class="fs16 color-white ">@Resource.lblLoading</div>
            </div>
        </div>
        <div class="dtable full-width">
            <div class="controls-auth dtable-cell float-none v-middle">
                <div class="col-centered control-box">
                    <div class="app-features pa">
                        <ul class="list-unstyled color-white">
                            <li class="clearfix">
                                <div class="pull-left text-center"><i class="ico-tracking dib"></i></div>
                                <span class="dib pull-left ml10 fs15 mt10">@Resource.lblFeatureTracking</span>
                            </li>
                            <li class="clearfix pt25">
                                <div class="pull-left text-center"><i class="ico-invoicing dib"></i></div>
                                <span class="dib pull-left ml10 fs15 mt6">@Resource.lblFeatureInvoicing</span>
                            </li>
                            <li class="clearfix pt25">
                                <div class="pull-left text-center"><i class="ico-dispatch dib"></i></div>
                                <span class="dib pull-left ml10 fs15 mt4">@Resource.lblFeatureDispatch</span>
                            </li>
                            <li class="clearfix pt25">
                                <div class="pull-left text-center"><i class="ico-taxes dib"></i></div>
                                <span class="dib pull-left ml10 fs15 mt5">@Resource.lblFeatureTaxes</span>
                            </li>
                        </ul>
                    </div>
                    <div class="login-xs-lg col-sm-offset-0 col-sm-8 col-xs-12">
                        <div class="text-center">
                            <img src="~/Content/images/truefill-logo-white.png" height="41" class="mb15" id="mainLogo" />
                            <span id="supplierBrandText" class="color-white fs10 db mb5" style="display:none;">Powered By TrueFill</span>
                        </div>
                        <div class="credential-box login-box col-centered pr">
                            @RenderBody()
                        </div>
                        <div class="text-center">
                            @Html.ActionLink("Login with", "ParklandOktaLogin", "Account", new { area = "" }, new { @class = "btn btn-capsule btn-okta mt-2 btn-lg" })

                        </div>
                        <div class="footer-wrapper clearfix fs12 mt25">
                            <span class="pull-left mt1" id="dynamic-footer-text">© 2022 TrueFill, Inc. </span>
                            <span class="pull-right dib mt10"><img src="~/Content/images/comodo-secure-logo.png" border="0" /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.PageScripts()
    </div>
    <script>
        $(document).ready(function () {
            if ($(location).attr('href').indexOf('/Account/') > 0) {
                $('#custom-message').toggle();
            }
            authbg();
        });
    </script>
    <style>
        .jq-toast-wrap {
            display: none;
        }
    </style>
</body>
</html>
