@using SiteFuel.Exchange.Web.Common
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="TrueFill Exchange Application">
    <meta name="author" content="TrueFill, Inc.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="~/Content/images/logo-favicon.png">

    <title>TrueFill - @ViewBag.Title</title>

    <!-- CSS -->
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/bootstrap")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/bootstrap-datetimepicker")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/site")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/font-awesome")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/glyphicon.css")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/master-onboarding")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/master-dashboard")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/site")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/select2")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/toast")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/master-onboarding")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/master-empty")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/bootstrap-multiselect")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/jquery-ui")

    @RenderSection("styles", required: false)

    <!-- JS -->
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery-mask")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/bootstrap")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/bootstrap-datetimepicker")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/site")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/master-dashboard")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/bootstrap-confirmation")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/select2")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/toast")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/dataTables")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/bootstrap-multiselect")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery-ui")

    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
    @*<a href="javascript:void(0)" class="scroll-to-top text-center animated fixed hide-element"><i class="fa fa-arrow-circle-up fa-2x"></i></a>*@
    <div class="loader">
        <div class="loading-content text-center">
            <div class="spinner"></div>
            <div class="fs16 color-white ">@Resource.lblLoading</div>
        </div>
    </div>
    <header class="fixed full-width top0 bg-white shadow-b">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-2 mt1">
                    <div class="mt2 ml10">
                        @if (!string.IsNullOrEmpty(CurrentUser.SupplierLogoPath))
                        {
                            <div class="pull-left ml10">
                                <img src="@CurrentUser.SupplierLogoPath" height="34" role="button" class="mt8">
                            </div>
                        }
                        else
                        {
                            <img src="~/Content/images/truefill-logo.png" alt="TrueFill" width="125" class="mt5">
                        }
                    </div>
                </div>
                <div class="col-sm-4 text-right float-right align-self-end">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <ul class="list-inline pull-right">
                                    <li class="text-right pt5 pull-left ">
                                        <div class="dropdown pr0">
                                            <a href="#." id="user" data-toggle="dropdown" class="fs25 dib">
                                                <span class="fa fa-user-circle"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right user-dropdown  no-radius" aria-labelledby="user">
                                                <li class="dropdown-item">@Html.ActionLink(Resource.btnLabelLogout, "Logout", "Account", routeValues: new { area = "" }, htmlAttributes: new { })</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header ends -->
    <main>
        <div class="col-xs-12 full-width pa0" id="display-custom-message">
            @Html.Partial("_DisplayCustomMessage")
        </div>
        <div class="container-fluid bg-white pt20 main-wrapper pb20">
            @RenderBody()
        </div>
        <div class="container-fluid bg-footer fs12 text-center color-lightgrey">
            <div class="footer-wrapper pt25">
                <span class="pull-left mtm10" id="dynamic-footer-text">@Html.Raw(Resource.txtCopyright) </span>
                <span class="pull-right dib"><img src="~/Content/images/comodo-secure-logo.png" border="0" /></span>
            </div>
        </div>
    </main>
    @Html.PageScripts()
</body>
</html>

