@using SiteFuel.Exchange.Web.Common
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="TrueFill Exchange Application">
    <meta name="author" content="TrueFill, Inc.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="~/Content/images/logo-favicon.png">

    <title>TrueFill - @ViewBag.Title</title>

    <!-- CSS -->
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/common")
    @RenderSection("styles", required: false)

    <!-- JS -->
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/common")
	@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/unobtrusive-ajax")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div id="fr-incoming-alert" class="mb20"></div>
    @*<a href="javascript:void(0)" class="scroll-to-top text-center animated fixed hide-element"><i class="fa fa-arrow-circle-up fa-2x"></i></a>*@
    <div class="loader">
        <div class="loading-content text-center">
            <div class="spinner"></div>
            <div class="fs16 color-white">@Resource.lblLoading</div>
        </div>
    </div>
    <!-- fixed header starts -->
    <header class="fixed full-width top0 bg-white shadow-b">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9 pr0 col-sm-6">
                    <div class="float-left mt2 ml10 d-none d-lg-block"><img src="~/Content/images/truefill-logo.png" role="button" alt="TrueFill" width="126" class="mt5" onclick="window.location.href='@Url.Action("Index","Home",new { area =""})'"></div>
                    <div class="float-left mt3 ml5  d-none d-lg-none d-sm-block d-md-block d-block d-sm-none"><img src="~/Content/images/truefill-symbol.png" role="button" alt="TrueFill" width="25" class="mt8 ml5" onclick="window.location.href='@Url.Action("Index","Home",new { area =""})'"></div>
                </div>
                <div class="col-3 pl0 col-sm-6 text-right float-right">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="float-right">
                                <ul class="list-inline float-right">
                                    @Html.Partial("_PartialAuthenticatedUser")
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- fixed header ends -->
    <main>
        <div class="col-xs-12 full-width pa0" id="display-custom-message">
            @Html.Partial("_DisplayCustomMessage")
        </div>
        <div class="container-fluid bg-white">
            <div class="cxml-banner ml30 mr30">
                <div class="cxml-banner-content">
                    <div class="cxml-banner-cell width-20-percent">
                        <div class="cxml-welcome fs25">Welcome</div>
                    </div>
                    <div class="cxml-banner-cell width-80-percent">
                        <div class="cxml-company ml30" style="font-size:36px">
                            @if (CurrentUser.CompanyLogoId > 0)
                            {
                           
                                <img src="@CurrentUser.CompanyLogo" style="max-height:60px" />
                            }
                            else
                            {
                                @CurrentUser.CompanyName
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white pt8 main-wrapper pb20">
            <div id="breadcrumbs">
            </div>
            @RenderBody()
        </div>
        <div class="container-fluid fs12 bg-white text-center color-lightgrey">
            <div class="footer-wrapper">
                <span class="float-left" id="dynamic-footer-text">@Html.Raw(Resource.txtCopyright) </span>
                <span class="float-right dib"><img src="https://www.gogetssl.com/skin/i/comodo_secure_100x85_transp.png" border="0" /></span>
            </div>
        </div>
    </main>

    <div class="currency-container">
        <input type="hidden" class="hdn-currency" id="hdnCurrencyCulture" />
    </div>

    @Html.PageScripts()
    <script>
        var homePageUrl = '@Url.Action("Index", "Home", new { area = ""})';
        var breadCrumbUrl = '@Url.Action("GetBreadcrumbMapping", "Home", new { area = ""})';
        maintainTabState();
    </script>
</body>
</html>

