@model int
@if (Model == (int)DeliveryScheduleStatus.New)
{
    <div class="col-sm-12 text-right dib mbm20"><span class="label label-warning">@Resource.lblNew</span></div>
}
else if (Model == (int)DeliveryScheduleStatus.Modified)
{
    <div class="col-sm-12 text-right dib mbm20"><span class="label label-warning">@Resource.lblModified</span></div>
}
else if (Model == (int)DeliveryScheduleStatus.Rescheduled)
{
    <div class="col-sm-12 text-right dib mbm20"><span class="label label-warning">@Resource.lblRescheduled</span></div>
}
else if (Model == (int)DeliveryScheduleStatus.Assigned)
{
    <div class="col-sm-12 text-right dib mbm20"><span class="label label-primary">@Resource.lblAssigned</span></div>
}
else if (Model == (int)DeliveryScheduleStatus.Reassigned)
{
    <div class="col-sm-12 text-right dib mbm20"><span class="label label-primary">@Resource.lblReassigned</span></div>
}
else if (Model == (int)DeliveryScheduleStatus.Unassigned)
{
    <div class="col-sm-12 text-right dib mbm20"><span class="label label-danger">@Resource.lblUnassigned</span></div>
}