@model BrokeredOrderFeeViewModel

<div class="row mt7">
    @Html.HiddenFor(m => m.FeeTypeId)
    @Html.HiddenFor(m => m.FeeSubTypeId)
    <div class="col-xs-5 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">@Resource.constSymbolCurrency</span>
            @Html.TextBoxFor(m => m.Fee, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Fee) })
        </div>
        @Html.ValidationMessageFor(m => m.Fee)
    </div>
    <div class="col-xs-7 col-sm-7">
        <div class="form-group mb5">
            @Html.TextAreaFor(m => m.FeeDetails, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.FeeDetails) })
            @Html.ValidationMessageFor(m => m.FeeDetails)
        </div>
    </div>
    <div class="fs18 col-xs-1">
        <a href="javascript:void(0)" class="fa fa-trash-alt mt10 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
    </div>
</div>
