@model DropInformationViewModel

@using (Html.BeginCollectionItem("DropInformationDetails"))
{
    <tr>
        <td class="edit-section pr">
            <div class="pa bg-white top0 left0 z-index5 loading-wrapper hide-element"><span class="spinner-dashboard pa"></span></div>
            @Html.HiddenFor(m => m.InvoiceId)
            <label>@Model.PoNumber</label>
            @if (Model.AllowPoEdit)
            {
                <a href="javascript:void(0)" onclick="editData(this)"><span class="fa fa-pencil-square-o"></span></a>
            }
            <div class="dib ml10 mt7">@Html.ValidationMessageFor(m => m.PoNumber)</div>
        </td>
        <td>@Model.InvoiceNumber</td>
        <td>@Model.DDTNumber</td>
        <td>@Model.DropDate</td>
        <td>@Model.Quantity</td>
        <td>@Model.InvoiceAmount</td>
    </tr>
}

