@model FTLViewModel
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.BOL)
            @Html.TextBoxFor(m => m.BOL, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BOL)
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.GrossGallons)
            @Html.TextBoxFor(m => m.GrossGallons, new { @class = "form-control decimal-place-format" })
            @Html.ValidationMessageFor(m => m.GrossGallons)
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.NetGallons)
            @Html.TextBoxFor(m => m.NetGallons, new { @class = "form-control decimal-place-format" })
            @Html.ValidationMessageFor(m => m.NetGallons)
        </div>
    </div>    
</div>