@model SpecialInstructionViewModel

@using (Html.BeginCollectionItem("FuelDeliveryDetails.SpecialInstructions"))
{
    <div class="partial-block">
        <div class="row mb10">
            <div class="col-md-11 dynamic-col">
                @Html.HiddenFor(m => m.Id)
                @Html.TextBoxFor(m => m.Instruction, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Instruction) })
                @Html.ValidationMessageFor(m => m.Instruction)
            </div>
            <div class="col-md-1 fs18">
                <a href="javascript:void(0)" class="fa fa-trash-alt mt10 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
           
        </div>
    </div>
}
