@model AssetDropViewModel

@using (Html.BeginCollectionItem("Assets"))
{
    <div class="row partial-block">
        <div class="col-sm-2 mb15 break-word">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.OrderId)
            @if (Model.JobXAssetId > 0)
            {
                @Html.HiddenFor(m => m.AssetName)
            }
            @Html.HiddenFor(m => m.JobXAssetId)
            @Html.HiddenFor(m => m.MeterStartReading)
            @Html.HiddenFor(m => m.MeterEndReading)
            @Html.HiddenFor(m => m.DropStatusId)
            @Html.HiddenFor(m => m.IsNewAsset)
            @Html.HiddenFor(m => m.StartTime)
            @Html.HiddenFor(m => m.EndTime)
            <div class="form-group">
                <div class="input-group">
                    <label class="f-normal">Asset Name</label><br />
                    <label class="f-normal">@Model.AssetName</label>
                </div>
            </div>
        </div>
        <div class="col-sm-1 mb15 disable-notfilled @(Model.DropStatusId == (int)DropStatus.None? "" : "pntr-none subSectionOpacity")">
            <div class="form-group">
                <label class="f-normal">@Model.UoM</label>
                @Html.TextBoxFor(m => m.DropGallons, new { @class = "dropquantity form-control drop-input" })
                @Html.ValidationMessageFor(m => m.DropGallons)
            </div>
        </div>
        <div class="col-sm-2">
            <label>&nbsp;</label>
            <div>
                <label class="dd-dropstatus">@Html.DisplayFor(m => m.DropStatusName, new { @class = "form-control" })</label>
            </div>
        </div>
        <div class="col-sm-2 mb15 asset-credit-amount">
            <div class="form-group">
                <div class="input-group">
                    <label class="f-normal">Amount</label>
                    @Html.TextBox("CalculatedAssetCreditAmount", "", new { @class = "form-control credit-amount datatype-decimal asset-credit-amount", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-sm-1 fs18 mt25 mb10">
            <a href="javascript:void(0)" class="fa fa-trash-alt color-maroon mt7 delete-record" title="Remove"></a>
        </div>
        @Html.HiddenFor(m => m.DropGallons, new { @class = "original-qty" })
    </div>
}