<div class="btn-group mt5">
    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle uploadInBulkBtn" aria-expanded="false" onclick="toggleElement('createNew');">@Resource.btnLabelOrderBulkUpload <i class="fa fa-cloud-upload-alt bulkElements"></i></button>
    <div class="col-sm-20 text-left createNew upload-assets hide-element right0 mr15 mt25 pa radius-5 bg-white border z-index5 shadow-b">
        <div class="row mt-1 mb-2">
            <div class="col-10"> <span class="fa fa-download ml-2 mr-2 mt-2"></span><a href="~/Content/Orders_BulkUpload_Template.csv?v=@SiteFuel.Exchange.Core.Utilities.AppSettings.AppVersion" class="mb5 btn-download">@Resource.btnLabelDownloadSample</a></div>
            <div class="col-2"> <i class="fa fa-times pull-right mt-2 mr-2" aria-hidden="true" onclick="toggleElement('createNew');"></i></div>
        </div>
       
       
        <div class="row">
            <div class="col-md-12 b-dashed">
                <div class="well well-xs pt10 pb10 mt5 mbm5 my-0">
                    <h2>
                        <label for="csvFile" class="btn btn-primary">
                            <input id="csvFile" name="csvFile" class="bulkElements full-width" type="file" accept=".csv" />
                        </label>
                    </h2>
                    <div class="row hide-element" id="divOrderFileSizeError">
                        <div class="col-sm-12 fs12 color-red">
                            @Resource.errFileSizeMessage
                        </div>
                    </div>
                    <ul class="list-unstyled fs12 mt5">
                        <li>
                            @Resource.lblOrderUploadWarning
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 text-right pb15">
                            <input type="submit" value="@Resource.btnLabelUpload" class="btn btn-primary bulkElements" id="uploadOrdersButton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
