@model QuoteDetailsViewModel
<style type="text/css">
    * {
        margin: 0 auto;
    }

    td, th {
        padding: 0;
    }

    .mh0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .content {
        width: 100%;
        max-width: 100%;
    }

    .special-instuctions {
        list-style-type: none;
    }

        .special-instuctions li:before {
            content: " - ";
        }

    .content1 {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: solid 2px #979797;
    }

    .img-logo {
        max-height: 100px;
    }

    .txt1 {
        font-size: 12px;
        line-height: 20px;
        text-align: left !important;
        vertical-align: top;
    }

    .txt2 {
        font-size: 12px;
        font-weight: normal;
        text-align: right !important;
        padding-right: 10px;
        vertical-align: top;
    }

    .txt3 {
        font-size: 12px;
        line-height: 20px;
        text-align: left !important;
    }

    .txt_rig {
        text-align: right !important;
    }

    .txt4 {
        font-size: 13px;
        line-height: 20px;
        text-align: right !important;
        padding-right: 10px;
    }

    .txt5 {
        font-size: 12px;
        line-height: 20px;
        text-align: left !important;
    }

    .border {
        background: #273679;
        height: 10px;
        margin-bottom: 0;
        width: 98%;
    }

    table tr th {
        color: #1a3a92;
        font-size: 13px;
        font-weight: bold;
    }

    .thead {
        text-align: left;
        padding-left: 10px;
    }

    .border-top-blue, .border-top-blue > td, .border-top-blue > th {
        border-top: 2px solid #273679;
    }

    .condition {
        font-size: 10px;
        line-height: 20px;
        text-align: left !important;
        padding-right: 35px;
    }

    .total {
        font-size: 13px;
        border: 2px solid #273679;
        border-right: 0px;
    }

    .full-border {
        font-size: 13px;
        border: 2px solid #273679;
    }

    .note {
        font-size: 13px;
        border: 2px solid #273679;
        padding: 10px;
    }

    .t_left {
        text-align: left !important;
    }

    .t_right {
        text-align: right !important;
        padding-right: 10px;
    }

    .t_italic {
        font-style: italic;
    }

    .content1 tr td:empty {
        display: none;
    }

    .pr-10 {
        padding-right: 10px;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .pr-5 {
        padding-right: 5px;
    }

    .pl-5 {
        padding-left: 5px;
    }

    .pl-15 {
        padding-left: 15px;
    }

    .pt-5 {
        padding-top: 5px;
    }

    .pb-5 {
        padding-bottom: 5px;
    }

    .pb-10 {
        padding-bottom: 10px;
    }

    .pl-25 {
        padding-left: 25px;
    }

    .pr-0 {
        padding-right: 0px
    }

    .pl-0 {
        padding-left: 0px
    }

    .pa-5 {
        padding: 5px;
    }

    .pa-10 {
        padding: 10px;
    }

    th {
        height: 30px;
    }

    .border-top-blue3 {
        border-top: 3px solid #244397;
    }

    .border-top-gray,
    .border-top-gray > td {
        border-top: 2px solid #d3d3d3;
    }

    .border-all-blue {
        border: 2px solid #244397;
    }

    .po-description {
        width: 98%;
    }

        .po-description td {
            padding-top: 3px;
            padding-bottom: 3px;
        }

    .po-innertable {
        width: 100%;
    }

    .po-logo {
        max-height: 100px;
    }

    .pt10 {
        padding-top: 10px;
    }

    .pb10 {
        padding-bottom: 10px;
    }

    .label-primary,
    .badge-primary {
        background-color: #1ab394;
        color: #FFFFFF;
        border-radius: .25em;
        padding: .2em .6em .3em;
    }

    .label-danger,
    .badge-danger {
        background-color: #ed5565;
        color: #FFFFFF;
        border-radius: .25em;
        padding: .2em .6em .3em;
    }

    .border-top-lightgray > td {
        border-top: 1px solid #e7e3e3;
    }

    .no-border tr:last-child td {
        border-bottom: 0px;
    }

    .font-extrabold {
        font-weight: 600
    }

    .{
        color: #1a3a92 !important
    }

    .txt-highlight, .txt-highlight label {
        color: #dc3c0c !important;
    }

    .tbl-additionalfee tr:first-child td {
        border-top: none;
    }

    .font-bold {
        font-weight: bold;
    }

    .fs13 {
        font-size: 13px;
    }

    .invoiceamount-section tr td {
        white-space: nowrap !important;
    }
</style>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" font-family: Arial,'Open Sans';font-weight: 400;color: #5a5a5a;font-size:12px;" class="mb15">
    <tr>
        <td>
            <table bgcolor="#ffffff" class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <table class="content1" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="3" align="center" style="padding:10px 0 50px 0;">
                                    <h2>@Model.SupplierQuoteNumber</h2>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" width="15%" style="padding-bottom:20px;" class="logo_w">
                                    <img id="image-ctrl" class="po-logo" src="~/Content/images/truefill-logo.png" width="126" />
                                </td>
                                <td class="pr-10" colspan="2">
                                    <table align="right" class="mh0">
                                        <tr>
                                            <td class="t_right txt1">@Resource.lblDateCreated :</td>
                                            <td align="left" class="t_left txt1">
                                                @Model.CreatedDate
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t_right txt1">@Resource.lblQuoteDueDate : </td>
                                            <td align="left" class="t_left txt1">
                                                <span>@Model.QuoteRequest.QuoteDueDate</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t_right txt1">@Resource.lblCompanyName : </td>
                                            <td align="left" class="t_left txt1">
                                                <span>@Model.QuotationCompany</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t_right txt1">@Resource.gridColumnCreatedBy : </td>
                                            <td align="left" class="t_left txt1">
                                                <span>@Model.QuotationCreatedBy</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding-top:20px;"><div class="border"></div></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table border="0" width="98%" cellpadding="0" cellspacing="0" class="po-description">
                                        <tr class="border-bottom-blue">
                                            <th width="33%" class="t_left">@Resource.lblFuelType/@Resource.lblDescription</th>
                                            <th class="txt_rig" width="15%">@Resource.lblQuantity</th>
                                            <th class="txt_rig" width="14.6%">@Resource.lblRackPPG</th>
                                            <th class="txt_rig" width="15%">@Resource.lblAmount</th>
                                        </tr>
                                        <tr class="border-top-blue">
                                            <td class="break-word">
                                                <span>
                                                    @Model.QuoteRequest.FuelType
                                                </span>
                                            </td>
                                            <td class="txt3 txt_rig" valign="top">@Model.QuoteRequest.Quantity.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                            <td class="txt3 txt_rig" valign="top" id="auto-txtRackPPGAmount">
                                                <div>@CommonHelperMethods.GetQuotationPricePerGallon(Model.FuelPricing.PricePerGallon, Model.FuelPricing.PricingTypeId, Model.FuelPricing.RackAvgTypeId)</div>
                                            </td>
                                            <td class="txt3 txt_rig" valign="top" id="auto-txtAmount">
                                                @if (Model.FuelPricing.PricingTypeId == (int)PricingType.PricePerGallon)
                                                {
                                                    @((Model.QuoteRequest.Quantity * Model.FuelPricing.PricePerGallon).GetPreciseValue(2).GetCommaSeperatedValue())
                                                }
                                                else
                                                {
                                                    <span class="pr-5">@Resource.lblHyphen</span>
                                                }
                                            </td>
                                        </tr>

                                        @foreach (var fee in Model.FuelDeliveryDetails.FuelFees.FuelRequestFees.Where(t => t.FeeSubTypeId != (int)FeeSubType.NoFee))
                                        {
                                            <tr class="border-top-lightgray">
                                                <td class="txt3" valign="top">
                                                    <span class="font-extrabold">@(fee.OtherFeeDescription ?? fee.FeeTypeName): </span>
                                                    <span class="font-italic">@fee.FeeSubTypeName @(fee.SpecialDate.HasValue ? $"({fee.SpecialDate.Value.Date.ToString(Resource.constFormatDate)})" : fee.FeeConstraintTypeId.HasValue ? $"({Resource.lblWeekend})" : string.Empty)</span>
                                                </td>
                                                @if (fee.FeeSubTypeId == (int)FeeSubType.PerGallon)
                                                {
                                                    <td class="txt3 txt_rig" valign="top">@Model.QuoteRequest.Quantity.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                                    <td class="txt3 txt_rig" valign="top">@Resource.constSymbolCurrency@fee.Fee.Value.ToString(ApplicationConstants.DecimalFormat2)</td>
                                                    <td class="txt3 txt_rig" valign="top">@Resource.constSymbolCurrency@((fee.Fee.Value * Model.QuoteRequest.Quantity).ToString(ApplicationConstants.DecimalFormat2))</td>
                                                }
                                                else if (fee.FeeSubTypeId == (int)FeeSubType.ByQuantity)
                                                {
                                                    <td colspan="4">
                                                        <table cellpadding="0" cellspacing="0" class="po-innertable">
                                                            @foreach (var item in fee.DeliveryFeeByQuantity)
                                                            {
                                                                <tr>
                                                                    <td class="txt3 txt_rig" valign="top" style="width:22%">@item.MinQuantity.GetCommaSeperatedValue() @Resource.lblTo @(item.MaxQuantity.HasValue ? item.MaxQuantity.Value.GetCommaSeperatedValue() : Resource.lblHyphen)</td>
                                                                    <td class="txt3 txt_rig" valign="top" style="width:22%">$@item.Fee.ToString(ApplicationConstants.DecimalFormat2)</td>
                                                                    <td class="txt3 txt_rig" width="21%">$@item.Fee.ToString(ApplicationConstants.DecimalFormat2)</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="txt3 txt_rig" valign="top">1</td>
                                                    <td class="txt3 txt_rig" valign="top">@Resource.constSymbolCurrency@fee.Fee.Value.ToString(ApplicationConstants.DecimalFormat2)</td>
                                                    <td class="txt3 txt_rig" valign="top">@Resource.constSymbolCurrency@fee.Fee.Value.ToString(ApplicationConstants.DecimalFormat2)</td>
                                                }
                                            </tr>
                                        }

                                        <tr>
                                            <td colspan="5" class="txt1">
                                                <p class="border-all-blue mb-10 pa-10 ml5">
                                                    @Resource.lblQuoteNote1 <br />
                                                    @Resource.lblQuoteNote2
                                                    @if (Model.IsTncIncluded)
                                                    {
                                                        <br />@Resource.lblQuoteNote3
                                                    }
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>