@model OrderDetailsViewModel

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-2 pl-0">
            @{
                var FreightRateList = Enum.GetValues(typeof(FreightRateRuleType))
                                     .Cast<FreightRateRuleType>()
                                    .Where(e => e != FreightRateRuleType.Unknown)
                                     .Select(e => new SelectListItem
                                     {
                                         Value = ((int)e).ToString(),
                                         Text = e.GetDisplayName()
                                     });
            }
            <label>Freight Type</label>
            @Html.DropDownListFor(m => m.OrderAdditionalDetails.FreightRateRuleType, FreightRateList, Resource.btnLabelSelect, new { @class = "form-control enum-ddl-spt", onchange = "ToogleTableType();GetFreightTables();" })

        </div>
        <div class="col-sm-3 table_type">
            @{
                var selectList = Enum.GetValues(typeof(TableTypes))
                                     .Cast<TableTypes>()
                                    .Where(e => e != TableTypes.CarrierSpecific)
                                     .Select(e => new SelectListItem
                                     {
                                         Value = ((int)e).ToString(),
                                         Text = e.GetDisplayName()
                                     });
            }
            <label>Table Type</label>
            @Html.DropDownListFor(m => m.OrderAdditionalDetails.FreightRateTableType, selectList, Resource.btnLabelSelect, new { @class = "form-control enum-ddl-spt", onchange = "GetFreightTables();" })
        </div>
        <div class="col-sm-4">
            <label>Freight Table Name</label>
            @Html.DropDownListFor(m => m.OrderAdditionalDetails.FreightRateRuleId, new SelectList(new List<DropdownDisplayItem>(), "Id", "Name", Model.OrderAdditionalDetails.FreightRateRuleId), Resource.btnLabelSelect, new { @class = "form-control", onchange = "onChangeFreightRateRuleId();" })
            @Html.ValidationMessageFor(m => m.OrderAdditionalDetails.FreightRateRuleId)
            <div class="row">
                <div class="col-sm-12">
                    <a onclick="viewFreightRateRule();" id="lnkviewFreightRateRuleTable" class="pntr-none subSectionOpacity">View Freight Rate Rule Table </a>
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginScripts())
{
<script type="text/javascript">

    $(document).ready(function () {
        var FreightRateRuleId = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId)").val();
        if (FreightRateRuleId != null && FreightRateRuleId!=undefined) {
                GetFreightTables();
        }
        ToogleTableType()
    });


    function SetFreightRateRuleId(key, val) {
        if (typeof Storage !== "undefined") {
            localStorage.setItem(key, val);
        }
    }

    function RemoveFreightRateRuleId(key) {
        if (typeof Storage !== "undefined") {
            localStorage.removeItem(key);
        }
    }

    function ToogleTableType() {
        $('#lnkviewFreightRateRuleTable').addClass('pntr-none subSectionOpacity');
        var selectedFreightType = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleType)").val();
        if (selectedFreightType != '@((int)FreightRateRuleType.P2P)') {
            $(".table_type").show();
        } else {
            $(".table_type").hide();
        }

        if (selectedFreightType == "") {
            $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateTableType)").prop("selected", false);
            $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateTableType)").prop("selected", "selected");

            $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId)").prop("selected", false);
            $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId)").prop("selected", "selected");
        }
    }

    function GetFreightTables() {
        var selectedFreightType = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleType)").val();
        if (selectedFreightType == null || selectedFreightType == undefined || selectedFreightType == "") return;
        var selectedTableType = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateTableType)").val();
        if (selectedTableType == "") {
            var selectedTableType = 0;
        }
        var selectedCustomerId = '@Model.BuyerCompanyId'; //$("#@Html.IdFor(m => m.BuyerCompanyId)").val();
        var selectedTerminalId = $("#@Html.IdFor(m => m.SourceRegion.ApprovedTerminalId)").val();
        var selectedBulkPlantId = $("#@Html.IdFor(m => m.SourceRegion.ApprovedBulkPlantId)").val();
        var selectedFuelTypeId = '@Model.TfxFuelTypeId'; //$("#@Html.IdFor(m => m.FuelDetails.FuelTypeId)").val();
        var selectedTerminals = $('#@Html.IdFor(m => m.SourceRegion.SelectedTerminals) option:selected').toArray().map(item => parseInt(item.value));
        var selectedBulkPlants = $('#@Html.IdFor(m => m.SourceRegion.SelectedBulkPlants) option:selected').toArray().map(item => parseInt(item.value));
        if (selectedFreightType == '@((int)FreightRateRuleType.P2P)') {
            selectedTableType = '@((int)TableTypes.CustomerSpecific)';
        }
        var sourceRegionIds = $('#@Html.IdFor(m => m.SourceRegion.SelectedSourceRegions) option:selected').toArray().map(item => parseInt(item.value));

        var target = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId)");

        var url = "@Url.Action("GetFreightRateTables", "Order")";
        var filter = {
            'FreightRateRuleType': selectedFreightType,
            'TableType': selectedTableType,
            'CustomerId': selectedCustomerId,
            'TerminalId': selectedTerminalId,
            'BulkPlantId': selectedBulkPlantId,
            'FuelTypeId': selectedFuelTypeId,
            'SourceRegionIds': sourceRegionIds,
            'SelectedTerminals': selectedTerminals,
            'SelectedBulkPlants': selectedBulkPlants
        }
        $.post(url, filter,
            function (response) {
                target.empty(), $.each(response, function (i, element) {
                    target.append($('<option></option>').val(element.Id).html(element.Name));
                });

                $(target).prepend("<option value selected='selected'>@Resource.btnLabelSelect</option>");

                if ('@Model.OrderAdditionalDetails.FreightRateRuleId' != null) {
                    $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId) option[value='" + @Model.OrderAdditionalDetails.FreightRateRuleId + "']").prop("selected", true).trigger("change");
                }
            });
    }

    function onChangeFreightRateRuleId() {
        var FreightRateRuleId = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId)").val();
        if (FreightRateRuleId == null || FreightRateRuleId == undefined || FreightRateRuleId == -1 || FreightRateRuleId =="") {
            $('#lnkviewFreightRateRuleTable').addClass('pntr-none subSectionOpacity');
        } else {
            $('#lnkviewFreightRateRuleTable').removeClass('pntr-none subSectionOpacity');
        }
    }

    function viewFreightRateRule() {
        var FreightRateRuleId = $("#@Html.IdFor(m => m.OrderAdditionalDetails.FreightRateRuleId)").val();
        RemoveFreightRateRuleId("FreightRateRuleId");
        SetFreightRateRuleId("FreightRateRuleId", FreightRateRuleId);
        var freightRateLink = "@Url.Action("Create", "FreightRate", new { area = "Supplier" })";
        window.open(freightRateLink, '_blank');
    }
</script>
}

