@model SupplierProfileViewModel

@Html.HiddenFor(m => m.AddressId)
<div class="col-md-12">
    <div class="form-group">
        @Html.LabelFor(m => m.ServingStates)
        @Html.ListBoxFor(m => m.ServingStates, new SelectList(new List<DropdownDisplayItem>(), "Id", "Name"), new { @class = "form-control multi-select states", onchange = "checkStatus('state-check', 'states')" })
        <div class="checkbox mt5">
            <label>
                <input id="auto-chkselectallstates" type="checkbox" class="select-all state-check" onclick="selectall('state-check', 'states')" /> @Resource.lblSelectAll
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.ServingStates)
    </div>
    <div class="radio-group">
        <div class="radio-controls">
            <div class="row">
                <div class="col-sm-5">
                    <div class="radio">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.IsStateWideService, false, new { @class = "toggle-section", onclick = "radioChange(this,'radiusInput',null);showHideElements('radius-warning',null)", onchange = "focusOnFirst(this, 'radiusInput')" })
                           @Resource.lblSpecificRadius
                        </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="radio">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.IsStateWideService, true, new { @class = "toggle-section", onclick = "radioChange(this,null,'radiusInput');showHideElements(null,'radius-warning')" })
                            @Resource.lblStateWideService
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="supplier-radius-details">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="ischeck">
                            <div class="input-group radiusInput">
                                @Html.TextBoxFor(m => m.Radius, new { @class = "form-control", autocomplete = "off" })
                                <span class="input-group-addon">
                                    @Resource.lblMiles
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row radius-warning">
                    <div class="col-sm-10 fs12 pt5">
                        @Html.ValidationMessageFor(m => m.Radius)
                        <div class="alert alert-warning pt5 pb5 mb0"> @Html.Label(Resource.lblRadiusWarning)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 hide-from-hauler @(CurrentUser.IsSupplierCompany ||  CurrentUser.IsBuyerAndSupplierCompany ||  CurrentUser.IsSupplierAndCarrierCompany ||  CurrentUser.IsBuyerSupplierAndCarrierCompany ? "" : "hide-element")">
    <div class="form-group">
        @Html.LabelFor(m => m.SupplierQualifications)
        @Html.ListBoxFor(m => m.SupplierQualifications, new SelectList(CommonHelperMethods.GetSupplierQualifications(), "Id", "Name", 0), new { @class = "form-control multi-select qualification",onchange= "checkStatus('qualification-check','qualification')"})
        <div class="checkbox mt5">
            <label>
                <input type="checkbox" class="select-all qualification-check" onclick="selectall('qualification-check','qualification')"/> @Resource.lblSelectAll
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.SupplierQualifications)
    </div>
</div>
<script>
    $(document).ready(function () {
        checkStatus('qualification-check', 'qualification');
        $(document).on('servingstatecheck', '.states', function () { checkStatus('state-check', 'states');});
    });
</script>
