    <div class="btn-group btn-toggle btn-group-toggle pull-left mb5" data-toggle="buttons">
        <label class="btn broadcast-type active">
            <input type="radio" class="rdofferType" name="options" id="@(OfferType.All)" checked> @Resource.lblAll
        </label>
        <label class="btn">
            <input type="radio" class="rdofferType" name="options" id="@(OfferType.Exclusive)"> @Resource.lblExclusiveOffer
        </label>
        <label class="btn">
            <input type="radio" class="rdofferType" name="options" id="@(OfferType.Market)"> @Resource.lblMarketOffer
        </label>
    </div>
    <span class='spinner-small fr-type pull-left ml10 mt5'></span>
