@model TPOSiteImageViewModel
<div class="well bg-white shadow-a mb15 overflow-h radius10">
    <div class="col-sm-12">
        <div class="overflow-h ">
            <h4 class="pull-left">@Resource.headingImages</h4>
            <div class="alert alert-warning pull-left fs12 ml15 f-bold pt10  pb10 mt5">@Resource.errorMessageFileSizeWarning5MB</div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="border-dash-dark overflow-h pt15 pb15 radius-5">
                    <div class="col-sm-12">
                        <div class="overflow-h mb10">
                            <h3 class="dib pull-left mt0 mr10 pt3">@Resource.lblSiteImage</h3>
                            <input type="button" class="btn btn-default btn-xs pull-left btn-choosefile mt4" id="sitechoose-file" value="@Resource.btnChooseFile">
                        </div>
                        <div class="text-danger fs12 f-bold" id="siteimg-message"></div>
                        <div id="siteimage-block" class="text-center image-section">
                            @if (Model.SiteImage == null || string.IsNullOrWhiteSpace(Model.SiteImage.FilePath))
                            {
                                <h5 class="text-left fs14 pdf-selection hide-element break-word"><img src="~/Content/images/ico-thumbnailpdf.png" class="mtm5 mr5 pull-left" width="21" /> <span class="pdfname"></span></h5>
                                <span class="pdfname"></span>
                                <img id="siteimage-ctrl" width="100%" height="150" class="image-selection hide-element" src="~/Content/images/no-image.png" />
                                <img id="sitenoimage-ctrl" class="no-image" width="100%" height="150" src="~/Content/images/no-image.png" />
                            }
                            else if (!string.IsNullOrWhiteSpace(Model.SiteImage.FilePath))
                            {
                                @Html.HiddenFor(m => m.SiteImage.FilePath)
                                if (Model.SiteImage.IsNonImageFile)
                                {
                                    <h5 class="text-left fs14 pdf-selection break-word"><img src="~/Content/images/ico-thumbnailpdf.png" class="mtm5 mr5 pull-left" width="21" /> <span class="pdfname">@Model.SiteImage.FilePath</span></h5>
                                    <img id="siteimage-ctrl" width="100%" height="150" class="image-selection hide-element" src="~/Content/images/no-image.png" />
                                    <span class="pdfname"></span>
                                    <div class="text-center image-download-btn">
                                        <a href="javascript:void(0)" onclick="downloadImageFile('@Model.SiteImage.FilePath')" class="btn btn-primary btn-xs mt5 pa5">
                                            <i class="fa fa-download mr5 ml5 fs14"></i> @Resource.btnLabelDownload
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <img id="sitenoimage-ctrl" width="100%" height="150" class="image-selection hide-element" src="~/Content/images/no-image.png" />
                                    <span class="pdfname"></span>
                                    <div class="text-center image-download-btn">
                                        <a href="javascript:void(0)" onclick="downloadImageFile('@Model.SiteImage.FilePath')" class="img-thumbnail mt10 db">
                                            <img id="siteimage-ctrl" width="100%" height="120" src="@Model.SiteImage.GetAzureFilePath(BlobContainerType.JobFilesUpload)" />
                                        </a>
                                    </div>
                                }
                            }
                            <input type="file" class="hidden site-pdf-support" id="sitebtn-logo" name="@Html.NameFor(m => m.SiteImageFiles)" multiple>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="border-dash-dark overflow-h pt15 mb10 radius-5">
                    <div class="col-sm-12">
                        <div class="overflow-h mb10">
                            <h3 class="dib pull-left mt0 mr10 pt3">@Resource.lblAdditionalImages</h3>
                            <input type="button" class="btn btn-default btn-xs pull-left btn-choosefile mt4" id="additionalchoose-file" value="Choose file/s">
                        </div>
                        <div class="text-danger fs12 f-bold" id="additionalimg-message"></div>
                        <div id="additionalimage-block" class="text-center image-section">
                            @if (Model.AdditionalImage.SiteImage == null || string.IsNullOrEmpty(Model.AdditionalImage.SiteImage.FilePath))
                            {
                                <h5 class="text-left fs14 pdf-selection hide-element break-word"><img src="~/Content/images/ico-thumbnailpdf.png" class="mtm5 mr5 pull-left" width="21" /> <span class="pdfname"></span></h5>
                                <span class="pdfname"></span>
                                <img id="additionalimage-ctrl" width="100%" height="150" class="image-selection hide-element" src="~/Content/images/no-image.png" />
                                <img id="additionalnoimage-ctrl" class="no-image" width="100%" height="150" src="~/Content/images/no-image.png" />
                            }
                            else if (!string.IsNullOrWhiteSpace(Model.AdditionalImage.SiteImage.FilePath))
                            {
                                @Html.HiddenFor(m => m.AdditionalImage.SiteImage.FilePath)
                                if (Model.AdditionalImage.SiteImage.IsNonImageFile)
                                {
                                    <h5 class="text-left fs14 pdf-selection break-word"><img src="~/Content/images/ico-thumbnailpdf.png" class="mtm5 mr5 pull-left" width="21" /> <span class="pdfname">@Model.AdditionalImage.SiteImage.FilePath</span></h5>
                                    <img id="additionalnoimage-ctrl" width="100%" height="150" class="image-selection hide-element" src="~/Content/images/no-image.png" />
                                    <span class="pdfname"></span>
                                    <div class="text-center image-download-btn">
                                        <a href="javascript:void(0)" onclick="downloadImageFile('@Model.AdditionalImage.SiteImage.FilePath')" class="btn btn-primary btn-xs mt5 pa5">
                                            <i class="fa fa-download mr5 ml5 fs14"></i> @Resource.btnLabelDownload
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <img id="additionalnoimage-ctrl" width="100%" height="150" class="image-selection hide-element" src="~/Content/images/no-image.png" />
                                    <span class="pdfname"></span>
                                    <div class="text-center image-download-btn">
                                        <a href="javascript:void(0)" onclick="downloadImageFile('@Model.AdditionalImage.SiteImage.FilePath')" class="img-thumbnail mt10 db">
                                            <img id="additionalsiteimage-ctrl" width="100%" height="120" src="@Model.AdditionalImage.SiteImage.GetAzureFilePath(BlobContainerType.JobFilesUpload)" />
                                        </a>
                                    </div>
                                }
                            }
                            <input type="file" class="hidden additional-pdf-support" id="additionalbtn-logo" name="@Html.NameFor(m => m.AdditionalImage.SiteImageFiles)" multiple>
                            <div class="form-group mt5">
                                @Html.TextAreaFor(m => m.AdditionalImage.Description, new { @class = "form-control", @placeholder = "Image description" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function downloadImageFile(filePath) {
        var url = "@Url.Action("DownloadJobFile")?filePath=" + filePath;
        window.open(url, "_blank");
    }

    function getImageFileError() {
        return '@Resource.errMessageImageFileError';
    };

    function getDefaultImage() {
			return '@Url.Content("~/Content/images/no-image.png", true)';
    };

    function getImageFileWarning() {
        return '@Resource.errMessageUploadFileSizeWarning';
    };
</script>
<script src="~/Scripts/Main/Job/JobImage.js"></script>
