@model FuelFeesViewModel
@{ var randomNum100999 = (new Random()).Next(100, 999);}
@Html.HiddenFor(m => m.Currency)
@Html.HiddenFor(m => m.UoM)
<div class="fee-types">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <b>@Resource.lblGeneral</b>
            </div>
                    <div id="common-fee-section-@randomNum100999" class="partial-section row">
                        <div class="partial-block-collection-section mt5 col-sm-12">
                            @if (Model.FuelRequestFees != null && Model.FuelRequestFees.Count(t => t.FeeConstraintTypeId == null && t.CommonFee) > 0)
                            {
                                foreach (var frFee in Model.FuelRequestFees.Where(t => t.FeeConstraintTypeId == null && t.CommonFee))
                                {
                                    frFee.Currency = Model.Currency;
                                    frFee.UoM = Model.UoM;
                                    Html.RenderPartial("_PartialBrokerFeeType", frFee);
                                }
                            }
                        </div>
                        <div class="clearfix col-sm-12" id="auto-add-normal-common-fee">
                            <a href="javascript:void(0)" class="add-partial-block mb20" data-url="@Url.Action("CommonFeeTypes", "Broker", new { currency = Model.Currency, uoM = Model.UoM, isCommonFee = true })"><span class="fa fa-plus-circle"></span> @Resource.btnLabelAddFee</a>
                        </div>
                    </div>
                    <div id="other-fee-section-@randomNum100999" class="partial-section">
                        <div class="mt10">
                            <b>@Resource.lblOther</b>
                        </div>
                        <div class="partial-block-collection-section mt5">
                            @if (Model.FuelRequestFees != null && Model.FuelRequestFees.Count(t => t.FeeConstraintTypeId == null && !t.CommonFee) > 0)
                            {
                                foreach (var frFee in Model.FuelRequestFees.Where(t => t.FeeConstraintTypeId == null && !t.CommonFee))
                                {
                                    Html.RenderPartial("_PartialBrokerFeeType", frFee);
                                }
                            }
                        </div>
                        <div class="row">
                            <div id="auto-add-normal-other-fee" class="col-12">
                                <a href="javascript:void(0)" class="add-partial-block mb20" data-url="@Url.Action("CommonFeeTypes", "Broker", new { currency = Model.Currency, uoM = Model.UoM })"><span class="fa fa-plus-circle"></span> @Resource.btnLabelAddFee</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="weekend-fee-types mt10">
    <div class="special-date-fees-section row">
        <div class="col-sm-12"><h4 class="fs18 freight-cost-weekend">@Resource.headingWeekendFees</h4></div>
        <div class="col-sm-12">
            <div>
                <b>@Resource.lblGeneral</b>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="common-special-date-fee-section-@randomNum100999" class="partial-section">
                        <div class="partial-block-collection-section mt5">
                            @if (Model.FuelRequestFees != null && Model.FuelRequestFees.Count(t => t.FeeConstraintTypeId != null && t.CommonFee) > 0)
                            {
                                foreach (var frFee in Model.FuelRequestFees.Where(t => t.FeeConstraintTypeId != null && t.CommonFee))
                                {
                                    frFee.Currency = Model.Currency;
                                    frFee.UoM = Model.UoM;
                                    Html.RenderPartial("_PartialBrokerFeeType", frFee);
                                }
                            }
                        </div>
                        <div class="row">
                            <div id="auto-add-weekend-common-fee" class="col-12">
                                <a href="javascript:void(0)" class="add-partial-block mb20" data-url="@Url.Action("CommonFeeTypes", "Broker", new { currency = Model.Currency, uoM = Model.UoM, isConstraintFee = true, isCommonFee = true })"><span class="fa fa-plus-circle"></span> @Resource.btnLabelAddFee</a>
                            </div>
                        </div>
                    </div>
                    <div id="other-special-date-fee-section-@randomNum100999" class="partial-section">
                        <div class="mt10">
                            <b>@Resource.lblOther</b>
                        </div>
                        <div class="partial-block-collection-section mt5">
                            @if (Model.FuelRequestFees != null && Model.FuelRequestFees.Count(t => t.FeeConstraintTypeId != null && !t.CommonFee) > 0)
                            {
                                foreach (var frFee in Model.FuelRequestFees.Where(t => t.FeeConstraintTypeId != null && !t.CommonFee))
                                {
                                    Html.RenderPartial("_PartialBrokerFeeType", frFee);
                                }
                            }
                        </div>
                        <div class="row">
                            <div id="auto-add-weekend-other-fee" class="col-12">
                                <a href="javascript:void(0)" class="add-partial-block mb20" data-url="@Url.Action("CommonFeeTypes", "Broker", new { currency = Model.Currency, uoM = Model.UoM, isConstraintFee = true })"><span class="fa fa-plus-circle"></span> @Resource.btnLabelAddFee</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
 </div>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        var normalFeeOriginalUrl = "", specialFeeOriginalUrl = "";
        var demurrageFees = [];
        $(document).ready(function () {
            $(".margintype-ddl").change(function () {
                var feetype = $(this).find("option:selected").attr("value");
                switch (feetype) {
                    case '4':
                        $(this).closest(".fee-type-row").find(".all-fees").removeClass("pntr-none subSectionOpacity");
                        $(this).closest(".fee-type-row").find(".margin").addClass("pntr-none subSectionOpacity");
                        break;
                    case '2':
                        $(this).closest(".fee-type-row").find(".margin").removeClass("pntr-none subSectionOpacity").find("input[type='text']").focus();
                        $(this).closest(".fee-type-row").find(".all-fees").addClass("pntr-none subSectionOpacity ");
                        break;
                    default:
                        $(this).closest(".fee-type-row").find(".all-fees,.margin").removeClass("hide-element").addClass("pntr-none subSectionOpacity show-element");
                }
            }).trigger('change');
        });
        function resetControls() {
            var feeCtrls = $('.fee-type-row').find('select');
            $.each(feeCtrls, function (idx, dropdown) {
                var isFeeType = $(dropdown).hasClass('feetype-ddl');
                if (isFeeType) {
                    getSubTypesByFeeType($(dropdown));
                }
            });
        }

        function showHideControlsByElement(radioBtn, showClassArr, hideClassArr) {
            var hideSectionList = hideClassArr.split(",");
            var showSectionList = showClassArr.split(",");
            for (var i = 0; i < hideSectionList.length; i++) {
                $(radioBtn).closest('.fee-type-row').find("." + hideSectionList[i]).addClass("hide-element");
            }
            for (var s = 0; s < showSectionList.length; s++) {
                $(radioBtn).closest('.fee-type-row').find("." + showSectionList[s]).removeClass("hide-element");
            }
        }

        function getSubTypesByFeeType(feeType) {
            $(feeType).closest(".fee-type-row").find(".fee-sub-type-ddl .loading-wrapper").show();
            var target = $(feeType).closest(".fee-type-row").find('.feesubtype-ddl');
            var firstOption = target.find('option:first');
            var feeTypeId = $(feeType).val(), feeSubTypeId = target.val();
            var isCommonType = $(feeType).closest(".fee-type-row").find('.common').prop('checked');
            if (isCommonType != undefined && isCommonType == false) {
                feeTypeId = '';
            }
            if (feeTypeId == undefined || feeTypeId == '' || feeTypeId == null) {
                target.empty();
            }
            var currency = $("#@Html.IdFor(m => m.Currency)").val();

            var url = '@Url.Action("GetFeeSubTypes", "FuelRequest")';
            var data = { feeTypeId: feeTypeId, currency: currency};
            $.post(url, data).done(function (feeSubTypeList) {
                if (feeSubTypeList.length > 0) {
                    target.empty(); target.append(firstOption);
                    $.each(feeSubTypeList, function (i, element) {
                        target.append($('<option onchange="showHideQuantity(this);"></option>').val(element.Id).html(element.Name));
                    });
                    target.find('option[value="' + feeSubTypeId + '"]').prop("selected", true);
                    $(feeType).closest(".fee-type-row").find(".fee-sub-type-ddl .loading-wrapper").hide();
                }
            });
        }

        function hidePrevFeeTypeOption(elemt) {
            var feeTypeDdls = $('.fee-type-row .feetype-ddl').not('.special-feetype-ddl');
            var currentDDL = $(elemt).closest('.fee-types').find('select.feetype-ddl');
            $.each(feeTypeDdls, function (idx, dropdown) {
                var selected = $(dropdown).val();
                if (selected != null && selected != undefined && selected != '' && !$(dropdown).is(currentDDL)) {
                    var elemtToRemove = currentDDL.find("option[value='" + selected + "']");
                    elemtToRemove.remove();
                }
            });
        }

        function showHideQuantity(ctrl) {
            var feeSubTypes = $(ctrl).closest(".fee-type-row").find(".fee-sub-type-ddl").find("option:selected").attr("value");
            var feeType = $(ctrl).closest(".fee-type-row").find(".fee-type-ddl").find("option:selected").attr("value");
            var qtySection = $(ctrl).closest(".fee-type-row").find(".byquantity-fee");
            var underGallonFeeSection = $(ctrl).closest(".fee-type-row").find(".under-gallon-fee");
            var feeSection = $(ctrl).closest(".fee-type-row").find(".fee");

            switch (feeSubTypes) {
                case '3':
                    $(qtySection).removeClass("hide-element");
                    $(feeSection).addClass("hide-element");
                    break;
                default:
                    $(qtySection).addClass("hide-element");
                    $(feeSection).removeClass("hide-element");
            }

            if (feeType == undefined || feeType == null || feeType == '') {
                return;
            }

            switch (feeType) {
                case '8':
                    $(underGallonFeeSection).removeClass("hide-element");
                    $(qtySection).addClass("hide-element");
                    $(feeSection).removeClass("hide-element");
                    break;

                default:
                    $(underGallonFeeSection).addClass("hide-element");
                    if (feeSubTypes != '3') {
                        $(feeSection).removeClass("hide-element");
                    }
                    if (feeType != '1') {
                        $(qtySection).addClass("hide-element");
                        $(feeSection).removeClass("hide-element");
                        $(qtySection).find('.partial-block-collection-section').html('');
                    }
            }
            var feeInput = $(feeSection).find('input');
            if ($(feeSection).hasClass('hide-element')) {
                feeInput.val('0');
            }
            else {
                if (feeInput.val() == '0') feeInput.val('');
            }
        }

        function refreshFeeTypeDdl(ctrl) {
            var currentDDL = $(ctrl).closest('.fee-types').find('select.feetype-ddl').not('.special-feetype-ddl');
            if (currentDDL != undefined && currentDDL.length > 0) {
                var selectFeeOpt = currentDDL.find("option:first");
                var optionToAdd = currentDDL.find("option:selected");
                if (!selectFeeOpt.is(optionToAdd)) {
                    var feeTypeDdlList = $('.fee-type-row .feetype-ddl').not('.special-feetype-ddl');
                    if (feeTypeDdlList != undefined) {
                        $.each(feeTypeDdlList, function (idx, dropdown) {
                            if (!$(dropdown).is(currentDDL) && $(dropdown).text().indexOf(optionToAdd.text()) < 0) {
                                $(dropdown).append("<option value='" + optionToAdd.val() + "'>" + optionToAdd.text() + "</option>");
                            }
                        });
                    }
                }
            }
        }

        function showHideWaiver(ctrl) {
            $(ctrl).closest(".fee-type-row").find(".fee-sub-type-ddl .loading-wrapper").show();
            var target = $(ctrl).closest(".fee-type-row").find('.waiver');
            var feeTypeId = parseInt($(ctrl).val());
            //if (jQuery.inArray(feeTypeId, ftlFees) !== -1) {
            if (jQuery.inArray(feeTypeId, demurrageFees) !== -1) {
                target.show();
            }
            else {
                target.hide();
            }
        }

        function LoadDemurrageFees() {
            var url = '@Url.Action("GetWaiverApplicableFees", "FuelRequest")';
            var data = { };
            $.get(url, data).done(function (fees) {
                if (fees.length > 0) {
                    $.each(fees, function (i, element) {
                        demurrageFees.push(element);
                    });
                }
            });
        }

        $(document).ready(function () {
            normalFeeOriginalUrl = $('#auto-add-normal-common-fee a').attr('data-url');
            specialFeeOriginalUrl = $('#auto-add-weekend-common-fee a').attr('data-url');
            LoadDemurrageFees();
            $(document).on('click', '.other-fee-radio', function () { getSubTypesByFeeType(this); });
            $(document).on('focus', '.feetype-ddl:not(.special-feetype-ddl)', function () { hidePrevFeeTypeOption(this); });
            $(document).on('focus', '.feetype-ddl', function () { RemoveProcessingFeeOption(); });
            $(document).on('change', '.feetype-ddl', function () { getSubTypesByFeeType(this); showHideWaiver(this); });
        });
    </script>
}