@model MarineCGInspectionDocumentPdfViewModel

<docktype html>
    <html>

    <head>
        <title>CG Inspection</title>
    </head>
    <style>
        .cg-inspection {
            font-family: Tahoma, arial;
        }

        .text-center {
            text-align: center
        }
    </style>

    <body>
        <div class="cg-inspection">
            <table width="100%">
                <tr style="margin-top: 20px;">
                    <td colspan="2">
                        <h2 style="margin: 0 0 20px;font-size: 25px;">Declaration of inspection</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0;">Location of facility</h5>
                        @if (!string.IsNullOrWhiteSpace(Model.Address))
                        {
                            @Model.Address <br />
                        }
                        @(!string.IsNullOrWhiteSpace(Model.City) ? Model.City + ", " : "") @Model.StateCode @Model.ZipCode
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-top:20px">
                        <h5 style="margin: 0;">Name of Vessel(s)</h5>
                        @if (Model.AssetDrops != null && Model.AssetDrops.Any())
                        {
                            var total = Model.AssetDrops.Count();
                            int counter = 0;
                            foreach (var assetDrop in Model.AssetDrops)
                            {
                                var vessel = string.IsNullOrWhiteSpace(assetDrop.AssetName) ? Resource.lblHyphen : assetDrop.AssetName;
                                var imoNumber = string.IsNullOrWhiteSpace(assetDrop.IMONumber) ? Resource.lblHyphen : assetDrop.IMONumber;
                                    counter++;
                                    <span><b>@vessel</b> <b>-</b> <b>@imoNumber</b></span>
                                    if (counter != total)
                                    {
                                        <span> ,</span>
                                    }
                            }
                        }
                    </td>
                    <td align="right">
                        <h5 style="margin: 0;">Date Transfer Operation Starts</h5>
                        @if (Model.DisplayLiftDate != null)
                        {
                            @Model.DisplayLiftDate.Value.ToString(Resource.constFormatDate)
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top:20px;">
                        An oil transfer operation may not commence to or from a
                        vessel unless the following
                        requirements are met and agreed upon by the respective transferring and receiving person in
                        charge
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 style="margin: 20px 0 10px;">
                            Person in charge indicates by their initials in the appropriate
                            spaces that the specific
                            requirements have been met
                        </h6>
                    </td>
                </tr>
            </table>

            <table border="1" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="top" width="12%" style="border-bottom:1px solid black;padding:10px;">Vessel</td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" width="12%" style="border-bottom:1px solid black;padding:10px;">Facility</td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        A. The mooring lines are
                        adequate for all anticipated conditions.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        B. Cargo hoses and/or loading
                        arms are long enough for intended use.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        C. Cargo hoses are adequately
                        supported to prevent undue strain on the couplings.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        D. The transfer system is
                        properly lined up for discharging or receiving oil. (Additional checks shall be performed each
                        time a valve is repositioned.)
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        E. Each flange connection on
                        the cargo system not being used during the transfer operation is securely blanked or shut off.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        F. Adequate spill containment
                        have been provided for couplings.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        G. All scuppers or other
                        overboard drains are closed or plugged.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        H. A communication system is
                        provided between the facility and the vessel.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        I. Emergency shutdown system is
                        available and operable.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        J. Communication procedures are
                        established and understood between persons in charge.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        K. Qualified and designated
                        personnel are in charge and on duty at the terminal and vessel control stations.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        L. One person at the vessel
                        control station is present who fluently speak the language of the terminal control station.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        M. The owner of the cargo hoses
                        will ensure your test requirements have been met and that the hose has no loose covers, kinks,
                        bulges, soft spots or gouges, cuts and slashes which penetrates the hose reinforcement and that
                        hoses are marked for identification and test data is maintained in a test log.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        N. Adequate lighting of The
                        vessel and terminal work areas and manifold areas is provided.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:3px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:3px solid black;padding:10px;">
                        O. Person in charge have held a
                        conference to assure the mutual understanding of the following transfer operation
                    </td>
                    <td valign="top" style="border-bottom:3px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;padding-left:15px">
                        <table>
                            <tr>
                                <td>1. Product identity to be transferred</td>
                                <td style="border-bottom:1px solid black;width:350px">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;padding-left:15px">
                        2. Sequence of
                        transfer operation.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;padding-left:15px">
                        3. Transfer
                        rate of flow.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;padding-left:15px">
                        4. Name of
                        title and location of each person participating in the transfer operations.
                    </td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
            </table>

            <table width="100%" cellspacing="0" cellpadding="0" style="margin-top:20px;">
                <tr>
                    <td colspan="3" valign="top" style="padding:10px;">
                        <strong>
                            The following items are to be filled out
                            by vessel personal only
                        </strong>
                    </td>

                </tr>
                <tr>
                    <td valign="top" width="12%" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">
                        1. Warning signs and read
                        warning signals
                    </td>
                    <td valign="top" width="12%" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">2. Fires or open flames</td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;">3. Safe smoking place</td>
                    <td valign="top" style="border-bottom:1px solid black;padding:10px;"></td>
                </tr>
            </table>
            <table style="margin:20px 0">
                <tr>
                    <td valign="top" style="font-size:14px;">
                        I certify that I have read, understand, and agree with the four going as mark and agree to
                        begin/ continue the transfer operation
                    </td>
                </tr>
            </table>
            <table width="100%" style="margin-top:30px;">
                <tr>
                    <td width="45%" valign="top">
                        <h5 style="text-align:center;text-transform: uppercase;">Person in charge of vessel</h5>
                        <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:60px">
                            <tr>
                                <td style="border-top:1px solid black" width="50%"> Signature</td>
                                <td style="border-top:1px solid black"> Time</td>
                                <td style="border-top:1px solid black">
                                    @if (Model.DisplayDropEndDate != null)
                                    {
                                        @Model.DisplayDropEndDate.Value.ToString(Resource.constFormatDate)
                                    }
                                </td>
                                <td style="border-top:1px solid black"> Date</td>
                            </tr>
                        </table>
                    </td>
                    <td width="10%"></td>
                    <td width="45%" valign="top">
                        <h5 style="text-align:center;text-transform: uppercase;">Person in charge of facility</h5>
                        <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:60px">
                            <tr>
                                <td width="50%">&nbsp;</td>
                                <td>
                                    @if (Model.DisplayDropStartDate != null)
                                    {
                                        @Model.DisplayDropStartDate.Value.DateTime.ToString(Resource.constFormat12HourTime2)
                                    }
                                </td>
                                <td>
                                    @if (Model.DisplayDropStartDate != null)
                                    {
                                        @Model.DisplayDropStartDate.Value.ToString(Resource.constFormatDate)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:1px solid black" width="50%"> Signature</td>
                                <td style="border-top:1px solid black"> Start Time</td>
                                <td style="border-top:1px solid black"> Start Date</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height:60px;"></td>
                            </tr>
                            <tr style="margin-top:20px;">
                                <td> </td>
                                <td>
                                    @if (Model.DisplayDropEndDate != null)
                                    {
                                        @Model.DisplayDropEndDate.Value.DateTime.ToString(Resource.constFormat12HourTime2)
                                    }

                                </td>
                                <td>
                                    @if (Model.DisplayDropEndDate != null)
                                    {
                                        @Model.DisplayDropEndDate.Value.ToString(Resource.constFormatDate)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:1px solid black"> &nbsp;</td>
                                <td style="border-top:1px solid black"> Complete Time</td>
                                <td style="border-top:1px solid black"> Complete Date</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
            @if (!Model.IsFromDownloadPdf) // dont include image section in pdf download
            {
                <table width="100%" style="margin-top:30px;">
                    <tr>
                        <td>
                            <h3>@Resource.lblShortCostGuardInspection</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        @if (Model.CGInspectionImages == null || !Model.CGInspectionImages.Any())
                                        {
                                            <div class="col-sm-2 col-xs-6 mb10">
                                                <img id="image-ctrl" width="100%" height="120" src="~/Content/images/no-image.png" />
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var image in @Model.CGInspectionImages)
                                            {
                                                if (!string.IsNullOrWhiteSpace(image.FilePath))
                                                {
                                                    @*<div class="fs14 break-word"><img src="~/Content/images/ico-thumbnailpdf.png" class="mtm1 mr5 float-left" width="21" /> invoiceFile.FilePath</div>*@
                                            <div class="text-center col-sm-2 col-xs-6 mb10">
                                                @if (image.IsNonImageFile)
                                                {
                                                    <a href="javascript:void(0)" onclick="downloadInvoiceFile(this, '@image.FilePath')" class="img-thumbnail mt10 db">
                                                        <img id="image-ctrl" width="100%" height="120" src="~/Content/images/ico-thumbnailpdf.png" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    @*<a href="javascript:void(0)" onclick="downloadInvoiceFile(this, '@image.FilePath')" class="img-thumbnail mt10">
                                                        <img id="image-ctrl" width="100%" height="120" src="@image.GetAzureFilePath(BlobContainerType.InvoicePdfFiles)" />
                                                    </a>*@
                                                                                            @*<a href="javascript:void(0)" onclick="downloadInvFiles('@image.GetAzureFilePath(BlobContainerType.InvoicePdfFiles)')" class="img-thumbnail mt10">
                                                        <img id="image-ctrl" width="100%" height="120" src="@image.GetAzureFilePath(BlobContainerType.InvoicePdfFiles)" />
                                                    </a>*@

                                                    <div class="img-thumbnail mt10">
                                                        <img id="image-ctrl" width="100%" height="120" src="@image.GetAzureFilePath(BlobContainerType.InvoicePdfFiles)" />
                                                    </div>
                                                    <a href="javascript:void(0)" class="download-box position-absolute rounded text-black-50">
                                                        <i class="fas fa-arrow-alt-circle-down fa-2x" onclick="downloadInvFiles('@image.GetAzureFilePath(BlobContainerType.InvoicePdfFiles)')"></i>
                                                    </a>

                                                }

                                            </div>
                                                }
                                                else
                                                {
                                                    <div class="text-center col-sm-2 col-xs-6 mb10">
                                                        <a href="@Url.Action("DownloadSingleInvoiceImage", "Invoice", new { area = "Supplier", imageId = image.Id })" class="img-thumbnail mt10 previewthumbnail download-images"
                                                           rel="@(Url.Action("DownloadSingleInvoiceImage", "Invoice", new { area = "Supplier", imageId = image.Id }))">
                                                            <img id="image-ctrl" class="img-responsive" height="120" src="@Url.Action("DownloadSingleInvoiceImage", "Invoice", new { area = "Supplier", imageId = image.Id })" />
                                                        </a>
                                                    </div>
                                                }
                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </body>

</html>
