@model MarineBDNPdfViewModel
<docktype html>
    <html>
    <head>
        <title> BDN Image</title>
    </head>
    <style>
        .tax-affidavit {
            font-family: Tahoma,arial;
            padding: 0 15px
        }

        .text-center {
            text-align: center
        }
    </style>
    <body>
        <div class="tax-affidavit">
            <table width="100%">
                <tr>
                    <td class="text-center">
                        @if (string.IsNullOrWhiteSpace(Model.SupplierCompanyName))
                        {
                            <h1 style="margin: 0;font-size: 25px;">
                                @Model.SupplierCompanyName
                            </h1>
                        }
                        else
                        {
                            @*<img id="image-company-logo" class="po-logo" alt="@Model.PdfHeaderDetail.SupplierCompanyName" width="50" src="@Model.PdfHeaderDetail.CompanyLogo.GetAzureFilePath(BlobContainerType.CompanyProfile)" />
                                <h1 style="margin: 0;font-size: 25px;">
                                    @Model.PdfHeaderDetail.SupplierCompanyName
                                </h1>*@
                        }
                    </td>
                </tr>
                <tr>
                    <td class="text-center" style="padding-top:10px">
                        <h2 style="margin: 0;font-size: 18px;">State of Florida Affidavit</h2>
                        <h3 style="margin: 0;font-size:14px!important;">(Under Rule 12A-1.064, FAC)</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="margin-top:20px" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top"><input type="checkbox" disabled /></td>
                                <td style="padding-left:5px;line-height:15px;">This vessel have not and will not operate in the candles inland waterways and within the territorial waters of Florida</td>
                            </tr>
                            <tr>
                                <td valign="top"><input type="checkbox" disabled /></td>
                                <td style="padding-left:5px;line-height:15px;">These vessels will operate in both non-Florida and Florida waters and will report Florida sales tax in accordance with rule 12A-1.064(5) (D).</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Vessel's certificate of registration number:</td>
                                <td style="border-bottom:1px solid black;width:200px">&nbsp;</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 0;">
                        This statement is issued in compliance with rule 12A-1.064(5), Florida Administrative Code, in order to exempt this purchase from Florida sales and use taxes. This certification will continue in force until revoked by written notice to the Department of Revenue.
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td valign="top">
                        <table>
                            <tr>
                                <td>Tropic Ticket #:</td>
                                <td style="border-bottom:1px solid black"><b>@Model.BDRNumber</b></td>
                            </tr>
                        </table>
                        <table style="margin-top:20px;">
                            <tr>
                                <td>
                                    <input type="checkbox" disabled> Diesel Fuel #2 <br>
                                    @*@Html.CheckBoxFor(m => m.IsDieselFuel) Diesel Fuel #2 <br>
                                        @Html.CheckBoxFor(m => m.IsLubeOil) Lube Oil <br>*@
                                    <input type="checkbox" disabled> Lube Oil <br>
                                    <input type="checkbox" disabled> Chemicals, Filters & Misc, Items <br>
                                    @*@Html.CheckBoxFor(m => m.IsOtherChemicalOrFilters) Chemicals, Filters & Misc, Items*@
                                    <input type="checkbox" disabled> Gasoline
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="30%" style="padding-top:22px;">
                        <table width="100%">
                            <tr>
                                <td style="border-top:1px solid black"> Flag</td>
                            </tr>
                        </table>
                        <table width="100%" style="margin-top:70px;">
                            <tr>
                                <td style="border-top:1px solid black"> Signature</td>
                            </tr>
                        </table>
                        <table width="100%" style="margin-top:70px;">
                            <tr>
                                <td style="border-bottom:1px solid black;width:50%"></td>
                                <td><b>@Model.DisplayDropEndDate.ToString(Resource.constFormatDate)</b></td>
                                <td style="border-bottom:1px solid black;width:50%">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="100%" style="margin-top:20px;">
                <tr>
                    <td style="font-size:12px; text-align:center">
                        @*9970 NW 89th Court    |    Miami, FL 33178    |    305-888-4611    |    TF: 8666-645-3835*@
                        @if (!string.IsNullOrWhiteSpace(Model.SupplierAddress))
                        {
                            @Model.SupplierAddress; <span> | </span>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SupplierAddressCity)
                            && !string.IsNullOrWhiteSpace(Model.SupplierAddressStateCode)
                            && !string.IsNullOrWhiteSpace(Model.SupplierAddressZipCode))
                        {
                            @Model.SupplierAddressCity; <span>,</span>
                            @Model.SupplierAddressStateCode; @Model.SupplierAddressZipCode; <span> | </span>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SupplierPhoneNumber))
                        {
                            <span>TF:</span>@Model.SupplierPhoneNumber;
                        }

                    </td>
                </tr>
            </table>
            @if (!Model.IsFromDownloadPdf) // dont include image section in pdf download
            {
                <table width="100%" style="margin-top:30px;">
                    <tr>
                        <td>
                            <h3>@Resource.lblBDNImage</h3>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-6 mb10">
                                            @if (Model.BDNImages == null || !Model.BDNImages.Any())
                                            {
                                                <img id="image-ctrl" width="100%" height="120" src="~/Content/images/no-image.png" />
                                            }
                                            else
                                            {
                                                foreach (var image in @Model.BDNImages)
                                                {
                                                    if (!string.IsNullOrWhiteSpace(image.FilePath))
                                                    {
                                                        @*<div class="fs14 break-word"><img src="~/Content/images/ico-thumbnailpdf.png" class="mtm1 mr5 float-left" width="21" /> invoiceFile.FilePath</div>*@
                                                        <div class="text-center">
                                                            @if (image.IsNonImageFile)
                                                            {
                                                                <a href="javascript:void(0)" onclick="downloadInvoiceFile(this, '@image.FilePath')" class="img-thumbnail mt10 db">
                                                                    <img id="image-ctrl" width="100%" height="120" src="~/Content/images/ico-thumbnailpdf.png" />
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="javascript:void(0)" onclick="downloadInvoiceFile(this, '@image.FilePath')" class="img-thumbnail mt10">
                                                                    <img id="image-ctrl" width="100%" height="120" src="@image.GetAzureFilePath(BlobContainerType.InvoicePdfFiles)" />
                                                                </a>

                                                            }

                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-center">
                                                            <a href="@Url.Action("DownloadSingleInvoiceImage", "Invoice", new { area = "Supplier", imageId = image.Id })" class="img-thumbnail mt10 previewthumbnail download-images"
                                                               rel="@(Url.Action("DownloadSingleInvoiceImage", "Invoice", new { area = "Supplier", imageId = image.Id }))">
                                                                <img id="image-ctrl" class="img-responsive" height="120" src="@Url.Action("DownloadSingleInvoiceImage", "Invoice", new { area = "Supplier", imageId = image.Id })" />
                                                            </a>
                                                        </div>
                                                    }
                                                }

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            }


        </div>
    </body>
</html>

