<div class="btn-group mt5">
    <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle uploadInBulkBtn" aria-expanded="false" onclick="toggleElement('createNew');">@Resource.btnLabelBulkUpload <i class="fa fa-cloud-upload-alt bulkElements"></i></button>
    <div class="col-sm-8 text-left createNew upload-assets hide-element  mr15 mt25 pa radius-5 bg-white border z-index5 shadow-b">
        <i class="fa fa-times pull-right mt5" aria-hidden="true" onclick="toggleElement('createNew');"></i>
        <span class="fa fa-download mr10 mt10"></span><a href="~/Content/Location_BulkUpload_Template.csv" class="mb5 btn-download">@Resource.btnLabelDownloadSample</a>
        <div class="row">
            <div class="col-md-12 b-dashed">
                <div class="well well-xs pt0 pb0 mt5">
                    <h2>
                        <label for="csvFile" class="btn btn-primary">
                            <input id="csvFile" name="csvFile" class="bulkElements full-width" type="file" accept=".csv" />
                        </label>
                    </h2>
                    <div class="row hide-element" id="divOrderFileSizeError">
                        <div class="col-sm-12 fs12 color-red">
                            @Resource.errFileSizeMessage
                        </div>
                    </div>
                    <ul class="list-unstyled fs12 mt5">
                        <li>
                            @Resource.lblLocationsUploadWarning
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 text-right pb15">
                            <input type="submit" value="@Resource.btnLabelUpload" class="btn btn-primary bulkElements" id="uploadLocationsButton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
