@model BaseballCardDetailsViewModel
<div class="well">
    <div class="table-responsive">
        <table class="table table-bordered table-hover mt10">
            <thead>
                <tr>
                    <th class="text-left">@Resource.lblDescription</th>
                    <th class="text-center">@Resource.lblLast30days</th>
                    <th class="text-center">@Resource.lblLast3Months</th>
                    <th class="text-center">@Resource.lblLast6Months</th>
                    <th class="text-center">@Resource.lblAllTime</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td class="text-left">@Resource.lblOnTimeDelivery</td>
                    <td>@Model.OnTime30Days</td>
                    <td>@Model.OnTime3Months</td>
                    <td>@Model.OnTime6Months</td>
                    <td>@Model.OnTimeAll</td>
                </tr>
                <tr>
                    <td class="text-left">@Resource.lblInvoiceAccuracy</td>
                    <td>@Model.Accuracy30Days</td>
                    <td>@Model.Accuracy3Months</td>
                    <td>@Model.Accuracy6Months</td>
                    <td>@Model.AccuracyAll</td>
                </tr>
                <tr>
                    <td class="text-left">@Resource.lblInvoiceCreatedInLessThan5Secounds</td>
                    <td>@Model.MobileDrop30Days</td>
                    <td>@Model.MobileDrop3Months</td>
                    <td>@Model.MobileDrop6Months</td>
                    <td>@Model.MobileDropAll</td>
                </tr>
                <tr>
                    <td class="text-left">@Resource.lblAvgTimeToGenerateInvoices</td>
                    <td>@Model.AvgTime30Days</td>
                    <td>@Model.AvgTime3Months</td>
                    <td>@Model.AvgTime6Months</td>
                    <td>@Model.AvgTimeAll</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>