@model OrderBadgeViewModel
@{ var randomNum100999 = (new Random()).Next(100, 999);}

<div class="row">
    <div class="col-sm-12">
        <label>@Resource.lblCommon</label>
    </div>
    <div class="col-sm-2 form-group">
        @Html.TextBoxFor(m => m.BadgeNo1, "", new { @class = "form-control", @placeholder = "Badge #1" })
    </div>
    <div class="col-sm-2">
        @Html.TextBoxFor(m => m.BadgeNo2, "", new { @class = "form-control", @placeholder = "Badge #2" })
    </div>
    <div class="col-sm-2">
        @Html.TextBoxFor(m => m.BadgeNo3, "", new { @class = "form-control", @placeholder = "Badge #3" })
    </div>
</div>
<div class="mb10">
    <div id="terminalbulk-@randomNum100999" class="partial-section mirror terminal-bulkplant-section">
        <div class="partial-block-collection-section">
            @if (Model.TerminalBulkBadge != null && Model.TerminalBulkBadge.Count() > 0)
            {
                foreach (var badge in Model.TerminalBulkBadge)
                {
                    Html.RenderPartial("~/Views/Shared/_PartialAddTerminalBulkBadge.cshtml", badge);
                }
            }
        </div>
        <a href="javascript:void(0)" class="add-partial-block" data-url="@Url.Action("AddOrderBadgeDetails", "Order")"><span class="fa fa-plus-circle"></span> @Resource.AssignbadgeToPickUp</a>
        <i class="fa fa-info-circle ml5" data-toggle="tooltip" data-placement="top" title="@Resource.AssignbadgeToPickUp"></i>
    </div>
</div>


