<style>
    .sticky-top{
    position: sticky;
    top: 0;
    z-index: 10001;
    background: #fff;
    }
    .sticky-bottom{
    position: sticky;
    bottom: 0;
    z-index: 10001;
    background: #fff;
    }
</style>
@using SiteFuel.Exchange.Domain
<nav class="fixed animated slideOutLeft hide-element">
    <ul class="nav nav-pills nav-stacked flex-column" id="navparent">
        <li id="close" class="sticky-top fs18 text-right pr5 pt10 pb10 overflow-h">
            <span class="fa fa-times fs18 close-menu color-lightgrey pull-right"></span>
            <span class="pull-right fs12 hide-element" id="prefLoaderEle">
                @Resource.lblSavingPreference <span class="spinner-dashboard spinner-xsmall pull-right mt2 ml5"></span>
            </span>
        </li>
        @if ((!CurrentUser.IsFirstLogin || CurrentUser.IsImpersonated) && !CurrentUser.IsInternalSalesPerson && !CurrentUser.IsExternalVendor)
        {
            if (CurrentUser.IsSuperAdmin)
            {
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#company-submenu" class="overflow-h nav-link" title="@Resource.lblCompanies" data-parent="#navparent">
                        <span class="fa  fa-building mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5">@Resource.lblCompanies</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="company-submenu">
                        <ul class="pl0">
                            <li id="101">
                                <a href="@Url.Action("ViewCompanies", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-building pr5 ml15 pull-left mt8"></span>@Resource.lblCompanies
                                </a>
                            </li>
                            <li id="102">
                                <a href="@Url.Action("CompanyUsers", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-users pr5 ml15 pull-left mt8"></span>@Resource.lblCompanyUsers
                                </a>
                            </li>
                            <li id="103">
                                <a href="@Url.Action("GroupCompanies", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-chain pr5 ml15 pull-left mt8"></span>@Resource.lblGroupCompanies
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#impersonation-submenu" class="overflow-h nav-link" title="@Resource.lblImpersonations" data-parent="#navparent">
                        <span class="fa  fa-user-secret mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5">@Resource.lblImpersonations</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="impersonation-submenu">
                        <ul class="pl0">
                            <li id="104">
                                <a href="@Url.Action("ImpersonationHistory", "Impersonation", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-user-secret pr5 ml15 pull-left mt8"></span>@Resource.lblImpersonationHistory
                                </a>
                            </li>
                            <li id="105">
                                <a href="@Url.Action("ImpersonationActivityLog", "Impersonation", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-history pr5 ml15 pull-left mt8"></span>@Resource.lblImpersonationActivityLog
                                </a>
                            </li>
                            <li id="106">
                                <a href="@Url.Action("ActiveImpersonations", "Impersonation", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-plug pr5 ml15 pull-left mt8"></span>@Resource.headingActiveImpersonations
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#users-submenu" class="overflow-h nav-link" title="@Resource.lblUsers" data-parent="#navparent">
                        <span class="fa  fa-users mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5">@Resource.lblUsers</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="users-submenu">
                        <ul class="pl0">
                            <li id="107">
                                <a href="@Url.Action("ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.AllSuperAdmin })" class="pl30 db">
                                    <span class="fa fa-bolt pr5 ml15 pull-left mt8"></span>@Resource.lblSuperAdmins
                                </a>
                            </li>
                            <li id="108">
                                <a href="@Url.Action("ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.InternalSalesPerson })" class="pl30 db">
                                    <span class="fa fa-user pr5 ml15 pull-left mt8"></span>@Resource.lblSalesCalculatorUsers
                                </a>
                            </li>
                            <li id="109">
                                <a href="@Url.Action("ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.ExternalVendor })" class="pl30 db">
                                    <span class="fas fa-external-link-alt pr5 ml15 pull-left mt8"></span>@Resource.lblExternalVendors
                                </a>
                            </li>
                            <li id="110">
                                <a href="@Url.Action("ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.AccountSpecialist })" class="pl30 db">
                                    <span class="fa fa-user pr5 ml15 pull-left mt8"></span>@Resource.lblAccountSpecialist
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#masterdata-submenu" class="overflow-h nav-link" title="@Resource.lblConfigurationAndLogs" data-parent="#navparent">
                        <span class="fa  fa-cog mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5">@Resource.lblConfigurationAndLogs</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="masterdata-submenu">
                        <ul class="pl0">
                            <li id="111">
                                <a href="@Url.Action("ViewAppSettings", "MasterData", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-cog pr5 ml15 pull-left mt8"></span>@Resource.lblAppSettings
                                </a>
                            </li>
                            <li id="112">
                                <a href="@Url.Action("ViewPricingSettings", "MasterData", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-cog pr5 ml15 pull-left mt8"></span>@Resource.lblPricingSettings
                                </a>
                            </li>
                            <li id="113">
                                <a href="@Url.Action("NotificationSettings", "MasterData", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-bell pr5 ml15 pull-left mt8"></span>@Resource.headingUserNotifications
                                </a>
                            </li>
                            <li id="114">
                                <a href="@Url.Action("ManageCityZip", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-cog pr5 ml15 pull-left mt8"></span>@Resource.headingCityZip
                                </a>
                            </li>
                            <li id="115">
                                <a href="@Url.Action("Index", "Exception", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-exclamation-triangle pr5 ml15 pull-left mt8"></span>@Resource.lblExceptionLog
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#audit-report-submenu" class="overflow-h nav-link" title="@Resource.lblAuditReport" data-parent="#navparent">
                        <span class="fa fa-file mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5">@Resource.lblAuditReport</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="audit-report-submenu">
                        <ul class="pl0">
                            <li id="116">
                                <a href="@Url.Action("AuditReportAxxis", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-file pr5 ml15 pull-left mt8"></span>@Resource.lblAuditReportAxxis
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" id="lnkExternalMeterData" data-toggle="collapse" href="#Meterdata-submenu" class="overflow-h nav-link" title="@Resource.lblExternalMeterData" data-parent="#navparent">
                        <span class="fa  fa-upload mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5">@Resource.lblExternalMeterData</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="Meterdata-submenu">
                        <ul class="pl0">
                            <li id="117">
                                <a href="@Url.Action("ExternalMeterData", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-upload pr5 ml15 pull-left mt8"></span>@Resource.lblExternalMeterData
                                </a>
                            </li>
                            <li id="118">
                                <a href="@Url.Action("ExternalMeterDataUploadStatus", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-file-text pr5 ml15 pull-left mt8"></span>@Resource.lblDataUploadStatus
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="119">
                    <a href="@Url.Action("Invoices", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblInvoices" data-parent="#navparent">
                        <span class="fa fa-dollar mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblInvoices</span>
                    </a>
                </li>
                <li id="120">
                    <a href="@Url.Action("FuelRequests", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblFuelRequests" data-parent="#navparent">
                        <span class="fa fa-tint mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblFuelRequests</span>
                    </a>
                </li>
                <li id="121">
                    <a href="@Url.Action("ProductMapping", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.headingProductMapping" data-parent="#navparent">
                        <span class="fa fa-sitemap mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.headingProductMapping</span>
                    </a>
                </li>
                <li id="122">
                    <a href="@Url.Action("ProductTypeMapping", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.headingProductTypeMapping" data-parent="#navparent">
                        <span class="fa fa-sitemap mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.headingProductTypeMapping</span>
                    </a>
                </li>
                <li id="122">
                    <a href="@Url.Action("GetTerminalSupplier", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.headingTerminalSupplier" data-parent="#navparent">
                        <span class="fa fa-sitemap mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.headingTerminalSupplier</span>
                    </a>
                </li>
                <li id="123">
                    <a href="@Url.Action("ViewAccountActivity", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblAccountActivity" data-parent="#navparent">
                        <span class="fa far fa-clock mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblAccountActivity</span>
                    </a>
                </li>
                <li id="124">
                    <a href="@Url.Action("ExternalSuppliers", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblExternalSuppliers" data-parent="#navparent">
                        <span class="fa fa-user-plus mt4 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblExternalSuppliers</span>
                    </a>
                </li>
                <li id="125">
                    <a href="@Url.Action("SupplierGeoView", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblFindSupplier" data-parent="#navparent">
                        <span class="fa fa-search mt4 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblFindSupplier</span>
                    </a>
                </li>
                <li id="126">
                    <a href="@Url.Action("Index", "QuickBooks", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblQuickBooksLogs" data-parent="#navparent">
                        <span class="fa fas fa-file-invoice-dollar mt6 fs21 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblQuickBooksLogs</span>
                    </a>
                </li>
            }
            else if (CurrentUser.IsAccountSpecialist)
            {
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#company-submenu" class="overflow-h nav-link" title="@Resource.lblCompanies" data-parent="#navparent">
                        <span class="fa  fa-building mr15 mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5 ml5">@Resource.lblCompanies</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="company-submenu">
                        <ul class="pl0">
                            <li id="127">
                                <a href="@Url.Action("ViewCompanies", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-building pr5 ml15 pull-left mt8"></span>@Resource.lblCompanies
                                </a>
                            </li>
                            <li id="128">
                                <a href="@Url.Action("CompanyUsers", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-users pr5 ml15 pull-left mt8"></span>@Resource.lblCompanyUsers
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" data-toggle="collapse" href="#impersonation-submenu" class="overflow-h nav-link" title="@Resource.lblImpersonations" data-parent="#navparent">
                        <span class="fa  fa-user-secret mr15 mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5 ml5">@Resource.lblImpersonations</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="impersonation-submenu">
                        <ul class="pl0">
                            <li id="129">
                                <a href="@Url.Action("ActiveImpersonations", "Impersonation", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-plug pr5 ml15 pull-left mt8"></span>@Resource.headingActiveImpersonations
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu">
                    <a role="button" id="lnkExternalMeterData" data-toggle="collapse" href="#Meterdata-submenu" class="overflow-h nav-link" title="@Resource.lblExternalMeterData" data-parent="#navparent">
                        <span class="fa  fa-upload mr15 mt7 fs18 pull-left"></span>
                        <span class="pull-left mt5 ml5">@Resource.lblExternalMeterData</span>
                        <span class="fa fa-angle-right fs18 mt5 pull-right"></span>
                    </a>
                    <div class="collapse submenu" id="Meterdata-submenu">
                        <ul class="pl0">
                            <li id="130">
                                <a href="@Url.Action("ExternalMeterData", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-upload pr5 ml15 pull-left mt8"></span>@Resource.lblExternalMeterData
                                </a>
                            </li>
                            <li id="131">
                                <a href="@Url.Action("ExternalMeterDataUploadStatus", "SuperAdmin", new { area = "SuperAdmin" })" class="pl30 db">
                                    <span class="fa fa-file-text pr5 ml15 pull-left mt8"></span>@Resource.lblDataUploadStatus
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="132">
                    <a href="@Url.Action("FuelRequests", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblFuelRequests" data-parent="#navparent">
                        <span class="fa fa-tint mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblFuelRequests</span>
                    </a>
                </li>
                <li id="133">
                    <a href="@Url.Action("Invoices", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblInvoices" data-parent="#navparent">
                        <span class="fa fa-dollar mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblInvoices</span>
                    </a>
                </li>
                <li id="134">
                    <a href="@Url.Action("ViewAccountActivity", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblAccountActivity" data-parent="#navparent">
                        <span class="far fa-clock mt5 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblAccountActivity</span>
                    </a>
                </li>
                <li id="135">
                    <a href="@Url.Action("ExternalSuppliers", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblExternalSuppliers" data-parent="#navparent">
                        <span class="fa fa-user-plus mt4 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblExternalSuppliers</span>
                    </a>
                </li>
                <li id="136">
                    <a href="@Url.Action("SupplierGeoView", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblFindSupplier" data-parent="#navparent">
                        <span class="fa fa-search mt4 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblFindSupplier</span>
                    </a>
                </li>
                <li id="137">
                    <a href="@Url.Action("Index", "QuickBooks", new { area = "SuperAdmin" })" class="overflow-h" title="@Resource.lblQuickBooksLogs" data-parent="#navparent">
                        <span class="fa fa-list mt4 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblQuickBooksLogs</span>
                    </a>
                </li>
            }
            else
            {
                if (CurrentUser.IsBuyerCompany)
                {
                    <li id="138">
                        <a href="@Url.Action("View", "Asset", new { area = "Buyer" })" class="overflow-h" title="@Resource.lblAssetsTanks" data-parent="#navparent">
                            <span class="fa fa-truck mt5 fs16 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblAssetsTanks</span>
                        </a>
                    </li>
                    <li id="139">
                        <a href="@Url.Action("View", "Job", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblJobs" data-parent="#navparent">
                            <span class="fa fa-map-marker-alt mt4 fs18 pull-left"></span>
                            <span class="pull-left mt3 ml3">@Resource.lblJobs</span>
                        </a>
                    </li>
                    <li id="140">
                        <a href="@Url.Action("View", "FuelRequest", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblFuelRequestsNominations" data-parent="#navparent">
                            <span class="fa fa-tint mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblFuelRequestsNominations</span>
                        </a>
                    </li>

                    if (CurrentUser.IsBuyerAdmin || CurrentUser.IsBuyer)
                    {
                        <li id="141">
                            <a href="javascript:void(0);" onclick="getBuyerOfferUrl();" class="overflow-h nav-link" title="@Resource.headingOffers" data-parent="#navparent">
                                <span class="fa fas fa-hand-holding-usd mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.headingOffers</span>
                            </a>
                        </li>
                        <li id="201">
                            <a href="@Url.Action("Manage", "Exception", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblManageExceptions" data-parent="#navparent">
                                <span class="fa fas fa-exclamation mt5 fs18 pull-left"></span>
                                @Resource.lblManageExceptions
                            </a>
                        </li>
                    }

                    if (!CurrentUser.IsOnsitePerson)
                    {
                        <li id="142">
                            <a href="@Url.Action("View", "Quote", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblRequestForQuotes" data-parent="#navparent">
                                <span class="fas fa-clipboard-list fa mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblQuoteRequests</span>
                            </a>
                        </li>
                    }
                    <li id="143">
                        <a href="@Url.Action("View", "Order", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblOrders" data-parent="#navparent">
                            <span class="fa fa-file-text mt4 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblOrders</span>
                        </a>
                    </li>
                    <li id="144">
                        <a href="@Url.Action("View", "OrderGroup", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblGroupSummery" data-parent="#navparent">
                            <span class="fas fa fa-layer-group mt6 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblOrderGroups</span>
                        </a>
                    </li>
                    <li id="199">
                        <a href="@Url.Action("BuyerWallyBoard", "Job", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblDispatcherDashboard" data-parent="#navparent">
                            <span class="fas fa fa-user-clock mt2 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblDispatcherDashboard</span>
                        </a>
                    </li>
                    <li id="145">
                        <a href="@Url.Action("RequestStatus", "BulkUpload", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblBulkUpload" data-parent="#navparent">
                            <span class="fa fa-upload mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblBulkUpload</span>
                        </a>
                    </li>
                    <li id="146">
                        <a id="lnkInvoices" href="@Url.Action("View", "Invoice", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblInvoiceDdtSummary" data-parent="#navparent">
                            <span class="fa fas fa-dollar mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblInvoiceDdtSummary</span>
                        </a>
                    </li>
                    @*<li id="147">
                        <a href="@Url.Action("DropTicketsView", "Invoice", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblDigitalDropTicketsDropTickets" data-parent="#navparent">
                            <span class="fa fa-money mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblDigitalDropTicketsDropTickets</span>
                        </a>
                    </li>*@
                    <li id="148">
                        <a href="@Url.Action("BolSummary", "Invoice", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblLnkBol" data-parent="#navparent">
                            <span class="fa fa-money mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblLnkBol</span>
                        </a>
                    </li>
                    <li id="149">
                        <a href="@Url.Action("Approvals", "Invoice", new { area = "Buyer" })" class="overflow-h nav-link" title="@Resource.lblApprovals" data-parent="#navparent">
                            <span class="fa fas fa-check mt7 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblApprovals</span>
                        </a>
                    </li>
                    <li id="150">
                        <a href="@(Url.Action("WhereIsMyDriver", "Order", new { area = "Buyer" }))" class="overflow-h nav-link" title="@Resource.lblWhereIsMyDriver" data-parent="#navparent">
                            <span class="fa fa-road mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblWhereIsMyDriver</span>
                        </a>
                    </li>
                    <li id="151">
                        <a href="@(Url.Action("Resale", "Job", new { area = "Buyer" }))" class="overflow-h nav-link" title="@Resource.lblResale" data-parent="#navparent">
                            <span class="fa fa-info-circle mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblResale</span>
                        </a>
                    </li>
                    if (CurrentUser.BrandedCompanyId < 0)
                    {
                        <li id="152">
                            <a href="@(Url.Action("YourSuppliers", "Dashboard", new { area = "Buyer" }))" class="overflow-h nav-link" title="@Resource.lblYourSuppliers" data-parent="#navparent">
                                <span class="fa fas fa-user-check mt6 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblYourSuppliers</span>
                            </a>
                        </li>
                    }
                    <li id="153">
                        <a href="@(Url.Action("InvoiceReport", "Report", new { area = "Buyer" }))" class="overflow-h nav-link" title="@Resource.lblInvoiceReport" data-parent="#navparent">
                            <span class="fa fas fa-file-invoice-dollar mt6 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblInvoiceReport</span>
                        </a>
                    </li>

                }
                else if (CurrentUser.IsDriver)
                {
                    <li id="154">
                        <a href="@Url.Action("View", "Order", new { area = "Driver" })" class="overflow-h nav-link" title="@Resource.lblOrders" data-parent="#navparent">
                            <span class="fa fa-file-text mt3 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblOrders</span>
                        </a>
                    </li>
                    <li id="155">
                        <a href="@Url.Action("DeliverySchedules", "Order", new { area = "Driver" })" class="overflow-h nav-link" title="@Resource.lblDeliverySchedules" data-parent="#navparent">
                            <span class="fa fa-calendar mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblSchedulesAndDrops</span>
                        </a>
                    </li>
                }
                else if (CurrentUser.IsSupplierCompany && !CurrentUser.IsSalesUser)
                {
                    <li id="156">
                        <a href="@Url.Action("View", "FuelRequest", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblFuelRequestsNominations" data-parent="#navparent">
                            <span class="fa fa-tint mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblFuelRequestsNominations</span>
                        </a>
                    </li>
                    <li id="205" class="thirdPartyNetworkLink">
                        <a href="@Url.Action("Dashboard", "ThirdPartyNetwork", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblThirdPartyNetwork" data-parent="#navparent">
                            <span class="fas fa fa-network-wired mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblThirdPartyNetwork</span>
                        </a>
                    </li>
                    <li id="157">
                        <a href="@Url.Action("View", "Order", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblOrders" data-parent="#navparent">
                            <span class="fa fa-file-text mt3 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblOrders</span>
                        </a>
                    </li>
                    <li id="158">
                        <a href="@Url.Action("View", "OrderGroup", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblGroupSummery" data-parent="#navparent">
                            <span class="fas fa fa-layer-group mt6 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblOrderGroups</span>
                        </a>
                    </li>
                    <li id="187">
                        <a onclick="OpenWindow();" class="overflow-h nav-link" title="@Resource.lblDispatcherDashboard" data-parent="#navparent">
                            <span class="fas fa fa-user-clock mt2 fs18 pull-left"></span>
                            @Resource.lblDispatcherDashboard
                        </a>
                    </li>
                    <li id="185">
                        <a href="@Url.Action("View", "Tractor", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblTrailerTractor" data-parent="#navparent">
                            <span class="text-center pull-left fa">
                                <svg style="width : 30px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 447 261" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                                    <path d="M437.097882,200.290839l6.743826-.284953l2.132711.250907.125453,28.728873-33.997923-.125454-.125454-5.770865-8.530844-.125454c-.951074,18.255418-20.233083,37.021114-40.042499,36.114514-17.400146,2.035744-40.220271-12.829485-43.864549-32.995457l-9.704546-.388182v11.257273l-10.233795-.233128.02,1.84-6.344831-.02782v-1.844555l-33.166971-.101883-.068455,2.190559h-6.982408l-.068455-2.327469-33.901725.147241v1.963927h-5.911353l.04-1.963927-9.775907.091552v-10.99177l-20.54477.388182c-.680919,17.79329-22.364019,32.832522-41.386288,32.995457-18.790929.65828-40.689501-15.127016-41.823677-32.995457-3.07368,17.270861-23.540924,34.369056-41.98211,32.995457-16.133093,1.821328-38.804743-11.274062-42.621431-32.995457v-17.034244l-4.262143.213107-.426215,13.70208-9.347601.125454v-44.125071l37.508489-.352744c10.164035-6.04614,29.669285-5.824047,39.019097.325985v-5.052784l-7.0087-.162994v-7.334687l56.884566.325986v7.0087l-7.0087.162993.162993,4.889791c9.285507-5.624604,28.302041-6.530087,38.303361,0l58.677489-.16299v-34.941772l-1.323002.037907v-5.49651h1.323002v-62.5h-1.323002v-5.493164h1.323002v-30.700684l5.915482-11.5484v-12.479722c1.491637-7.001845,10.046707-13.638045,17.007145-13.411046v9.499491c-2.931847.448962-6.83729,3.825176-7.82311,6.705522v9.499491l5.401671,12.665987l54.389239-.372529v-6.519259h38.184225l.372529,6.332994l8.381903.186265l4.284084,21.420419-72.084367-.372529-.558794,44.703483l44.144691-.372529-.186265-18.626451l12.293458.186264.558794,8.754432c24.212616,1.478937,68.935138,7.773853,89.220702,13.038517l2.395223-4.035565l12.114643,2.202662.055332,4.379326l2.04.02.036317,10.122291l6.871104.069499l3.243185,79.329572h-6.763554l-2.335989-67.7426c-17.747273-4.013551-56.249352-8.491735-76.865448-9.30314v10.863128h-25.42434l-.462261-12.48104-82.028303.19725.000008,40.4375v.875l-.000008,10.552179l69.57679-.572033q53.51942-35.510581,92.437892,14.659641h21.714607v11.875414l3.40678.034046Z" transform="translate(.000001 0.190014)" fill="#616161" stroke-width="0.894" />
                                    <path d="M332.44534,142.653608l25.204071-.151-.071398,6.747712-25.179882.125066.047209-6.721778Z" transform="translate(-32.368977-5.039493)" fill="#616161" stroke-width="0.894" />
                                    <path class="svg-detail" d="M-15.594099,0c0-7.605728,6.08338-13.867224,13.897897-14.666937.557127-.057015,1.123054-.086268,1.696202-.086268c8.612383,0,15.594099,6.605235,15.594099,14.753205s-6.981716,14.753205-15.594099,14.753205-15.594099-6.605235-15.594099-14.753205Z" transform="matrix(1.295916 0 0 1.300634 360.997413 216.975338)" fill="#fff" />
                                    <path class="svg-detail" d="M-15.594099,0c0-8.14797,6.981716-14.753205,15.594099-14.753205s15.594099,6.605235,15.594099,14.753205-6.981716,14.753205-15.594099,14.753205-15.594099-6.605235-15.594099-14.753205Z" transform="matrix(1.295916 0 0 1.300634 56.537173 216.975338)" fill="#fff" />
                                    <path class="svg-detail" d="M-15.594099,0c0-7.605728,6.08338-13.867224,13.897897-14.666937.557127-.057015,1.123054-.086268,1.696202-.086268c8.612383,0,15.594099,6.605235,15.594099,14.753205s-6.981716,14.753205-15.594099,14.753205-15.594099-6.605235-15.594099-14.753205Z" transform="matrix(1.295916 0 0 1.300634 141.5091 216.975338)" fill="#fff" />
                                </svg>
                            </span>
                            @Resource.lblTrailerTractor
                        </a>
                    </li>
                    <li id="197">
                        <a href="@Url.Action("Index", "ScheduleBuilder", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblScheduleBuilder" data-parent="#navparent">
                            <span class="fas fa fa-clock mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblScheduleBuilder</span>
                        </a>
                    </li>
                    <li id="159">
                        <a href="@Url.Action("Create", "FuelSurcharge", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblFuelSurcharge" data-parent="#navparent">
                            <span class="fa fas fa-percent mt7 fs14 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblFuelSurcharge</span>
                        </a>
                    </li>
                    <li id="203">
                        <a href="@Url.Action("Index", "SourcingRequest", new { area = "SalesUser" })" class="overflow-h nav-link" title="@Resource.btnLabelSourceRequest" data-parent="#navparent">
                            <span class=" fa fa-tint float-left mr5 fs18 mt5"></span>
                            <span class="pull-left mt3">@Resource.btnLabelSourceRequest</span>
                        </a>
                    </li>

                    <li id="204">
                        <a href="@Url.Action("Create", "FreightRate", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.btnLabelFreightRates" data-parent="#navparent">
                            <span class="text-center pull-left fa">
                                <svg style="width : 20px; fill : #616161;" viewBox="0 0 125 133">
                                    <path d="M0,5C0,2.238576,2.238576,0,5,0h40c2.761424,0,5,2.238576,5,5v40c0,2.761424-2.238576,5-5,5h-40c-2.761424,0-5-2.238576-5-5L0,5Z" transform="translate(.022747 64.443753)"/>
                                    <path d="M42.119723,43.028785q-2.475562-.37941-8.465681-3.214816c-6.697852-2.7714-14.310353,3.020348-12.430621,10.28741-6.275645-.044112-12.0105.022281-15.484564-.002139-2.342774,0-5.182499-1.632842-5.466472-5.040513-.008338-.100054.174553-40.370056.012682-40.47797.485614-3.723047,1.294972-4.532404,6.259034-4.586362.034033-.00037,12.608183-.059888,17.808994-.106056l6.475604-.17464c-6.256391,1.443782-9.881729,9.51274-9.881729,16.140157.318924,13.756895,12.576568,21.49177,21.106278,21.571687c0,4.014106.187574,5.560436.066475,5.603242Z" transform="translate(51.698241 64.443753)"/>
                                    <path d="M0,5C0,2.238576,2.238576,0,5,0h40c2.761424,0,5,2.238576,5,5v40c0,2.761424-2.238576,5-5,5h-40c-2.761424,0-5-2.238576-5-5L0,5Z" transform="translate(26.018847 12.207652)"/>
                                    <path d="M118.1,235.517c7.898,0,14.31-6.032,14.31-13.483c0-7.441,0-13.473,0-13.473c39.069-3.579,64.932-24.215,64.932-57.785v-.549c0-34.119-22.012-49.8-65.758-59.977v-31.916c6.298,1.539,12.82,3.72,19.194,6.549c10.258,4.547,22.724,1.697,28.952-8.485c6.233-10.176,2.866-24.47-8.681-29.654-11.498-5.156-24.117-8.708-38.095-10.236v-8.257c0-4.552-6.402-8.251-14.305-8.251s-14.31,3.514-14.31,7.832c0,4.335,0,7.843,0,7.843-42.104,3.03-65.764,25.591-65.764,58.057v.555c0,34.114,22.561,49.256,66.862,59.427v33.021c-10.628-1.713-21.033-5.243-31.623-10.65-11.281-5.755-25.101-3.72-31.938,6.385-6.842,10.1-4.079,24.449,7.294,30.029c16.709,8.208,35.593,13.57,54.614,15.518v13.755c.006,7.588,6.413,13.745,14.316,13.745Zm13.201-97.397c14.316,4.123,18.438,8.257,18.438,15.681v.555c0,7.979-5.776,12.651-18.438,14.033v-30.269ZM86.999,70.153v-.549c0-7.152,5.232-12.657,18.71-13.755v29.719c-14.853-4.129-18.71-8.263-18.71-15.415Z" transform="matrix(.3102 0 0 0.324862 63.878815 56.835263)"/>
                                    <path d="M0,0h26.21258v1.97299L0,1.97299L0,0Z" transform="matrix(.645897 0.453339-1.480515 2.109374 56.39918 1.10795)"/>
                                    <path d="M0,0h26.21258v1.97299L0,1.97299L0,0Z" transform="matrix(.706801-.428483 1.245976 2.055292 28.880835 12.661828)"/>
                                </svg>
                            </span>
                            <span class="pull-left mt3">@Resource.btnLabelFreightRates</span>
                        </a>
                    </li>

                    <li id="159">
                        <a href="@Url.Action("CreateNew", "FuelSurcharge", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblFuelSurcharge" data-parent="#navparent">
                            <span class="mt-1 text-center fa pull-left">
                                <svg style="width : 18px; fill : #616161;" viewBox="0 0 336 250">
                                    <path d="M-13.896065,4.133968c1.138525-1.537403,3.954789-3.667533,5.786416-4.090532L269.27736,-0.25253c1.2856-.1104,3.455416.6378,4.702419,1.182852.711271.136211,2.752462,1.288418,4.094077,2.320819l15.762383,18.240293c.725694,1.643481,1.984194,5.0983.50292,6.415566-.062399,1.508562-4.395521,3.577307-6.313869,4.942037l-273.517219.340935c-2.51414.329053-6.835006.214535-8.641245-.845339C3.363165,30.9868,0.26769,28.005225,-1.165866,26.28169L-13.962908,12.658081c-1.717789-2.398348-1.500691-6.622367.066843-8.524113Z" transform="matrix(.599478-.800391 0.968921 0.725705 19.275977 223.814459)" />
                                    <path d="M-60.5,0c0-29.659974,27.086773-53.704133,60.5-53.704133s60.5,24.044159,60.5,53.704133-27.086773,53.704133-60.5,53.704133-60.5-24.044159-60.5-53.704133Z" transform="matrix(1 0 0 1.160339 179.221404 187.52801)" />
                                    <path d="M-60.5,0c0-29.659974,27.086773-53.704133,60.5-53.704133s60.5,24.044159,60.5,53.704133-27.086773,53.704133-60.5,53.704133-60.5-24.044159-60.5-53.704133Z" transform="matrix(1 0 0 1.160339 59.080222 62.937154)" />
                                    <path class="svg-detail" d="M-21.972519,0c0-12.013005,9.837432-21.751469,21.972519-21.751469s21.972519,9.738464,21.972519,21.751469-9.837432,21.751469-21.972519,21.751469-21.972519-9.738464-21.972519-21.751469Z" transform="matrix(.978495 0 0 0.988439 179.591659 187.630959)" fill="#fff"/>
                                    <path class="svg-detail" d="M-21.972519,0c0-12.013005,9.837432-21.751469,21.972519-21.751469s21.972519,9.738464,21.972519,21.751469-9.837432,21.751469-21.972519,21.751469-21.972519-9.738464-21.972519-21.751469Z" transform="matrix(.978495 0 0 0.988439 59.450477 63.040103)" fill="#fff" />
                                    <path d="M244.865019,266.135374L281.04952,164.49365l18.816522-.136755l36.757142,101.765384-21.467749.103405-24.36087-76.4671-11.910613,38.61926l29.715789-.092473l6.376978,16.334216-41.842915.816968-6.88232,20.477763-21.386465.221056Z" transform="translate(-1.044252-21.929311)" />
                                </svg>
                            </span>
                            <span class="pull-left mt3">@Resource.lblFuelSurcharge Auto</span>
                        </a>
                    </li>
                     <li id="200">
                         <a href="@Url.Action("Create", "FuelGroup", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblFuelSurcharge" data-parent="#navparent">
                             <span class="fa fas fa-flask mt7 fs14 pull-left"></span>
                             <span class="pull-left mt3">@Resource.lblFuelGroups</span>
                         </a>
                    </li>
                    <li id="160">
                        <a href="@Url.Action("Create", "AccessorialFees", new { area = "Supplier" })" class="overflow-h nav-link" title="Accessorial Fees" data-parent="#navparent">
                            <span class="text-center fa pull-left">
                                <svg style="width : 20px; fill : #616161;" viewBox="0 0 512 512">
                                    <path d="M0.08092,375.270914l128.362268-78.460786l156.906834.421037c40.078448,11.548741,38.876386,54.765194-1.112426,66.133768l65.701726.426635l126.273108-62.82906c37.246495.306799,41.091389,24.426316,28.456094,45.702212L394.29337,431.601851c-13.78969,14.021186-49.738396,25.083901-71.140237,24.144565h-169.011956L1.081881,512.227452L0.08092,375.270914Z" />
                                    <path d="M242.096379,247.068389v-50.876047l-24.746225.011098.170507-29.760652l47.426824-.862306c17.65308-7.514163,8.824253-23.370392-.862306-25.438024l-21.9888-.862306c-45.357389-13.864056-49.0846-72.767699.431153-86.230589l.431153-52.60066c-35.515956-.613557-86.173279,33.453823-99.165178,72.433695-16.384816,30.859963-14.664006,82.505911.431153,104.339014c18.318076,40.86801,67.984974,71.770688,97.871719,69.846777Z" />
                                    <path d="M272.708238,195.761189l.431153,51.3072c31.567502,1.481267,79.728508-29.32854,94.853648-65.535248c17.144358-27.254201,21.635653-81.771079,2.155763-109.944001-12.382656-38.88426-62.061285-71.286117-96.57826-70.709084l-.862306,51.307201l27.593789.431153v30.611859l-54.325272-.431153c-13.113974,6.929054-11.693934,19.97242-.862305,26.30033l21.9888.862306c46.95589,8.798297,54.313568,65.733383,5.60499,85.799437Z" transform="translate(.000002 0)" />
                                </svg>
                            </span>
                            <span class="pull-left mt3">Accessorial Fees </span>
                        </a>
                    </li>

                    if (CurrentUser.IsSupplier || CurrentUser.IsSupplierAdmin)
                    {
                        <li id="160">
                            <a href="@Url.Action("View", "Offer", new { area = "Supplier" })" data-page-code="@FeatureTypes.ManageOffer.ToString()" class="overflow-h nav-link feature-setting-@((int)CurrentUser.CompanyId)" title="@Resource.lblManageOffers" data-parent="#navparent">
                                <span class="fa fas fa-hand-holding-usd mt3 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblManageOffers</span>
                            </a>
                        </li>
                        @*<li id="189">
                            <a href="@Url.Action("View", "SelfServiceAlias", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblValueMapping" data-parent="#navparent">

                                <span class="fas fa fa-project-diagram mt3 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblValueMapping</span>
                            </a>
                        </li>*@
                        <li id="202">
                            <a href="@Url.Action("Manage", "Exception", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblManageExceptions" data-parent="#navparent">
                                <span class="fas fa fa-exclamation mt5 fs18 pull-left"></span>
                                @Resource.lblManageExceptions
                            </a>
                        </li>
                    }
                    if (CurrentUser.IsSupplier || CurrentUser.IsSupplierAdmin)
                    {
                        <li id="161">
                            <a href="@Url.Action("View", "Quote", new { area = "Supplier" })" data-page-code="@FeatureTypes.RequestForQuotes.ToString()" class="overflow-h nav-link feature-setting-@((int)CurrentUser.CompanyId)" title="@Resource.lblRequestForQuotes" data-parent="#navparent">
                                <span class="fas fa-clipboard-list fa mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblQuoteRequests</span>
                            </a>
                        </li>
                    }
                    <li id="162">
                        <a href="@Url.Action("RequestStatus", "ThirdPartyOrder", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblBulkUpload" data-parent="#navparent">
                            <span class="fa fa-upload mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblBulkUpload</span>
                        </a>
                    </li>
                    <li id="163">
                        <a id="lnkInvoices" href="@Url.Action("View", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblInvoiceDdtSummary" data-parent="#navparent">
                            <span class="fa fas fa-dollar mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblInvoiceDdtSummary</span>
                        </a>
                    </li>
                    @*<li id="164">
                        <a href="@Url.Action("DropTicketsView", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblDigitalDropTicketsDropTickets" data-parent="#navparent">
                            <span class="fa fa-money mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblDigitalDropTicketsDropTickets</span>
                        </a>
                    </li>*@
                    <li id="165">
                        <a href="@Url.Action("BolSummary", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblLnkBol" data-parent="#navparent">
                            <span class="fa fa-money mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblLnkBol</span>
                        </a>
                    </li>
                    <li id="164">
                        <a href="@Url.Action("Dashboard", "LiftFile", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblLiftFileDashboard" data-parent="#navparent">
                            <span class="fa fa-chart-line mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblLiftFileDashboard</span>
                        </a>
                    </li>
                    if (CurrentUser.IsSupplier || CurrentUser.IsSupplierAdmin)
                    {
                        <li id="167">
                            <a href="@Url.Action("View", "BillingSchedule", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.headingBillingStatements" data-parent="#navparent">
                                <span class="text-center fa pull-left mt-1">
                                    <svg style="width : 17px; fill : #616161;" viewBox="0 0 40 33">
                                        <path d="M4.335112,16.658417l.068149-6.574457C4.233282,8.639356,5.7358,7.218045,7.397274,7.23252l9.62361-.000001l5.735285,4.445776-5.877857,4.963977-12.5432.016145Z" transform="translate(-4.18389-7.232415)" />
                                        <path d="M4.260689,20.206574l14.257202.071286l9.053323-8.197891l13.116625-.142572c1.551824-.044102,3.170777,1.482072,2.994012,3.350441l.031123,20.249813c-.054036,2.492194-2.341259,4.730144-4.617361,4.504742L7.629438,39.902079c-1.435726-.013126-3.574528-.14472-3.525078-3.273286l.156329-16.422219Z" transform="translate(-4.10367-7.461929)" />
                                        <path class="svg-detail" d="M31.174949,17.982017q.011993,2.430203.011993,2.430203c0,0-4.351092.205506-4.228213,3.964396-.155986,1.547202,1.430117,3.118482,3.002164,3.57729c1.104871.305726,3.152495-.046399,3.843489.458242.989006.435359,1.095147,2.265488.065212,2.934513-.801636.465466-2.344301.656547-3.376206.340846-1.06-.46-1.892439-1.017491-2.574315-2.000195l-1.504137,1.143145c.922537,1.66458,2.675263,3.088815,4.59075,3.343316l-.034535,1.927104h1.893644l-.020897-1.927104c1.72399.060591,3.079752-1.569789,3.822213-2.615823.480899-.917781.576514-2.401244.171831-3.498034-.695861-1.32937-1.758252-1.973244-2.921123-2.128608-.768751-.23096-2.283281.214519-3.156073-.070135-.706258.04092-1.514898-.517842-1.540308-1.51296-.06298-.536743.499401-1.573837,1.255554-1.83504c1.013457-.350751,1.981566-.265209,2.70427.096581s1.554627.726584,2.317946,1.770653l1.294145-1.044093c-.761131-1.735978-3.187385-2.79352-3.841819-2.818804q0,0,.055314-2.57216l-1.830899.036667Z" transform="translate(-4.183887-7.232413)" fill="#fff"/>
                                    </svg>
                                </span>
                                <span class="pull-left mt3">@Resource.headingBillingStatements</span>
                            </a>
                        </li>
                    }
                    @*<li id="168">
                        <a href="@Url.Action("View", "BillingStatement", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.headingBillingStatements" data-parent="#navparent">
                            <span class="fa fas fa-list-ul mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.headingBillingStatements</span>
                        </a>
                    </li>*@
                    <li id="169">
                        <a href="@(Url.Action("BrokerSupplier", "Broker", new { area = "Supplier" }))" class="overflow-h nav-link" title="@Resource.lblBroker" data-parent="#navparent">
                            <span class="fa fa-link mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblBroker</span>
                        </a>
                    </li>
                    <li id="170">
                        <a href="@(Url.Action("Index", "Dispatch", new { area = "Supplier" }))" class="overflow-h nav-link" title="@Resource.lblDispatch" data-parent="#navparent">
                            <span class="fa fa-truck mt5 fs16 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblDispatch</span>
                        </a>
                    </li>
                    if (CurrentUser.IsSupplier || CurrentUser.IsSupplierAdmin || CurrentUser.IsDriver)
                    {
                        <li id="194">
                            <a href="@Url.Action("", "Location", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblTerminalsBulkPlants" data-parent="#navparent">
                                <span class="fa fa-map-marker-alt mt4 fs18 pull-left"></span>
                                <span class="pull-left mt1">@Resource.lblTerminalsBulkPlants</span>
                            </a>
                        </li>
                    }
                    <li id="171">
                        <a href="@(Url.Action("YourCustomers", "Dashboard", new { area = "Supplier" }))" class="overflow-h nav-link" title="@Resource.lblYourCustomers" data-parent="#navparent">
                            <span class="fa fa-users mt6 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblYourCustomers</span>
                        </a>
                    </li>
                    <li id="188">
                        <a href="@Url.Action("View", "Job", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblCustomerLocations" data-parent="#navparent">
                            <span class="fa text-center pull-left">
                                <svg style="width : 16px; fill : #616161;margin-top : 2px;" viewBox="0 0 72 83">
                                    <path d="M12.428438,18.309298c-.477231-2.583009,1.569262-6.015738,5.708203-6.219372l58.970797-.225538c2.696696.096121,6.222771,2.836185,6.714433,6.042989l.017606,58.357118c.300896,3.314801-2.62053,7.006319-5.929057,7.312504l-18.404288.158427-9.629111,9.770828c-.885654.830268-2.660462.951854-3.564641.002767L36.043208,83.621528l-18.308564-.043422c-2.556749-.097128-5.255666-3.244336-5.584583-6.08099l.278377-59.187818Z" transform="translate(-12.150061-11.864388)" />
                                    <path class="svg-detail" d="M-12.5,0c0-6.903559,5.596441-12.5,12.5-12.5s12.5,5.596441,12.5,12.5-5.596441,12.5-12.5,12.5-12.5-5.596441-12.5-12.5Z" transform="translate(35.893887 24.072166)" fill="#fff" />
                                    <path class="svg-detail" d="M24.36271,65.71865v6.151393h47.560775v-5.701291C69.173544,59.377021,56.64763,55.847182,48.368149,55.96644c-9.063196-.77958-21.532275,3.513575-24.005439,9.75221Z" transform="translate(-12.150063-11.86439)" fill="#fff" />
                                </svg>
                            </span>
                            <span class="pull-left mt1">@Resource.lblCustomerLocations</span>
                        </a>
                    </li>

                    if (CurrentUser.IsAccountingPerson || CurrentUser.IsSupplierAdmin)
                    {
                        <li id="172">
                            <a href="@Url.Action("Index", "QuickBooks", new { area = "Supplier" })" data-page-code="@FeatureTypes.QuickBooks.ToString()" class="overflow-h nav-link feature-setting-@((int)CurrentUser.CompanyId)" title="@Resource.lblQuickBooksLogs" data-parent="#navparent">
                                <span class="fa fas fa-calculator mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblQuickBooks</span>
                            </a>
                        </li>
                    }
                    <li id="173">
                        <a href="@(Url.Action("InvoiceReport", "Report", new { area = "Supplier" }))" class="overflow-h nav-link" title="@Resource.lblInvoiceReport" data-parent="#navparent">
                            <span class="fa fas fa-file-invoice-dollar mt6 fs18 pull-left"></span>
                            <span class="pull-left wsmt3">@Resource.lblInvoiceReport</span>
                        </a>
                    </li>
                    if (CurrentUser.CompanyTypeId == CompanyType.SupplierAndCarrier || CurrentUser.CompanyTypeId == CompanyType.BuyerSupplierAndCarrier || CurrentUser.CompanyTypeId == CompanyType.Supplier || CurrentUser.CompanyTypeId == CompanyType.BuyerAndSupplier || CurrentUser.CompanyTypeId == CompanyType.Carrier)
                    {
                        <li id="198">
                            <a href="@Url.Action("TPDAPIDashboard", "Home", new { area = "" })" data-page-code="@FeatureTypes.APIDashboard.ToString()" class="overflow-h nav-link feature-setting-@((int)CurrentUser.CompanyId)" title="@Resource.lblApiDashboard" data-parent="#navparent">
                                <span class="fa fa-money mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblApiDashboard</span>
                            </a>
                        </li>
                    }

                }
                else if (CurrentUser.IsCarrierCompany)
                {
                    <li id="187">
                        <a onclick="OpenWindow();" class="overflow-h nav-link" title="@Resource.lblDispatcherDashboard" data-parent="#navparent">
                            <span class="fas fa fa-user-clock mt2 fs18 pull-left"></span>
                            @Resource.lblDispatcherDashboard
                        </a>
                    </li>
                    <li id="174">
                        <a href="@Url.Action("View", "Tractor", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblTrailerTractor" data-parent="#navparent">
                            <span class="text-center pull-left fa"><img src="~/Content/images/tractor.png" width="30" /></span>
                            @Resource.lblTrailerTractor
                        </a>
                    </li>
                    <li id="186">
                        <a href="@Url.Action("Index", "Dashboard", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblScheduleBuilder" data-parent="#navparent">
                            <span class="fas fa fa-clock mt2 fs18 pull-left"></span>
                            @Resource.lblScheduleBuilder
                        </a>
                    </li>
                    <li id="203">
                        <a href="@Url.Action("Manage", "Exception", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblManageExceptions" data-parent="#navparent">
                            <span class="fas fa-exclamation mt5 fs18 pull-left"></span>
                            @Resource.lblManageExceptions
                        </a>
                    </li>
                    @*if (CurrentUser.IsCarrierAdmin || CurrentUser.IsDispatcher)
                    {
                        <li id="190">
                            <a href="@Url.Action("View", "SelfServiceAlias", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblValueMapping" data-parent="#navparent">
                                <span class="fas fa fa-project-diagram mt5 fs18 pull-left"></span>
                                @Resource.lblValueMapping
                            </a>
                        </li>
                    }*@
                    if (CurrentUser.CompanyTypeId == CompanyType.SupplierAndCarrier || CurrentUser.CompanyTypeId == CompanyType.BuyerSupplierAndCarrier || CurrentUser.CompanyTypeId == CompanyType.Supplier || CurrentUser.CompanyTypeId == CompanyType.BuyerAndSupplier || CurrentUser.CompanyTypeId == CompanyType.Carrier)
                    {
                        <li id="198">
                            <a href="@Url.Action("TPDAPIDashboard", "Home", new { area = "" })" class="overflow-h nav-link" title="@Resource.lblApiDashboard" data-parent="#navparent">
                                <span class="fa fa-money mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblApiDashboard</span>
                            </a>
                        </li>
                    }
                    if (CurrentUser.CompanyTypeId == CompanyType.Carrier)
                    {
                        <li id="195">
                            <a href="@Url.Action("View", "Order", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblOrders" data-parent="#navparent">
                                <span class="fas fa-file-text mt2 fs18 pull-left"></span>
                                @Resource.lblOrders
                            </a>
                        </li>

                        <li id="192">
                            <a href="@Url.Action("RequestStatus", "ThirdPartyOrder", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblBulkUpload" data-parent="#navparent">
                                <span class="fa fa-upload mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblBulkUpload</span>
                            </a>
                        </li>
                        <li id="191">
                            <a id="lnkInvoices" href="@Url.Action("View", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblInvoiceDdtSummary" data-parent="#navparent">
                                <span class="fa fas fa-dollar mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblInvoiceDdtSummary</span>
                            </a>
                        </li>
                    }
                    if (CurrentUser.CompanyTypeId == CompanyType.SupplierAndCarrier || CurrentUser.CompanyTypeId == CompanyType.BuyerSupplierAndCarrier)
                    {
                        <li id="175">
                            <a href="@Url.Action("View", "Order", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblOrders" data-parent="#navparent">
                                <span class="fa fa-file-text mt3 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblOrders</span>
                            </a>
                        </li>
                        <li id="176">
                            <a href="@Url.Action("View", "OrderGroup", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblGroupSummery" data-parent="#navparent">
                                <span class="fas fa fa-layer-group mt6 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblOrderGroups</span>
                            </a>
                        </li>
                        <li id="177">
                            <a href="@Url.Action("Create", "FuelSurcharge", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblFuelSurcharge" data-parent="#navparent">
                                <span class="fa fas fa-percent mt7 fs14 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblFuelSurcharge</span>
                            </a>
                        </li>
                    }
                    <li id="178">
                        <a href="@(Url.Action("Index", "Dispatch", new { area = "Supplier" }))" class="overflow-h nav-link" title="@Resource.lblDispatch" data-parent="#navparent">
                            <span class="fa fa-truck mt5 fs16 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblDispatch</span>
                        </a>
                    </li>
                    if (CurrentUser.CompanyTypeId == CompanyType.SupplierAndCarrier || CurrentUser.CompanyTypeId == CompanyType.BuyerSupplierAndCarrier)
                    {
                        <li id="179">
                            <a href="@Url.Action("RequestStatus", "ThirdPartyOrder", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblBulkUpload" data-parent="#navparent">
                                <span class="fa fa-upload mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblBulkUpload</span>
                            </a>
                        </li>
                        <li id="180">
                            <a id="lnkInvoices" href="@Url.Action("View", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblInvoiceDdtSummary" data-parent="#navparent">
                                <span class="fa fas fa-dollar mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblInvoiceDdtSummary</span>
                            </a>
                        </li>
                        @*<li id="181">
                            <a href="@Url.Action("DropTicketsView", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblDigitalDropTicketsDropTickets" data-parent="#navparent">
                                <span class="fa fa-money mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblDigitalDropTicketsDropTickets</span>
                            </a>
                        </li>*@
                        <li id="182">
                            <a href="@Url.Action("BolSummary", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblLnkBol" data-parent="#navparent">
                                <span class="fa fa-money mt5 fs18 pull-left"></span>
                                <span class="pull-left mt3">@Resource.lblLnkBol</span>
                            </a>
                        </li>

                    }
                }
                else if (CurrentUser.IsSalesUser)
                {
                    <li id="157">
                        <a href="@Url.Action("View", "Order", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblOrders" data-parent="#navparent">
                            <span class="fa fa-file-text mt3 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblOrders</span>
                        </a>
                    </li>
                    <li id="163">
                        <a id="lnkInvoices" href="@Url.Action("View", "Invoice", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblInvoiceDdtSummary" data-parent="#navparent">
                            <span class="fa fas fa-dollar mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblInvoiceDdtSummary</span>
                        </a>
                    </li>
                    <li id="203">
                        <a href="@Url.Action("Index", "SourcingRequest", new { area = "SalesUser" })" class="overflow-h nav-link" title="@Resource.btnLabelSourceRequest" data-parent="#navparent">
                            <span class=" fa fa-tint float-left mr5 fs18 mt5"></span>
                            <span class="pull-left mt3">@Resource.btnLabelSourceRequest</span>
                        </a>
                    </li>
                    <li id="188">
                        <a href="@Url.Action("View", "Job", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblCustomerLocations" data-parent="#navparent">
                            <span class="fa fa-map-marker-alt mt4 fs18 pull-left"></span>
                            <span class="pull-left mt1">@Resource.lblCustomerLocations</span>
                        </a>
                    </li>
                }
                if (!CurrentUser.IsSalesUser)
                {
                    <li id="183">
                        <a href="@(Url.Action("Messages", "Mailbox", new { area = "Messages" }))" data-page-code="@FeatureTypes.Messages.ToString()" class="overflow-h nav-link feature-setting-@((int)CurrentUser.CompanyId)" title="@Resource.lblMessages" data-parent="#navparent">
                            <span class="fa fa-envelope mt5 fs18 pull-left"></span>
                            <span class="pull-left mt3">@Resource.lblMessages</span>
                        </a>
                    </li>
                }

            }

            if ((CurrentUser.IsBuyer || CurrentUser.IsBuyerAdmin || CurrentUser.IsBuyerCompany || CurrentUser.IsSupplier ||
                CurrentUser.IsSupplierAdmin || CurrentUser.IsSupplierCompany || CurrentUser.IsCarrier || CurrentUser.IsCarrierCompany || CurrentUser.IsCarrierAdmin || CurrentUser.IsDispatcher) && !CurrentUser.IsDriver && !CurrentUser.IsSalesUser)
            {
                <li id="196">
                    <a href="@Url.Action("View", "SelfServiceAlias", new { area = "Carrier" })" class="overflow-h nav-link" title="@Resource.lblValueMapping" data-parent="#navparent">
                        <span class="fas fa fa-project-diagram mt3 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblValueMapping</span>
                    </a>
                </li>
            }
            if (CurrentUser.IsCarrier || CurrentUser.IsCarrierCompany || CurrentUser.IsCarrierAdmin)
            {
                <li id="197">
                    <a href="@Url.Action("", "Location", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblTerminalsBulkPlants" data-parent="#navparent">
                        <span class="fa fa-map-marker-alt mt4 fs18 pull-left"></span>
                        <span class="pull-left mt1">@Resource.lblTerminalsBulkPlants</span>
                    </a>
                </li>

            }
            if (CurrentUser.IsSuperAdmin)
            {
                <li id="196">
                    <a href="@Url.Action("MarinePortsAndVessels", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h nav-link" title="@Resource.lblMarinePortsVessels" data-parent="#navparent">
                        <span class="fas fa-ship mt3 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblMarinePortsVessels</span>
                    </a>
                </li>
            }
            if (CurrentUser.IsSupplierAdmin || CurrentUser.IsSupplierCompany || CurrentUser.IsSupplier)
            {
                <li id="196">
                    <a href="@Url.Action("MarinePortsAndVessels", "Job", new { area = "Supplier" })" class="overflow-h nav-link" title="@Resource.lblMarinePortsVessels" data-parent="#navparent">
                        <span class="fas fa-ship mt3 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblMarinePortsVessels</span>
                    </a>
                </li>
            }
            if (CurrentUser.IsSuperAdmin)
            {
                <li id="198">
                    <a href="@Url.Action("CreateTerminals", "SuperAdmin", new { area = "SuperAdmin" })" class="overflow-h nav-link" title="@Resource.lblTerminals" data-parent="#navparent">
                        <span class="fas fa-ship mt3 fs18 pull-left"></span>
                        <span class="pull-left mt3">@Resource.lblTerminals</span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>
<script type="text/javascript">
    var area = "";
    var True = true;
    var False = false;
    var btnShow = '<li id="show" class="text-right"><span class="fs12 pr20" style="cursor: pointer!important;width:20px !important" onclick="showLinks(true);"><i class="fa fa-chevron-circle-down"></i>Show</span></li>';
    var btnHide = '<li id="hide" class="py-2 text-right sticky-bottom"><span class="fs12 pr20" style="cursor: pointer!important;width:20px !important" onclick="showLinks(false);"><i class="fa fa-chevron-circle-up"></i>Hide</span></li>';
    var featureSettingStorageKey = "@string.Format(ApplicationConstants.FeatureSettingStorageKey, CurrentUser.CompanyId)";
    $(document).ready(function () {
        if (!@CurrentUser.IsSuperAdmin) {
            getFavoriteSideMenu();
            setFeatureSetting();
        }
    });

    function showLinks(show) {
        event.preventDefault();
        event.stopPropagation();

        $("#hide").remove();
        $("#show").remove();

        if (show) {

            $("#navparent li").each(function () {
                var elem = $(this);
                var cid = $(this).get(0).id;
                if (cid.indexOf("999") == -1 && cid.indexOf("close") == -1) { elem.show(); }
            });

            $(btnHide).appendTo("#navparent");
        }
        else {

            $("#navparent li").each(function (index) {
                var elem = $(this);
                var cid = $(this).get(0).id;
                if (cid.indexOf("999") == -1 && cid.indexOf("close") == -1) { elem.hide(); }
            });
            $(btnShow).appendTo("#navparent");
        }
    }

    function sortSideMenu() {

        $("#hide").remove();
        $("#show").remove();
        var favCount = 0;

        $("#navparent li").sort(function (a, b) {
            return parseInt(b.id) - parseInt(a.id);
        }).each(function (index) {
            var elem = $(this);
            var cid = $(this).get(0).id;

            //if link marked as favorite
            if (cid.indexOf("999") >= 0) {
                //add active class
                $(elem).find("a").find("i").addClass("active");
                $(elem).find("a").find("i").attr("title", "Remove Favourite");
                //arrange element position
                elem.remove();
                //$(elem).appendTo("#navparent");
                $(elem).insertAfter("#close");
                favCount++;
            }
            else if (cid.indexOf("close") == -1) {
                elem.hide();
            }
            });

        if (favCount == 0) {
            $("#navparent li").each(function () {
                var elem = $(this);
                var cid = $(this).get(0).id;
                if (cid.indexOf("999") == -1 && cid.indexOf("close") == -1) { elem.show(); }
            });
        }
        else {
            $(btnShow).appendTo("#navparent");
        }
    }

    function favoriteClicked(el) {
        event.preventDefault();
        event.stopPropagation();

        var favoriteSideMenu;

        var _id = $(el).parent().parent().attr("id");
        var alreadyFavorite = _id.indexOf("999") >= 0;
        //marked as unfavorite
        if (alreadyFavorite) {
            favoriteSideMenu = { LinkId: _id.slice(0, -3), IsFavorite: true };
            $("#" + _id).attr("id", _id.slice(0, -3).toString());
        }
        //marked as favorite
        else {
            favoriteSideMenu = { LinkId: _id, IsFavorite: false };
        }

        $('#prefLoaderEle').show();
        var url = '@Url.Action("UpdateFavoriteSideMenu")';
        $.post(url, {favoriteSideMenu: favoriteSideMenu}, function (data) {
            if (data.StatusCode == 0) { msgsuccess(data.StatusMessage); }
            else if (data.StatusCode == 1) { msgerror(data.StatusMessage); }
            else { msgwarning(data.StatusMessage); }
        }).always(function () {
            getFavoriteSideMenu();
            $('#prefLoaderEle').hide();
        });
    }

    function getFavoriteSideMenu() {
        //add star button icon if not available
        $("#navparent li").each(function () {
            var elem = $(this);
            $(elem).find("a").find("i").remove()
            $(elem).find("a").append('<i class="fa fa-star fav-icon" onclick="favoriteClicked(this)" title="@Resource.lblMakeFavourite"></i>');
        });

        var url = '@Url.Action("GetFavoriteSideMenu")';

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        //mark element as favorite
                        $('#' + data[i].LinkId).attr("id", (data[i].LinkId + 999));
                        //if last loop then arrange links
                        if (i == data.length - 1) {
                            sortSideMenu();
                        }
                    }
                }
                else {
                    sortSideMenu();
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR);
                console.log(exception);
            },
        });
    }
    function OpenWindow() {
        var url = '@Url.Action("Index", "Dashboard", new { area = "Dispatcher" })';
        var changeDeteaction = JSON.parse(localStorage.getItem("windowMode"));
        if (changeDeteaction == null) {
            window.open(url, "_self");
        }
        else {
            if (changeDeteaction == 2) {
                var pageUrl = window.location.href.toLowerCase();
                if (pageUrl.indexOf("carrier/schedulebuilder") > -1 || pageUrl.indexOf("carrier/dashboard") > -1) {
                    window.open(url, "_blank");
                }
                else {
                    window.open(url, "_self");
                }
            }
            else {
                window.open(url, "_self");
            }
        }
    }

    function setFeatureSetting() {
        //var featureCookie = $.cookie(featureSettingStorageKey); //featureCookie == 'expired'
        var featureSettingJson = localStorage.getItem(featureSettingStorageKey);
        if (featureSettingJson == null || featureSettingJson == undefined || featureSettingJson == '') {
            var url = '@Url.Action("GetFeatures", "Profile", new { area = "Settings" })';
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    if (data.length > 0) {
                        var expiry = new Date();
                        expiry.setFullYear(expiry.getFullYear() + 1);
                        var JsonData = JSON.stringify(data);
                        localStorage.setItem(featureSettingStorageKey, JsonData);
                        //$.cookie(featureSettingStorageKey, cookieData, { path: '/', expires: expiry });
                        applyFeatureSetting();
                    }
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR);
                    console.log(exception);
                },
            });
        }
        else {
            applyFeatureSetting();
        }
    }

    function applyFeatureSetting() {
        //var featureCookie = $.cookie(featureSettingStorageKey);
        var featureSettingJson = localStorage.getItem(featureSettingStorageKey);
        if (featureSettingJson != undefined && featureSettingJson != null && featureSettingJson != '') {
            var featureSettingArr = jQuery.parseJSON(featureSettingJson);
            if (featureSettingArr != null && featureSettingArr.length > 0) {
                var features = $('.feature-setting-@((int)CurrentUser.CompanyId)');
                $.each(features, function (index, feature) {
                    var pageCode = $(feature).attr('data-page-code');
                    if (pageCode != undefined && pageCode != null && pageCode != '') {
                        var obj = $.grep(featureSettingArr, function (item) {
                            return item.Code == pageCode && item.CompanyType == @((int)CurrentUser.CompanyTypeId) && item.IsEnabled == false;
                        });

                        if (obj.length > 0) {
                            $(feature).closest('li').addClass('hide-element-important');
                        }
                        else{
                            $(feature).closest('li').removeClass('hide-element-important')
                        }
                    }
                });
            }
        }
    }

    function getCookieValue(name) {
        cookieList = document.cookie.split('; ');
        cookies = {};
        for (i = cookieList.length - 1; i >= 0; i--) {
            cookie = cookieList[i].split('=');
            cookies[cookie[0]] = cookie[1];
        }
        return cookies[name];
    }

    function deleteCookie(cookieName) {
        var d = new Date();
        d.setTime(d.getTime());
        var cookieExpireDate = "expires=" + d.toString();
        document.cookie = cookieName + "=expired;" + cookieExpireDate;
    }
    (function(){
        let url = window.location.href;
        if (url.includes('Offer/View')) {
            $('#141').addClass('active');
        } else {
            $('#141').removeClass('active');
        }
    })()
</script>