@if (CurrentUser.IsBuyerAndSupplierCompany && (CurrentUser.IsBuyerAdmin || CurrentUser.IsSupplierAdmin || CurrentUser.IsAccountingPerson || CurrentUser.IsReportingPerson))
{
    <div class="mt3 ml-4 mr15 pull-left" id="auto-usertype">
        <div class="btn-group mt7" id="auto-btnbuyersupplier">
            @if (CurrentUser.IsBuyerCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelBuyer</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            @if (CurrentUser.IsSupplierCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle text-right btn-user" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelSupplier</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            <ul class="dropdown-menu dropdown-menuxs mt20">
                @if (CurrentUser.IsSupplierCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelBuyer, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Buyer }, new { })
                    </li>
                }
                @if (CurrentUser.IsBuyerCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelSupplier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Supplier }, new { })
                    </li>
                }
            </ul>
        </div>
    </div>
}
else if (CurrentUser.IsSupplierAndCarrierCompany && (CurrentUser.IsSupplierAdmin || CurrentUser.IsCarrierAdmin || CurrentUser.IsAccountingPerson || CurrentUser.IsReportingPerson))
{
    <div class="mt3 ml-4 mr15 pull-left" id="auto-usertype">
        <div class="btn-group mt7" id="auto-btnbuyersupplier">
            @if (CurrentUser.IsSupplierCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelSupplier</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            @if (CurrentUser.IsCarrierCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle text-right btn-user" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelCarrier</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            <ul class="dropdown-menu dropdown-menuxs mt20">
                @if (CurrentUser.IsSupplierCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelCarrier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Carrier }, new { })
                    </li>
                }
                @if (CurrentUser.IsCarrierCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelSupplier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Supplier }, new { })
                    </li>
                }
            </ul>
        </div>
    </div>
}
else if (CurrentUser.IsBuyerSupplierAndCarrierCompany && (CurrentUser.IsBuyerAdmin || CurrentUser.IsSupplierAdmin || CurrentUser.IsCarrierAdmin || CurrentUser.IsAccountingPerson || CurrentUser.IsReportingPerson))
{
    <div class="mt3 ml-4 mr15 pull-left" id="auto-usertype">
        <div class="btn-group mt7" id="auto-btnbuyersupplier">
            @if (CurrentUser.IsBuyerCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelBuyer</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            @if (CurrentUser.IsSupplierCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle text-right btn-user" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelSupplier</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            @if (CurrentUser.IsCarrierCompany)
            {
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle text-right btn-user" aria-expanded="false">
                    <span class="pull-left fs13">@Resource.btnLabelCarrier</span>
                    @*<i class="fa fa-angle-down pull-left ml5 fs14 mt4"></i>*@
                </button>
            }
            <ul class="dropdown-menu dropdown-menuxs mt20">
                @if (CurrentUser.IsBuyerCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelSupplier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Supplier }, new { })
                    </li>
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelCarrier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Carrier }, new { })
                    </li>
                }
                @if (CurrentUser.IsSupplierCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelBuyer, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Buyer }, new { })
                    </li>
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelCarrier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Carrier }, new { })
                    </li>
                }
                @if (CurrentUser.IsCarrierCompany)
                {
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelBuyer, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Buyer }, new { })
                    </li>
                    <li class="dropdown-item">
                        <img src="~/Content/images/ico-droparrow.png" class="left-droparrow pa" />
                        @Html.ActionLink(Resource.btnLabelSupplier, "ChangeCompanyType", "Account", new { area = "", companyType = CompanyType.Supplier }, new { })
                    </li>
                }
            </ul>
        </div>
    </div>
}