@model HaulerPricingMatrixViewModel
@using (Html.BeginCollectionItem("HaulerPricingMatrices"))
{
    <div class="row partial-block">
        <div class="col-xs-6 col-sm-3">
            <div class="form-group mb5">
                @Html.TextBoxFor(m => m.MinGallons, new { @class = "form-control min-quantity always-readonly", placeholder = @Html.DisplayNameFor(m => m.MinGallons), @readonly = "true" })
            </div>
            @Html.ValidationMessageFor(m => m.MinGallons)
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group mb5">
                @Html.TextBoxFor(m => m.MaxGallons, new { @class = "form-control max-quantity always datatype-decimal" })
            </div>
            @Html.ValidationMessageFor(m => m.MaxGallons)
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="input-group byQuantityInput dit hide-element">
                <span class="input-group-addon">@Resource.constSymbolCurrency</span>
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control always datatype-decimal", placeholder = @Html.DisplayNameFor(m => m.Price) })
            </div>
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div class="col-xs-6 col-sm-3 fs18">
            <a href="javascript:void(0)" class="fa fa-trash-alt mt10 ml5 color-maroon remove-partial-block" title="@Resource.btnLabelRemove" onclick="enableLastButton(this);removePartial(this);"></a>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CompanyId)
        @Html.HiddenFor(m => m.IsActive)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreatedDate)
    </div>
}