@model TierPricingViewModel

    <div class="row mt10">
        <div class="col-sm-12 col-12 mb10">
            @*<label class="f-normal">@Resource.lblTier</label>*@
            <div>
                <table class="table table-hover mb0 details-table" id="auto-TierPricing">
                    <thead>
                        <tr>
                            <th>@Resource.lblFrom</th>
                            <th>@Resource.lblUpto</th>
                            @*<th>@Resource.lblPriceType</th>*@
                            @*<th>@(string.Format(Resource.lblRackPP, Model.FuelDetails.FuelPricing.Currency == Currency.USD ? "PPG" : "PPL"))</th>*@
                            <th>PPU</th>
                            <th>@Resource.lblCityGroupTerminal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Pricings.Count > 0)
                        {
                            foreach (var fuelPrice in Model.Pricings)
                            {
                                <tr>
                                    <td>@fuelPrice.FromQuantity.GetPreciseValue(4)</td>
                                    <td>@(fuelPrice.ToQuantity == 0 ? Resource.lblHyphen : fuelPrice.ToQuantity.GetCommaSeperatedValue())</td>
                                    <td>@(fuelPrice.DisplayPrice)</td>
                                    <td>@(fuelPrice.CityGroupTerminalName==null ? "--": fuelPrice.CityGroupTerminalName)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2"> @Resource.lblNoDifferentFuelPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="cumulation-frequency">
        @if (!string.IsNullOrWhiteSpace(Model.DisplayCumulationFrequency))
        {
           <lable class="d-block">@Resource.lblCumulationFrequency  </lable>
           <lable class="d-block">@Model.DisplayCumulationFrequency</lable>                     
        }
    </div>

