@model SplitLoadAddressViewModel

@using (Html.BeginCollectionItem(Model.CollectionHtmlPrefix + "SplitLoadAddresses"))
{
	<div class="partial-block splitload-address">
        <div class="overflow-h bg-lightgrey pt20 pb5 radius-5 mb15">
            <div class="col-sm-12">
                    <!-- address starts -->
                    @Html.HiddenFor(m => m.Id)
                    <div class="row">
                        <div class="col-md-12 address-container">
                            <div class="pa bg-white top0 left0 z-index5 loading-wrapper hide-element"><span class='spinner-dashboard pa'></span></div>
                            <a href="javascript:void(0)" class="pa right0 color-maroon mtm10 mr15" id="removeLocation_@Model.Id" title="@Resource.btnLabelRemove" onclick="removePartial(this);"><i class="fa fa-times fs21"></i></a>
                            <div class="address-controls @(Model.Id > 0 ? " pntr-none subSectionOpacity" : "")">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SiteName)
                                            @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.SiteName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
										<div class="radio">
											<label class="radio-inline">
												@Html.RadioButtonFor(m => m.IsGeocodeUsed, false, new { onclick = "showHideGeoControls(this,'wrapper-location','wrapper-geo')" })
												@Resource.lblLocation
											</label>
											<label class="radio-inline">
												@Html.RadioButtonFor(m => m.IsGeocodeUsed, true, new { onclick = "showHideGeoControls(this,'wrapper-geo','wrapper-location');" })
												@Resource.lblGeoLocation
											</label>
										</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="wrapper-location col-sm-12">
                                        <div class="combineDiv">
                                            <div class="various-required-fields row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Address)
                                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control address addressInput" })
                                                        @Html.ValidationMessageFor(m => m.Address)
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ZipCode)
                                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control zipcode addressInput" })
                                                        @Html.ValidationMessageFor(m => m.ZipCode)
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.City)
                                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control city addressInput" })
                                                        @Html.ValidationMessageFor(m => m.City)
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.CountyName)
                                                        @Html.TextBoxFor(m => m.CountyName, new { @class = "form-control county addressInput" })
                                                        @Html.ValidationMessageFor(m => m.CountyName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        @Html.HiddenFor(m => m.StateCode, new { @Value = Model.StateCode ?? Resource.lblDummy, @class = "statecode" })
                                                        @Html.LabelFor(m => m.StateId)
                                                        @Html.DropDownListFor(m => m.StateId, new SelectList(CommonHelperMethods.GetStatesOfAllCountries(Model.CountryId), "StateId", "StateName", Model.StateId), string.Format(Resource.valMessageSelect, Resource.lblState), new { @class = "form-control state addressInput" })
                                                        @Html.ValidationMessageFor(m => m.StateId)
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 hide-element">
                                                    <div class="form-group">
                                                        @Html.HiddenFor(m => m.CountryCode, new { @Value = Model.CountryCode ?? Resource.lblDummy, @class = "countrycode" })
                                                        @Html.LabelFor(m => m.CountryId)
                                                        @Html.DropDownListFor(m => m.CountryId, new SelectList(CommonHelperMethods.GetCountriesEx(), "Id", "Code", Model.CountryId), new { @class = "form-control country addressInput" })
                                                        @Html.ValidationMessageFor(m => m.CountryId)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-geo hide-element">
                                        <div class="col-md-12 combineDiv">
                                            <div class="combineDiv">
                                                <div class="row geoCntrls">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.Latitude)
                                                            @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control datatype-decimal mask-decimal lat geoInput" })
                                                            @Html.ValidationMessageFor(m => m.Latitude)
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.Longitude)
                                                            @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control datatype-decimal mask-decimal long geoInput" })
                                                            @Html.ValidationMessageFor(m => m.Longitude)
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 hide-element">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.TimeZoneName)
                                                            @Html.TextBoxFor(m => m.TimeZoneName, new { @class = "form-control timeZoneName defaultDisabled", @readonly = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- address ends -->
            </div>
        </div>
	</div>
}
