@model InvoicePdfViewModel

<style type="text/css">
    * {
        margin: 0 auto;
    }

    td, th {
        padding: 0;
    }

    .mh0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .content {
        width: 100%;
        max-width: 100%;
    }

    .content1 {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: solid 2px #979797;
    }

    .img-logo {
        max-height: 100px;
    }

    .txt1 {
        font-size: 12px;
        line-height: 20px;
        text-align: left !important;
        vertical-align: top;
    }

    .txt2 {
        font-size: 12px;
        font-weight: normal;
        text-align: right !important;
        padding-right: 10px;
        vertical-align: top;
    }

    .txt3 {
        font-size: 12px;
        line-height: 20px;
        padding-left: 10px;
        text-align: left !important;
    }

    .txt_rig {
        text-align: right !important;
        padding-right: 10px;
    }

    .txt4 {
        font-size: 13px;
        line-height: 20px;
        text-align: right !important;
        padding-right: 10px;
    }

    .border {
        background: #273679;
        height: 10px;
        margin-bottom: 0;
        width: 98%;
    }

    table tr th {
        color: #1a3a92;
        font-size: 13px;
        font-weight: bold;
    }

    .thead {
        text-align: left;
        padding-left: 10px;
    }

    .border-top-blue, .border-top-blue > td, .border-top-blue > th {
        border-top: 2px solid #273679;
    }

    .condition {
        font-size: 10px;
        line-height: 20px;
        text-align: left !important;
        padding-right: 35px;
    }

    .total {
        font-size: 13px;
        border: 2px solid #273679;
        border-right: 0px;
    }

    .full-border {
        font-size: 13px;
        border: 2px solid #273679;
    }

    .note {
        font-size: 13px;
        border: 2px solid #273679;
        padding: 10px;
    }

    .t_left {
        text-align: left !important;
    }

    .t_right {
        text-align: right !important;
        padding-right: 10px;
    }

    .t_italic {
        font-style: italic;
    }

    .content1 tr td:empty {
        display: none;
    }

    .pr-10 {
        padding-right: 10px;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .pr-5 {
        padding-right: 5px;
    }

    .pl-5 {
        padding-left: 5px;
    }

    .pt-5 {
        padding-top: 5px;
    }

    .pb-5 {
        padding-bottom: 5px;
    }

    .pl-25 {
        padding-left: 25px;
    }

    .pr-0 {
        padding-right: 0px
    }

    .pl-0 {
        padding-left: 0px
    }

    th {
        height: 30px;
    }

    .border-top-blue3 {
        border-top: 3px solid #244397;
    }

    .border-top-gray,
    .border-top-gray > td {
        border-top: 2px solid #d3d3d3;
    }

    .border-all-blue {
        border: 2px solid #244397;
    }

    .po-description {
        width: 98%;
    }

    .po-description td {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .po-innertable {
        width: 100%;
    }

    .po-logo {
        max-height: 100px;
    }

    .pt10 {
        padding-top: 10px;
    }

    .pb10 {
        padding-bottom: 10px;
    }

    .label-primary,
    .badge-primary {
        background-color: #1ab394;
        color: #FFFFFF;
        border-radius: .25em;
        padding: .2em .6em .3em;
    }

    .label-danger,
    .badge-danger {
        background-color: #ed5565;
        color: #FFFFFF;
        border-radius: .25em;
        padding: .2em .6em .3em;
    }

    .border-top-lightgray > td {
        border-top: 1px solid #e7e3e3;
    }

    .no-border tr:last-child td {
        border-bottom: 0px;
    }

    .font-extrabold {
        font-weight: 600
    }

    .{
        color: #1a3a92 !important
    }

    .tbl-additionalfee tr:first-child td {
        border-top: none;
    }

    .font-bold {
        font-weight: bold;
    }

    .fs13 {
        font-size: 13px;
    }
</style>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" font-family: Arial,'Open Sans';font-weight: 400;color: #5a5a5a;font-size:12px;">
    <tr>
        <td>
            <table bgcolor="#ffffff" class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <table class="content1" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="3" align="center" style="padding:10px 0 50px 0;">
                                    @if (Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketManual || Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketMobileApp)
                                    {
                                        <h2>@Resource.tabheadingDropTicket @Model.Invoice.InvoiceNumber.Number</h2>
                                    }
                                    else
                                    {
                                        <h2>@Resource.tabheadingInvoice @Model.Invoice.InvoiceNumber.Number</h2>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="pl-10" style="padding-top:20px;">
                                    <table border="0" width="98%">
                                        <tr>
                                            <th class="txt1">@Resource.lblShippedTo:</th>
                                        </tr>
                                        <tr>
                                            <td class="txt1">
                                                @Model.FuelRequest.Job.Name<br>
                                                @Model.ShippingLocation.Address<br>
                                                @Model.ShippingLocation.City, @Model.ShippingLocation.StateCode @Model.ShippingLocation.ZipCode
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td class="pr-10">
                                    <table align="right" class="mh0">
                                        <tr>
                                            <td class="t_right txt1">
                                                @if (Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketManual || Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketMobileApp)
                                                {
                                                    <span>
                                                        @Resource.lblDropTicketDate :
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        @Resource.lblInvoiceDate :
                                                    </span>
                                                }
                                            </td>
                                            <td align="left" class="t_left txt1">
                                                @Model.Invoice.CreatedDate.ToString(Resource.constFormatDate)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t_right txt1">@Resource.lblPaymentTerms : </td>
                                            <td align="left" class="t_left txt1">
                                                @(CommonHelperMethods.GetName<PaymentTerms>(Model.PaymentTermId))
                                                @if (Model.PaymentTermId == (int)PaymentTerms.NetDays)
                                                {
                                                    <span>@Model.NetDays</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr><td class="t_right txt1">@Resource.lblContractNumber : </td><td align="left" class="t_left txt1"> @Model.FuelRequest.Job.ContractNumber</td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding-top:20px;"> <div class="border"></div></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table border="0" width="98%" cellpadding="0" cellspacing="0" class="po-description">
                                        <tr class="border-bottom-blue">
                                            <th width="33%" class="t_left">@Resource.lblDescription/@Resource.lblFuelType</th>
                                            <th width="22%" class="t_left pl-10">@Resource.gridColumnDeliveryDateAndTime</th>
                                            <th class="txt_rig" width="15%">@Resource.lblQuantity</th>
                                        </tr>
                                            <tr class="font-extrabold border-top-blue">
                                                <td class="txt3">@Model.FuelRequest.FuelDetails.FuelType<br /><i>@Resource.lblTerminal: @Model.TerminalName</i></td>
                                                <td class="txt3" valign="top">@Model.Invoice.DropEndDate.ToString(Resource.constFormatDate) @(Model.Invoice.DropStartDate.DateTime.ToShortTimeString()) - @(Model.Invoice.DropEndDate.DateTime.ToShortTimeString())</td>
                                                <td class="txt3 txt_rig" valign="top">@Model.Invoice.DroppedGallons.GetCommaSeperatedValue()</td>
                                            </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>