<div id="mapLegend">
    <div id="status-legends" class="well pa0">
        <div class="border-b">
            <a onclick="updateDriverStatus(this)" class="db pl5 pr5 pt8 pb5 radius-10 no-b-radius">
                <img src="" data-statusId="@((int)EnrouteDeliveryStatus.OnTheWayToTerminal)" />
                @(EnrouteDeliveryStatus.OnTheWayToTerminal.GetDisplayName())
            </a>
        </div>
        <div class="border-b">
            <a onclick="updateDriverStatus(this)" class="db pa5">
                <img src="" data-statusId="@((int)EnrouteDeliveryStatus.ArrivedAtTerminal)" />
                @EnrouteDeliveryStatus.ArrivedAtTerminal.GetDisplayName()
            </a>
        </div>
        <div class="border-b">
            <a onclick="updateDriverStatus(this)" class="db pa5">
                <img src="" data-statusId="@((int)EnrouteDeliveryStatus.OnTheWayToJob)" />
                @EnrouteDeliveryStatus.OnTheWayToJob.GetDisplayName()
            </a>
        </div>
        <div class="border-b">
            <a onclick="updateDriverStatus(this)" class="db pa5 radius-10 no-t-radius">
                <img src="" data-statusId="@((int)EnrouteDeliveryStatus.ArrivedAtJob)" />
                @EnrouteDeliveryStatus.ArrivedAtJob.GetDisplayName()
            </a>
        </div>
        <div>
            <a onclick="updateDriverStatus(this)" class="db pa5 radius-10 no-t-radius">
                <img src="" data-statusId="@((int)EnrouteDeliveryStatus.FuelTruckRetain)" />
                @EnrouteDeliveryStatus.FuelTruckRetain.GetDisplayName()
            </a>
        </div>
    </div>
</div>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#status-legends").find("img").each(function () {
                var url = getMapDotUrl(parseInt($(this).attr("data-statusId")));
                $(this).attr("src", url);
            });
        });

        function GetSelectedEnrouteStatus() {
            var statusId = $("#status-legends").find("a[data-select='true']").find("img").attr("data-statusId");;
            return statusId == undefined ? 0 : statusId;
        }

        var driverMarkers = [];
        function clearDriverMarkers() {
            for (var i = 0; i < driverMarkers.length; i++) {
                driverMarkers[i].setMap(null);
            }
        }

        function setCenterLocation(data, latLongCount) {
            centerlat = centerlat / latLongCount;
            centerlon = centerlon / latLongCount;

            if (data.length == 0) {
                centerlat = 41.850033;
                centerlon = -87.6500523;
                if (PageCountryId == '@((int)Country.CAN)') {
                    centerlat = 56.14;
                    centerlon = -106.34;
                }
            }
        }
    </script>
}