@model DeliveryFeeByQuantityViewModel
@Html.HiddenFor(m => m.Currency)
<div class="row">
    <div class="col-sm-3 pr5">
        <div class="form-group mb5">
            @Html.TextBoxFor(m => m.MinQuantity, new { @class = "form-control min-quantity always-readonly", placeholder = @Resource.lblFrom, @readonly = "true" })
            @Html.ValidationMessageFor(m => m.MinQuantity)
        </div>
    </div>
    <div class="col-sm-4 pl0 pr5">
        <div class="form-group mb5">
            @Html.TextBoxFor(m => m.MaxQuantity, new { @class = "form-control max-quantity always datatype-decimal", placeholder = @Resource.lblUpto })
            @Html.ValidationMessageFor(m => m.MaxQuantity)
        </div>
    </div>
    <div class="col-sm-4 pr5">
        <div class="form-group mb0">
            <div class="input-group byQuantityInput dif hide-element">
                <span class="input-group-addon fs11">@Model.Currency</span>
                @Html.TextBoxFor(m => m.Fee, new { @class = "form-control always datatype-decimal", placeholder = @Html.DisplayNameFor(m => m.Fee) })
            </div>
            @Html.ValidationMessageFor(m => m.Fee)
        </div>
    </div>
    <div class="col-xs-1 fs18">
        <a href="javascript:void(0)" class="fa fa-trash-alt mt10 ml5 color-maroon remove-partial-block" title="@Resource.btnLabelRemove" onclick="enableLastButton(this);removePartial(this);"></a>
    </div>
</div>
<div class="row mb5">
    
</div>