@model TankModalTypeViewModel

<style type="text/css">
    table tr::alternate {
        background: #f7f7f7;
    }
    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }
</style>

@{

}
<h2><small>@Resource.gridColumnTankMake:</small> @Model.Name</h2>
<h2><small>@Resource.gridColumnTankModel:</small> @Model.Modal</h2>
<div class="well">
    <table width="100%" cellspacing='0' cellpadding='0' border="1">
        <thead>
            <tr>
                <th align="center">Dip (@Model.ScaleMeasurementText)</th>
                <th align="center">Volume</th>
                <th align="center">Ullage</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in @Model.DipChartDetails)
            {
                <tr>
                    <td align="center">@item.Dip</td>
                    <td align="center">@item.Volume</td>
                    <td align="center">@item.Ullage</td>
                </tr>
            }
        </tbody>

    </table>

</div>