@model OnboardingPreferenceViewModel
@{
    var areaName = string.Empty;
    if (CurrentUser.IsSupplierCompany)
    {
        areaName = "Supplier";
    }
    else if (CurrentUser.IsBuyerCompany)
    {
        areaName = "Buyer";
    }
    else if (CurrentUser.IsCarrierCompany)
    {
        areaName = "Carrier";
    }
}
<div class="col-sm-12">
    @using (Html.BeginForm("SavePreferencesSetting", "Profile", new { area = "Settings" }, FormMethod.Post, new { role = "form", id = "save-preferences-form", enctype = "multipart/form-data" }))
    {
        <div class="row mb10 equal-container">
            @Html.Partial("~/Views/Shared/_PartialPreferencesSetting.cshtml", Model)
        </div>
        <div class="row mb15">
            <div class="col-sm-12 text-right">
                <input type="button" class="btn" value="@Resource.btnLabelCancel" onclick="location.href = '@Url.Action("Index", "Dashboard", new { Area = areaName })'" />
                <input type="submit" value="@Resource.btnLabelSave" class="btn btn-primary btn-lg form-submit" id="btnSavePreferences" onclick="return validateForm()" />
            </div>
        </div>
        <!-- self-haulpo upload-->
        <div class="modal fade" id="upload-selfhaulpo-csv" tabindex="-1" role="dialog" aria-labelledby="selfhaulpomodal">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="overflow-h">
                            <h4 class="pull-left mb5 pt0 pb0">Upload Wholesale Load Codes PO list</h4>
                            <button type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:35px">×</span></button>
                        </div>
                        @Html.Partial("_PartialSelfHaulPOUpload")
                    </div>
                </div>
            </div>
        </div>
        <!-- wholesalebadge upload-->
        <div class="modal fade" id="upload-wholesalebadge-csv" tabindex="-1" role="dialog" aria-labelledby="wholesalebadgemodal">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="overflow-h">
                            <h4 class="pull-left mb5 pt0 pb0">@Resource.msgWholesalebadgelistUpload</h4>
                            <button type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:35px">×</span></button>
                        </div>
                        @Html.Partial("_PartialWholesaleBadgeUpload")
                    </div>
                </div>
            </div>
        </div>
        <!-- carrierlist upload-->
        <div class="modal fade" id="upload-carrierlist-csv" tabindex="-1" role="dialog" aria-labelledby="carrierlistmodal">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="overflow-h">
                            <h4 class="pull-left mb5 pt0 pb0">@Resource.msgNonRegisterdcarrierlistUpload</h4>
                            <button type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:35px">×</span></button>
                        </div>
                        @Html.Partial("_PartialCarrierListUpload")
                    </div>
                </div>
            </div>
        </div>
        <!-- quebecBadgeList upload-->
        <div class="modal fade" id="upload-quebecbadge-csv" tabindex="-1" role="dialog" aria-labelledby="quebecBadgelistmodal">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="overflow-h">
                            <h4 class="pull-left mb5 pt0 pb0">@Resource.msgQuebecBillingBadgeUpload</h4>
                            <button type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:35px">×</span></button>
                        </div>
                        @Html.Partial("_PartialQuebecBillingBadgesUpload")
                    </div>
                </div>
            </div>
        </div>

    }

</div>
