@model SiteFuel.Exchange.ViewModels.DeliveryScheduleViewModel
<div class="row schedule-trash">
	<div class="col-xs-6 col-sm-2">
		@(CommonHelperMethods.GetName<DeliveryScheduleType>(Model.ScheduleType))
	</div>
	<div class="col-xs-6 col-sm-2">
		<div class="form-group mb5 @(Model.ScheduleType == (int)DeliveryScheduleType.Monthly || Model.ScheduleType == (int)DeliveryScheduleType.SpecificDates ? "" : "hide-element")">
			@Model.ScheduleDate.ToString(Resource.constFormatDate)
		</div>
		<div class="form-group mb5 delivery-day @(Model.ScheduleType == (int)DeliveryScheduleType.Weekly || Model.ScheduleType == (int)DeliveryScheduleType.BiWeekly ? "" : "hide-element")">
			@{
				var weekDays = CommonHelperMethods.GetWeekDays();
				var days = string.Join(", ", weekDays.Where(t => Model.ScheduleDays.Contains(t.Id)).Select(t => t.Code).ToList());
				@days
			}
		</div>
	</div>
	<div class="col-xs-6 col-sm-2">
		<div class="input-group">
			@Model.ScheduleStartTime - @Model.ScheduleEndTime
		</div>
	</div>
	<div class="col-xs-6 col-sm-2 text-right">
		<div class="form-group mb5">
			@Model.ScheduleQuantity @Resource.lblQuantity
		</div>
	</div>
	<div class="col-xs-6 col-sm-2 text-right">
		<div class="form-group mb5">
			@Model.DriverName
		</div>
	</div>
	<div class="col-xs-6 col-sm-2 text-right">
		<div class="row">
			@Html.Partial("_PartialCommonDeliveryScheduleStatus", Model.StatusId)
		</div>
	</div>
</div>
@if (CurrentUser.IsOnsitePerson && !CurrentUser.IsBuyer)
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.GroupId)
	@Html.HiddenFor(m => m.ScheduleType, new { @class = "schedule-type" })
	@Html.HiddenFor(m => m.ScheduleDate, new { @class = "datepicker" })
	@Html.HiddenFor(m => m.ScheduleDays, new { @class = "schedule-days" })
	@Html.HiddenFor(m => m.ScheduleStartTime)
	@Html.HiddenFor(m => m.ScheduleEndTime)
	@Html.HiddenFor(m => m.ScheduleQuantity, new { @class = "quantity" })
	@Html.HiddenFor(m => m.CreatedBy)
	@Html.HiddenFor(m => m.StatusId)
}
