@model SiteFuel.Exchange.ViewModels.FuelSurchargeFreightFeeViewModel
<div class="row">
    <div class="col-sm-10 col-lg-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.HiddenFor(m => m.SurchargePricingType)
                    @Html.HiddenFor(m => m.SurchargeProductType)
                    @Html.HiddenFor(m => m.FeeSubTypeId)
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsSurchargeApplicable, new { onclick = "checkBoxChange(this,'discount')", onchange = "focusOnFirst(this, 'discount');showHideonCheckbox(this,'surcharge-details')" })
                            @Html.DisplayNameFor(m => m.IsSurchargeApplicable)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row surcharge-details">
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.SurchargeFreightCost)
                    @Html.TextBoxFor(m => m.SurchargeFreightCost, new { @class = "form-control surchargeFreightCost", @readonly = "readonly" })
                </div>
            </div>
            @if (Model.IsFeeByDistance)
            {
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Distance)
                        @Html.TextBoxFor(m => m.Distance, new { @class = "form-control surchargeDistance" })
                        @*@Html.TextBoxFor(m => m.DistanceUoM, new { @class = "form-control" })*@
                    </div>
                </div>
            }
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="pa bg-white subSectionOpacity top0 left0 z-index5 loading-wrapper eia-loader"><span class='spinner-dashboard pa'></span></div>
                    @Html.LabelFor(m => m.SurchargeEiaPrice)
                    @Html.TextBoxFor(m => m.SurchargeEiaPrice, new { @class = "form-control decimal-place-format surchargeEaiPrice", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Resource.lblIntervalStart</label>
                            @Html.TextBoxFor(m => m.SurchargeTableRangeStart, new { @class = "form-control decimal-place-format surchargeTableRangeStart", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Resource.lblIntervalEnd</label>
                            @Html.TextBoxFor(m => m.SurchargeTableRangeEnd, new { @class = "form-control decimal-place-format surchargeTableRangeEnd", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.SurchargePercentage)
                    @Html.TextBoxFor(m => m.SurchargePercentage, new { @class = "form-control decimal-place-format surchargePercentage" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.TotalFuelSurchargeFee)
                    @Html.TextBoxFor(m => m.TotalFuelSurchargeFee, new { @class = "form-control decimal-place-format totalFuelSurchargeFee", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
</div>
