@model DifferentFuelPriceViewModel

<div class="col-md-12 row">
    <div class="form-group mb10">
        @Html.HiddenFor(m => m.Id)
        <div class="row partialTier">
            <div class="col-xs-6 col-sm-2 dynamic-col">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MinQuantity, new { @class = "form-control always-readonly min-quantity", @readonly = "readonly", placeholder = @Html.DisplayNameFor(m => m.MinQuantity) })
                    @Html.ValidationMessageFor(m => m.MinQuantity)
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 dynamic-col">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MaxQuantity, new { @class = "form-control max-quantity", placeholder = @Html.DisplayNameFor(m => m.MaxQuantity) })
                    @Html.ValidationMessageFor(m => m.MaxQuantity)
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 dynamic-col">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.PricingTypeId, new SelectList(CommonHelperMethods.GetPricingTypesForOfferTiers(false), "Id", "Name", Model.PricingTypeId), new { @class = "form-control pricing-type", @onchange = "SetDifferentFuelPriceRackAvgType(this);" })
                    @Html.ValidationMessageFor(m => m.PricingTypeId)
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 dynamic-col differentPrice-rackAvgType">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.RackAvgTypeId, new SelectList(CommonHelperMethods.GetRackAvgPricingTypes(), "Id", "Name", Model.RackAvgTypeId), new { @class = "form-control tier" })
                    @Html.ValidationMessageFor(m => m.RackAvgTypeId)
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 dynamic-col">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PricePerGallon, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.PricePerGallon) })
                    @Html.ValidationMessageFor(m => m.PricePerGallon)
                </div>
            </div>
            <div class="col-xs-1 fs18">
                <a href="javascript:void(0)" class="fa fa-trash-alt mt10 color-maroon remove-partial-block" title="@Resource.btnLabelRemove" onclick="enableLastButton(this);removePartial(this);"></a>
            </div>
        </div>
    </div>
</div>

