@model SpecialInstructionViewModel
<div class="partial-block">
    <div class="row mb10">
        <div class="col-xs-10 col-sm-6 dynamic-col">
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Instruction, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Instruction) })
            @Html.ValidationMessageFor(m => m.Instruction)
        </div>
        <div class="col-xs-1 fs18">
            <a href="javascript:void(0)" class="fa fa-trash-alt mt10 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
        </div>
    </div>
</div>
