<div class="row">
    <div class="col-sm-9 tab-headers">
        @if (!CurrentUser.IsSuperAdmin && !CurrentUser.IsAccountSpecialist)
        {
            <a id="tab-qbSyncReport" onclick="showsection('tab-qb-syncreport'), activelink(this)" class="active mr20 mb10"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tab-qb-syncreport"
               data-ajax-url="@Url.Action("SyncReport", "Quickbooks", new { area = "Supplier" })">
                <div class="step-inprogress fs18">
                    <span class="f-light step-text pull-left">@Resource.lblSyncReport</span>
                </div>
            </a>
        }
        <a id="tab-qbReport" href="javascript:void(0)" onclick="GetPartialViewData('tab-qb-report'), activelink(this)" class="mr20 mb10">
            <div class="step-inprogress fs18">
                <span class="f-light step-text pull-left">@Resource.lblQuickBooks Summary</span>
            </div>
        </a>
        <a id="tab-qbSummary" href="javascript:void(0)" onclick="GetPartialViewData('tab-qb-summary'), activelink(this)" class="mr20 mb10">
            <div class="step-inprogress fs18">
                <span class="f-light step-text pull-left">@Resource.lblQuickBooksLogs</span>
            </div>
        </a>
    </div>
</div>
<div class="tab-container">
    <div id="tab-qb-syncreport" data-parent-tab="tab-qbSyncReport" class="subTabs"></div>
    <div id="tab-qb-report" data-parent-tab="tab-qbReport" class="hide-element subTabs"></div>
    <div id="tab-qb-summary" data-parent-tab="tab-qbSummary" class="hide-element subTabs"></div>
</div>

<script>
    function GetQuickBooksLogs(workflowId) {
        GetPartialViewData('tab-qb-summary', workflowId);
        activelink($("#tab-qbSummary"));
    }

    function GetPartialViewData(key, workflowId) {
        if (workflowId == undefined) { workflowId = 0; }
        var url = '';
        switch (key) {
            case 'tab-qb-report': url = '@Url.Action("QuickBookReport", "Quickbooks")'; break;
            case 'tab-qb-summary': url = '@Url.Action("QuickBookSummary", "Quickbooks")?workflowId=' + workflowId; break;
        }
        $(".tab-container > div").hide();
        $(".tab-container #" + key).show();
        $('#' + key).load(url);
    }
</script>
