@model ConsolidatedInvoicePdfViewModel
@using System.Threading
@using System.Text;

@{
    Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(Model.Culture);
}
<style type="text/css">
    .invoice-template * {
        font-family: Tahoma,Arial,Verdana;
    }

    .invoice-template h1 {
        font-size: 23px;
        margin: 0px;
        padding: 0px;
    }
    .invoice-template .border-b {
        border-bottom: 1px solid #e1e1e1;
        padding: 5px 0;
    }

    .bold {
        font-weight: bold;
    }

    .text-right {
        text-align: right
    }

    .invoice-template .txt-highlight,
    .invoice-template .txt-highlight label {
        color: #dc3c0c !important;
    }

    .invoice-template .bg-void,
    .invoice-template .bg-exception {
        border: 10px solid rgba(255, 0, 0, .4);
        font-size: 150px;
        color: rgba(255, 0, 0, .4);
        padding: 15px 20px;
        position: absolute;
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    .invoice-template .bg-void {
        width: 400px;
        top: 20%;
        left: 50%;
        margin-left: -200px;
    }

    .invoice-template .bg-exception {
        min-width: 400px;
        top: 35%;
        left: 45%;
        margin-left: -200px;
        font-size: 100px;
    }

    .invoice-template .break-word {
        word-break: break-word
    }

    .invoice-template .mr20 {
        margin-right: 20px;
    }

    .invoice-template .mr0 {
        margin-right: 0;
    }

    .invoice-template .well {
        box-shadow: none;
        min-height: 120px;
    }

    .invoice-template h2 {
        box-shadow: none;
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: normal;
        color: #000;
    }

    .invoice-template .color-blue {
        color: #0c52b1;
    }

    .invoice-template .fs18 {
        font-size: 18px;
    }

    .invoice-template .pr10 {
        padding-right: 10px;
    }

    .invoice-template .pr20 {
        padding-right: 20px;
    }
    .invoice-template .pr30 {
        padding-right: 30px;
    }
    .invoice-template .color-green {
        color: green;
    }
</style>

@{
    var currency = Model.InvoicePdfHeaderDetail.Currency;
    var uom = Model.InvoicePdfHeaderDetail.UoM;

    bool IsTaxModified = false;
    var header = Model.InvoicePdfHeaderDetail;
    var consolidatedInvoice = Model.Invoices.OrderByDescending(t => t.Id).Select(t => new { t.DisplayInvoiceNumber, t.ReferenceId, t.InvoiceTypeId, t.StatusId, t.WaitingForAction, t.FuelDisplayGroupId, t.AdditionalDetail.Notes, t.StatementNumber, t.IsTrueFillTax, t.CreationMethod, t.IsExceptionDdt, IsDigitalDropTicket = t.IsDigitalDropTicket(), t.InvoiceVersionStatusId, t.OriginalInvoiceNumber, t.WBSNumber, t.QbInvoiceNumber }).FirstOrDefault();

    decimal invoiceTotalAmount = 0;
    var basicAmount = Model.Invoices.Sum(t => t.BasicAmount);
    var totalFees = Model.Invoices.Sum(t => t.TotalFees);
    var federalTax = Model.Invoices.Sum(t => t.FederalTax);
    var stateTax = Model.Invoices.Sum(t => t.StateTax);
    var salesTax = Model.Invoices.Sum(t => t.SalesTax);
    var totalTaxAmount = Model.Invoices.Sum(t => t.TotalTaxAmount);
    var totalDiscountAmount = Model.Invoices.Sum(t => t.TotalDiscountAmount);
    var allowanceTotal = Model.Invoices.Sum(t => t.AdditionalDetail.TotalAllowance) ?? 0;
    var isHidePricing = Model.Invoices.Any(t => t.ShouldHidePricing());
    var processingFeeValue = Model.FuelFees.FuelRequestFees.Where(t => t.FeeTypeId == ((int)FeeType.ProcessingFee).ToString() && t.Fee.HasValue).Select(t => t.TotalFee).FirstOrDefault();
}
@if (totalTaxAmount != 0)
{
    invoiceTotalAmount = basicAmount + totalFees + totalTaxAmount - totalDiscountAmount;
}
else
{
    invoiceTotalAmount = basicAmount + totalFees + salesTax + federalTax + stateTax - totalDiscountAmount;
}
<div class="well invoice-template">
    <table width="100%" cellspacing='0' cellpadding='0'
           style="color: #5a5a5a;font-size:13px;">
        <tr>
            <td style="padding-bottom: 15px;">
                <table width="100%" cellspacing='0' cellpadding='0'>
                    <tr>
                        <td colspan="2" align="center">
                            <h1>@Resource.lblInvoiceNumber: @consolidatedInvoice.DisplayInvoiceNumber </h1>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <table cellspacing='0' cellpadding='0' align="left">
                                <tr>
                                    @if (string.IsNullOrWhiteSpace(header.CompanyLogo.FilePath))
                                    {
                                        <td valign='top' colspan="2">
                                            <h2>@header.SupplierCompanyName</h2>
                                            ID:@header.CustomerId<br />
                                            @header.SupplierLocation.Address<br>@header.SupplierLocation.City, @header.SupplierLocation.StateCode @header.SupplierLocation.ZipCode<br>
                                            @header.SupplierPhoneNumber
                                        </td>
                                    }
                                    else
                                    {
                                        <td valign='top' class="pr10">
                                            <img id="image-company-logo" class="po-logo" alt="@header.SupplierCompanyName" width="100" src="@header.CompanyLogo.GetAzureFilePath(BlobContainerType.CompanyProfile)" />
                                        </td>
                                        <td valign='top'>
                                            <h2 style="font-size:18px;padding:0;margin:0;font-weight: normal;">@header.SupplierCompanyName</h2>
                                            <small style="font-size: 12px;">ID:@header.CustomerId</small><br />
                                            @header.SupplierLocation.Address<br>@header.SupplierLocation.City, @header.SupplierLocation.StateCode @header.SupplierLocation.ZipCode<br>
                                            @header.SupplierPhoneNumber
                                        </td>
                                    }
                                </tr>
                            </table>
                        </td>
                        <td width="50%" align="right" valign="top">
                            <div>@Resource.lblLabelPONumber: @(new HtmlString(string.Join("<br/>", Model.PoNumbers)))</div>
                            @if (!String.IsNullOrEmpty(Model.InvoicePdfHeaderDetail.CarrierOrderId))
                                {
                                    <div>@Resource.lblCarrierOrderId: @(new HtmlString(string.Join("<br/>", Model.InvoicePdfHeaderDetail.CarrierOrderId)))</div>
                                }
                            @if (!string.IsNullOrWhiteSpace(consolidatedInvoice.ReferenceId))
                            {
                                @Resource.lblReferenceId <span>:</span> @consolidatedInvoice.ReferenceId<br />
                            }
                            @if (consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.Balance)
                            {
                                @Resource.lblInvoiceDate <span>:</span> @header.InvoiceDate.ToString(Resource.constFormatDate)<br />
                            }
                            else
                            {
                                @((consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.CreditInvoice || consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.PartialCredit) ? Resource.lblCreditMemoDate : Resource.lblInvoiceDate)<span>:</span> @header.InvoiceDate.ToString(Resource.constFormatDate)<br />
                            }
                            @if (consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.CreditInvoice || consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.PartialCredit)
                            {
                                @Resource.lblOriginalInvoiceNumber <span>:</span> @consolidatedInvoice.OriginalInvoiceNumber <br />
                            }
                            @if (consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.DigitalDropTicketManual && consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.CreditInvoice && consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.PartialCredit && consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.DigitalDropTicketMobileApp && string.IsNullOrEmpty(consolidatedInvoice.StatementNumber))
                            {
                                @Resource.lblPaymentDueDate <span>:</span> @header.PaymentDueDate.ToString(Resource.constFormatDate)<br />
                            }
                            @if (consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.CreditInvoice && consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.PartialCredit)
                            {
                                @Resource.headingPaymentTerms <span>:</span> @header.PaymentTerm
                                if (header.PaymentTermId == (int)PaymentTerms.NetDays)
                                {
                                    <span>@header.NetDays</span><br />
                                }
                                else
                                {
                                    <br />
                                }
                            }
                            @if (!string.IsNullOrWhiteSpace(consolidatedInvoice.QbInvoiceNumber))
                            {
                                @Resource.lblQbInvoiceNumber <span>:</span> @consolidatedInvoice.QbInvoiceNumber<br />
                            }
                            @if (!string.IsNullOrWhiteSpace(consolidatedInvoice.StatementNumber))
                            {
                                @Resource.gridColumnStatementNumber <span>:</span> @consolidatedInvoice.WBSNumber<br />
                            }
                            @if (!string.IsNullOrWhiteSpace(header.AccountingCompanyId))
                            {
                                <div>@Resource.lblAccountingCompanyId : @header.AccountingCompanyId </div>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="border-b" style="padding-top:10px;"></td>
        </tr>
        <tr>
            <td style="padding:20px 0 10px 0;">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <table align="left" cellspacing='0' cellpadding='0'>
                                <tr>
                                    @if (header.JobSpecificBillTo.IsJobSpecificBillToEnabled)
                                    {
                                        StringBuilder jobSpecificAddress = new StringBuilder();
                                        var jobSpecificFullAddress = "";
                                        if (!string.IsNullOrWhiteSpace(header.JobSpecificBillTo.BillToCity))
                                        {
                                            jobSpecificAddress.Append(", " + header.JobSpecificBillTo.BillToCity);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.JobSpecificBillTo.BillToStateName))
                                        {
                                            jobSpecificAddress.Append(", " + header.JobSpecificBillTo.BillToStateName);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.JobSpecificBillTo.BillToZipCode))
                                        {
                                            jobSpecificAddress.Append(", " + header.JobSpecificBillTo.BillToZipCode);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.JobSpecificBillTo.BillToCounty))
                                        {
                                            jobSpecificAddress.Append(", " + header.JobSpecificBillTo.BillToCounty);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.JobSpecificBillTo.BillToCountryName))
                                        {
                                            jobSpecificAddress.Append(", " + header.JobSpecificBillTo.BillToCountryName);
                                        }
                                        if (jobSpecificAddress.ToString() != "")
                                        {
                                            jobSpecificFullAddress = jobSpecificAddress.ToString().TrimStart(',', ' ');
                                        }

                                        <td valign="top" class="pr30 break-word">
                                            <h2 style="text-decoration:underline">@Resource.headingBillingAddress</h2>
                                            @header.JobSpecificBillTo.BillToName<br>
                                            @header.JobSpecificBillTo.BillToAddress<br>
                                            @jobSpecificFullAddress
                                        </td>
                                    }
                                    else
                                    {
                                        StringBuilder address = new StringBuilder();
                                        var fullAddress = "";
                                        if (!string.IsNullOrWhiteSpace(header.BuyerLocation.City))
                                        {
                                            address.Append(", " + header.BuyerLocation.City);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.BuyerLocation.StateName))
                                        {
                                            address.Append(", " + header.BuyerLocation.StateName);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.BuyerLocation.ZipCode))
                                        {
                                            address.Append(", " + header.BuyerLocation.ZipCode);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.BuyerLocation.CountyName))
                                        {
                                            address.Append(", " + header.BuyerLocation.CountyName);
                                        }
                                        if (!string.IsNullOrWhiteSpace(header.BuyerLocation.CountryName))
                                        {
                                            address.Append(", " + header.BuyerLocation.CountryName);
                                        }
                                        if (address.ToString() != "")
                                        {
                                            fullAddress = address.ToString().TrimStart(',', ' ');
                                        }

                                        <td valign="top" class="pr30 break-word">
                                            <h2 style="text-decoration:underline">@Resource.headingBillingAddress</h2>
                                            @header.BuyerCompanyName<br>
                                            @header.BuyerLocation.Address<br>
                                            @fullAddress
                                        </td>
                                    }
                                    <td valign="top" class="pr30 break-word">
                                        <h2 style="text-decoration:underline">@Resource.headingContactPerson</h2>
                                        @header.PoContact.Name<br>
                                        @header.PoContact.PhoneNumber<br>
                                        @header.PoContact.Email
                                    </td>
                                    <td valign="top" class="break-word">
                                        <h2 style="text-decoration:underline">@Resource.lblShipTo</h2>
                                        @header.JobName<br>
                                        @if (!string.IsNullOrWhiteSpace(header.ShippingLocation.Address))
                                        {
                                            @header.ShippingLocation.Address<br>
                                        }
                                        @(!string.IsNullOrWhiteSpace(header.ShippingLocation.City) ? header.ShippingLocation.City + ", " : "") @header.ShippingLocation.StateCode @header.ShippingLocation.ZipCode
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="40%" align='right' style="font-size:21px;">
                            @*<span style="font-size:13px;">@Resource.lblInvoiceTotal:</span><br />
                            <span style="color:green">
                                @((invoiceTotalAmount).GetInvoiceAmountValue(2, Resource.constSymbolCurrency)) @currency
                            </span>*@
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="border-b"></td>
        </tr>
        <tr>
            <td style="padding:10px 0;">
                <table width='100%'>
                    <tr>
                        <td>
                            <table width='100%' cellspacing='0' cellpadding='0' border='0'>
                                <tr class="bold  color-blue">
                                    <td class="border-b" width='30%'>@Resource.gridColumnPoNumber</td>
                                    <td class="border-b">@Resource.gridColumnDeliveryDateAndTime</td>
                                    <td class="border-b text-right">@Resource.lblQuantity</td>
                                    <td class="border-b text-right" width='10%'>@Resource.lblRentalRate (@currency)</td>
                                    <td class="border-b text-right" width='10%'>@Resource.lblAmount (@currency)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @if (Model.FuelFees.FuelRequestFees.Any(t => t.InvoiceTypeId == (int)InvoiceType.Balance || ((t.InvoiceTypeId == (int)InvoiceType.CreditInvoice || t.InvoiceTypeId == (int)InvoiceType.PartialCredit))))
                    {
                        <tr>
                            @{var poNumber = Model.Invoices.Select(t => t.PoNumber).FirstOrDefault();}
                            <td colspan="5" valign="top" style="font-size:14px;"><strong>@(!string.IsNullOrWhiteSpace(poNumber) ? poNumber : Resource.lblHyphen)</strong></td>
                        </tr>
                        foreach (var fee in Model.FuelFees.FuelRequestFees.Where(t => !t.FeeTypeId.Equals(((int)FeeType.ProcessingFee).ToString()) && t.Fee.HasValue))
                        {

                            <tr>
                                <td class="border-b">
                                    <table width='100%' cellspacing='0' cellpadding='0' border='0'>

                                        <tr>
                                            @if (fee.FeeSubTypeId == (int)FeeSubType.FlatFee)
                                            {
                                                <td width='30%'>
                                                    <span style="font-weight:bold;">@fee.DisplayFeeType</span>
                                                    <span style="font-style:italic;">@fee.DisplayFeeName</span>
                                                </td>
                                                var deliveryDate = Model.Invoices.Select(t => t.DropEndDate).FirstOrDefault().ToString(Resource.constFormatDate);
                                                var deliveryStartDate = Model.Invoices.Select(t => t.DropStartDate.DateTime).FirstOrDefault().ToString(Resource.constFormat12HourTime2);
                                                var deliveryEndDate = Model.Invoices.Select(t => t.DropEndDate.DateTime).FirstOrDefault().ToString(Resource.constFormat12HourTime2);
                                                <td> @(deliveryDate) @(deliveryStartDate) - @(deliveryEndDate)</td>
                                                <td width='10%' class="text-right">1</td>
                                                <td width='10%' class="text-right">@Resource.constSymbolCurrency@(Math.Abs(fee.TotalFee).ToString(ApplicationConstants.DecimalFormat4))</td>
                                                <td width='10%' class="text-right">@((fee.TotalFee).GetInvoiceAmountValue(2, Resource.constSymbolCurrency))</td>
                                            }
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>
                            <table width='100%' cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td class="bold" align='right' valign="top" style="padding-bottom:10px;">@Resource.lblSubTotal: </td>
                                    <td width='12.5%' class="text-right bold" id="subtotal-amount" valign="top" style="padding-bottom:10px;">
                                        @if (consolidatedInvoice.StatusId == (int)InvoiceStatus.Draft || consolidatedInvoice.StatusId == (int)InvoiceStatus.Canceled || consolidatedInvoice.WaitingForAction != (int)WaitingAction.Nothing)
                                        {
                                            @Resource.lblHyphen
                                        }
                                        else
                                        {
                                            <div> @((basicAmount + totalFees + allowanceTotal - processingFeeValue).GetInvoiceAmountValue(2, @Resource.constSymbolCurrency))</div>
                                        }
                                    </td>
                                </tr>
                                @if (Model.FuelFees.DiscountLineItems.Any())
                                {

                                    foreach (var discountLineItems in Model.FuelFees.DiscountLineItems)
                                    {
                                        <tr id="auto-discount">
                                            <td align="right">
                                                <span>@Resource.lblDiscountOn @discountLineItems.FeeTypeName: </span>
                                                @if (@discountLineItems.FeeSubTypeId == (int)FeeSubType.Percent)
                                                {
                                                    <span>@(consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.CreditInvoice || consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.PartialCredit ? (discountLineItems.Amount).GetInvoiceAmountValue(2, "") : (discountLineItems.Amount).GetInvoiceAmountReverseValue(2, ""))@Resource.constSymbolPercent</span>
                                                }
                                                else
                                                {
                                                    <span>@discountLineItems.FeeSubTypeName</span>
                                                    //<span>@(consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.CreditInvoice || consolidatedInvoice.InvoiceTypeId == (int)InvoiceType.PartialCredit ? (discountLineItems.Amount).GetInvoiceAmountValue(2, Resource.constSymbolCurrency) : (discountLineItems.Amount).GetInvoiceAmountReverseValue(2, Resource.constSymbolCurrency))</span>
                                                }
                                            </td>
                                            <td width='12.5%' align="right">@((discountLineItems.TotalFee).GetInvoiceAmountReverseValue(2, Resource.constSymbolCurrency))</td>
                                        </tr>
                                    }
                                    if (allowanceTotal > 0)
                                    {
                                        <tr>
                                            <td align="right">
                                                @Resource.headingSupplierAllowance :
                                            </td>
                                            <td id="auto-supplierAllowance" width='10%' align="right">@(allowanceTotal.GetInvoiceAmountReverseValue(2, Resource.constSymbolCurrency))</td>
                                        </tr>
                                    }

                                }
                            </table>
                        </td>
                    </tr>
                    @if (Model.TaxDetail != null && Model.TaxDetail.AvaTaxDetails.Any())
                    {
                        <tr>
                            <td>
                                <table width='100%' cellspacing='0' cellpadding='0'>
                                    <tr>
                                        <td align='right' class='bold' style="padding-bottom: 5px;">@Resource.headingTaxes</td>
                                        <td width='21%'></td>
                                    </tr>
                                    @if (consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.DryRun && consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.DigitalDropTicketManual && consolidatedInvoice.InvoiceTypeId != (int)InvoiceType.DigitalDropTicketMobileApp)
                                    {
                                        if (Model.TaxDetail.AvaTaxDetails.Count > 0)
                                        {
                                            foreach (var item in Model.TaxDetail.AvaTaxDetails)
                                            {
                                                IsTaxModified = item.IsModified ? true : IsTaxModified;

                                                <tr class="@(item.IsModified ? " txt-highlight" : "" )">
                                                    <td class="@(item.IsModified ? " txt-highlight" : "" )" align='right' style="padding-bottom: 5px;">@item.RateDescription:</td>
                                                    <td class="text-right">@((item.TradingTaxAmount).GetInvoiceAmountValue(2, @Resource.constSymbolCurrency))</td>
                                                </tr>
                                            }
                                        }
                                        else if (consolidatedInvoice.FuelDisplayGroupId != (int)ProductDisplayGroups.OtherFuelType)
                                        {
                                            if (federalTax + stateTax != 0)
                                            {
                                                <tr>
                                                    <td align='right' style="padding-bottom: 5px;">@Resource.lblFederalandStateTax:</td>
                                                    <td align='right'>@Resource.constSymbolCurrency@((federalTax + stateTax).ToString("N2"))</td>
                                                </tr>
                                            }
                                            if (salesTax != 0)
                                            {
                                                <tr>
                                                    <td align='right' style="padding-bottom: 5px;">@Resource.lblSalesTax:</td>
                                                    <td align='right'>@Resource.constSymbolCurrency@salesTax.ToString("N2")</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <table width='100%' cellspacing='0' cellpadding='0'>
                                @{
                                    var processingFee = Model.FuelFees.FuelRequestFees.FirstOrDefault(t => t.FeeTypeId == ((int)FeeType.ProcessingFee).ToString());
                                    if (processingFee != null)
                                    {
                                        var isPercentFee = processingFee.FeeSubTypeId == (int)FeeSubType.Percent;
                                        <tr id="processing-fee">
                                            <td align='right' style="padding-bottom: 5px;">
                                                <span>@Resource.lblProcessingFee:</span>
                                                @if (isPercentFee)
                                                {
                                                    <i>(@processingFee.Fee.Value@Resource.constSymbolPercent)</i>
                                                }
                                            </td>
                                            <td align='right' width='10%' style="padding-bottom: 5px;">@((processingFee.TotalFee).GetInvoiceAmountValue(2, Resource.constSymbolCurrency))</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td align='right' class="bold color-blue fs18" style="padding-top:10px;">
                                        @Resource.lblInvoiceTotal<span>: </span>
                                    </td>
                                    <td align='right' width="10%" id="invoicetotal-amount" class="bold color-blue fs18" style="padding-top:10px;">
                                        @if (consolidatedInvoice.StatusId == (int)InvoiceStatus.Draft || consolidatedInvoice.StatusId == (int)InvoiceStatus.Canceled || consolidatedInvoice.WaitingForAction != (int)WaitingAction.Nothing)
                                        {
                                            @Resource.lblHyphen
                                        }
                                        else
                                        {
                                            if (totalTaxAmount != 0)
                                            {
                                                @((invoiceTotalAmount).GetInvoiceAmountValue(2, Resource.constSymbolCurrency))
                                            }
                                            else
                                            {
                                                @((invoiceTotalAmount).GetInvoiceAmountValue(2, Resource.constSymbolCurrency))
                                            }
                                        }

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0;">
                            <table width="100%" cellspacing='0' cellpadding='0'>
                                @if (!string.IsNullOrEmpty(consolidatedInvoice.Notes))
                                {
                                    <tr>
                                        <td class="fs12">
                                            <strong>@Resource.lblComment:</strong> @consolidatedInvoice.Notes
                                        </td>
                                    </tr>
                                }
                                @if (!string.IsNullOrEmpty(consolidatedInvoice.StatementNumber))
                                {
                                    <tr>
                                        <td class="fs12">
                                            <strong>@Resource.lblNote:</strong> @Resource.warningMessageInvoiceStatement @consolidatedInvoice.StatementNumber
                                        </td>
                                    </tr>

                                }

                                @if (IsTaxModified)
                                {
                                    <tr>
                                        <td class="fs12 txt-highlight">
                                            <strong>@Resource.lblInvoiceValuesChanged</strong>
                                        </td>
                                    </tr>
                                }
                                @if (consolidatedInvoice.IsTrueFillTax)
                                {
                                    <tr>
                                        <td class="fs12 txt-highlight">
                                            <strong>@Resource.msgTrueFillTaxInvoice</strong>
                                        </td>
                                    </tr>
                                }

                                @if (consolidatedInvoice.CreationMethod == CreationMethod.BulkUploaded)
                                {
                                    <tr>
                                        <td class="fs12 txt-highlight">
                                            <strong>@Resource.lblInvoiceCreationMethodIsBulkUpload</strong>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                    @if (Model.SpecialInstructions != null && Model.SpecialInstructions.Count > 0)
                    {
                        <tr>
                            <td style="padding:5px 0;">
                                <table cellspacing='0' cellpadding='0'>
                                    <tr>
                                        <td>
                                            <strong>@Resource.lblSpecialInstruction:</strong>
                                            <ul style="margin-top:0;padding-left:20px;">
                                                @foreach (var specialInstruction in Model.SpecialInstructions)
                                                {
                                                    <li class="txt3">
                                                        @specialInstruction.Instruction -
                                                        <span>@specialInstruction.IsInstructionFollowed.ToYesNo()</span>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.InvoiceFooter != null)
                    {
                        <tr>
                            <td style="padding:5px 0;">
                                <table border="0" cellspacing='0' cellpadding='5'>
                                    <tr>
                                        <td colspan="2">
                                            @Html.Raw(Model.InvoiceFooter.Description)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            @Html.Raw(Model.InvoiceFooter.BankingInstructions)
                                        </td>
                                        <td valign="top">
                                            @Html.Raw(Model.InvoiceFooter.AdditionalDetails)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
</div>
