@model OnboardingViewModel

@Html.HiddenFor(m => m.PaymentCardId)
@Html.HiddenFor(m => m.User.Id)
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m => m.CardToken)
@Html.HiddenFor(m => m.Card.IsPrimary)
@Html.HiddenFor(m => m.State.Name, new { @Value = Resource.lblDummy })
@Html.HiddenFor(m => m.State.Code, new { @Value = Resource.lblDummy })
@Html.HiddenFor(m => m.Country.Name, new { @Value = Resource.lblDummy })
@Html.HiddenFor(m => m.Country.Code, new { @Value = Resource.lblDummy })

<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Card.NameOnCard)
                @Html.TextBoxFor(m => m.Card.NameOnCard, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Card.NameOnCard)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Card.CardNumber)
                @Html.TextBoxFor(m => m.Card.CardNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Card.CardNumber)
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Card.Cvv)
                @Html.TextBoxFor(m => m.Card.Cvv, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Card.Cvv)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Card.ExpirationMonth)
                @Html.DropDownListFor(m => m.Card.ExpirationMonth, new SelectList(CommonHelperMethods.GetMonthsEx(), "Id", "Name", 0), @Resource.lblMonth, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Card.ExpirationMonth)
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>&nbsp;</label>
                @Html.DropDownListFor(m => m.Card.ExpirationYear, new SelectList(CommonHelperMethods.GetYearsEx(0, 10), "Id", "Name", 0), @Resource.lblYear, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Card.ExpirationYear)
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox clone-address mt0">
                <label>
                    <input id="use-above-address" type="checkbox" /> @Resource.lblUseCompanyAddress
                </label>
            </div>
        </div>
    </div>
    <div class="billing-address address-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.ZipCode)
                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control zipcode" })
                    @Html.ValidationMessageFor(m => m.ZipCode)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control city" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.State)
                    @Html.DropDownListFor(m => m.State.Id, new SelectList(new List<DropdownDisplayItem>(), "Id", "Name", 0), string.Format(Resource.valMessageSelect, Resource.lblState), new { @class = "form-control state" })
                    @Html.ValidationMessageFor(m => m.State.Id)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Country)
                    @Html.DropDownListFor(m => m.Country.Id, new SelectList(CommonHelperMethods.GetCountriesEx(), "Id", "Code", 0), new { @class = "form-control country" })
                    @Html.ValidationMessageFor(m => m.Country.Id)
                </div>
            </div>
        </div>
    </div>
</div>

