@model DashboardSuperAdminCompanyCountViewModel

<div class="row">
    <div class="col-sm-5 col-md-12">
        <h2>
            <span class="fa fa-building fs21"></span> @Resource.lblCompanies - <span id="totalCompanyCount">0</span>
        </h2>
    </div>
</div>
<div class="row mt15">
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewCompanies", "SuperAdmin" , new { area = "SuperAdmin" , filter = CompanyFilterType.Buyer })" class="text-white">
            <h1 class="no-margins"><span id="totalBuyerCompanyCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblBuyer
        </a>
    </div>
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewCompanies", "SuperAdmin" , new { area = "SuperAdmin" , filter = CompanyFilterType.Supplier })" class="text-white">
            <h1 class="no-margins"><span id="totalSupplierCompanyCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblSupplier
        </a>
    </div>   
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewCompanies", "SuperAdmin" , new { area = "SuperAdmin" , filter = CompanyFilterType.BuyerAndSupplier})" class="text-white">
            <h1 class="no-margins"><span id="totalBuyerAndSupplierCompanyCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblBuyerAndSupplier
        </a>
    </div>
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewCompanies", "SuperAdmin" , new { area = "SuperAdmin" , filter = CompanyFilterType.Driver })" class="text-white">
            <h1 class="no-margins"><span id="totalDriverCompanyCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblDriver
        </a>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-12 text-right mt5">
        @Html.ActionLink(Resource.btnLabelViewAll, "ViewCompanies", "SuperAdmin", new { area = "SuperAdmin" }, new { @class = "color-white pull-right mt2" })
    </div>
</div>

@using (Html.BeginScripts())
{
    <script>
            var url = '@Url.Action("GetSuperAdminCompanyCount", "Dashboard",new { area= "SuperAdmin" })';
            $.get(url, function (response) {
                $("#totalCompanyCount").text(response.TotalCompanyCount);
                $("#totalBuyerCompanyCount").text(response.TotalBuyerCompanyCount);
                $("#totalSupplierCompanyCount").text(response.TotalSupplierCompanyCount);
                $("#totalBuyerAndSupplierCompanyCount").text(response.TotalBuyerAndSupplierCompanyCount);
                $("#totalDriverCompanyCount").text(response.TotalDriverCompanyCount);
                $("#totalCompanyCount").closest(".widget").find('.loading-wrapper').remove();
            });
    </script>
}