@model DashboardSuperAdminCountViewModel

<div class="row">
    <div class="col-sm-5 col-md-12">
        <h2>
            <span class="fa fa-bolt fs21"></span> @Resource.lblSuperAdmins - <span id="totalSuperAdminCount">0</span>
        </h2>
    </div>
</div>
<div class="row mt15">
    <div class="col-xs-6 col-sm-6 mt10">
        <a href="@Url.Action("ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.ActiveSuperAdmin })" class="text-white">
            <h1 class="no-margins"><span id="totalActiveSuperAdminCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblActive
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 mt10">
        <a href="@Url.Action("ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.InActiveSuperAdmin })" class="text-white">
            <h1 class="no-margins"><span id="totalInactiveSuperAdminCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblInActive
        </a>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-12 text-right mt5">
        @Html.ActionLink(Resource.btnLabelViewAll, "ViewSiteFuelUsers", "SuperAdmin", new { area = "SuperAdmin", filter = SiteFuelUserFilterType.AllSuperAdmin }, new { @class = "color-white pull-right mt2" })
    </div>
</div>

@using (Html.BeginScripts())
{
    <script>
            var url = '@Url.Action("GetSuperAdminCount", "Dashboard",new { area= "SuperAdmin" })';
            $.get(url, function (response) {
                $("#totalSuperAdminCount").text(response.TotalSuperAdminCount);
                $("#totalActiveSuperAdminCount").text(response.TotalActiveSuperAdminCount);
                $("#totalInactiveSuperAdminCount").text(response.TotalInactiveSuperAdminCount);
                $("#totalSuperAdminCount").closest(".widget").find('.loading-wrapper').remove();
            });
    </script>
}