@model DashboardSuperAdminAdvertisementCountViewModel

<div class="row">
    <div class="col-sm-7 col-md-12">
        <h2><span class="fa fa-newspaper-o"></span> @Resource.lblAdvertisementBusiness</h2>
    </div>
</div>
<div class="row mt15">
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewRequestPrices", "Advertisement" , new { area = "SuperAdmin" })" class="text-white">
            <h1 class="no-margins"><span id="totalRequestPriceCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblPriceRequests
        </a>
    </div>
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewRequestFuels", "Advertisement" , new { area = "SuperAdmin", filter = RequestFuelFilterType.All })" class="text-white">
            <h1 class="no-margins"><span id="totalRequestFuelCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblFuelRequests
        </a>
    </div>   
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewRequestFuels", "Advertisement" , new { area = "SuperAdmin", filter = RequestFuelFilterType.CustomerContacted})" class="text-white">
            <h1 class="no-margins"><span id="totalCustomersContactedCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblCustomersContacted
        </a>
    </div>
    <div class="col-xs-6 col-sm-3 mt10">
        <a href="@Url.Action("ViewRequestFuels", "Advertisement" , new { area = "SuperAdmin", filter = RequestFuelFilterType.BusinessDone })" class="text-white">
            <h1 class="no-margins"><span id="totalBusinessDoneCompanyCount">@Resource.lblPlaceholderText</span></h1>
            @Resource.lblBusinessDone
        </a>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-12 text-right mt5">
        @Html.ActionLink(Resource.btnLabelViewAll, "ViewRequestFuels", "Advertisement", new { area = "SuperAdmin", filter = RequestFuelFilterType.All }, new { @class = "color-white pull-right mt2" })
    </div>
</div>

@using (Html.BeginScripts())
{
    <script>
            var url = '@Url.Action("GetSuperAdminAdWidgetCount", "Dashboard",new { area= "SuperAdmin" })';
            $.get(url, function (response) {
                $("#totalRequestPriceCount").text(response.TotalRequestPriceCount);
                $("#totalRequestFuelCount").text(response.TotalRequestFuelCount);
                $("#totalCustomersContactedCount").text(response.TotalCustomersContactedCount);
                $("#totalBusinessDoneCompanyCount").text(response.TotalBusinessDoneCompanyCount);
                $("#totalBusinessDoneCompanyCount").closest(".widget").find('.loading-wrapper').remove();
            });
    </script>
}