@model List<NotificationTemplateViewModel>
<div class="row">
    <div class="col-sm-4 mt10 tab-headers dib">
        @if (Model.Any(t => t.CompanyTypeId == (int)CompanyType.Buyer))
        {
            <a id="tab-buyer" href="javascript:void(0)" onclick="showsection('buyer-template'), activelink(this);" class="active mr15">
                <div class="step-inprogress fs15">
                    <span class="f-light step-text float-left">@Resource.btnLabelBuyer</span>
                </div>
            </a>
        }
        @if (Model.Any(t => t.CompanyTypeId == (int)CompanyType.Supplier))
        {
            <a id="tab-supplier" href="javascript:void(0)" onclick="showsection('supplier-template'), activelink(this);" class="mr15">
                <div class="step-inprogress fs15">
                    <span class="f-light step-text float-left">@Resource.btnLabelSupplier</span>
                </div>
            </a>
        }
    </div>
</div>
<div class="tab-container">
    @{
        var buyerTemplate = Model.FirstOrDefault(t => t.CompanyTypeId == (int)CompanyType.Buyer)?.Template;
        var supplierTemplate = Model.FirstOrDefault(t => t.CompanyTypeId == (int)CompanyType.Supplier)?.Template;
    }
    @if (buyerTemplate != null)
    {
        <div id="buyer-template" data-parent-tab="tab-buyer" class="hide-element subTabs">
            @if (buyerTemplate.NotificationType == (int)NotificationType.Email)
            {
                <div class="mb15 mt15">
                    <b>@Resource.lblSubject:</b>
                    @buyerTemplate.Subject
                </div>
                <div class="mb15">
                    <b>@Resource.lblBody:</b>
                    @Html.Raw(buyerTemplate.Body)
                </div>
                <button class="btn btn-primary btn-sm">@buyerTemplate.ButtonText</button>
            }
            else
            {
                <div class="mb15 mt15">
                    <b>@Resource.lblSmsText:</b>
                    @Html.Raw(buyerTemplate.Body)
                </div>
            }
        </div>
    }
    @if (supplierTemplate != null)
    {
        <div id="supplier-template" data-parent-tab="tab-supplier" class="hide-element subTabs">
            @if (supplierTemplate.NotificationType == (int)NotificationType.Email)
            {
                <div class="mb15 mt15">
                    <b>@Resource.lblSubject:</b>
                    @supplierTemplate.Subject
                </div>
                <div class="mb15">
                    <b>@Resource.lblBody:</b>
                    @Html.Raw(supplierTemplate.Body)
                </div>
                <button class="btn btn-primary btn-sm">@supplierTemplate.ButtonText</button>
            }
            else
            {
                <div class="mb15 mt15">
                    <b>@Resource.lblSmsText:</b>
                    @Html.Raw(supplierTemplate.Body)
                </div>
            }
        </div>
    }
</div>