@model CompanyUserRoleEventViewModel

<tr>
    <td>
        @Html.HiddenFor(m => m.Id, new { @class = "event-type" })
        @Html.HiddenFor(m => m.IsForBuyerUsers, new { @class = "isForBuyerUsers" })
        @Html.HiddenFor(m => m.IsForSupplierUsers, new { @class = "isForSupplierUsers" })
        @Model.Name
    </td>
    <td>
        @Html.ListBoxFor(m => m.BuyerUsers, new SelectList(CommonHelperMethods.GetRolesByCompanyType((int)CompanyType.Buyer), "Id", "Name"),
                       new { @class = $"form-control multi-select buyerRoles {(Model.IsForBuyerUsers ? "" : "disabled")}", @eventId = Model.Id, onchange = "updateUserRole(this);" })
    </td>
    <td>
        @Html.ListBoxFor(m => m.SupplierUsers, new SelectList(CommonHelperMethods.GetRolesByCompanyType((int)CompanyType.Supplier), "Id", "Name"),
                         new { @class = $"form-control multi-select supplierRoles {(Model.IsForSupplierUsers ? "" : "disabled")}", @eventId = Model.Id, onchange = "updateUserRole(this);" })
    </td>

    <td class="text-center"> @Html.CheckBoxFor(m => m.IsEmail, new { @class = $"{(Model.IsEmailEnabled ? "" : "disabled") }", onchange = "updateUserRoleForSelectedEvent(this);" })</td>
    <td class="text-center"> @Html.CheckBoxFor(m => m.IsSms, new { @class = $"{(Model.IsSmsEnabled ? "" : "disabled")}", onchange = "updateUserRoleForSelectedEvent(this);" })</td>

    <td class="text-nowrap">
        @if (Model.IsEmailEnabled)
        {
            <a href="javascript:void(0)" data-toggle="modal" class="btn btn-sm btn-default" onclick="getTemplates(@Model.Id,@((int)NotificationType.Email));" data-target="#notification-modal">@Resource.lblEmail</a>
        }
        @if (Model.IsSmsEnabled)
        {
            <a href="javascript:void(0)" data-toggle="modal" class="btn btn-sm btn-default" onclick="getTemplates(@Model.Id,@((int)NotificationType.Sms));" data-target="#notification-modal">@Resource.lblSmsText</a>
        }
    </td>
</tr>
<script>
    $(document).ready(function () {
        $(":input.disabled").attr("disabled", "disabled");
    });
</script>