@model JobContactViewModel

@using (Html.BeginCollectionItem("ContactPersons"))
{
    <div class="partial-block">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.CompanyTypeId)
            <div class="col-sm-4 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "autofocus", autocomplete = "off", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autocomplete = "off", placeholder = Html.DisplayNameFor(m => m.LastName) })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.RoleIds)
                    @Html.ListBoxFor(m => m.RoleIds, new SelectList(CommonHelperMethods.GetRolesByCompanyType(Model.CompanyTypeId, (int)CompanyType.Buyer), "Id", "Name", 0), new { @class = "form-control multi-select", onchange = "showMessage(this);" })
                    @Html.ValidationMessageFor(m => m.RoleIds)
                </div>
                <div class="hide-element val-message">
                    <div class="alert alert-warning fs12 col-sm-12" role="alert">
                        @Resource.valMessageMultipleRolesWithAdminRole
                    </div>
                </div>
            </div>
            <div class="col-md-1 pt20 pl0 fs18 trash-spacing">
                <a href="javascript:void(0)" class="fa fa-trash-alt mt15 color-maroon remove-contact" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        </div>
    </div>
}

