@model DashboardFuelRequestViewModel

<div id="fuelrequest-tile" class="m-b-md mb0">
        <h2>
            <span class="fa fa-tint fs21"></span> @Resource.lblFuelRequests - <span id="totalFuelRequest">0</span>
        </h2>
        <div class="row mt15">
            <div class="col-xs-3 col-sm-2 mt10">
                <a href="@Url.Action("FuelRequestsDashboardSummary", "SuperAdmin", new { area = "SuperAdmin", filter = FuelRequestFilterType.Open, frTypeFilter = FuelRequestType.FuelRequest })" class="text-white">
                    <h1 class="no-margins"><span id="openFuelRequest">0</span></h1>
                    @Resource.lblOpen
                </a>
            </div>
            <div class="col-xs-3 col-sm-2 mt10">
                <a href="@Url.Action("FuelRequestsDashboardSummary", "SuperAdmin", new { area = "SuperAdmin", filter = FuelRequestFilterType.Accepted, frTypeFilter = FuelRequestType.ThirdPartyRequest })" class="text-white">
                    <h1 class="no-margins"><span id="tpoFuelRequest">0</span></h1>
                    @Resource.lblTPO
                </a>
            </div>
            <div class="col-xs-3 col-sm-2 mt10">
                <a href="@Url.Action("FuelRequestsDashboardSummary", "SuperAdmin", new { area = "SuperAdmin", filter = FuelRequestFilterType.Open, frTypeFilter = FuelRequestType.BrokeredFuelRequest })" class="text-white">
                    <h1 class="no-margins"><span id="openBrokeredFuelRequest">0</span></h1>
                    @Resource.lblBrokered
                </a>
            </div>
            <div class="col-xs-3 col-sm-2 mt10">
                <a href="@Url.Action("FuelRequestsDashboardSummary", "SuperAdmin", new { area = "SuperAdmin", filter = FuelRequestFilterType.Expired })" class="text-white">
                    <h1 class="no-margins"><span id="expiredFuelRequest">0</span></h1>
                    @Resource.lblExpired
                </a>
            </div>
            <div class="col-xs-3 col-sm-2 mt10">
                <a href="@Url.Action("FuelRequestsDashboardSummary", "SuperAdmin", new { area = "SuperAdmin", filter = FuelRequestFilterType.AboutToExpire })" class="text-white">
                    <h1 class="no-margins"><span id="aboutToExpireFuelRequest">0</span></h1>
                    @Resource.lblAboutToExpire
                </a>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-12 text-right">
                @Html.ActionLink(Resource.btnLabelViewAll, "FuelRequestsDashboardSummary", "SuperAdmin", new { area = "SuperAdmin", filter = FuelRequestFilterType.All, frTypeFilter = FuelRequestType.All }, new { @class = "color-white pull-right mt10" })
            </div>
        </div>
</div>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "get",
                url: "@Url.Action("FuelRequestsStats", "SuperAdmin", new { area = "SuperAdmin", jobId = Model.SelectedJobId })",
                dataType: "json", // Set the data type so jQuery can parse it for you
                success: function (data) {
                    if (data != undefined && data != null) {
                        $("#totalFuelRequest").text(data.TotalFuelRequestCount);
                        $("#openFuelRequest").text(data.OpenFuelRequestCount);
                        $("#tpoFuelRequest").text(data.ThirdPartyFRCount);
                        $("#openBrokeredFuelRequest").text(data.BrokeredFuelRequestRequestCount);
                        $("#expiredFuelRequest").text(data.ExpiredFuelRequestCount);
                        $("#aboutToExpireFuelRequest").text(data.AboutToExpireCount);
                        wrapperHeight();
                        $("#fuelrequest-tile").closest('.fuelrequest-tile-stats').find('.loading-wrapper').hide();
                    }
                }
            });
        });
    </script>
}
