@model JobStepsViewModelForSuperAdmin
<div id="dynamicRenderPartial">
    <!-- partial view starts -->
    <div class="@(((CurrentUser.IsAccountSpecialist || CurrentUser.IsSuperAdmin) && Model.Job.StatusId != (int)JobStatus.Closed) ? "" : "disable-controls")">
        @Html.PartialFor("_PartialJob", m => m.Job)
        <!-- Signature Feature starts -->
        <div class="well bg-white shadow-a mb15 overflow-h radius10">
            <div class="col-md-12">
                <h4 class="pb10">@Resource.headingSignature</h4>
                <div class="form-group mb0">
                    <div class="checkbox mt0">
                        <label>
                            @Html.CheckBoxFor(m => m.Job.SignatureEnabled)
                            @Resource.lblEnableSignature
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Signature Section ends -->
        <!--Site Image Start-->
        <div class="row">
            <div class="col-md-12">
                @Html.PartialFor("_PartialImageTPO", m => m.Job.ImageDetails)
            </div>
        </div>
        <!--Site Image End-->
        @if (CurrentUser.IsAccountingPerson || CurrentUser.IsSuperAdmin)
        {
            <div class="row mt25">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 text-right pb30 form-buttons">
                    <input type="button" value="@Resource.btnLabelCancel" class="btn" onclick="location.href='@Url.Action("CompanyDetails", "SuperAdmin", new { area = "SuperAdmin", id = Model.CompanyId , isTPOCompany=true })'" />
                    @if (Model.Job.StatusId == (int)JobStatus.Open || Model.Job.StatusId == (int)JobStatus.Pending)
                    {
                        <input type="submit" id="Submit" value="@Resource.btnLabelSubmit" class="btn btn-lg btn-primary submit-form" />
                    }
                </div>
            </div>
        }
    </div>
</div>
<!-- partial view ends -->