@model SupplierGeoViewModel

<div class="col-md-12">
    <div class="well bg-white shadow-b">
        <div class="ibox mb0">
            <div class="ibox-content no-border no-padding">
                <div id="supplier-div" class="table-responsive">
                    <table id="supplier-datatable" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Resource.lblCompanyName</th>
                                <th>@Resource.headingAddress</th>
                                <th>@Resource.lblFuelType</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Suppliers)
                            {
                                <tr>
                                    <td>
                                        @if (item.SupplierType == (int)SupplierType.Internal)
                                        {
                                            @Html.ActionLink(item.CompanyName, "CompanyDetails", "SuperAdmin", routeValues: new { id = item.CompanyId, area = "SuperAdmin" }, htmlAttributes: new { })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.CompanyName, "ExternalSupplierDetails", "SuperAdmin", routeValues: new { id = item.CompanyId, area = "SuperAdmin" }, htmlAttributes: new { })
                                        }
                                    </td>
                                    <td>
                                        @item.Address, @item.City, @item.StateCode @item.ZipCode
                                    </td>
                                    @if (!string.IsNullOrWhiteSpace(item.FuelTypesServe))
                                    {
                                        <td>
                                            @item.FuelTypesServe.Trim()
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    exportDaColumns = { columns: [0, 1, 2] };
    var table = $('#supplier-datatable').dataTable({
        "aaSorting": [],
        fixedHeader:true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'csv', title: '@Resource.headingDuplicates', exportOptions: exportDaColumns },
                { extend: 'excel', title: '@Resource.headingDuplicates', exportOptions: exportDaColumns },
                { extend: 'pdf', title: '@Resource.headingDuplicates', exportOptions: exportDaColumns, orientation: 'landscape' },
                {
                    extend: 'print', exportOptions: exportDaColumns,
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');
                        $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                    }
                }]
        });
</script>