@using SiteFuel.Exchange.ViewModels.cXML;
@model OrderMessage
@{
    ViewBag.Title = "Checkout Response";
}

<h2>Checkout Response</h2>
<div class="row">
    <div class="col-sm-12">

        @if (Model != null && Model.Message != null && Model.Message.PunchOutOrderMessage != null && Model.Message.PunchOutOrderMessage.ItemIn.Count > 0)
        {

            <table class="table mb0 details-table" id="chkout-table">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>UoM</th>
                        <th>UnitPrice</th>
                        <th>Currency</th>
                        <th>Description</th>
                        <th>UNSPSC</th>
                        <th>ManufacturerPartID</th>
                        <th>ManufacturerName</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Message.PunchOutOrderMessage.ItemIn)
                    {
                        string classname = "none";
                        if (string.IsNullOrEmpty(item.Quantity)
                            || string.IsNullOrEmpty(item.ItemDetail.UnitOfMeasure)
                            || string.IsNullOrEmpty(item.ItemDetail.UnitPrice.Money.Text)
                            || string.IsNullOrEmpty(item.ItemDetail.UnitPrice.Money.Currency)
                            || string.IsNullOrEmpty(item.ItemDetail.Description.Text)
                            || string.IsNullOrEmpty(item.ItemDetail.Classification.Text))
                        {
                            classname = "bg-danger";
                        }
                        if (item.ItemDetail.UnitOfMeasure != "EA" &&
                            (string.IsNullOrEmpty(item.ItemDetail.ManufacturerPartID) || string.IsNullOrEmpty(item.ItemDetail.ManufacturerName)))
                        {
                            classname = "bg-danger";
                        }
                        <tr class='@classname'>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.ItemDetail.UnitOfMeasure
                            </td>
                            <td>
                                @item.ItemDetail.UnitPrice.Money.Text
                            </td>
                            <td>
                                @item.ItemDetail.UnitPrice.Money.Currency
                            </td>

                            <td>
                                @item.ItemDetail.Description.Text
                            </td>

                            <td>
                                @item.ItemDetail.Classification.Text
                            </td>
                            <td>
                                @item.ItemDetail.ManufacturerPartID
                            </td>
                            <td>
                                @item.ItemDetail.ManufacturerName
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        }
    </div>
</div>
