@model CounterOfferViewModel

@{
    ViewBag.Title = "Counter Offer Details";
}

    
    <div class="row">
        <div class="col-12 offer-container mb10">
            <div class="well p-sm mt0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right fs10 radius-capsule">
                            @if (@Model.Status == (int)CounterOfferStatus.Pending)
                            {
                                <span id="lblStatus" class="label label-warning">@Resource.lblPending</span>
                            }
                            else if (@Model.Status == (int)CounterOfferStatus.Open)
                            {
                                <span id="lblStatus" class="label label-danger">@Resource.lblOpen</span>
                            }
                            else if (@Model.Status == (int)CounterOfferStatus.Declined)
                            {
                                <span id="lblStatus" class="label label-danger">@Resource.lblDeclined</span>
                            }
                            else if (@Model.Status == (int)CounterOfferStatus.Cancelled)
                            {
                                <span id="lblStatus" class="label label-danger">@Resource.lblCancelled</span>
                            }
                            else if (@Model.Status == (int)CounterOfferStatus.Accepted)
                            {
                                <span id="lblStatus" class="label label-primary">@Resource.lblAccepted</span>
                            }
                            else if (@Model.Status == (int)FuelRequestStatus.Expired)
                            {
                                <span id="lblStatus" class="label label-danger">@Resource.lblExpired</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 mb10">
                        <label class="f-bold no-margins fs12">@Resource.lblJobName</label>
                        <h4 class="no-margins pa0 fs12 break-word">@Html.DisplayFor(m => m.FuelRequest.Job.Name)</h4>
                    </div>
                    <div class="col-sm-2 mb10">
                        <label class="f-bold no-margins fs12">@Resource.lblFuelType</label>
                        <h4 class="no-margins pa0 fs12 break-word">@Html.DisplayFor(m => m.FuelRequest.FuelDetails.FuelType)</h4>
                    </div>
                    <div class="col-sm-2 mb10">
                        @Html.LabelFor(m => m.FuelRequest.FuelDetails.OrderTypeId, new { @class = "f-bold no-margins fs12" })
                        <h4 class="no-margins pa0 fs12">@((OrderType)Model.FuelRequest.FuelDetails.OrderTypeId)</h4>
                    </div>
                    <div class="col-sm-2 mb10">
                        <label class="f-bold no-margins fs12">@Resource.lblDeliveryTypeSummary</label>
                        <h4 class="no-margins pa0 fs12">@((DeliveryType)Model.FuelRequest.FuelDeliveryDetails.DeliveryTypeId)</h4>
                    </div>
                
                    <div class="col-sm-2 mb5">
                        @Html.LabelFor(m => m.FuelRequest.FuelDeliveryDetails.ExpirationDate, new { @class = "f-bold no-margins fs12" })
                        <h4 class="no-margins pa0 fs12">
                            @if (Model.FuelRequest.FuelDeliveryDetails.ExpirationDate == null)
                            {
                                @Resource.lblHyphen
                            }
                            else
                            {
                                @Model.FuelRequest.FuelDeliveryDetails.ExpirationDate.Value.ToString(Resource.constFormatDate)
                            }
                        </h4>
                    </div>
                    <div class="col-sm-2 mb5">
                        <label class="f-bold no-margins fs12">@Resource.gridColumnOverage</label>
                        <h4 class="no-margins pa0 fs12">
                            @if (Model.FuelRequest.FuelDetails.IsOverageAllowed)
                            {
                                @Html.DisplayFor(m => m.FuelRequest.FuelDetails.OverageAllowedPercent)@Resource.constSymbolPercent
                            }
                            else
                            {
                                @Resource.lblHyphen
                            }
                        </h4>
                    </div>
                    <div class="col-sm-2 mb5">
                        <label class="f-bold no-margins fs12">@Resource.lblSalesTaxExempt</label>
                        <h4 class="no-margins pa0 fs12">@((Model.FuelRequest.Job.IsTaxExempted).ToYesNo())</h4>
                    </div>
                    @if (Model.FuelRequest.FuelDetails.FuelDisplayGroupId == (int)ProductDisplayGroups.OtherFuelType)
                    {
                        <div class="col-sm-2 mb5">
                            <label class="f-bold no-margins fs12">@Resource.lblProductDescription</label>
                            <h4 class="no-margins pa0 fs12 break-word">@(!string.IsNullOrWhiteSpace(Model.FuelRequest.FuelDetails.NonStandardFuelDescription) ? Model.FuelRequest.FuelDetails.NonStandardFuelDescription : Resource.lblHyphen)</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-4 ">
            <h3 class="no-margins text-center border-b-3x pb20">
                <a href="@Url.Action("Edit", "FuelRequest", new { area = "Buyer", id = Model.FuelRequest.FuelDeliveryDetails.FuelRequestId })">@Resource.lblOriginal</a>
            </h3>
        </div>
        @if (Model.PreviousCounterOfferDetails != null)
        {
            <div class="col-4">
                <h3 class="no-margins text-center">
                    @Model.PreviousCounterOfferDetails.CounterOfferDetails.CreatedBy
                </h3>
            </div>
        }
        <div class="col-4">
            <h3 class="no-margins text-center">
                @Model.CurrentCounterOfferDetails.CounterOfferDetails.CreatedBy
            </h3>
            @if ((CurrentUser.IsBuyerAdmin || CurrentUser.IsBuyer) && (Model.IsCounterOfferVisible == true|| 
				Model.IsAcceptVisible == true|| Model.IsDeclineVisible == true||Model.IsCancelVisible == true))
			{
                <div class="btn-group pull-right mtm19">
                    <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle" aria-expanded="false">Offer <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="@(Model.IsCounterOfferVisible == true ? "show-element" : "hide-element")">
                            <a data-toggle="confirmation" data-popout="true" data-singleton="true" data-placement="bottom" href="@Url.Action("CounterOffer", "FuelRequest", new { area = "Buyer", fuelRequestId = Model.CurrentCounterOfferDetails.Id, supplierId = Model.CurrentCounterOfferDetails.CounterOfferSupplierId })" class="pl15">@Resource.btnLabelCounterOffer</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="@(Model.IsAcceptVisible == true ? "show-element" : "hide-element")">
                            @{
                                var url = Url.Action("TermsAndConditions", "FuelRequest", new { area = "Buyer" });
                                var content = (string.Format(Resource.lblAutoAgreeTerms, Resource.lblYes)) + " <a href='" + url + "' target='_blank'>" + Resource.headerTermsAndConditions + "</a>";
                                <a href="@Url.Action("Accept", "CounterOffer", new { area = "Buyer", fuelRequestId = Model.FuelRequest.FuelDeliveryDetails.FuelRequestId, supplierId = Model.CurrentCounterOfferDetails.CounterOfferSupplierId })"
                                   data-toggle="confirmation"
                                   data-popout="true"
                                   data-singleton="true"
                                   data-placement="bottom"
                                   data-content="@content">@Resource.btnLabelAccept</a>
                            }
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="@(Model.IsDeclineVisible == true ? "show-element" : "hide-element")">
                            <a href="@Url.Action("Decline", "CounterOffer", new { area = "Buyer", fuelRequestId = Model.FuelRequest.FuelDeliveryDetails.FuelRequestId, supplierId = Model.CurrentCounterOfferDetails.CounterOfferSupplierId })"
                               data-toggle="confirmation"
                               data-popout="true"
                               data-singleton="true"
                               data-placement="bottom">@Resource.btnLabelDecline</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="@(Model.IsCancelVisible == true ? "show-element" : "hide-element")">
                            <a href="@Url.Action("Cancel", "CounterOffer", new { area = "Buyer", fuelRequestId = Model.FuelRequest.FuelDeliveryDetails.FuelRequestId, supplierId = Model.CurrentCounterOfferDetails.CounterOfferSupplierId })"
                               data-toggle="confirmation"
                               data-popout="true"
                               data-singleton="true"
                               data-placement="bottom">@Resource.btnLabelCancel</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 offer-columns">
            @Html.Partial("_PartialCounterOfferDetails", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right pb30">
            <input type="button" onclick="window.history.go(-1);" class="btn btn-primary" value="@Resource.btnLabelBack" />
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FuelRequest.FuelDeliveryDetails.FuelRequestId)
        @Html.HiddenFor(m => m.CurrentCounterOfferDetails.FuelDeliveryDetails.FuelRequestId)
    </div>
