@model CounterOfferViewModel

<div class="row offer-container">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <h5 class="f-bold">@Resource.lblComment</h5>
                <p class="no-margins pt0"><span>@Resource.lblHyphen</span></p>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content">
                    <h5 class="f-bold">@Resource.lblComment</h5>
                    <p class="no-margins pt0">
                        <span>
                            @if (string.IsNullOrWhiteSpace(Model.PreviousCounterOfferDetails.FuelDetails.Comment))
                            {
                                @Resource.lblHyphen
                            }
                            else
                            {
                                @Model.PreviousCounterOfferDetails.FuelDetails.Comment
                            }
                        </span>
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-8">
                        <h5 class="f-bold pull-left">@Resource.lblComment</h5>
                    </div>
                </div>
                <p class="no-margins pt0">
                    <span>
                        @if (string.IsNullOrWhiteSpace(Model.CurrentCounterOfferDetails.FuelDetails.Comment))
                        {
                            @Resource.lblHyphen
                        }
                        else
                        {
                            @Model.CurrentCounterOfferDetails.FuelDetails.Comment
                        }
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>