@model CounterOfferViewModel

<div class="row offer-container">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <h5 class="f-bold">@Resource.lblSpecialInstruction</h5>
                <p class="no-margins pt0">
                    <span>
                        @foreach (var specialInstruction in Model.FuelRequest.FuelDeliveryDetails.SpecialInstructions)
                        {
                            @specialInstruction.Instruction <br />
                        }
                        @if (Model.FuelRequest.FuelDeliveryDetails.SpecialInstructions.Count == 0)
                        {
                            @Resource.lblHyphen
                        }
                    </span>
                </p>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content">
                    <h5 class="f-bold">@Resource.lblSpecialInstruction</h5>
                    <p class="no-margins pt0">
                        <span>
                            @foreach (var specialInstruction in Model.PreviousCounterOfferDetails.FuelDeliveryDetails.SpecialInstructions)
                            {
                                @specialInstruction.Instruction <br />
                            }
                            @if (Model.PreviousCounterOfferDetails.FuelDeliveryDetails.SpecialInstructions.Count == 0)
                            {
                                @Resource.lblHyphen
                            }
                        </span>
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-8">
                        <h5 class="f-bold pull-left">@Resource.lblSpecialInstruction</h5>
                    </div>
                </div>
                <p class="no-margins pt0">
                    <span>
                        @foreach (var specialInstruction in Model.CurrentCounterOfferDetails.FuelDeliveryDetails.SpecialInstructions)
                        {
                            @specialInstruction.Instruction <br />
                        }
                        @if (Model.CurrentCounterOfferDetails.FuelDeliveryDetails.SpecialInstructions.Count == 0)
                        {
                            @Resource.lblHyphen
                        }
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>