@model CounterOfferViewModel

<div class="row offer-container" id="auto-CounterQuantity">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <h5 class="f-bold">@Resource.lblQuantity</h5>
                <p class="no-margins pt0">
                    @if (Model.FuelRequest.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.Range)
                    {
                        <span class="">
                            @Model.FuelRequest.FuelDetails.FuelQuantity.MinimumQuantity.GetCommaSeperatedValue()@($" - ")
                            @Model.FuelRequest.FuelDetails.FuelQuantity.MaximumQuantity.GetCommaSeperatedValue()
                        </span>
                        <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                    }
                    else if (Model.FuelRequest.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.SpecificAmount)
                    {
                        <span class="">
                            @Model.FuelRequest.FuelDetails.FuelQuantity.Quantity.GetCommaSeperatedValue()
                        </span>
                        <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                    }
                    else if (Model.FuelRequest.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.NotSpecified)
                    {
                        <span>@Resource.lblNotSpecified</span>
                    }
                    else if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.SpecificAmount)
                    {
                        <span>
                            @Model.FuelRequest.FuelDetails.FuelQuantity.Quantity.GetCommaSeperatedValue()
                        </span>
                        <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                    }
                    else if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.NotSpecified)
                    {
                        <span>@Resource.lblNotSpecified</span>
                    }
                </p>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content">
                    <h5 class="f-bold">@Resource.lblQuantity</h5>
                    <p class="no-margins pt0">
                        @if (Model.PreviousCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.Range)
                        {
                            <span class="">
                                @Model.PreviousCounterOfferDetails.FuelDetails.FuelQuantity.MinimumQuantity.GetCommaSeperatedValue()@($" - ")
                                @Model.PreviousCounterOfferDetails.FuelDetails.FuelQuantity.MaximumQuantity.GetCommaSeperatedValue()
                            </span>
                            <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                        }
                        else if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.SpecificAmount)
                        {
                            <span>
                                @Model.PreviousCounterOfferDetails.FuelDetails.FuelQuantity.Quantity.GetCommaSeperatedValue()
                            </span>
                            <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                        }
                        else if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.NotSpecified)
                        {
                            <span>@Resource.lblNotSpecified</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-8">
                        <h5 class="f-bold pull-left">@Resource.lblQuantity</h5>
                    </div>
                </div>
                <p class="no-margins pt0">
                    @if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.Range)
                    {
                        <span class="">
                            @Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.MinimumQuantity.GetCommaSeperatedValue()@($" - ")
                            @Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.MaximumQuantity.GetCommaSeperatedValue()
                        </span>
                        <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                    }
                    else if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.SpecificAmount)
                    {
                        <span>
                            @Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.Quantity.GetCommaSeperatedValue()
                        </span>
                        <span>@Model.FuelRequest.FuelDetails.FuelQuantity.UoM</span>
                    }
                    else if (Model.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.QuantityTypeId == (int)QuantityType.NotSpecified)
                    {
                        <span>@Resource.lblNotSpecified</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>