@model CounterOfferViewModel

<div class="row offer-container">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <h5 class="f-bold">@Resource.btnLabelPayments</h5>
                <label class="no-margins f-normal mb0 fs16">@Resource.lblTerm</label>
                <p class="no-margins pt0">
                    <span>
                        @(CommonHelperMethods.GetName<PaymentTerms>(Model.FuelRequest.FuelOfferDetails.PaymentTermId))
                        @if (Model.FuelRequest.FuelOfferDetails.PaymentTermId == (int)PaymentTerms.NetDays)
                        {
                            @Html.DisplayFor(m => m.FuelRequest.FuelOfferDetails.NetDays)
                        }
                    </span>
                </p>
                @*Uncomment after Implementation of Discount on Early Payment*@
                @*<div class="hide-element">
                        @Html.LabelFor(m => m.FuelRequest.FuelOfferDetails.PaymentDiscount.IsDiscountOnEarlyPayment, new { @class = "no-margins pt10 f-normal mb0 fs16" })
                        <p class="no-margins pt0">
                            @if (Model.FuelRequest.FuelOfferDetails.PaymentDiscount.IsDiscountOnEarlyPayment == true)
                            {
                                @Model.FuelRequest.FuelOfferDetails.PaymentDiscount.DiscountPercent
                                @Resource.constSymbolPercent @(" ")
                                @Resource.lblDiscountPercentage @(" ")
                                @Model.FuelRequest.FuelOfferDetails.PaymentDiscount.WithinDays @(" ")
                                @Resource.lblDaysAfterInvoice
                            }
                            else
                            {
                                @Resource.lblHyphen
                            }
                        </p>
                    </div>*@
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content">
                    <h5 class="f-bold">@Resource.btnLabelPayments</h5>
                    <label class="no-margins f-normal mb0 fs16">@Resource.lblTerm</label>
                    <p class="no-margins pt0">
                        <span>
                            @(CommonHelperMethods.GetName<PaymentTerms>(Model.PreviousCounterOfferDetails.FuelOfferDetails.PaymentTermId))
                            @if (Model.PreviousCounterOfferDetails.FuelOfferDetails.PaymentTermId == (int)PaymentTerms.NetDays)
                            {
                                @Html.DisplayFor(m => m.PreviousCounterOfferDetails.FuelOfferDetails.NetDays)
                            }
                        </span>
                    </p>
                    @*Uncomment after Implementation of Discount on Early Payment*@
                    @*<div class="hide-element">
                           @Html.LabelFor(m => m.PreviousCounterOfferDetails.FuelOfferDetails.PaymentDiscount.IsDiscountOnEarlyPayment, new { @class = "no-margins pt10 f-normal mb0 fs16" })
                           <p class="no-margins pt0">
                               @if (Model.PreviousCounterOfferDetails.FuelOfferDetails.PaymentDiscount.IsDiscountOnEarlyPayment == true)
                               {
                                   @Model.PreviousCounterOfferDetails.FuelOfferDetails.PaymentDiscount.DiscountPercent
                                   @Resource.constSymbolPercent @(" ")
                                   @Resource.lblDiscountPercentage @(" ")
                                   @Model.PreviousCounterOfferDetails.FuelOfferDetails.PaymentDiscount.WithinDays @(" ")
                                   @Resource.lblDaysAfterInvoice
                               }
                               else
                               {
                                   @Resource.lblHyphen
                               }
                           </p>
                        </div>*@
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-8">
                        <h5 class="f-bold pull-left">@Resource.btnLabelPayments</h5>
                    </div>
                </div>
                <label class="no-margins f-normal mb0 fs16">@Resource.lblTerm</label>
                <p class="no-margins pt0">
                    <span>
                        @(CommonHelperMethods.GetName<PaymentTerms>(Model.CurrentCounterOfferDetails.FuelOfferDetails.PaymentTermId))
                        @if (Model.CurrentCounterOfferDetails.FuelOfferDetails.PaymentTermId == (int)PaymentTerms.NetDays)
                        {
                            @Html.DisplayFor(m => m.CurrentCounterOfferDetails.FuelOfferDetails.NetDays)
                        }
                    </span>
                </p>
                @*Uncomment after Implementation of Discount on Early Payment*@
                @*<div class="hide-element">
                        @Html.LabelFor(m => m.CurrentCounterOfferDetails.FuelOfferDetails.PaymentDiscount.IsDiscountOnEarlyPayment, new { @class = "no-margins pt10 f-normal mb0 fs16" })
                        <p class="no-margins pt0">
                            @if (Model.CurrentCounterOfferDetails.FuelOfferDetails.PaymentDiscount.IsDiscountOnEarlyPayment == true)
                            {
                                @Model.CurrentCounterOfferDetails.FuelOfferDetails.PaymentDiscount.DiscountPercent
                                @Resource.constSymbolPercent @(" ")
                                @Resource.lblDiscountPercentage  @(" ")
                                @Model.CurrentCounterOfferDetails.FuelOfferDetails.PaymentDiscount.WithinDays  @(" ")
                                @Resource.lblDaysAfterInvoice @(" ")
                            }
                            else
                            {
                                @Resource.lblHyphen
                            }
                        </p>
                    </div>*@
            </div>
        </div>
    </div>
</div>