@model CounterOfferViewModel
@{
    var currency = Model.FuelRequest.FuelDetails.FuelPricing.Currency;
}
<div class="row offer-container" id="auto-CounterPrice">
    @if (Model.FuelRequest.FuelDetails.IsTierPricing)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content">
                    <h5 class="f-bold">@Html.Label(Resource.lblPrice, new { @class = "f-bold" })</h5>
                    <p class="no-margins pt0"><span>@CommonHelperMethods.GetPricePerGallon(Model.FuelRequest.Id)</span></p>
                    @Html.Partial("CounterOfferDetails/_PartialTierPricing", Model.FuelRequest.FuelDetails)
                </div>
            </div>

        </div>

    }
    else
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content">
                    <h5 class="f-bold">@Html.Label(Resource.lblPrice, new { @class = "f-bold" })</h5>
                    <p class="no-margins pt0"><span>@CommonHelperMethods.GetPricePerGallon(Model.FuelRequest.Id) @currency</span></p>
                </div>
            </div>
        </div>
    }
    @if (Model.PreviousCounterOfferDetails != null)
    {
        if (Model.PreviousCounterOfferDetails.FuelDetails.IsTierPricing)
        {
            <div class="col-sm-4 single-record">
                <div class="ibox mb0">
                    <div class="ibox-content">
                        <h5 class="f-bold">@Html.Label(Resource.lblPrice, new { @class = "f-bold" })</h5>
                        <p class="no-margins pt0"><span>@CommonHelperMethods.GetPricePerGallon(Model.PreviousCounterOfferDetails.Id)</span></p>
                        @Html.Partial("CounterOfferDetails/_PartialTierPricing", Model.PreviousCounterOfferDetails.FuelDetails)
                    </div>
                </div>

            </div>

        }
        else
        {
            <div class="col-sm-4 single-record">
                <div class="ibox mb0">
                    <div class="ibox-content">
                        <h5 class="f-bold">@Html.Label(Resource.lblPrice, new { @class = "f-bold" })</h5>
                        <p class="no-margins pt0"><span>@CommonHelperMethods.GetPricePerGallon(Model.PreviousCounterOfferDetails.Id) @currency</span></p>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.CurrentCounterOfferDetails != null)
    {
        if (Model.CurrentCounterOfferDetails.FuelDetails.IsTierPricing)
        {
            <div class="col-sm-4 single-record">
                <div class="ibox mb0">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="f-bold">@Html.Label(Resource.lblPrice, new { @class = "f-bold" })</h5>
                            </div>
                        </div>
                        <p class="no-margins pt0 mb10"><span>@CommonHelperMethods.GetPricePerGallon(Model.CurrentCounterOfferDetails.Id)</span></p>
                        @Html.Partial("CounterOfferDetails/_PartialTierPricing", Model.CurrentCounterOfferDetails.FuelDetails)
                    </div>
                </div>


            </div>

        }
        else
        {
            <div class="col-sm-4 single-record">
                <div class="ibox mb0">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="f-bold">@Html.Label(Resource.lblPrice, new { @class = "f-bold" })</h5>
                            </div>
                        </div>
                        <p class="no-margins pt0"><span>@CommonHelperMethods.GetPricePerGallon(Model.CurrentCounterOfferDetails.Id) @currency</span></p>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row offer-container" id="auto-CounterPriceCode">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content pb5 pt5 no-border">
                @if (Model.FuelRequest.FuelDetails.FuelPricing.PricingTypeId == (int)PricingType.RackAverage)
                {
                    <p class="no-margins pt0"><span>@Model.FuelRequest.FuelDetails.FuelPricing.FuelPricingDetails.PricingCode.Code</span></p>
                    <p class="no-margins pt0"><span>@(Model.FuelRequest.FuelDetails.FuelPricing.FuelPricingDetails.PricingCode.Description ?? string.Empty)</span></p> @*for description*@
                }
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content pb5 pt5 no-border">
                    @if (Model.PreviousCounterOfferDetails.FuelDetails.FuelPricing.PricingTypeId == (int)PricingType.RackAverage)
                    {
                        <p class="no-margins pt0"><span>@Model.PreviousCounterOfferDetails.FuelDetails.FuelPricing.FuelPricingDetails.PricingCode.Code</span></p>
                        <p class="no-margins pt0"><span>@(Model.PreviousCounterOfferDetails.FuelDetails.FuelPricing.FuelPricingDetails.PricingCode.Description ?? string.Empty)</span></p> @*for description*@
                    }
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content pb5 pt5 no-border">
                @if (Model.CurrentCounterOfferDetails.FuelDetails.FuelPricing.PricingTypeId == (int)PricingType.RackAverage)
                {
                    <p class="no-margins pt0"><span>@Model.CurrentCounterOfferDetails.FuelDetails.FuelPricing.FuelPricingDetails.PricingCode.Code</span></p>
                    <p class="no-margins pt0"><span>@(Model.CurrentCounterOfferDetails.FuelDetails.FuelPricing.FuelPricingDetails.PricingCode.Description ?? string.Empty)</span></p> @*for description*@
                }
            </div>
        </div>
    </div>
</div>

<div class="row offer-container" id="auto-CounterPriceCityRack">
    @if (Model.FuelRequest.FuelDetails.FuelPricing.CityGroupTerminalId.HasValue && Model.FuelRequest.FuelDetails.FuelPricing.CityGroupTerminalId.Value > 0)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content">
                    <h5 class="f-bold">@Resource.lblCityGroupTerminal</h5>
                    <p class="no-margins pt0"><span>@Model.FuelRequest.FuelDetails.FuelPricing.CityGroupTerminalName @currency</span></p>
                </div>
            </div>
        </div>
    }
    @if (Model.PreviousCounterOfferDetails != null)
    {
        if (Model.PreviousCounterOfferDetails.FuelDetails.FuelPricing.CityGroupTerminalId.HasValue && Model.PreviousCounterOfferDetails.FuelDetails.FuelPricing.CityGroupTerminalId.Value > 0)
        {
            <div class="col-sm-4 single-record">
                <div class="ibox mb10">
                    <div class="ibox-content">
                        <h5 class="f-bold">@Resource.lblCityGroupTerminal</h5>
                        <p class="no-margins pt0"><span>@Model.PreviousCounterOfferDetails.FuelDetails.FuelPricing.CityGroupTerminalName @currency</span></p>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.CurrentCounterOfferDetails.FuelDetails.FuelPricing.CityGroupTerminalId.HasValue && Model.CurrentCounterOfferDetails.FuelDetails.FuelPricing.CityGroupTerminalId.Value > 0)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="f-bold pull-left">@Resource.lblCityGroupTerminal</h5>
                        </div>
                    </div>
                    <p class="no-margins pt0"><span>@Model.CurrentCounterOfferDetails.FuelDetails.FuelPricing.CityGroupTerminalName @currency</span></p>
                </div>
            </div>
        </div>
    }
</div>

