@model CounterOfferViewModel

<div class="row offer-container delivery-section">
    <div class="col-sm-4 single-record">
        <div class="ibox mb0">
            <div class="ibox-content">
                <h5 class="f-bold">@Resource.headingDeliveryDetails</h5>
                <div>
                    @Html.LabelFor(m => m.FuelRequest.FuelDeliveryDetails.StartDate, new { @class = "no-margins f-normal mb0 fs16" })
                    <p class="no-margins pt0"><span>@Model.FuelRequest.FuelDeliveryDetails.StartDate.ToString(Resource.constFormatDate)</span></p>
                </div>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content">
                    <h5 class="f-bold">@Resource.headingDeliveryDetails</h5>
                    <div>
                        @Html.LabelFor(m => m.PreviousCounterOfferDetails.FuelDeliveryDetails.StartDate, new { @class = "no-margins f-normal mb0 fs16" })
                        <p class="no-margins pt0"><span>@Model.PreviousCounterOfferDetails.FuelDeliveryDetails.StartDate.ToString(Resource.constFormatDate)</span></p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb0">
            <div class="ibox-content">
                <h5 class="f-bold">@Resource.headingDeliveryDetails</h5>
                <div>
                    @Html.LabelFor(m => m.CurrentCounterOfferDetails.FuelDeliveryDetails.StartDate, new { @class = "no-margins f-normal mb0 fs16" })
                    <p class="no-margins pt0"><span>@Model.CurrentCounterOfferDetails.FuelDeliveryDetails.StartDate.ToString(Resource.constFormatDate)</span></p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row offer-container">
    <div class="col-sm-4 single-record">
        <div class="ibox mb0">
            <div class="ibox-content pb5 pt5 no-border">
                <div>
                    @Html.LabelFor(m => m.FuelRequest.FuelDeliveryDetails.EndDate, new { @class = "no-margins f-normal mb0 fs16" })
                    <p class="no-margins pt0">
                        @if (Model.FuelRequest.FuelDeliveryDetails.EndDate == null)
                        {
                            <span>@Resource.lblHyphen</span>
                        }
                        else
                        {
                            <span>@Model.FuelRequest.FuelDeliveryDetails.EndDate.Value.ToString(Resource.constFormatDate)</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content pb5 pt5 no-border">
                    <div>
                        @Html.LabelFor(m => m.PreviousCounterOfferDetails.FuelDeliveryDetails.EndDate, new { @class = "no-margins f-normal mb0 fs16" })
                        <p class="no-margins pt0">
                            @if (Model.PreviousCounterOfferDetails.FuelDeliveryDetails.EndDate == null)
                            {
                                <span>@Resource.lblHyphen</span>
                            }
                            else
                            {
                                <span>@Model.PreviousCounterOfferDetails.FuelDeliveryDetails.EndDate.Value.ToString(Resource.constFormatDate)</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb0">
            <div class="ibox-content pb5 pt5 no-border">
                <div>
                    @Html.LabelFor(m => m.CurrentCounterOfferDetails.FuelDeliveryDetails.EndDate, new { @class = "no-margins f-normal mb0 fs16" })
                    <p class="no-margins pt0">
                        @if (Model.CurrentCounterOfferDetails.FuelDeliveryDetails.EndDate == null)
                        {
                            <span>@Resource.lblHyphen</span>
                        }
                        else
                        {
                            <span>@Model.CurrentCounterOfferDetails.FuelDeliveryDetails.EndDate.Value.ToString(Resource.constFormatDate)</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row offer-container">
    <div class="col-sm-4 single-record">
        <div class="ibox mb0">
            <div class="ibox-content pb5 pt5 no-border">
                <div>
                    <label class="no-margins f-normal mb0 fs16">@Resource.lblTime</label>
                    <p class="no-margins pt0">
                        <span>
                            @string.Format("{0} {1} {2}",
                            @Html.DisplayFor(m => m.FuelRequest.FuelDeliveryDetails.StartTime),
                            "to",
                            @Html.DisplayFor(m => m.FuelRequest.FuelDeliveryDetails.EndTime))
                            @*@Html.DisplayFor(m => m.FuelRequest.FuelDeliveryDetails.StartTime) to @Html.DisplayFor(m => m.FuelRequest.FuelDeliveryDetails.EndTime)*@
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content pb5 pt5 no-border">
                    <div>
                        <label class="no-margins f-normal mb0 fs16">@Resource.lblTime</label>
                        <p class="no-margins pt0">
                            <span>
                                @string.Format("{0} {1} {2}",
                                @Html.DisplayFor(m => m.PreviousCounterOfferDetails.FuelDeliveryDetails.StartTime),
                                "to",
                                @Html.DisplayFor(m => m.PreviousCounterOfferDetails.FuelDeliveryDetails.EndTime))
                                @*@Html.DisplayFor(m => m.FuelRequest.FuelDeliveryDetails.StartTime) to @Html.DisplayFor(m => m.FuelRequest.FuelDeliveryDetails.EndTime)*@
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb0">
            <div class="ibox-content pb5 pt5 no-border">
                <div>
                    <label class="no-margins f-normal mb0 fs16">@Resource.lblTime</label>
                    <p class="no-margins pt0">
                        <span>
                            @string.Format("{0} {1} {2}",
                                @Html.DisplayFor(m => m.CurrentCounterOfferDetails.FuelDeliveryDetails.StartTime),
                                "to",
                                @Html.DisplayFor(m => m.CurrentCounterOfferDetails.FuelDeliveryDetails.EndTime))
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.FuelRequest.FuelDeliveryDetails.DeliveryTypeId == (int)DeliveryType.MultipleDeliveries ||
                            (Model.PreviousCounterOfferDetails != null && Model.PreviousCounterOfferDetails.FuelDeliveryDetails.DeliveryTypeId == (int)DeliveryType.MultipleDeliveries) ||
                            (Model.CurrentCounterOfferDetails != null && Model.CurrentCounterOfferDetails.FuelDeliveryDetails.DeliveryTypeId == (int)DeliveryType.MultipleDeliveries))
{
    <div class="row offer-container">
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content pb5 pt5 no-border">
                    <div>
                        <label class="no-margins f-normal mb0 fs16">@Resource.lblEstimatedQuantityPerDelivery</label>
                        <p class="no-margins pt0">
                            <span>
                                @if (Model.FuelRequest.FuelDeliveryDetails.DeliveryTypeId == (int)DeliveryType.MultipleDeliveries)
                                {
                                    @Html.DisplayFor(m => m.FuelRequest.FuelDetails.FuelQuantity.EstimatedGallonsPerDelivery)
                                }
                                else
                                {
                                    @Resource.lblHyphen@Resource.lblHyphen
                                }
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.PreviousCounterOfferDetails != null)
        {
            <div class="col-sm-4 single-record">
                <div class="ibox mb0">
                    <div class="ibox-content pb5 pt5 no-border">
                        <div>
                            <label class="no-margins f-normal mb0 fs16">@Resource.lblEstimatedQuantityPerDelivery</label>
                            <p class="no-margins pt0">
                                <span>
                                    @if (Model.PreviousCounterOfferDetails.FuelDeliveryDetails.DeliveryTypeId == (int)DeliveryType.MultipleDeliveries)
                                    {
                                        @Html.DisplayFor(m => m.PreviousCounterOfferDetails.FuelDetails.FuelQuantity.EstimatedGallonsPerDelivery)
                                    }
                                    else
                                    {
                                        @Resource.lblHyphen@Resource.lblHyphen
                                    }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-4 single-record">
            <div class="ibox mb0">
                <div class="ibox-content pb5 pt5 no-border">
                    <div>
                        <label class="no-margins f-normal mb0 fs16">@Resource.lblEstimatedQuantityPerDelivery</label>
                        <p class="no-margins pt0">
                            <span>
                                @if (Model.CurrentCounterOfferDetails.FuelDeliveryDetails.DeliveryTypeId == (int)DeliveryType.MultipleDeliveries)
                                {
                                    @Html.DisplayFor(m => m.CurrentCounterOfferDetails.FuelDetails.FuelQuantity.EstimatedGallonsPerDelivery)
                                }
                                else
                                {
                                    @Resource.lblHyphen@Resource.lblHyphen
                                }
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row offer-container">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content pb5 pt5 no-border">
                <div>
                    @Html.Label(Resource.headingDeliverySchedules, new { @class = "no-margins f-normal mb0 fs16" })
                    @Html.Partial("_PartialCounterOfferDeliveryScheduleDetails", Model.FuelRequest.FuelDeliveryDetails)
                </div>
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content pb5 pt5 no-border">
                    <div>
                        @Html.Label(Resource.headingDeliverySchedules, new { @class = "no-margins f-normal mb0 fs16" })
                        @Html.Partial("_PartialCounterOfferDeliveryScheduleDetails", Model.PreviousCounterOfferDetails.FuelDeliveryDetails)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content pb5 pt5 no-border">
                <div>
                    @Html.Label(Resource.headingDeliverySchedules, new { @class = "no-margins f-normal mb0 fs16" })
                    @Html.Partial("_PartialCounterOfferDeliveryScheduleDetails", Model.CurrentCounterOfferDetails.FuelDeliveryDetails)
                </div>
            </div>
        </div>
    </div>
</div>