@using SiteFuel.Exchange.Core.StringResources;
@using SiteFuel.Exchange.Utilities;
@model SiteFuel.Exchange.ViewModels.ProgressReportViewModel
@using System.Threading
@{
    Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(Model.Culture);
}
<table cellspacing="0" cellpadding="0">
    <tr>
        <td align="center"><img src="@Model.DailyReportLogo" width="30%"></td>
    </tr>
    <tr>
        <td>
            <p style="margin-top:30px;margin-bottom:25px">
                <h1 style="text-align:center;margin-top:0px;margin-bottom:0px;font-weight:600;font-size:26px;">@Resource.lblSiteFuelDailySummary</h1>
                <h4 style="text-align:center;margin-top:10px;margin-bottom:0px;font-weight:400">@Model.Date</h4>
            </p>
        </td>
    </tr>
    @if (Model.ProgressReportCount.AccountOwnerName != "")
    {
        <tr>
            <td>
                <h2 style="margin-top:10px;margin-bottom:0px;text-align:center;font-weight:600;color:#2e97d1;font-size:16px;">@Model.ProgressReportCount.AccountOwnerName</h2>
            </td>
        </tr>
    }
    <tr>
        <td>
            <h2 style="margin-top:25px;margin-bottom:25px;text-align:center;font-weight:600;color:#4b4b4b;font-size:16px;">@Resource.lblAccountAndUserInformation</h2>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="47%" style="padding-right:2%" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            @if (!Model.HideActiveAccountsAndUsers)
                            {
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblActiveAccounts:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.ActiveAccounts</td>
                                </tr>
                            }
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewAccounts:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.NewAccounts</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewBuyers:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.NewBuyers.Where(t => t.AccountTypeId == (int)AccountType.Real).Count()</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewSuppliers:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.NewSuppliers.Where(t => t.AccountTypeId == (int)AccountType.Real).Count()</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewBuyerAndSuppliers:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.NewBuyerAndSuppliers.Where(t => t.AccountTypeId == (int)AccountType.Real).Count()</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblSFXOwned:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.SFXOwnedAccounts</td>
                            </tr>
                        </table>
                    </td>
                    <td width="47%" style="padding-left:2%" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            @if (!Model.HideActiveAccountsAndUsers)
                            {
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblActiveUsers:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.ActiveUsers</td>
                                </tr>
                            }
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewUsers:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.NewUsers</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewUsersBuyer:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.NewUsersBuyer</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewUsersSuppliers:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.NewUsersSupplier</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblNewUsersBuyerAndSupplier:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.NewUsersBuyerAndSupplier</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-top:30px;margin-bottom:0px;text-align:center;font-weight:600;color:#4b4b4b;font-size:16px;">@Resource.lblNewBuyer</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-bottom:5px;margin-top:10px;text-align:center;font-weight:600;color:#2e97d1;font-size:20px;">@Model.NewBuyers.Count</h2>
        </td>
    </tr>
    <tr>
        <td style="color:#909090;text-align:center;font-size:13px;">
            @foreach (var buyer in Model.NewBuyers)
            {
                if (buyer.AccountTypeId == (int)AccountType.SfxOwned)
                {
                    <div>@buyer.CompanyName @Resource.lblSingleHyphen @buyer.AdminUser @Resource.lblSingleHyphen @buyer.City @Resource.lblSingleHyphen @buyer.State (@buyer.AccountType)</div>
                }
                else
                {
                    <div>@buyer.CompanyName @Resource.lblSingleHyphen @buyer.AdminUser @Resource.lblSingleHyphen @buyer.City @Resource.lblSingleHyphen @buyer.State</div>
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-top:30px;margin-bottom:0px;text-align:center;font-weight:600;color:#4b4b4b;font-size:16px;">@Resource.lblNewSupplier</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-bottom:5px;margin-top:10px;text-align:center;font-weight:600;color:#2e97d1;font-size:20px;">@Model.NewSuppliers.Count</h2>
        </td>
    </tr>
    <tr>
        <td style="color:#909090;text-align:center;font-size:13px;">
            @foreach (var supplier in Model.NewSuppliers)
            {
                if (supplier.AccountTypeId == (int)AccountType.SfxOwned)
                {
                    <div>@supplier.CompanyName @Resource.lblSingleHyphen @supplier.AdminUser @Resource.lblSingleHyphen @supplier.City @Resource.lblSingleHyphen @supplier.State (@supplier.AccountType)</div>
                }
                else
                {
                    <div>@supplier.CompanyName @Resource.lblSingleHyphen @supplier.AdminUser @Resource.lblSingleHyphen @supplier.City @Resource.lblSingleHyphen @supplier.State</div>
                }
            }
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-top:5px;"><span style="display:inline-block;height:3px;width:60px;background-color:#cecece;margin:0 auto;border-radius:10px;"></span></td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-top:30px;margin-bottom:0px;text-align:center;font-weight:600;color:#4b4b4b;font-size:16px;">@Resource.lblNewBuyerAndSupplier</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-bottom:5px;margin-top:10px;text-align:center;font-weight:600;color:#2e97d1;font-size:20px;">@Model.NewBuyerAndSuppliers.Count</h2>
        </td>
    </tr>
    <tr>
        <td style="color:#909090;text-align:center;font-size:13px;">
            @foreach (var buyerAndSupplier in Model.NewBuyerAndSuppliers)
            {
                if (buyerAndSupplier.AccountTypeId == (int)AccountType.SfxOwned)
                {
                    <div>@buyerAndSupplier.CompanyName @Resource.lblSingleHyphen @buyerAndSupplier.AdminUser @Resource.lblSingleHyphen @buyerAndSupplier.City @Resource.lblSingleHyphen @buyerAndSupplier.State (@buyerAndSupplier.AccountType)</div>
                }
                else
                {
                    <div>@buyerAndSupplier.CompanyName @Resource.lblSingleHyphen @buyerAndSupplier.AdminUser @Resource.lblSingleHyphen @buyerAndSupplier.City @Resource.lblSingleHyphen @buyerAndSupplier.State</div>
                }
            }
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-top:5px;"><span style="display:inline-block;height:3px;width:60px;background-color:#cecece;margin:0 auto;border-radius:10px;"></span></td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-top:30px;margin-bottom:0;text-align:center;font-weight:600;color:#4b4b4b;font-size:16px">@Resource.lblFuelRequestInformation</h2>
        </td>
    </tr>
    <tr>
        <td style="padding-top:7px;padding-bottom:25px;">
            @*<h2 style="margin-top:20px;margin-bottom:25px;text-align:center;font-weight:600;color:#2e97d1;font-size:15px">@Resource.lblTotalRealAndSFXOwnedAccounts</h2>*@
        </td>
    </tr>

    <!-- Real & SFX Owned Account Starts -->
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="47%" style="padding-right:2%" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblFRCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.FRCreated</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularFRCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularFRCreated</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOFRCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOFRCreated</td>
                            </tr>
                        </table>
                    </td>
                    <td width="47%" style="padding-left:2%" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblFRAccepted:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.FRAccepted</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularFRAccepted:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularFRAccepted</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOFRAccepted:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOFRAccepted</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td width="47%" style="padding-right:2%" valign="top">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblGallonsRequested:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.GallonsRequested.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularGallonsRequested:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularGallonsRequested.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOGallonsRequested:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOGallonsRequested.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                            </tr>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Real & SFX Owned Account Ends -->
    @*<tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:20px">
                    <tr>
                        <!-- Real Account Start -->
                        <td width="47%" style="padding-right:2%" valign="top">
                            <h3 style="color:#1bbb9e;font-size:14px;text-align:center">@Resource.lblRealAccounts</h3>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblFRCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.FRCreatedForRealAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularFRCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularFRCreatedForRealAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOFRCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOFRCreatedForRealAccount</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblFRAccepted:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.FRAcceptedForRealAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularFRAccepted:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularFRAcceptedForRealAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOFRAccepted:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOFRAcceptedForRealAccount</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblGallonsRequested:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.GallonsRequestedForRealAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularGallonsRequested:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularGallonsRequestedForRealAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOGallonsRequested:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOGallonsRequestedForRealAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                            </table>
                        </td>
                        <!-- Real Account Ends -->
                        <!-- SFX Owned Account Start -->
                        <td width="47%" style="padding-left:2%" valign="top">
                            <h3 style="color:#1bbb9e;font-size:14px;text-align:center">@Resource.lblSFXOwned</h3>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblFRCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.FRCreatedForSFXOwnedAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularFRCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularFRCreatedForSFXOwnedAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOFRCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOFRCreatedForSFXOwnedAccount</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblFRAccepted:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.FRAcceptedForSFXOwnedAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularFRAccepted:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularFRAcceptedForSFXOwnedAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOFRAccepted:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOFRAcceptedForSFXOwnedAccount</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblGallonsRequested:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.GallonsRequestedForSFXOwnedAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRegularGallonsRequested:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RegularGallonsRequestedForSFXOwnedAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblTPOGallonsRequested:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TPOGallonsRequestedForSFXOwnedAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                            </table>
                        </td>
                        <!-- SFX Owned Account Ends -->
                    </tr>
                </table>
            </td>
        </tr>*@



    <tr>
        <td align="center" style="padding-top:5px;"><span style="display:inline-block;height:3px;width:60px;background-color:#cecece;margin:0 auto;border-radius:10px;"></span></td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-top:30px;margin-bottom:0;text-align:center;font-weight:600;color:#4b4b4b;font-size:16px;">@Resource.lblDropInformation</h2>
        </td>
    </tr>
    <tr>
        <td style="padding-top:7px;padding-bottom:25px;">
            @*<h2 style="margin-top:20px;margin-bottom:25px;text-align:center;font-weight:600;color:#2e97d1;font-size:15px">@Resource.lblTotalRealAndSFXOwnedAccounts</h2>*@
        </td>
    </tr>
    <!-- Real & SFX Owned Account Starts -->
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="47%" style="padding-right:2%" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblDropsMade:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TotalDrops</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblDDTCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.DDTCreated</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblInvoicesCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.InvoiceCreated</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblCreditlnvoicesCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.CreditInvoiceCreated</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblRebillnvoicesCreated:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.RebillInvoiceCreated</td>
                            </tr>
                        </table>
                    </td>
                    <td width="47%" style="padding-left:2%" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblGallonsDropped:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.GallonsDropped.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblValueofInvoices:</td>
                                <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">$@Model.ProgressReportCount.TotalInvoiceAmount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Real & SFX Owned Account Ends -->
    @*<tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:20px">
                    <tr>
                        <td width="47%" style="padding-right:2%" valign="top">
                            <!-- Real Account Starts -->
                            <h3 style="color:#1bbb9e;font-size:14px;text-align:center">@Resource.lblRealAccounts</h3>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblDropsMade:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TotalDropsForRealAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblDDTCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.DDTCreatedForRealAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblInvoicesCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.InvoiceCreatedForRealAccount</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblGallonsDropped:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.GallonsDroppedForRealAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblValueofInvoices:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">$@Model.ProgressReportCount.TotalInvoiceAmountForRealAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                            </table>
                            <!-- Real Account Ends -->
                        </td>
                        <td width="47%" style="padding-left:2%" valign="top">
                            <!-- SFX Owned Account Starts -->
                            <h3 style="color:#1bbb9e;font-size:14px;text-align:center">@Resource.lblSFXOwned</h3>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblDropsMade:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.TotalDropsForSFXOwnedAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblDDTCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.DDTCreatedForSFXOwnedAccount</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblInvoicesCreated:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.InvoiceCreatedForSFXOwnedAccount</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblGallonsDropped:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">@Model.ProgressReportCount.GallonsDroppedForSFXOwnedAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;color:#4b4b4b;font-size:14px;">@Resource.lblValueofInvoices:</td>
                                    <td style="text-align:right;font-weight:600;color:#2e97d1;font-size:14px;">$@Model.ProgressReportCount.TotalInvoiceAmountForSFXOwnedAccount.GetPreciseValue(2).GetCommaSeperatedValue()</td>
                                </tr>
                            </table>
                            <!-- SFX Owned Account Ends -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>*@
    <tr>
        <td align="center" style="padding-top:5px;"><span style="display:inline-block;height:3px;width:60px;background-color:#cecece;margin:0 auto;border-radius:10px;"></span></td>
    </tr>
    <tr>
        <td>
            <h2 style="margin-top:30px;margin-bottom:25px;text-align:center;font-weight:600;color:#4b4b4b;font-size:18px;">@Resource.lblTotalMonthToDate</h2>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-weight:600;color:#4b4b4b;font-size:16px;text-align:center">
                        @Resource.lblGallonsRequested<br />
                        <span style="font-weight:600;color:#2e97d1;font-size:16px;">@Model.ProgressReportCount.TotalMonthGallonsRequested.GetPreciseValue(2).GetCommaSeperatedValue()</span>

                    </td>
                    <td style="font-weight:600;color:#4b4b4b;font-size:16px;text-align:center">
                        @Resource.lblGallonsDropped<br />
                        <span style="font-weight:600;color:#2e97d1;font-size:16px;">@Model.ProgressReportCount.TotalMonthGallonsDropped.GetPreciseValue(2).GetCommaSeperatedValue()</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:600;color:#4b4b4b;font-size:16px;text-align:center;padding-top:10px;">
                        $ @Resource.lblValueofInvoices<br />
                        <span style="font-weight:600;color:#2e97d1;font-size:16px;">@Model.ProgressReportCount.TotalMonthInvoiceAmount.GetPreciseValue(2).GetCommaSeperatedValue()</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:20px 0">
            <p style="font-size:14px;">@Resource.lblProgressReportMessage.</p>
        </td>
    </tr>
</table>
