@{
    Layout = null;
    int number = 1;
}
@model SiteFuel.Exchange.ViewModels.CarrierDeliveryViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrier Delivery</title>
    <style>
        .carrier-delivery * {
            font-family: Tahoma, Verdana, sans-serif;
            color: #585858;
            padding: 0;
            margin: 0;
        }

        .carrier-delivery label {
            font-size: 14px;
            display: block;
            opacity: 0.7;
            padding-bottom: 5px;
        }

        .carrier-delivery .grid th,
        .carrier-delivery .grid td {
            padding: 10px 5px 10px 0;
            font-weight: normal;
            font-size: 14px;
            border-bottom: 1px solid rgb(209, 209, 209);
        }

        .carrier-delivery .grid th {
            font-weight: bold;
        }

        .carrier-delivery .grid tbody tr:last-child td {
            border-bottom: none;
        }
    </style>
</head>

<body>
    <div class="carrier-delivery">
        <p> Hello,</p>
        <p>
            We have generated today's Carrier Performance report.  Please see the spreadsheet(s) attached.
            One contains details on records received and processed in the last 24 hours. 
            The other is of any exceptions your 3rd party carriers might've seen. Please contact TrueFill with any questions.
        </p>
    </div>
    @*@foreach (var item in Model.CarrierDelXUserViewModel)
        {
            <div class="carrier-delivery">
                <h3 style="margin:10px 0;">@number.ToString(). @item.Name</h3>
                <table>
                    <tr>
                        <td valign="top">
                            <label>Number of Deliveries</label>
                            <span style="font-size:18px;">@item.TotalDSCount</span>
                        </td>
                        <td width="5%"></td>
                        <td valign="top">
                            <label>Quantity of Delivered</label>
                            <span style="font-size:18px;">
                                @item.TotalQty.ToString("N2")
                                @if ((int)item.UoM > 0)
                                {
                                    <span>@item.UoM.ToString()</span>
                                }

                            </span>
                        </td>
                        <td width="5%"></td>
                        <td valign="middle">
                            <a href="@item.URL" style="float:right;background:#1062d1;line-height:1.5;border-radius:100px;padding:2px 10px;color:white;text-decoration:none;font-size:13px;">Summary</a>
                        </td>
                    </tr>
                </table>
                <div style="border: 1px solid #d5d5d5;border-radius: 5px;padding: 10px;margin-top:20px;box-shadow:2px 7px 6px #eeeeee">
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <h3 style="float:left;font-weight:normal;">
                                    Delivery upload failure and reason
                                </h3>
                                <h4 style="float:left;margin:3px 0 0 30px;background-color:#e14848;padding:2px 10px;border-radius:100px;color:white;font-size:13px;font-weight: normal;">
                                    Total failure count @item.DeliveryUploadFailure.Count.ToString()
                                </h4>
                            </td>
                        </tr>
                    </table>
                    @if (item.DeliveryUploadFailure.Any())
                    {
                        <table width="100%" cellspacing="0" cellpadding="10" class="grid" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <th align="left" width="10%">Carrier</th>
                                    <th align="left" width="10%">BOL #</th>
                                    <th align="left" width="10%">Product</th>
                                    <th align="left" width="10%">Qty</th>
                                    <th align="left" width="15%">Origin</th>
                                    <th align="left" width="15%">Location</th>
                                    <th align="left" width="30%">Reason For Failure</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var delUploadFailure in item.DeliveryUploadFailure)
                                {
                                    <tr>
                                        <td valign="top" width="10%">
                                            @delUploadFailure.Carriername
                                        </td>
                                        <td valign="top" width="10%">
                                            @delUploadFailure.BOL
                                        </td>
                                        <td valign="top" width="10%">
                                            @delUploadFailure.ProductType
                                        </td>
                                        <td valign="top" width="10%">
                                            @delUploadFailure.ProductQty
                                        </td>
                                        <td valign="top" width="15%">
                                            @delUploadFailure.PickupLocationName
                                        </td>
                                        <td valign="top" width="15%">
                                            @delUploadFailure.DeliveryLocationName
                                        </td>
                                        <td valign="top" width="30%">
                                            @delUploadFailure.ReasonForFailure
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>

                <div style="border: 1px solid #d5d5d5;border-radius: 5px;padding: 10px;margin-top:30px;box-shadow:2px 7px 6px #eeeeee">
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <h3 style="float:left;font-weight:normal;">
                                    DR count by priority
                                </h3>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Must Go  @item.CarrierDeliveryRequestInfo.MustGo.ToString()
                                </h4>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Should Go  @item.CarrierDeliveryRequestInfo.ShouldGo.ToString()
                                </h4>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Could Go  @item.CarrierDeliveryRequestInfo.CouldGo.ToString()
                                </h4>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Assigned to me @item.CarrierDeliveryRequestInfo.AssignedToMe.ToString()
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="border: 1px solid #d5d5d5;border-radius: 5px;padding: 10px;margin-top:30px;box-shadow:2px 7px 6px #eeeeee">
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <h3 style="float:left;font-weight:normal;">
                                    Run Outs
                                </h3>
                                <h4 style="float:left;margin:3px 0 0 30px;background-color:#e14848;padding:2px 10px;border-radius:100px;color:white;font-size:13px;font-weight: normal;">
                                    Total  count @item.CarrierTankRunOutInfo.Count().ToString()
                                </h4>
                            </td>
                        </tr>
                    </table>
                    @if (item.CarrierTankRunOutInfo.Any())
                    {
                        <table width="100%" cellspacing="0" cellpadding="10" class="grid" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <th align="left">Customer Name</th>
                                    <th align="left">Location Name</th>
                                    <th align="left">Product Type</th>
                                    <th align="left">Tank Name</th>
                                    <th align="left">Storage Id</th>
                                    <th align="left">Storage Type Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var carrierTankRunOutInfo in item.CarrierTankRunOutInfo)
                                {
                                    <tr>
                                        <td valign="top">
                                            @carrierTankRunOutInfo.CustomerName
                                        </td>
                                        <td valign="top">
                                            @carrierTankRunOutInfo.LocationName
                                        </td>
                                        <td valign="top">
                                            @carrierTankRunOutInfo.ProductType
                                        </td>
                                        <td valign="top">
                                            @carrierTankRunOutInfo.TankName
                                        </td>
                                        <td valign="top">
                                            @carrierTankRunOutInfo.StorageId
                                        </td>
                                        <td valign="top">
                                            @carrierTankRunOutInfo.StorageTypeId
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
                <div style="border: 1px solid #d5d5d5;border-radius: 5px;padding: 10px;margin-top:30px;box-shadow:2px 7px 6px #eeeeee">
                    <table>
                        <tr>
                            <td valign="top">
                                <h3 style="float:left;font-weight:normal;">
                                    Over/under deliveries
                                </h3>
                                <h4 style="float:left;margin:3px 0 0 30px;background-color:#e14848;padding:2px 10px;border-radius:100px;color:white;font-size:13px;font-weight: normal;">
                                    Total count  @item.CarrierOverUnderDeliveryRequestInfo.TotalCount.ToString()
                                </h4>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Over Deliveries @item.CarrierOverUnderDeliveryRequestInfo.OverDeliveries.ToString()
                                </h4>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Under Deliveries @item.CarrierOverUnderDeliveryRequestInfo.UnderDeliveries.ToString()
                                </h4>
                                <h4 style="float:left;margin:3px 0 0 10px;border:1px solid #5e5e5e;padding:2px 10px;border-radius:100px;color:#000;font-size:13px;font-weight: normal;">
                                    Missed Deliveries @item.CarrierOverUnderDeliveryRequestInfo.MissedDeliveries.ToString()
                                </h4>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            number = number + 1;
        }*@

</body>

</html>

