@{
    ViewBag.Title = "Profile & Billing Address";
}

<div class="row">
    <div class="col-sm-7 col-md-9 mb10 tab-headers dib">
        <a id="tab-company-profile" onclick="showsection('company-profile'), activelink(this)" class="mr20 single-ajax-mode"
           data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#company-profile-details"
           data-ajax-url="@Url.Action("GetCompanyProfileTab", "Profile", new { area = "Settings", userId = CurrentUser.Id })">
            <div class="step-inprogress fs18">
                <span class="f-light step-text pull-left">@Resource.headingCompanyProfile</span>
            </div>
        </a>
        <a id="tab-billing-address" onclick="showsection('billing-address'), activelink(this)" class="mr20 single-ajax-mode"
           data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#billing-address-details"
           data-ajax-url="@Url.Action("GetBillingAddressTab", "Profile", new { area = "Settings", companyId = CurrentUser.CompanyId })">
            <div class="step-inprogress fs18">
                <span class="f-light step-text pull-left">@Resource.headingBillingAddress</span>
            </div>
        </a>
    </div>
</div>
<div class="tab-container">
    <div id="company-profile" class="hide-element row">
        <div class="col-md-12">
            <div class="mb10" id="company-profile-details">
            </div>
        </div>
    </div>
    <div id="billing-address" class="col-md-12 hide-element">
        <div class="row mb10" id="billing-address-details">
        </div>
    </div>
</div>
@*@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/stateautofill")
<script type="text/javascript">
    var allStates = @Html.Raw(Json.Encode(CommonHelperMethods.GetStatesOfAllCountries()));
</script>*@
