@model CompanySettingViewModel

<div class="row">
    <div class="col-12 col-sm-12">
        <h3 class="mt0 f-light fs18 float-left mr20">@Resource.headingPaymentInformation</h3>
        @if (CurrentUser.IsBuyerAdmin || CurrentUser.IsSupplierAdmin)
        {
            <a href="@Url.Action("CompanyPaymentInformation", "Profile" , new { area="Settings" })" class="fs18 pull-left mb10" id="auto-linkaddnewcard">
                <i class="fa fa-plus-circle fs14 mt4 float-left"></i><span class="fs14 ml5 pull-left">@Resource.btnLabelAddNewCard</span>
            </a>
        }
    </div>
</div>
@Html.Partial("CompanyPaymentInformationGrid")

@if (CurrentUser.IsSupplierCompany)
{
    using (Html.BeginForm("SaveCompanySetting", "Profile", new { area = "Settings" }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-12 col-sm-12">
                <h3 class="mt0 f-light fs18 pull-left mr20">@Resource.headingCreditCardProcessing</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well bg-white shadow-b">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProcessingFeeType)
                                @Html.DropDownListFor(m => m.ProcessingFeeType, new SelectList(CommonHelperMethods.GetAllFeeSubTypes(Convert.ToString((int)FeeType.ProcessingFee)), "Id", "Name", 0), @Resource.lblSelect, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ProcessingFeeType)
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProcessingFee)
                                @Html.TextBoxFor(m => m.ProcessingFee, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ProcessingFee)
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-sm-12 text-right">
                            <input type="submit" id="Submit" value="@Resource.btnLabelSave" class="btn btn-lg btn-primary submit-form" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
