@model List<AdditionalUserViewModel>
@{
    ViewBag.Title = "Manage SMS Alerts";
}
<div class="col-sm-12">
    <div class="row well">
        <div class="col-sm-12">
            <h4>@Resource.headingManageAlerts</h4>
            <div class="row table-responsive">
                <div class="col-md-12">
                    <table id="notifications-table" class="table table-bordered table-hover no-footer">
                        <thead>
                            <tr>
                                <th>@Resource.gridColumnEmail</th>
                                <th>@Resource.gridColumnRoles</th>
                                <th>@Resource.gridColumnUser</th>
                                <th width="35%">@Resource.gridcolumnEventName</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(t => t.IsActive))
                            {
                                @Html.Partial("_PartialCompanyNotificationSettings", item)
                            }
                        </tbody>
                    </table>
                    <div class="pa bg-white top0 left0 z-index5 loading-wrapper hide-element"><span class='spinner-dashboard pa'></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateUserEvent(element) {
        var userId = parseInt($(element).closest('tr').find('.userId').val());
        var events = JSON.stringify($(element).closest('tr').find('select.events').val());

        var url = '@Url.Action("UpdateUserEvents", "Profile","Setting")';
        $.post(url, { userId, events }, function (response) {
            if (response.StatusCode == 0) {
                msgsuccess(response.StatusMessage, "Success", 5000);
            }
            else {
                msgerror(response.StatusMessage, "Error", 5000);
            }
        });
    }
</script>
