@model FavoriteFuelViewModel
@{
    ViewBag.Title = "Favorite Fuel Types";
}

<div class="row">
    <div class="col-md-4 tab-headers">
        <a id="tab-favoritelist" href="javascript:void(0)" onclick="showsection('favoritelist'), activelink(this)" class="active mr20">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.headingFavoriteFuels</span>
            </div>
        </a>
        <a id="tab-history" href="javascript:void(0)" onclick="showsection('history'), activelink(this)">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.headingHistory</span>
            </div>
        </a>
    </div>
</div>
<div class="tab-container pt20">
    <div id="favoritelist" data-parent-tab="tab-favoritelist" class="subTabs">
        <div class="row">
            @if (CurrentUser.IsBuyerAdmin || CurrentUser.IsBuyer)
            {
            <div class="col-md-4 col-sm-5">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <div class="row well ph5">
                            <div class="col-sm-12 pb10">
                                @Html.Label(Resource.lblFuelTypes)
                                @Html.ListBoxFor(m => m.SelectedFuelTypes, new SelectList(Model.FuelTypeList, "Id", "Name", 0), new { @class = "form-control multi-select full-width" })
                            </div>
                            <div class="col-sm-12 text-right">
                                <input id="btnAddToFavorites" type="submit" class="btn btn-primary" value="@Resource.btnLabelAddToFavorites" />
                            </div>
                        </div>
                    </div>

                }
            </div>
            }
                    <div class="@(CurrentUser.IsBuyerAdmin || CurrentUser.IsBuyer ? "col-md-8" : "col-md-12" ) col-sm-12">
                        @{ Html.RenderPartial("_PartialCompanyFavoriteFuelGrid"); }
                    </div>
                </div>
    </div>
    <div id="history" data-parent-tab="tab-history" class="subTabs hide-element">
        <div class="row">
            <div class="col-md-12">
                @{ Html.RenderPartial("_PartialCompanyFavoriteFuelHistory"); }
            </div>
        </div>
    </div>
</div>