
@model AdditionalUsersViewModel

@{
    ViewBag.Title = "Invite Companies";
}

@using (Html.BeginForm("InviteCompanies", "Profile", new { area = "Settings" }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="col-sm-12">
    <div class="row well">
        <div class="col-sm-12">
            <h4>@Resource.headingInviteCompanies</h4>
            <div id="invite-user-section" class="row partial-section">
                <div class="col-sm-12 partial-block-collection-section">
                    @if (Model.AdditionalUsers != null && Model.AdditionalUsers.Count() > 0)
                    {
                        foreach (var additionalUser in Model.AdditionalUsers)
                        {
                            Html.RenderPartial("_PartialInviteCompanies", additionalUser);
                        }
                    }
                    else
                    {
                        Html.RenderPartial("_PartialInviteCompanies", new AdditionalUserViewModel());
                    }

                </div>
                @if (Model.DisplayMode == PageDisplayMode.Create)
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <a href="#" class="fs18 add-partial-block" data-url="@Url.Action("InviteMoreCompanies", "Profile", new { area = "Settings" })">
                                <i class="fa fa-plus-circle fs18 mt2 mr5 float-left mb10"></i><span class="fs14 float-left">@Resource.btnLabelAddAnother</span>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="row text-right">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 text-right">
                    <input type="button" class="btn" value="@Resource.btnLabelCancel" onclick="location.href='@Url.Action("InvitedCompanies", "Profile", new { area = "Settings" })'" />
                    <input type="submit" class="btn btn-lg btn-primary disable-when-no-partialblock" value="@Resource.btnLabelSave" />
                </div>
            </div>
        </div>
    </div>
</div>
}