@{
    ViewBag.Title = "Preference & Feature Setting";
}
<div class="row">
    <div class="col-sm-7 col-md-9 mb10 tab-headers dib">
        <a id="tab-preferences-setting" onclick="showsection('preferences-setting'), activelink(this)" class="mr20 single-ajax-mode"
           data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#preferences-setting-details" data-ajax-complete="completed"
           data-ajax-url="@Url.Action("GetPreferencesSetting", "Profile", new { area = "Settings" })">
            <div class="step-inprogress fs18">
                <span class="f-light step-text pull-left">@Resource.headingPreferencesSetting</span>
            </div>
        </a>
        <a id="tab-feature-setting" onclick="showsection('feature-setting'), activelink(this)" class="mr20 single-ajax-mode"
           data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#feature-setting-details" data-ajax-complete="completed"
           data-ajax-url="@Url.Action("GetFeatureSetting", "Profile", new { area = "Settings" })">
            <div class="step-inprogress fs18">
                <span class="f-light step-text pull-left">@Resource.headingFeatureSetting</span>
            </div>
        </a>
    </div>
</div>
<div class="tab-container">
    <div id="preferences-setting" class="row hide-element">
        <div class="col-sm-12">
            <div class="row mb10" id="preferences-setting-details">
            </div>
        </div>
    </div>
    <div id="feature-setting" class="row hide-element">
        <div class="col-sm-12">
            <div class="row mb10" id="feature-setting-details">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ('@CurrentUser.IsSupplier' == 'True' || '@CurrentUser.IsSupplierAdmin' == 'True' || '@CurrentUser.IsSupplierAndCarrierCompany' == 'True') {
            completed = function (xhr) {
                getSupplierPreferenceSetting();
            };
        }
    });
</script>