@model SiteFuel.Exchange.ViewModels.Quickbooks.QbCompanyProfile

@{
    ViewBag.Title = "Quickbooks Profile";
}

<h4 class="f-light border-b pb10 fs18">@Resource.headingQuickbooksProfile</h4>
<div>
    @if (Model == null)
    {
        <div class="alert alert-warning fs12 mb15"><strong>@Resource.lblWarning</strong>@Resource.msgQuickbookNotConfigured @Resource.lblSupportPhone</div>
    }
    else
    {
        <div class="row mb10">
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal"> @Html.DisplayNameFor(model => model.Username)</label>
                <div class="break-word">@Html.DisplayFor(model => model.Username)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal"> @Html.DisplayNameFor(model => model.Password)</label>
                <div class="break-word">@Html.DisplayFor(model => model.Password)</div>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.LastAccessedOn)</label>
                <div class="break-word">@Html.DisplayFor(model => model.LastAccessedOn)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal"> @Html.DisplayNameFor(model => model.ProfileUpdatedOn)</label>
                <div class="break-word">@Html.DisplayFor(model => model.ProfileUpdatedOn)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal"> @Html.DisplayNameFor(model => model.ProfileCreatedOn)</label>
                <div class="break-word">@Html.DisplayFor(model => model.ProfileCreatedOn)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.QbVersion)</label>
                <div class="break-word">@Html.DisplayFor(model => model.QbVersion)</div>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.ExpenseAccountName)</label>
                <div class="break-word">@Html.DisplayFor(model => model.ExpenseAccountName)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.IncomeAccountName)</label>
                <div class="break-word">@Html.DisplayFor(model => model.IncomeAccountName)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.ClassRef)</label>
                <div class="break-word">@Html.DisplayFor(model => model.ClassRef)</div>
            </div>
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.ItemPrefix)</label>
                <div class="break-word">@Html.DisplayFor(model => model.ItemPrefix)</div>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-3 col-xs-6 mb10">
                <label class="f-normal">@Html.DisplayNameFor(model => model.IsActive)</label>
                <div class="break-word">@Html.DisplayFor(model => model.IsActive)</div>
            </div>
        </div>
        <h4 class="f-light border-b pb10 fs18">@Resource.headingPaymentTerms @*@Html.DisplayNameFor(model => model.PaymentTerms)*@</h4>
        <div class="row">
            <div class="col-sm-12">
                <input type="button" class="btn btn-primary" value="Request Payment Terms from QB" onclick="RequestPaymentTerms(this)" />
                @if (Model.PaymentTerms.Any())
                {
                    <table class="mt15 pl15">
                        <tr>
                            <th class="pb5">Term Name</th>
                            <th class="pl10 pb5">SFX Supported</th>
                        </tr>
                        @foreach (var x in Model.PaymentTerms)
                        {
                            <tr>
                                <td class="pb5">
                                    @Html.DisplayFor(modelItem => x.TermName)
                                </td>
                                <td class="pl10 pb5">
                                    @Html.DisplayFor(modelItem => x.IsActive)
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
        @*<dt>
                @Html.DisplayNameFor(model => model.QwcXml)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QwcXml)
            </dd>*@
    }
</div>

<script>
    function RequestPaymentTerms(me) {
        $(me).prop('disabled', 'disabled');
        $.ajax(
            {
                url: '@Url.Action("RequestPaymentTermsFromQuickbooks", "Profile")',
                method: 'POST',
                success: function (data) {
                    msginfo('Note', data.message,10000)
                },
                error: function () {
                    $(me).prop('disabled', false);
                }
            }
        );
    }
</script>