@model TimeCardSettingViewModel
@{
    ViewBag.Title = "Time Card Settings";
}

<div class="row">
    <div class="col-md-3 mb15 tab-headers">
        <a href="javascript:void(0)" class="active mr20">
            <div class="step-inprogress fs18">
                <span id="tabTimeCardSettings" class="f-light step-text float-left">@Resource.tabHeadingTimeCard</span>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tab-container pt10">
            <div id="creditapp-details">
                @using (Html.BeginForm("TimeCardSetting", "Profile", new { area = "Settings" }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- order details starts -->
                    <div class="row @(CurrentUser.IsSupplierAdmin ? "" : "disable-controls")">
                        <div class="col-sm-12 pb20 ">
                            @Html.HiddenFor(m => m.CompanyId)
                            <div class="row">
                                <div class="col-md-6 col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="checkbox mt0">
                                                <label class="checkbox-inline">
                                                    @Html.CheckBoxFor(m => m.IsTimeCardEnabled)
                                                    @Resource.lblTimeCardSettings
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-right pb20 mt10">
                                <div class="col-sm-12 text-right">
                                    <input type="button" id="btnCancel" class="btn" value="@Resource.btnLabelCancel" onclick="location.href='@Url.Action("Index", "Home", new { area = "" })'" />
                                    @if (CurrentUser.IsSupplierAdmin)
    {
                                <input id="btnSaveDetails" type="submit" class="btn btn-lg btn-primary btn-md" value="@Resource.btnLabelSave" />
}
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>