@{
    ViewBag.Title = "Your Customers";
}
<div class="hide-element animated slideInUp radius-5 bg-white pa15 customer-offer">
    <input type="button" class="btn btn-primary" value="@Resource.btnLabelCreate @Resource.lblOffer " onclick="createOffer()" />
    <input type="button" class="btn btn-default mr5" value="@Resource.btnLabelView @Resource.lblOffer" onclick="viewOffer()" />
    <i class="fa fa-times fs21 handpointer pull-right mt7 close-offer"></i>
</div>
@Html.Partial("_PartialBuyerPerformanceGrid", new UspBuyerPerformanceViewModel())
<div id="supplier-tpo-customers-div">
    @Html.Partial("_PartialTpoBuyersGrid", new UspBuyerPerformanceViewModel())
</div>
<div id="supplier-supplierperformanceDiv">
    @Html.Partial("~/Views/Shared/_PartialSupplierPerformanceGrid.cshtml", new UspSupplierPerformanceViewModel())
</div>

@using (Html.BeginScripts())
{
    <script>
        var selectedCompanies = [];
        $(document).on('click', '.selectCustomer', function () {
            thisObj = this;
            if (thisObj.checked) {
                selectedCompanies.push(thisObj.value);
            } else {
                selectedCompanies = $.grep(selectedCompanies, function (value) { return value != thisObj.value;});
            }
            if (selectedCompanies.length > 0) {
                $(".customer-offer").show();
            }
            else {
                $(".customer-offer").hide();
            }
        });
        $(document).on('click', '.close-offer', function () {
            $(".customer-offer").hide();
            $(".selectCustomer").prop("checked", false);
            selectedCompanies = [];
        });
        function createOffer() {
            var url = '@Url.Action("Create", "Offer")?';
            var qstring = 'custlist=' + selectedCompanies.join(',');
            window.location.href = url + qstring;
        }
        function viewOffer() {
            var url = '@Url.Action("View", "Offer")?';
            var qstring = 'custlist=' + selectedCompanies.join(',');
            window.location.href = url + qstring;
        }
    </script>
}