@model NotificationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">.

    <title>TrueFill</title>
    <style>
        body,
        html {
            font-family: 'Noto Sans';
            padding: 0px;
            margin: 0px;
        }

        .container {
            margin: 0 auto;
            max-width: 1280px;
            width: 90%;
        }

            .container .row {
                margin-left: 10px;
                margin-right: 10px;
            }

        .center {
            text-align: center;
        }

        img.responsive-img {
            max-width: 100%;
            height: auto;
        }

        .btn {
            border: none;
            border-radius: 2px;
            display: inline-block;
            height: 36px;
            line-height: 36px;
            outline: 0;
            text-transform: uppercase;
            vertical-align: middle;
            -webkit-tap-highlight-color: transparent;
        }

        .btn {
            text-decoration: none;
            color: #fff;
            background-color: #26a69a;
            text-align: center;
            letter-spacing: .5px;
            transition: .2s ease-out;
        }

        .btn {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }

            .btn:hover {
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            }

        h4 {
            font-size: 35px;
            line-height: 110%;
            margin: 30px 0 15px 0;
        }

        .link-white {
            color: #fff;
            text-decoration: none;
            padding: 0 30px;
            display: inline-block;
        }

        .link-blue {
            color: #244E9E;
            text-decoration: none;
            padding: 0 30px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="center" style="padding: 20px 0">
            <img src="@Html.ImageSrc(Server.MapPath(Resource.email_HeaderLogo))" alt="EmailLogo" title="EmailLogo" style="display:block" width="200" height="87" @*class="responsive-img"*@ />
        </div>
    </div>
    <div style="background-color: #244E9E">
        <div class="container center">
            <h4 style="color:#fff; padding:100px 0 40px 0;">@Resource.lblTagline</h4>
        </div>
    </div>
    <div class="container">
        <div class="center">
            <img src="@Html.ImageSrc(Server.MapPath(Model.BodyLogo))" class="responsive-img" alt="BodyLogo" title="BodyLogo" style="display:block;margin-top: 60px;">
            <div style="margin: 50px auto">
                @Model.BodyText
            </div>
            <div class="btn" href="#" style="background-color: #fff; margin-bottom:40px; border: 2px solid #244E9E; color: #244E9E;">
                <a href="@Model.BodyButtonUrl" class="link-blue">@Model.BodyButtonText</a>
            </div>
        </div>
    </div>
    <div style="background-color: #244E9E">
        <div class="container center">
            <p style="color:#fff; padding:15px 0; font-size:12px" id="dynamic-footer-text"> &copy; 2022 TrueFill, Inc.</p>
        </div>
    </div>
</body>
</html>
