@model TankDetailsViewModel
@using (Html.BeginCollectionItem("Tanks"))
{
    <div class="pl15 pr15 mt10 tank-row">
        <div class="row">
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.IsToBeIncludedInInvoice, new { @class = "hdn-include-in-invoice" })
                <a href="javascript:void(0)" class="pa right0 color-maroon mt10 mr15 z-index5 link-removetank" title="Remove" onclick="removeParentSection(this,'tank-row')"><i class="fa fa-times"></i> @Resource.lblRemoveTank</a>
                <div class="row bg-lightgrey pt15 pb20 radius-5">
                    <div class="col-sm-12">
                        <h4 class="pt0 fs16">Tank Details</h4>
                        @Html.HiddenFor(m => m.TankDetailId)
                        <div class="row mb15">
                            <div class="col-sm-2">
                                <label>@Resource.lblStartDate</label>
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(m => m.StartDate)
                            </div>
                            <div class="col-sm-2">
                                <label>@Resource.lblEndDate</label>
                                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(m => m.EndDate)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Resource.gridColumnDesciption</label>
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Tank with 1000 gallons capacity - green" })
                                @Html.ValidationMessageFor(m => m.Description)
                            </div>
                            <div class="col-sm-2">
                                <label>Rental Fee</label>
                                <div class="input-group">
                                    <div class="input-group-addon">USD</div>
                                    @Html.TextBoxFor(m => m.RentalFee, new { @class = "form-control datatype-decimal calculated-rental-amount" })
                                    @Html.ValidationMessageFor(m => m.RentalFee)
                                </div>
                            </div>
                            <div class="col-sm-2 mb10">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FeeTaxDetails.Percentage)
                                    <div class="input-group">
                                        <span class="input-group-addon">@Resource.constSymbolPercent</span>
                                        @Html.TextBoxFor(m => m.FeeTaxDetails.Percentage, new { @class = "form-control tax-percentage", placeholder = "Percentage" })
                                        @Html.ValidationMessageFor(m => m.FeeTaxDetails.Percentage)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Resource.gridColumnTaxAmount</label>
                                <div class="input-group">
                                    <div class="input-group-addon">USD</div>
                                    @Html.TextBoxFor(m => m.FeeTaxDetails.Amount, new { @class = "form-control datatype-decimal tax-amount" })
                                    @Html.ValidationMessageFor(m => m.FeeTaxDetails.Amount)
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>@Resource.lblTaxDescription</label>
                                @Html.TextBoxFor(m => m.FeeTaxDetails.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FeeTaxDetails.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}