@model FeesViewModel
@{
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    var randomNum099 = (new Random()).Next(0, 99);
}
@using (Html.BeginCollectionItem("FuelDeliveryDetails.FuelFees.FuelRequestFees"))
{
    <div class="fee-type-row partial-block">
            <div class="fee-types">
                <div class="row">
					@Html.HiddenFor(m => m.Currency)
					@Html.HiddenFor(t => t.TruckLoadType)
					@Html.HiddenFor(t => t.TruckLoadCategoryId)
                    <div class="hidden-value-common-fee">
                        @Html.HiddenFor(t => t.CommonFee)
                    </div>
                    <span class="pull-left pl15 dib mt7">@Resource.lblFlat</span>
					@Html.HiddenFor(m => m.FeeSubTypeId, new { @class="fee-subtype"})
                    @if (Model.CommonFee)
                    {
                        <div class="col-sm-2 fee-type-ddl">
                            <div class="form-group mb0">
                                @Html.DropDownListFor(m => m.FeeTypeId, new SelectList(CommonHelperMethods.GetTankRentalFees(CurrentUser.CompanyId), "Code", "Name"), "Select Fee", new { @class = "form-control feetype-ddl", @onchange = "showHideQuantity(this);" })
                                @Html.ValidationMessageFor(m => m.FeeTypeId)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2 fee-type-name">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.FeeTypeId)
                                @Html.TextBoxFor(m => m.OtherFeeDescription, new { @class = "form-control otherFeeDesc", placeholder = "Fee Name" })
                                @Html.ValidationMessageFor(m => m.OtherFeeDescription)
                            </div>
                        </div>
                    }
                    <div class="regular-fee col-sm-2 ">
                        <div class="mb10 fee">
                            <div class="form-group mb0">
                                <div class="input-group">
                                    <span class="input-group-addon">@Model.Currency</span>
                                    @Html.TextBoxFor(m => m.Fee, new { @class = "form-control datatype-decimal fee-amount" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Fee)
                            </div>
                        </div>
                    </div>
                    <div class="fs18 col-xs-1">
                        <a href="javascript:void(0)" name="remove-partial-fee" class="fa fa-trash-alt mt10 color-maroon remove-fee" title="@Resource.btnLabelRemove" onclick="refreshFeeTypeDdl(this);removePartial(this);"></a>
                    </div>
                </div>
                <div class="fee-type-addtocommon">
                    <div class="checkbox col-sm-12 mb10 mtm10">
                        <label>
                            @Html.CheckBoxFor(m => m.AddToCommonFees)
                            @Resource.lblAddToCommonFees
                        </label>
                    </div>
                </div>
            </div>
        </div>
}