@{
    ViewBag.Title = "Schedules & Drops";
}
<div class="row">
    <div class="col-sm-9 tab-headers">
        <a id="tab-driver-schedules" href="javascript:void(0)" onclick="showsection('tab-contents-driver-schedules'), activelink(this)" class="active mr20 mb10 schedules-tab">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.tabHeadingSchedules</span>
            </div>
        </a>
        <a id="tab-driver-deliveries" href="javascript:void(0)" onclick="showsection('tab-contents-driver-deliveries'), activelink(this)" class="mr20 mb10 deliveries-tab">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.tabHeadingDeliveries</span>
            </div>
        </a>
        <a id="tab-driver-timecard" href="javascript:void(0)" onclick="showsection('tab-contents-driver-timecard'), activelink(this)" class="mr20 mb10 timecard-tab">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.tabHeadingTimeCard</span>
            </div>
        </a>
    </div>
</div>
<div class="tab-container">
    <div id="tab-contents-driver-schedules">
        @Html.Partial("_PartialSchedulesTab")
    </div>
    <div id="tab-contents-driver-deliveries" class="hide-element">
        @Html.Partial("_PartialDropHistoryGridView")
    </div>
    <div id="tab-contents-driver-timecard" class="hide-element">
        @Html.Partial("_PartialTimeCardTab")
    </div>
</div>
