<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
    <header class="fixed full-width top0 bg-white shadow-b">
        <div class="container pr0 pl0">
            <div class="row">
                <div class="col-xs-10 col-sm-6">
                    <div class="pull-left mt8 pl10"><img src="~/Content/images/truefill-logo.png" role="button" alt="TrueFill, Inc." width="120" class="mt5" onclick="window.location.href='/'"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
