@model QuoteRequestFilterViewModel
@{
    ViewBag.Title = "Quote Request Summary";
}
<div class="row">
    <div class="col-sm-7 col-md-9">
        <h4>@Resource.lblRequestforQuote</h4>
    </div>
    <div class="col-sm-5 col-md-3">
        @Html.PartialFor("~/Views/Shared/_PartialCurrencyFilter.cshtml", m => m.Country)
    </div>
</div>
<div class="row mb10">
    <div class="col-sm-12">
        <div class="well pb10 mb0">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtQuoteReqFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtQuoteReqToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <input id="btnApply" type="button" class="btn btn-primary" value="@Resource.btnLabelApply" onclick="ReloadDataTable();" />
                    <input id="btnClear" type="button" class="btn ml5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.PartialFor("_PartialQuoteRequestsGrid", m => m)
<div class="row mt10">
    <div class="col-12 co-md-12">
        <h4>@Resource.headingQuotes</h4>
    </div>
</div>
<div id="QuotationsGrid">
    @Html.PartialFor("_PartialQuotationsGrid", m => m)
</div>