@model SiteFuel.Exchange.ViewModels.ContactPersonViewModel

@using (Html.BeginCollectionItem(Model.EntityNumber))
{
    <div class="col-sm-12 partial-block">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-sm-3 new-company">
                <div class="form-group">
                    <div id="newContactPersonInput">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control newContactPerson", @placeholder = "Contact Person" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input-phoneformat phoneNumber", @placeholder = "Mobile Number", onchange = "IsPhoneNumberValid(this.value, this)" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                    <div class="color-orange fs12 pt5 mobile-validation-msg"></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control email border", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="fs18 col-xs-1">
                <label>&nbsp;</label>
                <a href="javascript:void(0)" class="fa fa-trash-alt mt-2 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        </div>
    </div>
}
