@model SiteFuel.Exchange.ViewModels.Offer.OfferLocationViewModel
@using (Html.BeginCollectionItem("LocationViewModel"))
{
    @Html.HiddenFor(m => m.CountryId)
   
    <div class="form-group mb10 partial-block quantity-range" id="offer-location-list">
        <div class="row">
            <div class="pa bg-white top0 left0 z-index5 loading-wrapper hide-element offer-cityZipServiceCall"><span class='spinner-dashboard pa'></span></div>
            <div class="col-sm-4 col-md-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.StateId)
                    @Html.DropDownListFor(m => m.StateId, new SelectList(CommonHelperMethods.GetStates(Model.CountryId, false), "Id", "Name"), string.Format(Resource.valMessageSelect, Resource.lblState), new { @class = "form-control offerstate" })
                    @Html.ValidationMessageFor(m => m.StateId)
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.CityId)
                    @Html.DropDownListFor(model => model.CityId, new SelectList(CommonHelperMethods.GetCities(Model.StateId.HasValue ? Model.StateId.Value : 0), "Id", "Name"), string.Format(Resource.valMessageSelect, Resource.lblCity), new { @class = "form-control offercity multi-select offercity" })
                    @Html.ValidationMessageFor(m => m.CityId)
                </div>
            </div>
            <div class="col-sm-4 col-md-2 ">
                <div class="form-group offer-zipwrapper">
                    @Html.LabelFor(model => model.ZipStringList)
                    @Html.ListBoxFor(m => m.ZipStringList, new SelectList(Model.ZipList, "Code", "Name"), new { @class = "form-control offerzip multi-select" })
                    @Html.ValidationMessageFor(model => model.ZipStringList)
                </div>
            </div>
            <div class="col-xs-1 fs18">
                <a href="javascript:void(0)" class="fa fa-trash-alt color-maroon remove-partial-block mt35" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
  //  var zipStringList = [];
   

       
</script>