@model List<FuelSurchargeTableViewModel>

@{
	<table class="table table-bordered table-hover mb0">
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				@Html.HiddenFor(m => m[i].PriceRangeStartValue, new { id = "SurchargeTable_" + i + "__PriceRangeStartValue", @Name = "SurchargeTable[" + i + "].PriceRangeStartValue" })
				@Html.HiddenFor(m => m[i].PriceRangeEndValue, new { id = "SurchargeTable_" + i + "__PriceRangeEndValue", @Name = "SurchargeTable[" + i + "].PriceRangeEndValue" })
				<tr>
					<td class="text-center vmiddle" width="50%">@Resource.constSymbolCurrency@Model[i].PriceRangeStartValue - @Resource.constSymbolCurrency@Model[i].PriceRangeEndValue</td>
					<td width="50%">
						<div class="input-group">
							@Html.TextBoxFor(m => m[i].FuelSurchargeStartPercentage, new { @class = "form-control text-center", id = "SurchargeTable_" + i + "__FuelSurchargeStartPercentage", @Name = "SurchargeTable[" + i + "].FuelSurchargeStartPercentage" })
							<span class="input-group-addon">@Resource.constSymbolPercent</span>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}