@model BillingStatementDetailsViewModel
<!-- statement details starts -->
@Html.HiddenFor(m => m.Id)
    <div class="col-sm-12">
        <div class="row well">
            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.gridColumnStatementNumber</label>
                <div id="lblSupplierCompany">@Model.StatementNumber</div>
            </div>
            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.lblCustomer</label>
                <div class="break-word">
                    <span class="phone">@Model.Customer</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.lblStatementId</label>
                <div>
                    <span id="lblPoNumber" class="break-word">@Model.BillingScheduleId</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.gridColumnStatementValue</label>
                <div id="lblSupplierCompany">$@Model.TotalStmtValue</div>
            </div>
            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.lblTotalQuantityDelivered</label>
                <div id="lblSupplierCompany">@Model.TotalQuantityDropped</div>
            </div>

            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.gridColumnStatementDate</label>
                <div id="lblSupplierCompany">@Model.StatementDate</div>
            </div>
            <div class="col-xs-6 col-sm-2 mb20">
                <label class="f-normal">@Resource.lblDueDate</label>
                <div id="lblSupplierCompany">@Model.StmtDueDate</div>
            </div>
            <div class="col-xs-6 col-sm-2mb20">
                <label class="f-normal">@Resource.gridColumnBillingPeriod</label>
                <div id="lblSupplierCompany">@Model.BillingPeriod</div>
            </div>
        </div>
    </div>
	<!-- statement details ends -->
	<!-- invoices starts -->
		<div class="mt15">
			<h4>@Resource.headingInvoices</h4>
			@Html.Partial("_PartialStatementInvoices", Model.Id)
		</div>
	<!-- invoices ends -->

