@model RescheduleDeliveryViewModel

@using (Html.BeginForm("RescheduleDelivery", "Dispatch", new { area = "Supplier" }, FormMethod.Post, new { role = "form", Id = "reschedule-form", @class = "no-tab-change" }))
{
    <div class="row">
        @Html.HiddenFor(m => m.OrderId)
        @Html.HiddenFor(m => m.ScheduleId)
        @Html.HiddenFor(m => m.TrackableScheduleId)
        @Html.HiddenFor(m => m.DriverId)
        @Html.HiddenFor(m => m.Quantity)
        @Html.HiddenFor(m => m.JobCurrentTime)
        @Html.HiddenFor(m => m.JobEndDate)
        @Html.HiddenFor(m => m.FuelRequestEndDate)
        @Html.HiddenFor(m => m.IsScheduleTab)
        @Html.HiddenFor(m => m.IsFtlOrder)
        <div class="col-md-4">
            <label class="fs12">@Resource.lblDeliveryDate</label>
            @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "form-control datepicker", @placeholder = @Resource.lblDate })
            @Html.ValidationMessageFor(m => m.DeliveryDate)
        </div>
        <div class="col-md-4">
            <label class="fs12">@Resource.lblStartTime</label>
            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control timepicker", @placeholder = @Resource.lblStartTime })
            @Html.ValidationMessageFor(m => m.StartTime)
        </div>
        <div class="col-md-4">
            <label class="fs12">@Resource.lblEndTime</label>
            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control timepicker", @placeholder = @Resource.lblEndTime })
            @Html.ValidationMessageFor(m => m.EndTime)
        </div>
        @if (Model.IsFtlOrder)
        {
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fs12">@Resource.lblCarrier</label>
                    @Html.PartialFor("~/Views/Shared/_PartialCarrier.cshtml", m => m.Carrier)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.SupplierSource.Name, new { @class = "fs12" })
                    @Html.PartialFor("~/Views/Shared/_PartialSupplierSource.cshtml", m => m.SupplierSource)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.SupplierSource.ContractNumber, new { @class = "fs12" })
                    @Html.TextBoxFor(m => m.SupplierSource.ContractNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.LoadCode, new { @class = "fs12" })
                    @Html.TextBoxFor(m => m.LoadCode, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
    <div class="row mt10">
        <div class="col-sm-12 text-right">
            <input type="button" id="btnCancel" class="btn btn-default btn-sm" value="@Resource.btnLabelCancel" onclick="ClosePopup();" />
            <input type="button" id="btnSave" class="btn btn-primary btn-sm" value="@Resource.btnLabelSave" onclick="ValidateForm();" />
        </div>
    </div>
}

