@model JobGridSupplierViewModel

@Html.HiddenFor(m => m.JobID)

@Html.HiddenFor(m => m.JobName)
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label(Resource.lblJobName)
            <label class="f-bold db">@Model.JobName</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group mb0">
            <label for="JobName">@Resource.lblInventoryDataCaptureMethod</label>
            @Html.DropDownListFor(m=> m.InventoryDataCaptureType,
                                         from InventoryDataCaptureType inventoryDataCaptureType in Enum.GetValues(typeof(InventoryDataCaptureType))
                                         select new SelectListItem() { Text = inventoryDataCaptureType.GetDisplayName(), Value = ((int)inventoryDataCaptureType).ToString() }, new { @class = "form-control" }
                                     )
            @Html.ValidationMessageFor(m => m.InventoryDataCaptureType)
        </div>
    </div>
</div>