<form id="cdg-form" name="cdg-form">
    <div class="col-sm-12">
        <div class="bhoechie-tab-container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="overflow-h">
                        <h3 class="float-left mt5">@Resource.lblOrders</h3>
                        <div class="float-left ml5">
                            <input type='text' id='search' class="form-control input-sm radius-5" placeholder='Search...'>
                        </div>
                    </div>
                    <div class="bhoechie-tab-menu">
                        <div id="v-tab1" class="v-tab list-group"></div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="well box-shadow">
                        <h3 class="mt0">@Resource.headingSchedules</h3>
                        <div class="bhoechie-tab"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well box-shadow fs14">
                        <h3 class="mt0">@Resource.lblSelectedSchedules</h3>
                        <div class="selected-schedules">
                            <table class="table table-condensed fs12">
                                <tbody>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <div class="border bg-lightgrey radius-5 pb10">
                                    @*<div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="btn-applytoall" />Common @Resource.headingPickUpLocation
                                        </label>
                                    </div>*@
                                    <div class="form-check">
                                        <input class="form-check-input btn-applytoall" type="checkbox" value="" id="btn-applytoall">
                                        <label class="form-check-label" for="btn-applytoall">
                                            Common @Resource.headingPickUpLocation
                                        </label>
                                    </div>

                                    <address class="dg-common-pickup fs12 mb10">
                                    </address>
                                    <input type="button" class="btn btn-primary btn-sm mt10 pntr-none subSectionOpacity" value="+ Pick-up location" data-toggle="modal" data-target="#addPickupLocation" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="common-fields clearboth col-sm-12">
        <div class="row">
            <div class="col-md-3 col-sm-6 mt10 mb10">
                <label>@Resource.lblDriver:<span class="color-maroon">*</span></label>
                @Html.DropDownList("cdeliveryGroupDriver", new SelectList(CommonHelperMethods.GetAllDrivers(CurrentUser.CompanyId), "Id", "Name"), Resource.lblSelect,
                                    new { @class = "form-control deliveryGroupDriver", data_required = "Driver is required" })
                @Html.ValidationMessage("cdeliveryGroupDriver")
            </div>
            <div class="col-md-3 col-sm-6 mt10 mb10">
                <label>@Resource.lblLoadCode:<span class="color-maroon">*</span></label>
                @Html.TextBox("cloadCode", "", new { @class = "form-control loadCode", data_required = "Load code is required" })
                @Html.ValidationMessage("cloadCode")
            </div>
            <div class="col-md-6 col-sm-12 mt10 mb10">
                <label>Route Information:</label>
                @Html.TextArea("crouteInfo", new { @class = "form-control routeInfo" })
            </div>
        </div>
       
    </div>
</form>
