@model DashboardSupplierGallonsStatViewModel
<div class="row tile-body">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-md-5">
                <h2 class="fs16 float-left pt0 mt0">
                    <span class="fa fa-pie-chart mr5"></span>
                    <span id="Stat-tile-heading">@Resource.lblGallonStats</span>
                </h2>
            </div>
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.FuelTypeId, new SelectList(new List<DropdownDisplayItem>(), "Id", "Name", Model.FuelTypeId), "", new { @class = "select2_demo_3" })
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <a href="#." class="color-white fs18 ml5 toggle-tiledata" onclick="toggleData(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.GallonStats.ToString())'); updateTileSetting(this, false);"><i class="fa @(Model.IsGallonStatTileCollapsed ? " fa-chevron-circle-down" : "fa-chevron-circle-up")"></i></a>
            <a href="#." class="color-white fs18 ml5" onclick="removeTile(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.GallonStats.ToString())'); updateTileSetting(this, true);"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
</div>
<div class="row mt15 mb15 tile-content @(Model.IsGallonStatTileCollapsed ? "hide-element" : "")">
    @if (Model.FuelTypeId == 0)
    {
        <div class="col-6 col-md-4 mt10">
            <a href="@Url.Action("View", "FuelRequest", new { area = "Supplier" })" class="text-white">
                <h1 class="no-margins"><span id="totalRequestedGallonsStat">0</span></h1>
                @Resource.lblTotalRequested
            </a>
        </div>
        <div class="col-6 col-md-4 mt10">
            <a href="@Url.Action("View", "FuelRequest", new { area = "Supplier" })" class="text-white">
                <h1 class="no-margins"><span id="acceptedGallonsStat">0</span></h1>
                @Resource.lblAccepted
            </a>
        </div>
        <div class="col-6 col-md-4 mt10">
            <a href="@Url.Action("View", "FuelRequest", new { area = "Supplier" })" class="text-white">
                <h1 class="no-margins"><span id="deliveredGallonsStat">0</span></h1>
                @Resource.lblDelivered
            </a>
        </div>
        <div class="col-6 col-md-4 mt10">
            <a href="@Url.Action("View", "FuelRequest", new { area = "Supplier" })" class="text-white">
                <h1 class="no-margins"><span id="missedGallonsStat">0</span></h1>
                @Resource.lblMissed
            </a>
        </div>
        <div class="col-6 col-md-4 mt10">
            <a href="@Url.Action("View", "FuelRequest", new { area = "Supplier" })" class="text-white">
                <h1 class="no-margins"><span id="expiredGallonsStat">0</span></h1>
                @Resource.lblExpired
            </a>
        </div>
    }
</div>


@using (Html.BeginScripts())
{
    <script type="text/javascript">  
        var dashboardFilter = { countryId: 0, currencyType: 0 };
        fuelTypeDropDown = $("#@Html.IdFor(m => m.FuelTypeId)");
      
        $(document).on('LoadCurrency', function () {
            dashboardFilter = getDashboardFilter();
        });

        $(document).ready(function () {
            if (dashboardFilter.currencyType == @((int)Currency.CAD)) {
                $("#Stat-tile-heading").text('@Resource.lblLitreStats');
            }
        });
    </script>
}