@model AccountingCompanyIdDetailsViewModel
@Html.HiddenFor(m => m.BuyerCompanyId)
@Html.HiddenFor(m => m.SupplierCompanyId)
@Html.HiddenFor(m => m.JobId)
<script src="~/Content/js/common-supplier.js"></script>
<div class="row">
    <div class="col-md-6">
        <div>
            @Html.DisplayNameFor(m => m.JobName):
            @Html.TextBoxFor(m => m.JobName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="col-md-6">
        @Html.DisplayNameFor(m => m.AccountingCompanyId):
        @Html.TextBoxFor(m => m.AccountingCompanyId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AccountingCompanyId)
    </div>
</div>
