@model JobToCarrierAssignViewModel
@Html.HiddenFor(m => m.JobId)
@Html.HiddenFor(m => m.JobName)
@Html.HiddenFor(m => m.UpdatedBy)
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m=>m.IsCreateFreightOnlyOrder)
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.JobName)
            <label class="f-bold db">@Model.JobName</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group mb0">
            @Html.LabelFor(m => m.CarrierId)
            @Html.DropDownListFor(m => m.CarrierId, new SelectList(CommonHelperMethods.GetCarriersByCompanyId(CurrentUser.CompanyId), "Id", "Name", 0), string.Format(Resource.valMessageSelect, Resource.lblCarrier), new { @class = "form-control" })
        </div>
    </div>
</div>

