
<div class="alert alert-info mt15">
    <span class="mt0 mb5 dib pt0 fs15 f-bold">@Resource.errImageUploadMsg</span>
    <p>
        1. @Resource.lblDropImageUploadFormat<br />
        2. @Resource.lblBolImageUploadFormat<br />
        3. @Resource.lblSignatureImageUploadFormat
    </p>
</div>
@using (Html.BeginForm("ImageBulkUpload", "Exception", new { area = "Supplier" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="file" name="postedFiles" multiple="multiple" class="mt15">
    <div class="modal-footer pb0 pr0 no-border">
        <input type="submit" value="@Resource.btnLabelUpload" class="btn btn-primary" />
    </div>
}


