@model SiteFuel.Exchange.ViewModels.Offer.OfferViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Resource.gridColumnCustomer</th>
            <th>@Resource.btnLabelAction</th>
            <th>@Resource.gridColumnDateTime</th>
            @*<th>@Resource.lblReason</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OfferStats)
        {
            <tr>
                <td>@item.CustomeName</td>
                <td>@item.Action</td>
                <td>@item.ActionDateTime.ToString(Resource.constFormatDate)</td>
                @*<td>@item.Reason</td>*@
            </tr>
        }
    </tbody>
</table>