@model DeliveryDaysViewModel
<!-- Delivery Section starts -->
@Html.HiddenFor(m => m.Count)
<div class="collection col-12">
    @using (Html.BeginCollectionItem("Job.DeliveryDaysList"))
    {
        <div class="DeliveryDays-type-row col-sm-12">
            <div class="DeliveryDays-types">
                <div class="partial-block">
                    @if (Model.Count <= 1)
                    {
                        <div class="row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(m => m.DeliveryDays)
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label(Resource.lblDeliveryWindow)
                                </div>
                        </div>
                    }
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group mb10">
                                    @Html.DropDownListFor(m => m.DeliveryDays, new SelectList(CommonHelperMethods.GetWeekDays(), "Id", "Name"), "Select day", new { @class = "form-control DeliveryDays-ddl" })

                                    @Html.ValidationMessageFor(m => m.DeliveryDays)
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    @*<div class="form-group">

                                    </div>*@
                                    <span class="col-sm-6 form-group">
                                        @Html.TextBoxFor(m => m.FromDeliveryTime, new { @class = "form-control timepicker", @placeholder = "From" })
                                        @Html.ValidationMessageFor(m => m.FromDeliveryTime)
                                    </span>
                                    <span class="col-sm-6 form-group">
                                        @Html.TextBoxFor(m => m.ToDeliveryTime, new { @class = "form-control timepicker", @placeholder = "To" })
                                        @Html.ValidationMessageFor(m => m.ToDeliveryTime)
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox mt8">
                                    <label class="inline-chk-custom">
                                        @Html.CheckBoxFor(m => m.IsAcceptNightDeliveries, new { @checked = false })
                                        @Resource.lblAcceptNightDeliveries
                                    </label>
                                </div>
                            </div>
                            @if (Model.Count == 2)
                            {
                                <div class="col-1 text-center pl0 fs18">
                                    <a href="javascript:void(0)" class="fa fa-trash-alt mt8 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this); RemoveCheck(this);"></a>
                                </div>
                            }
                        </div>
                    </div>
            </div>
        </div>
    }
</div>
