@model DashboardViewModel
<div id="company-group">
    <div class="col-sm-6">
        @if (!Model.IsOrderTileClosed)
        {
            <div class="row supp-order-tile tile-head" id="@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.Orders.ToString())">
                <div class="col-md-12 grid-loader mb20">
                    <div class="pa bg-white top0 left0 z-index5 loading-wrapper"><span class='spinner-dashboard pa'></span></div>
                    @Html.Partial("_PartialDashboardOrders", new DashboardSupplierOrdersViewModel() { GroupIds = Model.CompanyGroup.EncryptedGroupIds, IsOrderTileCollapsed = Model.IsOrderTileCollapsed })
                </div>
            </div>
        }
    </div>
    @if (!Model.IsOrderTileClosed)
    {
        <div class="tile-head" id="@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.Invoices.ToString())">
            <div class="col-sm-6" id="sd-invoice-ddt-tile">
                <div class="well bg-white shadow-b overflow-h pt0 pb0 pl20 pr20 overflow-h mb10">
                    <div class="row">
                        <div class="col-sm-12 pt15 pb15">
                            <span class="fs16 f-normal dib toggle-header @(Model.IsInvoiceTileCollapsed ? "" : "hide-element")">
                                <span class="fas fa-dollar mr5"></span> @Resource.headingInvoicesDropTicket
                            </span>
                            <div class="pull-right">
                                <a href="javascript:void(0);" class="color-grey fs18 ml5 toggle-tiledata" onclick="toggleData(this, '@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.Invoices.ToString())'); ToggleTileHeader('@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.Invoices.ToString())'); updateTileSetting(this, false);"><i class="fa @(Model.IsInvoiceTileCollapsed ? " fa-chevron-circle-down" : "fa-chevron-circle-up" )"></i></a>
                                <a href="#." class="color-grey fs18 ml5" onclick="removeTile(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.Invoices.ToString())'); updateTileSetting(this, true);"><i class="fa fa-times-circle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row tile-content @(Model.IsInvoiceTileCollapsed ? "hide-element" : "")">
                        <div class="col-sm-6 border-right" id="sd-ddt-tile">
                            <div class="chart-ddt">
                                <div class="pa bg-white top0 left0 z-index5 loading-wrapper"><span class='spinner-dashboard pa'></span></div>
                                @Html.Partial("_PartialDashboardDropTickets", new DashboardSupplierInvoicesViewModel() { GroupIds = Model.CompanyGroup.EncryptedGroupIds })
                            </div>
                        </div>
                        <div class="col-sm-6" id="sd-invoice-tile">
                            <div class="chart-invoice">
                                <div class="pa bg-white top0 left0 z-index5 loading-wrapper"><span class='spinner-dashboard pa'></span></div>
                                @Html.Partial("_PartialDashboardInvoices", new DashboardSupplierInvoicesViewModel() { GroupIds = Model.CompanyGroup.EncryptedGroupIds })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
