<h3 class="f-light fs18">Delivered Quantity Variance</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialQuantityVarianceExceptionGrid")
    </div>
</div>
<h3 class="f-light fs18 ">Duplicate Invoice Approval</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialDuplicateInvoiceExceptionGrid")
    </div>
</div>
<h3 class="f-light fs18 ">API Exception</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialAPIExceptionGrid")
    </div>
</div>
<h3 class="f-light fs18 ">Unknown Deliveries</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialUnknownDeliveriesGrid")
    </div>
</div>
<h3 class="f-light fs18 ">Missing Deliveries</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialMissingDeliveriesGrid")
    </div>
</div>
<h3 class="f-light fs18 ">No Data Exceptions</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialNoDataExceptions")
    </div>
</div>
<h3 class="f-light fs18 ">@Resource.lblManageRetain</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialManagedRetainExceptionGrid")
    </div>
</div>