@model DashboardQuoteRequestViewModel
<div class="well mb0 toggle-quoteloader tile-body col-sm-12">
    <div class="m-b-md mb0">
        <div class="mb0 no-b-radius">
            <h2 class="fs16 f-normal mb0 mt0 dib">
                <span class="fas fa-clipboard-list mr5"></span> <a id="lnkviewAllQuotes" class="mt2" href="@Url.Action("View", "Quote", new { area = "Supplier" })">@Resource.lblRequestForQuotes</a>
            </h2>
            <div class="pull-right">
                <a href="#." class="color-grey fs18 ml5 toggle-tiledata" onclick="toggleData(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.FuelRequestQuote.ToString())'); updateTileSetting(this, false);"><i class="fa @(Model.IsFRQuoteTileCollapsed ? " fa-chevron-circle-down" : "fa-chevron-circle-up")"></i></a>
                <a href="#." class="color-grey fs18 ml5" onclick="removeTile(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.FuelRequestQuote.ToString())'); updateTileSetting(this, true);"><i class="fa fa-times-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="bottom-radius tile-content mt25 @(Model.IsFRQuoteTileCollapsed ? "hide-element" : "")">
        <div>
            <canvas id="QuoteBarChart" height="70"></canvas>
        </div>
        <div>
            <small>@Resource.lblLast5OpenQuoteRequests</small>
            <div class="overflow-x">
                <table class="table table-hover mb0" id="table-qr">
                    <thead>
                        <tr>
                            <th width="155" class="no-break pl0">@Resource.gridColumnType</th>
                            <th>@Resource.lblDueDate</th>
                            <th class="uom-by-country"><span class="uom-lbl"></span></th> @*// Quantity Delivered lable will be here*@                    
                            <th>@Resource.gridColumnStateAndZip</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        var TotalQrUrl = "@Url.Action("View", "Quote", new { area = "Supplier" })";
        var AcceptedQrUrl = "@Url.Action("View", "Quote", new { area = "Supplier", filter = QuoteRequestFilterType.Accepted })";
        var MissedQrUrl = "@Url.Action("View", "Quote", new { area = "Supplier", filter = QuoteRequestFilterType.Missed })";
        var OpenQrUrl = "@Url.Action("View", "Quote", new { area = "Supplier", filter = QuoteRequestFilterType.Open })";
        var DeclinedQrUrl = "@Url.Action("View", "Quote", new { area = "Supplier", filter = QuoteRequestFilterType.Declined })";

        var dashboardFilter = getDashboardFilter();
        $.ajax({
            type: "get",
            url: "@Url.Action("GetQuoteRequestsGrid", "Dashboard",new { area= "Supplier" })",
            data: { 'countryId': dashboardFilter.countryId, 'currency': dashboardFilter.currencyType },
            dataType: "json",
            success: function (data) {
                $("#QuoteBarChart").closest(".grid-loader").find('.loading-wrapper').hide();

                if (data.RecentQuoteRequests.length > 0) {
                    for (i = 0; i < data.RecentQuoteRequests.length; i++) {
                        var quoteDetailsUrl = "@Url.Action("BuyerQuoteDetails", "Quote", new { area = "Supplier" })/" + data.RecentQuoteRequests[i].Id;
                        var quoteUrl = "@Url.Action("Create", "Quote", new { area = "Supplier" })/" + data.RecentQuoteRequests[i].Id;
                        var declineUrl = "@Url.Action("DeclineQuoteRequest", "Dashboard", new { area = "Supplier" })/" + data.RecentQuoteRequests[i].Id;
                        var declineConfirm = "data-toggle='confirmation' data-popout='true' data-singleton='true'";

                        var isQuoteRequestOpen = data.RecentQuoteRequests[i].Status == '@QuoteRequestStatuses.Open.ToString()';
                        var isQuotationCreated = data.RecentQuoteRequests[i].IsQuotationCreated;
                        var statusClass = data.RecentQuoteRequests[i].Status == '@QuoteRequestStatuses.Open.ToString()' ? "warning" :
                            data.RecentQuoteRequests[i].Status == '@QuoteRequestStatuses.Completed.ToString()' ? "primary" :
                                data.RecentQuoteRequests[i].Status == '@QuoteRequestStatuses.Expired.ToString()' ? "danger" : "default";
                        var isQuoteRequestDeclined = data.RecentQuoteRequests[i].QuotationStatusName == '@Resource.lblDeclined';

                        if (!isQuoteRequestDeclined) {
                            $("#table-qr").append("<tr>" +
                                "<td class='pl0'><a href='" + quoteDetailsUrl + "'>" + data.RecentQuoteRequests[i].FuelType + "</a></td>" +
                                "<td>" + data.RecentQuoteRequests[i].QuoteDueDate + "</td>" +
                                "<td>" + data.RecentQuoteRequests[i].GallonsRequested + "</td>" +
                                "<td>" + data.RecentQuoteRequests[i].State + ", " + data.RecentQuoteRequests[i].ZipCode + "</td>" +
                                "<td class='pr0 text-right text-nowrap'>" +
                                (isQuoteRequestOpen && !isQuotationCreated && ('@CurrentUser.IsSupplierAdmin' == 'True' || '@CurrentUser.IsSupplier' == 'True') ? "<a href='" + quoteUrl + "' class='btn btn-primary btn-xs'>@Resource.btnLabelQuote</a>" +
                                "<a href='" + declineUrl + "' class='btn btn-default label-danger btn-xs ml5' data-toggle='confirmation' data-popout='true' data-singleton='true' data-placement='bottom' " + declineConfirm + ">@Resource.btnLabelDecline</a>" :
                                "") +
                                "</td></tr> ")
                        }
                    }
                    wrapperHeight();
                }
                else {
                    $("#table-last5ActiveQuoteRequests tbody").append("<tr><td colspan='5'>There are no active orders to display</td ></tr >");
                    $("#QuoteBarChart").closest(".grid-loader").find('.loading-wrapper').hide();

                }
            }
        });

        $(document).ajaxComplete(function () {
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                html: true
            });
        });
    </script>
}
