@model DashboardSupplierGallonsStatViewModel
<div class="tile-body">
    <div class="row">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="mt0 mb0 fs16 pt0">
                        <span class="fa fa-tint mr5"></span> @Resource.headingDropAverages
                    </h2>
                </div>
                <div class="col-xs-6 col-sm-4  mt5">
                    @Html.DropDownList("ddFuelType", new SelectList(CommonHelperMethods.GetAllFuelProducts(), "Id", "Name"), Resource.lblAllFuelTypes, new { @class = "select2_demo_4" })
                </div>
                <div class="col-xs-6 col-sm-4  mt5">
                    @Html.DropDownList("ddCustomer", new SelectList(CommonHelperMethods.GetAllCustomers(CurrentUser.CompanyId), "Id", "Name"), Resource.lblAllCustomers, new { @class = "select2_demo_4" })
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="pull-right">
                <a href="#." class="color-white fs18 ml5 toggle-tiledata" onclick="toggleData(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.DropAverages.ToString())'); updateTileSetting(this, false);"><i class="fa @(Model.IsDropAvgTileCollapsed ? " fa-chevron-circle-down" : "fa-chevron-circle-up")"></i></a>
                <a href="#." class="color-white fs18 ml5" onclick="removeTile(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.DropAverages.ToString())'); updateTileSetting(this, true);"><i class="fa fa-times-circle"></i></a>
            </div>
        </div>
    </div>
   
</div>
<div class="row mt15 mb15 tile-content @(Model.IsDropAvgTileCollapsed ? "hide-element" : "")">
    <div class="col-6 col-md-4 mt10">
        <h1 class="no-margins"><span id="totalNumberOfOrders">0</span></h1>
        @Resource.lblOrders
    </div>
    <div class="col-6 col-md-4 mt10">
        <h1 class="no-margins"><span id="totalNumberOfDrops">0</span></h1>
        @Resource.lblTotalDrops
    </div>
    <div class="col-6 col-md-4 mt10">
        <h1 class="no-margins">@Resource.constSymbolCurrency<span id="avgPPGPerDrop">0</span></h1>
        <span id="avg-drop-label">@Resource.lblAveragePPGDrop</span>
    </div>
    <div class="col-6 col-md-4 mt10">
        <h1 class="no-margins"><span id="avgGallonsPerDrop">0</span></h1>
        @Resource.lblAverageGallonsDrop
    </div>
</div>
@using (Html.BeginScripts())
{
    <script>
        var dropAveragesUrl = '@Url.Action("GetDropAverages", "Dashboard", new { area = "Supplier" })';
        var dashboardFilter = { countryId: 0, currencyType: 0 };
        $(document).on('LoadDropAvgCurrency', function () {
            dashboardFilter = getDashboardFilter();
        });
        $(document).ready(function () {
            if (dashboardFilter.countryId == @((int)Country.CAN) )
                $("#avg-drop-label").text("@Resource.lblAvgPPLDrop") ;
        });
    </script>
}