@model SiteFuel.Exchange.ViewModels.InvoiceExceptions.CustomerExceptionModel

@using (Html.BeginCollectionItem("Exceptions"))
{
    <div class="row @(Model.IsEnabled ? "" : "pntr-none subSectionOpacity")">
        <div class="col-sm-6 col-md-3">
            @Html.HiddenFor(m => m.ExceptionTypeId)
            <div class="checkbox mr5">
                <label>
                    @Html.CheckBoxFor(m => m.IsActive) <span class="font-bold">@Model.ExceptionTypeName</span>
                </label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="font-bold mb5">@Resource.lblResolutionsForInvoicing</div>
            @if (Model.Resolutions != null)
            {
                foreach (var item in Model.Resolutions)
                {
                    <div class="mb5">
                        @item.Name
                    </div>
                }
            }
        </div>
        <div class="col-sm-6 col-md-3 @(Model.IsEnabled ? "hide-element" : "")">
            <span class="color-red">Disabled by supplier</span>
        </div>
    </div>
}
