@model ProductMappingFuelTypeDetailsViewModel
@using (Html.BeginCollectionItem(Model.CollectionHtmlPrefix + ".ProductMappingFuelTypeDetailsViewModels"))
{
    <div class="fuelDetails-type-row">
        <div class="fuelDetails-types">
            <div class="partial-block">
                <div class="row">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.CompanyId)
                    <div class="col-sm-3">
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.FuelTypeId)<span class="pl4 color-red">*</span>*@
                            @Html.DropDownListFor(m => m.FuelTypeId, new SelectList(CommonHelperMethods.GetSupplierFuelTypes(Model.CompanyId), "Id", "Name", Model.FuelTypeId), @Resource.lblSelectFuel, new { @class = "form-control select2_demo_3 fuelType-ddl", @id = "fuelTypeddlId" })
                            @Html.ValidationMessageFor(m => m.FuelTypeId)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.BackOfficeProductCode)*@
                            @Html.TextBoxFor(m => m.BackOfficeProductCode, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.BackOfficeProductCode) })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.SeaboardProductCode)*@
                            @Html.TextBoxFor(m => m.SeaboardProductCode, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.SeaboardProductCode) })
                        </div>
                    </div>
                    <div class="col-md-2 pl10 trash-spacing">
                        <a href="javascript:void(0)" class="fa fa-trash-alt mt10 color-maroon remove-contact" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.fuelType-ddl').on('click', function () {
            $(".select2_demo_3").select2({
                placeholder: "Select Fuel",
                allowClear: true
            });
        });
    });
</script>

