@model BrokerMarginViewModel

    <div class="col-xs-6 col-sm-3">
        <div class="form-check form-check-inline radio">
            @Html.RadioButtonFor(m => m.MarginTypeId, (int)MarginType.NoChange, new { @class = "form-check-input", @id = "marginasis", onclick = "brockerRadioChange(this,null,'override,margin,dd-cityrack');ddCityRackToggle();showHideControls(this, 'tier-pricings-grid', 'override-tier-pricing-section');" })
            <label class="form-check-label" for="marginasis">@Resource.lblLabelMarginNoChange</label>
        </div>
        <div class="form-check form-check-inline radio">
            @Html.RadioButtonFor(m => m.MarginTypeId, (int)MarginType.Edit, new { @class = "form-check-input", @id = "marginoverride", onclick = "brockerRadioChange(this,'override','margin,delivery-fee,dd-cityrack');ddCityRackToggle();disableForOther();showHideControls(this, 'override-tier-pricing-section', 'tier-pricings-grid');" })
            <label class="form-check-label" for="marginoverride">@Resource.lblLabelMarginOverride</label>
        </div>
        <div class="form-check form-check-inline radio">
            @Html.RadioButtonFor(m => m.MarginTypeId, (int)MarginType.Percent, new { @class = "form-check-input", @id = "marginonly", onclick = "brockerRadioChange(this,'margin','override,dd-cityrack');ddCityRackToggle();showHideControls(this, 'tier-pricings-grid', 'override-tier-pricing-section');", onchange = "focusOnFirst(this, 'margin-only');" })
            <label class="form-check-label" for="marginonly">@Resource.lblLabelMarginOnly</label>
        </div>
    </div>
<div class="col-xs-6 col-sm-2 margin-only mtm5">
    <div class="input-group margin">
        @Html.TextBoxFor(m => m.Margin, new { @class = "form-control datatype-decimal inputMargin" })
        <div class="input-group-append">
            <span class="input-group-text fs11">%</span>
        </div>
    </div>
    @Html.ValidationMessageFor(m => m.Margin)
</div>
