@using System.Web;
@using SiteFuel.Exchange.Core.StringResources;
@model SiteFuel.Exchange.ViewModels.Quickbooks.QbSyncReportViewModel

<table id="sync-report" cellspacing="0" cellpadding="0" style="margin: 5px auto;" width="100%">
    <tr>
        <td align="center"><img src="@Model.ReportImageUrl" width="30%"></td>
    </tr>
    <tr>
        <td>
            <h1 style="text-align:center;margin-top:0px;margin-bottom:0px;font-weight:600;font-size:20px;">@Resource.headingQbSyncReport</h1>
            <h3 style="text-align:center;margin-top:10px;margin-bottom:0px;font-weight:400;font-size: 14px;">@Model.ReportDate</h3>
            <h4 style="text-align:center;margin-top:10px;margin-bottom:0px;font-weight:400;font-size: 14px;">
                @string.Format(Resource.lblSyncBetween, Model.SyncStartDate, Model.SyncEndDate, Model.TimeZone)
            </h4>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:98%; padding: 0 1%">
                <tr>
                    <td colspan="2" style="text-decoration:underline">
                        <h3 style="margin-top: 30px;font-size: 14px;">
                            @Resource.headingTotalInvoiceSynced:
                            <span style="color: #3e46ea;">@Model.Report.QbInvoices.TotalSynced</span>
                        </h3>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnCreated: <span style="color: #3e46ea;">@Model.Report.QbInvoices.Created.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnModified: <span style="color: #3e46ea;">@Model.Report.QbInvoices.Modified.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnSkipped: <span style="color: #f12424">@Model.Report.QbInvoices.Skipped.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnFailed: <span style="color: #f12424">@Model.Report.QbInvoices.Failed.Count</span></th>
                </tr>
                <tr>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252;font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbInvoices.Created)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbInvoices.Modified)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbInvoices.Skipped)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbInvoices.Failed)))
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:98%; padding: 0 1%">
                <tr>
                    <td colspan="2" style="text-decoration:underline">
                        <h3 style="margin-top: 30px;font-size: 14px;">
                            @Resource.headingTotalSoSynced:
                            <span style="color: #3e46ea;">
                                @Model.Report.QbSalesOders.TotalSynced
                            </span>
                        </h3>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnCreated: <span style="color: #3e46ea;">@Model.Report.QbSalesOders.Created.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnModified: <span style="color: #3e46ea;">@Model.Report.QbSalesOders.Modified.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnSkipped: <span style="color: #f12424">@Model.Report.QbSalesOders.Skipped.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnFailed: <span style="color: #f12424">@Model.Report.QbSalesOders.Failed.Count</span></th>
                </tr>
                <tr>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbSalesOders.Created)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbSalesOders.Modified)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbSalesOders.Skipped)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbSalesOders.Failed)))
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:98%; padding: 0 1%">
                <tr>
                    <td colspan="2" style="text-decoration:underline">
                        <h3 style="margin-top: 30px;font-size: 14px;">
                            @Resource.headingTotalPoSynced:
                            <span style="color: #3e46ea;">@Model.Report.QbPurchaseOrders.TotalSynced</span>
                        </h3>
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnCreated: <span style="color: #3e46ea;">@Model.Report.QbPurchaseOrders.Created.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnModified: <span style="color: #3e46ea;">@Model.Report.QbPurchaseOrders.Modified.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnSkipped: <span style="color: #f12424">@Model.Report.QbPurchaseOrders.Skipped.Count</span></th>
                    <th align="left" style="border-bottom: 1px dashed #b6b6b6; padding: 5px 0; line-height: 20px; color: #525252;font-size: 14px;">@Resource.gridColumnFailed: <span style="color: #f12424">@Model.Report.QbPurchaseOrders.Failed.Count</span></th>
                </tr>
                <tr>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbPurchaseOrders.Created)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbPurchaseOrders.Modified)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbPurchaseOrders.Skipped)))
                    </td>
                    <td width="24%" style="padding: 5px 1% 5px 0; line-height: 20px; color: #525252; font-size: 14px;" valign="top">
                        @(new HtmlString(string.Join("<br />", Model.Report.QbPurchaseOrders.Failed)))
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:20px 0;">
            <p style="font-size: 14px;"><span style="color: #f12424">@Resource.lblNote: </span>@Resource.lblQbSyncSkippedNote</p>
        </td>
    </tr>
    @if (Model.ShowLoginNote)
    {
        <tr>
            <td align="center" style="padding:20px 0 0 0">
                <p style="font-size: 14px;">@Resource.lblQbSyncEmailNote</p>
            </td>
        </tr>
    }
</table>
