@model JobToRegionAssignViewModel
@Html.HiddenFor(m => m.JobId)
@Html.HiddenFor(m => m.UpdatedBy)
@Html.HiddenFor(m => m.CompanyId)
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.JobName)
            <label class="f-bold db">@Model.JobName</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group mb0">
            @Html.LabelFor(m => m.RegionId)
            @Html.HiddenFor(m => m.JobName)
            @Html.DropDownListFor(m => m.RegionId, new SelectList(CommonHelperMethods.GetRegionsForTPOOrder(CurrentUser.Id), "Id", "Name", 0), string.Format(Resource.valMessageSelect, Resource.valRegionSelect), new { @class = "form-control" })
        </div>
    </div>
</div>
