@model AssetDetailsForApprovalViewModel


@using (Html.BeginCollectionItem("AssetDetails"))
{   
<div class="partial-block asset-drop">
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.AssetName, new { @class = "f-normal asset-name" })
            <div class="form-group mb5">
                @Html.TextBoxFor(m => m.AssetName, new { @class = "form-control pntr-none subSectionOpacity" })
            </div>
        </div>
        <div class=" col-sm-3 form-group">
            @Html.LabelFor(m => m.DroppedGallons, new { @class = "f-normal" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.DroppedGallons, new { @class = "form-control pntr-none subSectionOpacity dropquantity" })
                <div class="input-group-addon fs12"> @Model.UoM</div>
            </div>
            @*@Model.DroppedGallons.ToString(ApplicationConstants.DecimalFormat4WOZero)*@


        </div>
        <div class="col-sm-3">
            <div class="form-group mb5">
                @Html.LabelFor(m => m.DropStartTime, new { @class = "f-normal" })
                <div>
                    @Html.TextBoxFor(m => m.DropStartTime, new { @class = "form-control pntr-none subSectionOpacity" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group mb5">
                @Html.LabelFor(m => m.DropEndTime, new { @class = "f-normal" })
                <div class="form-group mb5">
                    @Html.TextBoxFor(m => m.DropEndTime, new { @class = "form-control pntr-none subSectionOpacity" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group mb5">
                @Html.LabelFor(m => m.PreDip)
                <div class="form-group mb5">
                    @Html.TextBoxFor(m => m.PreDip, new { @class = "predip form-control" })
                    @Html.ValidationMessageFor(m => m.PreDip)
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group mb5">
                @Html.LabelFor(m => m.PostDip)
                <div class="form-group mb5">
                    @Html.TextBoxFor(m => m.PostDip, new { @class = "postdip form-control" })
                    @Html.ValidationMessageFor(m => m.PostDip)
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group mb5">
                @Html.LabelFor(m => m.TankScaleMeasurement)
                <div class="form-group mb5">
                    @Html.DropDownListFor(m => m.TankScaleMeasurement, new SelectList(CommonHelperMethods.GetTankScaleMeasurementList((int)Model.AssetType,(int)Model.UoM,Model.TankMakeModel), "Id", "Name", Model.TankScaleMeasurement),
  string.Format(Resource.valMessageSelect, Resource.lblUomShort), new { @class = "form-control tankScale" })
                    @Html.ValidationMessageFor(m => m.TankScaleMeasurement)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 mb15 break-word">
            @Html.HiddenFor(m => m.AssetId)
            @Html.HiddenFor(m => m.OrderId)
            @Html.HiddenFor(m => m.InvoiceId)
            @Html.HiddenFor(m => m.PONumber)
            @Html.HiddenFor(m => m.AssetType, new { @class = "assetType" })
            @Html.HiddenFor(m => m.DropTicketNumber)
            @Html.HiddenFor(m => m.JobXAssetId, new { @class = "JobXAssetId" })
            @Html.HiddenFor(m=>m.TankMakeModel)
        </div>
    </div>
</div>
}
