@model DashboardSupplierBusinessStatViewModel
<div class="row tile-body">
    <div class="col-sm-12">
        <h2 class="dib fs16 mt0 mb0 pt0">
            <span class="fa fa-dollar mr5"></span> @Resource.headingBusinessStat
        </h2>
        <div class="pull-right">
            <a href="#." class="fs18 ml5 toggle-tiledata color-white" onclick="toggleData(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.YourBusiness.ToString())'); updateTileSetting(this, false);"><i class="fa @(Model.IsBusinessStatTileCollapsed ? " fa-chevron-circle-down" : "fa-chevron-circle-up")"></i></a>
            <a href="#." class="fs18 ml5 color-white" onclick="removeTile(this,'@CommonHelperMethods.GenerateTileId(@SupplierDashboardTiles.YourBusiness.ToString())'); updateTileSetting(this, true);"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
</div>
<div class="row mb15 mt15 tile-content @(Model.IsBusinessStatTileCollapsed ? "hide-element" : "")">
    <div class="col-xs-6 col-sm-4 mt10">
        <a href="#." class="text-white">
            <h1 class="no-margins">@Resource.constSymbolCurrency<span id="totalBusinessYouWon">0</span></h1>
            @Resource.lblBusinessYouWon
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 mt10">
        <a href="#." class="text-white">
            <h1 class="no-margins">@Resource.constSymbolCurrency<span id="totalBusinessYouMissed">0</span></h1>
            @Resource.lblBusinessYouMissed
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 mt10">
        <a href="#." class="text-white">
            <h1 class="no-margins">@Resource.constSymbolCurrency<span id="totalBusinessInYourArea">0</span></h1>
            @Resource.lblBusinessInYourArea
        </a>
    </div>
</div>