@model AppSettingViewModel
@{
    ViewBag.Title = "Edit AppSettings";
}

@using (Html.BeginForm("EditAppSettings", "MasterData", new { area = "SuperAdmin" }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="col-sm-12">
    <div class="row well">
        <div class="col-sm-12">
            <h4>@Resource.headingEditAppSetting</h4>
            <div class="row">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UpdatedBy)
                @Html.HiddenFor(m => m.UpdatedDate)
                @Html.HiddenFor(m => m.IsActive)
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.Key)
                    @Html.TextBoxFor(m => m.Key, new { @class = "form-control", @readonly = "true", placeholder = Html.DisplayNameFor(m => m.Key) })
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.Value)
                    @Html.TextBoxFor(m => m.Value, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Value) })
                    @Html.ValidationMessageFor(m => m.Value)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @readonly = "true", @Rows = 5, placeholder = Html.DisplayNameFor(m => m.Description) })
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12 col-12 text-right">
            <div class="form-group">
                <input type="button" class="btn" value="@Resource.btnLabelCancel" onclick="window.history.go(-1);" />
                <input type="submit" class="btn btn-primary btn-lg disable-when-no-partialblock" value="@Resource.btnLabelSave" />
            </div>
        </div>
    </div>
}

