@model DashboardDeliveryStatisticsViewModel

<style>
    .donut-inner {
        margin-top: -100px;
        margin-bottom: 100px;
    }

        .donut-inner h5 {
            margin-bottom: 5px;
            margin-top: 0;
        }

        .donut-inner span {
            font-size: 12px;
        }
</style>
<div class="widget-head-color-box">
    <div class="m-b-md mb0">
        <div class="widget widget-text-box mb0 no-b-radius pr30">
            <h2 class="fs16 f-normal mb15">
                <span class="fa fa-money color-blue mr5"> @Resource.lblDeliveries</span>
            </h2>
            <canvas id="DeliveryChart" height="70"></canvas>
            <div class="donut-inner">
                <h3></h3>
            </div>
        </div>
    </div>
</div>

<div class="pr widget-text-box mb10 bottom-radius group-element no-top-border">
    <div class="overflow-x dashboard-grids">
        <table class="table table-hover margin bottom row-pointer" id="table-delivery">
            <thead>
                <tr>
                    <th class="no-break pl0">@Resource.gridColumnSupplier</th>
                    <th class=" text-center">@Resource.gridColumnTotalDeliveries</th>
                    <th class=" text-center">On Time</th>
                    <th>Late</th>
                    <th class=" text-center">Avg. Time Delayed</th>
                    <th class=" text-center">@Resource.lblTotalGallonsDelivered</th>
                    <th class=" text-center">Avg. Qty. per Delivery</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@using (Html.BeginScripts())
{
<script>
    $(document).ready(function () {
        var dashboardFilter = getDashboardFilter();
        $.ajax({
            type: "get",
            url: "@Url.Action("GetDeliveryStatistics", "Dashboard", new { area = "Buyer" })",
            dataType: "json", // Set the data type so jQuery can parse it for you
            data: { 'countryId': dashboardFilter.countryId, 'currency': dashboardFilter.currencyType },
            success: function (data) {
                if (data.Deliveries.length > 0) {
                    for (i = 0; i < data.Deliveries.length; i++) {
                        $("#table-delivery tbody").append("<tr><td class='break-word pl0'><span>" + data.Deliveries[i].SupplierName + "</span></td>" +
                            "<td class='break-word pl0 text-center'><span>" + data.Deliveries[i].TotalDeliveries + "</span></td>" +
                            "<td class='break-word pl0 text-center'><span>" + data.Deliveries[i].OnTimeDeliveryPercentage + "</span></td>" +
                            "<td class='break-word pl0 text-center'><span>" + data.Deliveries[i].LateDeliveryPercentage + "</span></td>" +
                            "<td class='break-word pl0 text-center'><span>" + data.Deliveries[i].AverageTimeDelay + "</span></td>" +
                            "<td class='break-word pl0 text-center'><span>" + data.Deliveries[i].TotalQuantityDelivered + "</span></td>" +
                            "<td class='break-word pl0 text-center'><span>" + data.Deliveries[i].AverageQuantityPerDelivery + "</span></td></tr>");
                    }
                    wrapperHeight();
                }
                else {
                    $("#table-delivery tbody").append("<tr><td colspan='7'>There are no items to display</td ></tr >")
                }

                $("#table-delivery").closest(".fr-wrapper").find('.loading-wrapper').hide();
                $(".donut-inner h3").text(data.GlobalTotalDeliveries + ' Deliveries');
                var ctx = document.getElementById('DeliveryChart').getContext('2d');
                var ddtChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['On Time: ' + data.GlobalTotalOnTimeDeliveries + ' (' + data.GlobalOnTimeDeliveryPercentage + '%)',
                        'Late: ' + data.GlobalTotalLateDeliveries + ' (' + data.GlobalLateDeliveryPercentage + '%)'
                        ],
                        datasets: [{
                            position: 'bottom',
                            label: '# of Votes',
                            data: [data.GlobalOnTimeDeliveryPercentage, data.GlobalLateDeliveryPercentage],
                            backgroundColor: [
                                '#aadb8d',
                                '#91b6e8',
                                '#eb826a',
                                '#c7705b'
                            ],
                            borderColor: [
                                '#fff',
                                '#fff',
                                '#fff',
                                '#fff'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                            labels: {
                                boxWidth: 10,
                                boxHeight: 2,
                                fontSize: 11
                            }
                        },
                        labels: {
                            fontColor: "white",
                        },
                        hover: {
                            onHover: function (e) {
                                $("#ddtPieChart").css("cursor", e[0] ? "pointer" : "default");
                            }
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    return data['labels'][tooltipItem['index']];
                                }
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}
