@model SiteFuel.Exchange.ViewModels.Offer.OfferLoadedPriceViewModel

@if (Model != null)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning font-bold">@Resource.lblEstimatedPriceWarning</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>@Resource.lblPrice</td>
                        <td id="drop-amount">@Resource.constSymbolCurrency@Model.TotalDropAmount.ToString(ApplicationConstants.DecimalFormat2) @Resource.lblCurrencyCode</td>
                    </tr>
                    <tr>
                        <td>@Resource.lblTaxAmount</td>
                        <td>@Resource.constSymbolCurrency@Model.TotalTaxAmount.ToString(ApplicationConstants.DecimalFormat2) @Resource.lblCurrencyCode</td>
                    </tr>
                    <tr>
                        @if (Model.EstimatedFees != null && Model.EstimatedFees.Any())
                        {
                            foreach (var item in Model.EstimatedFees)
                            {
                                <td>
                                    @item.FeeType
                                </td>
                                <td>
                                    @Resource.constSymbolCurrency@item.Fee.ToString(ApplicationConstants.DecimalFormat2) @Resource.lblCurrencyCode
                                </td>
                            }
                        }

                    </tr>
                    <tr>
                        <td class="font-bold">
                            @Resource.lblTotal @Resource.lblPrice
                        </td>
                        <td class="font-bold total-amount">
                            @Resource.constSymbolCurrency@Model.TotalAmount.ToString(ApplicationConstants.DecimalFormat2) @Resource.lblCurrencyCode
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}