@model IEnumerable<DriverScheduleGridViewModel>

<h3 class="mt0 f-light fs21">@Resource.headingDriverScheduleDetails</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="well bg-white shadow-b">
            <div class="ibox mb0">
                <div class="ibox-content no-padding no-border">
                    <div class="table-responsive">
                        <table id="supplierdriverschedule-datatable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@Resource.gridColumnDriverName</th>
                                    <th>@Resource.gridColumnPhoneNumber</th>
                                    <th>@Resource.gridColumnPoNumber</th>
                                    <th>@Resource.gridColumnDate</th>
                                    <th>@Resource.gridColumnStartTime</th>
                                    <th>@Resource.gridColumnEndTime</th>
                                    <th>@Resource.gridColumnDeliverySchedule</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        var exportColumns = { columns: [0, 1, 2, 3, 4, 5,6] };
        $(document).ready(function () {
            var data = @Html.Raw(Json.Encode(Model));

            $('#supplierdriverschedule-datatable').dataTable({
                "data": data,
                "columns": [
                    { "data": "DriverName", "autoWidth": true },
                    { "data": "PhoneNumber", "autoWidth": true },
                    { "data": "PONumber", "autoWidth": true },
                    { "data": "ScheduleDate", "autoWidth": true },
                    { "data": "ScheduleStartTime", "autoWidth": true },
                    { "data": "ScheduleEndTime", "autoWidth": true },
                    { "data": "IsDeliverySchedule", "autoWidth": true },
                ],
                pageLength: 10,
                responsive: true,
                "order": [],
                "initComplete": function (settings, json) {
                    wrapperHeight();
                },
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'csv', title: '@Resource.headingDriverScheduleDetails', exportOptions: exportColumns },
                    { extend: 'excel', title: '@Resource.headingDriverScheduleDetails', exportOptions: exportColumns },
                    { extend: 'pdf', title: '@Resource.headingDriverScheduleDetails', exportOptions: exportColumns },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ],
                language: {
                    sLoadingRecords: "<div class='spinner-small'></div><div class='fs14'>@Resource.lblLoading</div>"
                },
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1]
                }],
                "stateSave": false
            });
        });
</script>

