@model DiscountViewModel

@using (Html.BeginForm("SaveDiscount", "Invoice", new { area = "Buyer" }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InvoiceId)
    @Html.HiddenFor(m => m.OrderId)
    <div class="col-sm-12">
        <div class="row well">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12"><h4 class="pb10">@Resource.lblCreateDeal</h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DealName)
                            @Html.TextBoxFor(m => m.DealName, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.DealName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>@Resource.lblDiscountOn</label>
                            </div>
                            <div class="col-sm-5">
                                <label>@Resource.lblRebateOption</label>
                            </div>
                            <div class="col-sm-3">
                                <label>@Resource.lblAmountOrPercent</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="invoice-discountlineitems" class="partial-section mirror">
                    <div id="Discountlineitems" class="partial-block-collection-section">
                        @foreach (var discountLineItem in Model.DiscountLineItems)
                        {
                            Html.RenderPartial("_PartialDiscountLineItem", discountLineItem);
                        }
                    </div>
                    <a href="javascript:void(0)" class="add-partial-block mb20" data-url="@Url.Action("DiscountLineItem", "Invoice", new { area = "Buyer",invoiceId = Model.InvoiceId })">
                        <span class="fa fa-plus-circle"></span>
                        @Resource.btnLabelAddDiscountLineItem
                    </a>
                </div>
                <div class="row clearboth">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Notes)
                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.Notes)
                        </div>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="col-sm-12 text-right">
                        @*<input type="button" value="@Resource.btnLabelCancel" class="btn btn-default" onclick="" />*@
                        <input type="submit" id="Submit" value="@Resource.btnLabelSave" class="btn btn-lg btn-primary submit-form" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="tab-contents-discount" class="mb20">
    @Html.Partial("_PartialDiscountGrid", Model.InvoiceId)
</div>