@model FuelRequestResaleCustomerViewModel

@using (Html.BeginCollectionItem("FuelRequestResale.ResaleCustomer"))
{
    <div class="partial-block">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control mt5", placeholder = Html.DisplayNameFor(m => m.Name) })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-6 col-sm-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mt5", placeholder = Html.DisplayNameFor(m => m.Email) })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="fs18">
                <a href="javascript:void(0)" class="fa fa-trash-alt mt15 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        </div>
    </div>
}