@model AssetJobAssignmentViewModel
    <div class="col-sm-5 form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.AssetId)
        @Html.HiddenFor(m => m.AssignedBy)
        @Html.HiddenFor(m => m.AssignedDate)

        <div class="row col-md-12">
        @Html.LabelForEx(m => m.JobId, Resource.lblJob)
        @Html.DropDownListFor(m => m.JobId, new SelectList(CommonHelperMethods.GetJobsForAsset(CurrentUser.CompanyId,Model.AssetId, Model.JobId, CurrentUser.Id), "Id", "Name", Model.JobId),
                                    string.Format(Resource.valMessageSelect, Resource.lblJobName), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.JobId)
    </div>
</div>
