@model JobStepsViewModel

<div id="dynamicRenderPartial">
    @{
        var onsiteContacts = CommonHelperMethods.GetUserNamesById(Model.Job.OnsiteContacts);
        var usersAssigned = CommonHelperMethods.GetUserNamesById(Model.Job.AssignedTo);
        var poContact = string.Empty;
        if (Model.Job.PoContactId != null)
        {
            poContact = CommonHelperMethods.GetUserNamesById(new List<int>() { Model.Job.PoContactId.Value }).FirstOrDefault();
        }
        var approvalUser = string.Empty;
        if (Model.Job.ApprovalUser != null)
        {
            approvalUser = CommonHelperMethods.GetUserNamesById(new List<int>() { Model.Job.ApprovalUser.Value }).FirstOrDefault();
        }
	<!-- partial view starts -->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="f-light border-b pb10 fs18">@Resource.stepLabelJobDetails</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Job.Name, new { @class = "f-normal" })
                                <div>@Model.Job.Name</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Job.JobID, new { @class = "f-normal" })
                                <div>@Model.Job.JobID</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Job.StartDate, new { @class = "f-normal" })
                                <div>@Model.Job.StartDate.ToString(Resource.constFormatDate)</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Job.EndDate, new { @class = "f-normal" })
                                <div>
                                    @if (Model.Job.EndDate != null)
                                    {
                                        @Model.Job.EndDate.Value.ToString(Resource.constFormatDate)
                                    }
                                    else
                                    {
                                        @Resource.lblHyphen
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- job details ends -->
            <!-- address starts -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="f-light border-b pb10 fs18">@Resource.headingAddress</h4>
                    <div class="row">
                        <div class="col-md-12 combineDiv">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.Address, new { @class = "f-normal" })
                                        <div>@Model.Job.Address</div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.City, new { @class = "f-normal" })
                                        <div>@Model.Job.City</div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.State, new { @class = "f-normal" })
                                        <div>@Model.Job.State.Name</div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.Country, new { @class = "f-normal" })
                                        <div>@Model.Job.Country.Name</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.ZipCode, new { @class = "f-normal" })
                                        <div>@Model.Job.ZipCode</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row geoCntrls">
                                <div class="col-md-3 col-xs-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.Latitude, new { @class = "f-normal" })
                                        <div>@Model.Job.Latitude</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Job.Longitude, new { @class = "f-normal" })
                                        <div>@Model.Job.Longitude</div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 ">
                                        <label class="f-normal">
                                            @Resource.lblAssetTracking
                                        </label>
                                        <div>@Model.Job.IsAssetTracked.ToEnabledDisabled()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- address ends -->
            <!-- Resale Section starts -->
            @if (Model.Job.IsResaleEnabled)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="f-light border-b pb10 fs18">@Resource.headingResale</h4>
                        <div class="row enableResale">
                            <div class="col-sm-3">
                                <label>@Resource.lblContractNumber</label>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Job.ContractNumber, new { @class = "f-normal" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>@Resource.lblCustomerEmail</label>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Job.CustomerEmail, new { @class = "f-normal" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Resale Section ends -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="f-light border-b pb10 fs18">@Resource.headingSubcontractors</h4>
                    <div id="job-subcontractors" class="partial-section mirror">
                        <div id="JobSubcontractors" class="partial-block-collection-section">
                            @if (Model.Subcontractors != null && Model.Subcontractors.Count > 0)
                            {
                                foreach (var person in Model.Subcontractors)
                                {
                                    <label>@person.Name </label>
                                }
                            }
                            else
                            {
                                <label>@Resource.lblNoContacts</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- onsite contact starts -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="f-light border-b pb10 fs18">@Resource.headingJobContacts</h4>
                    <div id="job-contact-persons" class="partial-section mirror">
                        <div id="JobContactPersons" class="partial-block-collection-section">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <label class="f-normal">@Resource.lblAssignedTo</label>
                                    <div>
                                        @if (usersAssigned.Count > 0)
                                        {
                                            foreach (var person in usersAssigned)
                                            {
                                                <div class="form-group dib ml2">
                                                    <span class="label label-default">@person</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-group dib">
                                                <span>
                                                    @Resource.lblHyphen
                                                </span>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label class="f-normal">@Resource.lblOnsiteContact</label>
                                    <div>
                                        @if (onsiteContacts.Count > 0)
                                        {
                                            foreach (var person in onsiteContacts)
                                            {
                                                <div class="form-group dib">
                                                    <span class="label label-default">@person</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div>
                                                        @Resource.lblHyphen
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label class="f-normal">@Resource.lblPoContact</label>
                                    <div>@(!string.IsNullOrEmpty(poContact) ? poContact : Resource.lblHyphen)</div>
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label class="f-normal">@Resource.lblApprovalUser</label>
                                    <div>@(!string.IsNullOrEmpty(approvalUser) ? approvalUser : Resource.lblHyphen)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- onsite contact ends -->
            <!-- budget starts -->
            <div class="row mb10">
                <div class="col-sm-12">
                    <h4 class="f-light border-b pb10 fs18">@Resource.headingBudget</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            @if (Model.JobBudget.BudgetCalculationTypeId == (int)BudgetCalculationType.NoBudget)
                            {
                                <label class="f-normal mb0">
                                    @Resource.lblNoBudget
                                </label>
                            }
                            else if (Model.JobBudget.BudgetCalculationTypeId == (int)BudgetCalculationType.Fuel)
                            {
                                <label class="f-normal mb0">
                                    @(Model.Job.Country.Currency == Currency.CAD ? Resource.lblLitresOrPPL : Resource.lblGallonsOrPPG)
                                </label>
                                <div>@Model.JobBudget.Gallons  @Resource.constSymbolCurrency@Model.JobBudget.PricePerGallon @Model.Job.Country.UoM</div>
                            }
                            else
                            {
                                <label class="f-normal mb0">
                                    @Resource.lblAmount
                                </label>
                                <div>@Resource.constSymbolCurrency@Model.JobBudget.Budget</div>
                            }
                        </div>
                    </div>
                    @if (Model.JobBudget.IsBudgetTracked)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Resource.lblTrackBy
                                @if (Model.JobBudget.IsHedgeAmountTracked)
                                {
                                    <label class="f-normal mb0">@Resource.lblHedge</label>
                                    <div>@Resource.constSymbolCurrency@Model.JobBudget.HedgeAmount</div>
                                }
                                else
                                {
                                    <label class="f-normal mb0">
                                        @Resource.lblSpot
                                    </label><div>@Resource.constSymbolCurrency@Model.JobBudget.SpotAmount</div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <label class="f-normal mb0">
                                @Resource.lblExceededBudget
                            </label>
                            <div>@Model.JobBudget.IsExceededBudget.ToYesNo()</div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <label class="f-normal mb0">
                                @Resource.lblTaxExempted <span class="fs12">@Resource.lblIsTaxExmptedCondition</span>
                            </label>
                            <div>@Model.JobBudget.IsTaxExempted.ToYesNo()</div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div>
                                <label class="f-normal mb0">
                                    @Resource.lblDropPictureRequired
                                </label>
                                <div>@Model.JobBudget.IsDropPictureRequired.ToYesNo()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- budget ends -->
        </div>
    }
</div>
<!-- partial view ends -->