@model SubcontractorViewModel

@using (Html.BeginCollectionItem("Subcontractors"))
{
    <div class="col-6 col-md-4 col-md-3 partial-block">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="col-1 pt20 pl0 fs18">
                <a href="javascript:void(0)" class="fa fa-trash-alt mt15 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        </div>
    </div>
}

