@model DeliveryDaysViewModel
<!-- Delivery Section starts -->
@Html.HiddenFor(m => m.Count)
    <div class="collection col-sm-12">
        @using (Html.BeginCollectionItem("Job.DeliveryDaysList"))
        {
            <div class="DeliveryDays-type-row">
                <div class="DeliveryDays-types">
                        <div class="partial-block">
                            <div class="row">
                                <div class="col-sm-2">
                                    @if (Model.Count <= 1)
                                    {
                                        @Html.LabelFor(m => m.DeliveryDays)
                                    }
                                </div>
                                <div class="col-sm-4">
                                    @if (Model.Count <= 1)
                                    {
                                        @Html.Label(Resource.lblDeliveryWindow)
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group mb10">
                                        @* @Html.DropDownListFor(m => m.FeeConstraintTypeId, new SelectList(CommonHelperMethods.GetAllFeeConstraintTypes(), "Id", "Name"), new { @class = "form-control special-date-feetype-ddl", @onchange = "showHideSpecialDate(this); SetSpecialMinDate(this);" })*@
                                        @Html.DropDownListFor(m => m.DeliveryDays, new SelectList(CommonHelperMethods.GetWeekDays(), "Id", "Name"), "Select day", new { @class = "form-control DeliveryDays-ddl" })

                                        @Html.ValidationMessageFor(m => m.DeliveryDays)
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <div class="row">
                                            <span class="col-sm-6">
                                                @Html.TextBoxFor(m => m.FromDeliveryTime, new { @class = "form-control timepicker", @placeholder = "From" })
                                                @Html.ValidationMessageFor(m => m.FromDeliveryTime)
                                            </span>
                                            <span class="col-sm-6">
                                                @Html.TextBoxFor(m => m.ToDeliveryTime, new { @class = "form-control timepicker", @placeholder = "To" })
                                                @Html.ValidationMessageFor(m => m.ToDeliveryTime)
                                            </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox mt8 test">
                                        <label>
                                            @Html.CheckBoxFor(m => m.IsAcceptNightDeliveries, new { @checked = false, @class = "checkbox" })
                                            @Resource.lblAcceptNightDeliveries
                                        </label>
                                    </div>
                                    @*<div class="form-check form-check-inline checkbox mt8">
                                        @Html.CheckBoxFor(m => m.IsAcceptNightDeliveries, new { @checked = false, @class = "form-check-input checkbox",@id="ChkAcceptNightDeliveries" })
                                        <label class="form-check-label" for="ChkAcceptNightDeliveries">@Resource.lblAcceptNightDeliveries</label>
                                    </div>*@
                                </div>
                                @if (Model.Count ==2)
                                { 
                                    <div class="col-1 pl0 fs18">
                                        <a href="javascript:void(0)" class="fa fa-trash-alt mt8 color-maroon" title="@Resource.btnLabelRemove" onclick="removePartial(this); RemoveCheck(this);"></a>
                                    </div>
                                }
                            </div>
                        </div>
                </div>
            </div>
        }
    </div>
