@model RecurringSchedule
@{
    string uom = "G";
    int iNumber = 0;
    int MaxIndex = Model.MaxIndex;
    if (MaxIndex > 0)
    {
        iNumber = MaxIndex;
    }
    if (Model.UoM == (int)UoM.Litres)
    {
        uom = "L";
    }
}

@using (Html.BeginCollectionItem(Model.Prefix + ".RecurringSchdules"))
{
    string rId = "recurring" + "_" + Model.Index.ToString() + "_" + iNumber.ToString();
    iNumber = iNumber + 1;
    <div class="row border-b mt5 rId_@Model.ProductTypeId recurring-dr" id="@rId">
        <div class="col-sm-10 ">
            <div class="row mb10">
                <div class="col-sm-6" id="dvScheduleType_@rId.ToString()">
                    <div class="form-group mb0">
                        <div class="input-group">
                            @Html.DropDownListFor(m => Model.ScheduleType, new SelectList(CommonHelperMethods.GetMstScheduleTypes().Where(top => top.Id != 4).ToList(), "Id", "Name", Model.ScheduleType), new { @class = "form-control", @onchange = "enableControl('" + rId + "',this)" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pl0" id="dvWeekDay_@rId.ToString()" style="@(Model.ScheduleType==1 || Model.ScheduleType==2 ? "display:block" : "display:none")">
                    <div class="form-group mb0">
                        <div class="input-group">
                            @Html.ListBoxFor(m => Model.WeekDayId, new MultiSelectList(CommonHelperMethods.GetWeekDays(), "Id", "Code", Model.WeekDayId), new { @class = "form-control multi-select user-weekDetails" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pl0" id="dvDate_@rId.ToString()" style="@(Model.ScheduleType==3 ? "display:block" : "display:none")">
                    <div class="form-group mb0">
                        <div class="input-group">
                            @Html.TextBoxFor(m => Model.Date, new { @class = "form-control datepicker" })
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(m => Model.MonthDayId)
                @Html.HiddenFor(m => Model.Id)
            </div>
            <div class="row mb5">
                <div class="col-sm-6" id="dvSCQtyType_@rId.ToString()">
                    <div class="form-group mb0">
                        <div class="input-group">
                            @Html.DropDownListFor(m => Model.ScheduleQuantityType, new SelectList(CommonHelperMethods.GetScheduleQtyType(), "Id", "Name", Model.ScheduleQuantityType), new { @class = "form-control", @onchange = "enableReqQtyControl('" + rId + "',this)" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pl0" id="dvRqOty_@rId.ToString()" style="@(Model.ScheduleQuantityType==1 ? "display:block" : "display:none")">
                    <div class="form-group mb0">
                        <div class="input-group">
                            @Html.TextBoxFor(m => Model.RequiredQuantity, "{0:#.#}", new { @class = "form-control", @onkeyup = "validateQty(this)" })
                            <div class="input-group-append">
                                <span class="input-group-text line-height_18 fs14">@uom</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div id="drDeliveryLevelPODiv_@rId.ToString()" class="input-group">
                            @Html.TextBoxFor(m => m.DeliveryLevelPO, new { @class = "form-control .recurringdeliveryLevelPO", @placeholder = "Delivery-Level PO#" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2  text-center align-self-center">
            @if (string.IsNullOrEmpty(Model.Id))
            {
                <a onclick="DeleteSchedule('@rId','')" class="fa fa-trash-alt fs18 color-maroon mt7" title="Remove"></a>
            }
            else
            {
                <a onclick="DeleteSchedule('@rId','@Model.Id')" class="fa fa-trash-alt fs18 color-maroon mt7" title="Remove"></a>
            }
        </div>
    </div>
}

