@model OrderDetailsViewModel
<div class="well">
    <table class="table mb0">
        <thead>
        <th>@Resource.lblPoNumber</th>
        <th>@Resource.gridColumnInvoice</th>
        <th>@Resource.gridColumnDropTicketNumber</th>
        <th>@Resource.gridColumnDropDate</th>
        <th>@Resource.gridColumnQuantity</th>
        <th>@Resource.gridColumnAmount</th>
        </thead>
        <tbody>
            @if (Model.DropInformationDetails.Count > 0)
            {
                foreach (var dropInformation in Model.DropInformationDetails)
                {
                    Html.RenderPartial("_PartialDropInformation", dropInformation);
                }
            }
            else
            {
                <tr><td colspan="6">@Resource.lblNoDataAvailable</td></tr>
            }
        </tbody>
    </table>
</div>