@model OrderFilterViewModel

<div id="buyer-ordermap" class="row mapheight">
</div>
<script>
    $(document).ready(function () {
        ReloadBuyerOrderMap();
    });

    function ReloadBuyerOrderMap() {
        var countryId = '@Model.Country.Id';
        var currency = '@Model.Country.Currency';
        var selectedCountryAndCurrency = getSelectedCountryAndCurrency();
        if (@Model.Country.Id <= 0) {
            countryId = selectedCountryAndCurrency.countryId;
            currency = selectedCountryAndCurrency.currencyType;
        }

        var data = {
            JobId: '@Model.JobId',
            Filter: '@Model.Filter',
            FuelTypeId: '@Model.FuelTypeId',
            Currency: currency,
            CountryId: countryId,
            GroupIds: getCompanyGroup().groupIds
        };

        var url = '@Url.Action("PartialMapView", "Order", new { area = "Buyer" })';

        $.get(url, data, function (response) {
            $("#buyer-ordermap").empty().append(response);
        });
    }
</script>
