@model AssetDuplicateViewModel

@using (Html.BeginCollectionItem("AssetDuplicates"))
{
    <td class="text-center" style="vertical-align:middle">
        @Html.CheckBoxFor(m => m.IsSelected, new { @class = "selectable" }).Disabled(!CurrentUser.IsBuyerAdmin)
        @Html.HiddenFor(m => m.Id)
    </td>
    <td>
        @if (CurrentUser.IsBuyerAdmin)
        {
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control editable", style = "display:block" })
            @Html.ValidationMessageFor(m => m.Name)
        }
        <span class="float-left @(CurrentUser.IsBuyerAdmin ? "hide-element" : "")">@Model.Name</span>
    </td>
    <td>
        @Model.Make
        @Html.HiddenFor(m => m.Make)
    </td>
    <td>
        @Model.Model
        @Html.HiddenFor(m => m.Model)
    </td>
    <td>
        @Model.Year
        @Html.HiddenFor(m => m.Year)
    </td>
    <td>
        @Model.AssetClass
        @Html.HiddenFor(m => m.AssetClass)
    </td>
    <td>
        @Model.Color
        @Html.HiddenFor(m => m.Color)
    </td>
    <td>
        @Model.FuelType
        @Html.HiddenFor(m => m.FuelType)
    </td>
    <td>
        @(string.Format(Resource.constFormatDecimal2, Model.FuelCapacity))
        @Html.HiddenFor(m => m.FuelCapacity)
    </td>
    <td>
        @Model.VehicleId
        @Html.HiddenFor(m => m.VehicleId)
    </td>
    <td>
        @Model.TelematicsProvider
        @Html.HiddenFor(m => m.TelematicsProvider)
    </td>
    <td>
        @Model.LicensePlateState
        @Html.HiddenFor(m => m.LicensePlateState)
    </td>
    <td>
        @Model.LicensePlate
        @Html.HiddenFor(m => m.LicensePlate)
    </td>
    <td>
        @Model.Vendor
        @Html.HiddenFor(m => m.Vendor)
    </td>
    <td>
        @Model.Description
        @Html.HiddenFor(m => m.Description)
    </td>
    <td>
        @Model.DateAdded.ToString(Resource.constFormatDate)
        @Html.HiddenFor(m => m.DateAdded)
    </td>
}