@model InvoiceFilterViewModel

<div class="col-md-12 pr0 pl0">
    <div class="well bg-white shadow-b">
        <div class="ibox mb0">
            <div class="ibox-content no-padding no-border">
                <div id="buyer-invoice-div" class="table-responsive">
                    <table id="Buyerinvoice-datatable" data-gridname="@GridName.BuyerInvoice" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th data-key="InvoiceNumber">@Resource.gridColumnInvoiceNumber</th>
                                <th data-key="PoNumber">@Resource.gridColumnPoNumber</th>
                                <th data-key="BDRNumber">@Resource.lblBDRNo</th>
                                <th data-key="BolNumber">@Resource.gridColumnBolLiftNumber</th>
                                <th data-key="DeliveryLevelPO">@Resource.lblDeliveryLevelPO</th>
                                <th data-key="LiftDate">@Resource.lblLiftDate</th>
                                <th data-key="Carrier">@Resource.lblCarrier</th>
                                <th data-key="Job">@Resource.gridColumnLocationName</th>
                                <th data-key="Supplier">@Resource.gridColumnSupplier</th>
                                <th data-key="FuelType" class="no-break">@Resource.gridColumnFuelType</th>
                                <th class="uom-by-country"> <span class="uom-lbl"></span> @Resource.lblDelivered</th>
                                <th data-key="PrePostValues">@Resource.gridColumnPrePostValues</th>
                                <th data-key="Terminal">@Resource.gridColumnTerminal</th>
                                <th data-key="AssetFilled">@Resource.lblAssetFilled</th>
                                <th>@Resource.gridColumnInvoiceAmount (<span class="currency-by-country"></span>)</th>
                                <th data-key="DropDate">@Resource.gridColumnDropDate</th>
                                <th data-key="DropTime">@Resource.gridColumnDropTime</th>
                                <th data-key="InvoiceDate">@Resource.gridColumnInvoiceDate</th>
                                <th data-key="PaymentDueDate">@Resource.gridColumnPaymentDueDate</th>
                                <th data-key="VesselName">@Resource.gridColumnVesselName</th>
                                <th data-key="Status">@Resource.gridColumnStatus</th>
                                @*<th data-key="LiftTicketNumber<">@Resource.gridColumnLiftTicketNumber</th>*@
                                <th data-key="DropTicketNumber">@Resource.gridColumnProofofDelivery</th>
                                <th data-key="CreationMethod">@Resource.gridColumnCreationMethod</th>
                                <th data-key="PickupAddress">@Resource.gridColumnPickupAddress</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var buyerInvoiceGrid, exportInvoiceColumns = { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18, 19,20,21] };
    var clearInvoiceFilter;
    var dataGridRq;
    $(document).ready(function () {
        initDateTimePicker();
        exportInvoiceGrid();
        var buyinvoicelocations = 'invoice-locations';
        var buyinvoicefilter = 'invoice-filterType';
        $('#txtBuyerInvoiceFromDate').val(GetLocalStorage('txtBuyerInvoiceFromDate'));
        $('#txtBuyerInvoiceToDate').val(GetLocalStorage('txtBuyerInvoiceToDate'));
        SetUoMCurrencyAndRacklables();
        clearInvoiceFilter = function () {
            $('#txtBuyerInvoiceFromDate').val('');
            $('#txtBuyerInvoiceToDate').val('');
            $('#txtBuyerInvoiceToDate').data("DateTimePicker").minDate($("#txtBuyerInvoiceFromDate").datetimepicker("minDate"));
            reloadInvoiceDataTable();
        }

        if ($('#txtBuyerInvoiceFromDate').length > 0 && $('#txtBuyerInvoiceToDate').length > 0) {
            $("#txtBuyerInvoiceFromDate").on('dp.change dp.show', function (e) {
                if (e.date == false)
                    $('#txtBuyerInvoiceToDate').data("DateTimePicker").minDate($("#txtBuyerInvoiceFromDate").datetimepicker("minDate"));
                else
                    $('#txtBuyerInvoiceToDate').data("DateTimePicker").minDate(moment($('#txtBuyerInvoiceFromDate').val()));
            });
        }
        sdate = $('#txtBuyerInvoiceFromDate').val() == 'undefined' ? (GetLocalStorage('txtBuyerInvoiceFromDate')) : $('#txtBuyerInvoiceFromDate').val();
        edate = $('#txtBuyerInvoiceToDate').val() == 'undefined' ? (GetLocalStorage('txtBuyerInvoiceToDate')) : $('#txtBuyerInvoiceToDate').val();
        if (sdate == "undefined" || edate == "undefined" || sdate == "" || edate == "") {
            $('#txtBuyerInvoiceFromDate').val(moment().subtract(7, 'days').format('MM/DD/YYYY'));
            $('#txtBuyerInvoiceToDate').val(moment().format('MM/DD/YYYY'));
        }

        buyerInvoiceGrid = $('#Buyerinvoice-datatable').DataTable({
            "ajax": {
                "url": "@Url.Action("InvoiceGrid", "Invoice", new { area = "Buyer" })",
                "type": "POST",
                "datatype": "json",
                "data": function (data) {
                    data.JobId = '@Model.JobId';
                    data.Filter = '@Model.Filter';
                    data.StartDate = $('#txtBuyerInvoiceFromDate').val() == 'undefined' ? "" : $('#txtBuyerInvoiceFromDate').val();
                    data.EndDate = $('#txtBuyerInvoiceToDate').val() == 'undefined' ? "" : $('#txtBuyerInvoiceToDate').val();
                    data.Currency = getSelectedCountryAndCurrency().currencyType;
                    data.CountryId = getSelectedCountryAndCurrency().countryId;
                    data.GroupIds = getCompanyGroup().groupIds;
                    data.LocationIds = JSON.parse(localStorage.getItem(buyinvoicelocations)) || [];
                    data.VesselIds = getAssetTankVessels();
                    data.IsMarine = (localStorage.getItem(buyinvoicefilter));
                    dataGridRq = data;
                    $('#buyer-invoice-div').append("<div class='pa bg-white top0 left0 z-index5 loading-wrapper'><span class='spinner-dashboard pa'></span></div>");
                },
                "dataSrc": function (json) {
                    $("#buyer-invoice-div").find('.loading-wrapper').remove();
                    return json.data;
                }
            },
            'lengthMenu': [[10, 25, 50, 100, 99999999], [10, 25, 50, 100, "All"]],
            aaSorting: [[]],
            "serverSide": true,
            "searchDelay": 500,
            processing: true,
            "searching": { "regex": true },
            "bProcessing": true,
            lengthChange: true,
            "columns": [
                {
                    "data": function (data, type, row, meta) {
                        var ids = data.Id.split(';');
                        return '<a href="@Url.Action("Details", "Invoice", new { area = "Buyer" })/' + ids[0]+ '">' + data.InvoiceNumber + '</a>';
                    }, "autoWidth": true
                },
                {
                    "data": function (data, type, row, meta) {
                        var ids = data.OrderId.split(';');
                        var poNos = data.PoNumber.split(';');
                        if (ids && ids.length === 0)
                            return '<a href="@Url.Action("Details", "Order", new { area = "Buyer" })/' + data.OrderId + '">' + data.PoNumber + '</a>';
                        else if (ids && ids.length > 0) {
                            var returnUrl = '';
                            for (var i = 0; i < ids.length; i++) {
                                returnUrl += ' <a href="@Url.Action("Details", "Order", new { area = "Buyer"})/' + ids[i] + '">' + poNos[i] + '</a> ';
                            }
                        }
                                return returnUrl;
                    }, "autoWidth": true
                },
                { "data": "BDRNumber", "autoWidth": true },
                { "data": "BolNumber", "autoWidth": true },
                {
                    "data": function (data) {
                        var deliveryLevelPO = data.DeliveryLevelPO.split(',');
                        if (deliveryLevelPO.length === 0) {
                            return "<div>" + deliveryLevelPO + "</div>";
                        }
                        else {
                            var deliveryReqInfo = '';
                            for (var i = 0; i < deliveryLevelPO.length; i++) {
                                deliveryReqInfo = deliveryReqInfo + "<div>" + deliveryLevelPO[i] + "</div>";
                            }
                            return deliveryReqInfo;
                        }
                    }, "autoWidth": true
                },
                { "data": "LiftDate", "autoWidth": true },
                { "data": "Carrier", "autoWidth": true },
                {
                    "data": function (data, type, row, meta) {
                        return '<a href="@Url.Action("Details", "Job", new { area = "Buyer" })/' + data.JobId + '">' + data.JobName + '</a>';
                    }, "autoWidth": true
                },
                { "data": "Supplier", "autoWidth": true },
                { "data": "FuelType", "autoWidth": true, className: "break-word" },
                { "data": "DroppedGallons", "autoWidth": true },
                {
                    "data": function (data, type, row, meta) {
                        if (data.PrePostValues != null && data.PrePostValues != "") {
                            var prePostData = data.PrePostValues.split(';');
                            if (prePostData.length === 0)
                                return data.prePostData;
                            else if (prePostData.length > 0) {
                                var returnUrl = '';
                                for (var i = 0; i < prePostData.length; i++) {
                                    returnUrl += prePostData[i] + '<br />';
                                }
                                return returnUrl;
                            }
                        }else {
                            return "--";
                        }

                    }, "autoWidth": true, className: "no-wrap"
                },
                { "data": "TerminalName", "autoWidth": true },
                { "data": "AssetCount", "autoWidth": true, render: $.fn.dataTable.render.number(',', '.', 0, '') },
                { "data": "InvoiceAmount", "autoWidth": true, render: $.fn.dataTable.render.number(',', '.', 2, '@Resource.constSymbolCurrency') },
                { "data": "DropDate", "autoWidth": true },
                { "data": "DropTime", "autoWidth": true },
                { "data": "InvoiceDate", "autoWidth": true },
                { "data": "PaymentDueDate", "autoWidth": true },
                { "data" : "VesselName", "autowidth": true},
                { "data": "Status", "autoWidth": true },
                //{ "data": "LiftTicketNumber", "autoWidth": true },
                { "data": "DropTicketNumber", "autoWidth": true },
                { "data": "CreationMethod", "autoWidth": true },
                { "data": "PickupAddress", "autoWidth": true },
				{ "data": "Id", "autoWidth": true }
            ],
            pageLength: 10,
            responsive: true,
			"order": [22, 'desc'],
            "initComplete": function (settings, json) {
                wrapperHeight();
                tabGridHeader(this);
            },
            "drawCallback": function (settings, json) {
                hideLinksForCompanyGroup(this);
            },
            "columnDefs": [
                { "name": "InvoiceNumber", "targets": 0, "regex": false },
                { "name": "PoNumber", "targets": 1 },
                { "name": "BDRNumber", "targets": 2, "visible": false },
                { "name": "BolNumber", "targets": 3 },
                { "name": "DeliveryLevelPO", "targets": 4, "visible": false },
                { "name": "LiftDate", "targets": 5 },
                { "name": "Carrier", "targets": 6 },
                { "name": "JobName", "targets": 7 },
                { "name": "Supplier", "targets": 8 },
                { "name": "FuelType", "targets": 9 },
                { "name": "DroppedGallons", "targets": 10 },
                { "name": "PrePostValues", "targets": 11 },
                { "name": "TerminalName", "targets": 12 },
                { "name": "AssetCount", "targets": 13 },
                { "name": "InvoiceAmount", "targets": 14 },
                { "name": "DropDate", "targets": 15 },
                { "name": "DropTime", "targets": 16 },
                { "name": "InvoiceDate", "targets": 17 },
                { "name": "PaymentDueDate", "targets": 18 },
                { "name": "VesselName", "targets": 19, "visible": false},
                { "name": "Status", "targets": 20 },
                //{ "name": "LiftTicketNumber", "targets": 15 },
                { "name": "DropTicketNumber", "targets": 21 },
                { "name": "CreationMethod", "targets": 22 },
                { "name": "PickupAddress", "targets": 23 },
                { "targets": [24], "visible": false, "searchable": false },
                {
                    targets: [1, 3, 9, 10, 11,12,13,14,18],
                    //replace semicolons in each cell contents within columns 3, 4, 5 with new line tag `<br>`
                    //render: (data, type, row, meta) => data ? data.replace(/;/g, '<br>') : ''
                    render: function (data, type, row, meta) { if (data) return data.replace(/;/g, '<br>'); else return ''; }
                }
            ],
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'colvis', columns: exportInvoiceColumns.columns },
                { extend: 'csv', title: '@Resource.headingInvoices', exportOptions: exportInvoiceColumns },
                { extend: 'excel', title: '@Resource.headingInvoices', exportOptions: exportInvoiceColumns },
                @*{ extend: 'pdf', title: '@Resource.headingInvoices', exportOptions: exportInvoiceColumns, orientation: 'landscape' },*@
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            language: {
                sLoadingRecords: "<div class='spinner-small'></div><div class='fs14'>@Resource.lblLoading</div>",
                search: "<button class='btn btn-primary' id='btnsearch13'> <i class='fa fa-search'></i></button>"
            },
            initComplete: function (settings, json) {
                var api = this.api();
                var textBox = $('#Buyerinvoice-datatable_filter .input-sm');
                textBox.unbind();
                textBox.bind('keyup input', function (e) {
                    if (e.keyCode == 8 && !textBox.val() || e.keyCode == 46 && !textBox.val()) {
                    } else if (e.keyCode == 13 || !textBox.val()) {
                        api.search(this.value).draw();
                    }
                });

                $("#btnsearch13").click(function () {
                    api.search(textBox[0].value).draw();
                });
            }
        });
    });

    function reloadInvoiceDataTable() {
        SetLocalStorage('txtBuyerInvoiceFromDate', $('#txtBuyerInvoiceFromDate').val());
        SetLocalStorage('txtBuyerInvoiceToDate', $('#txtBuyerInvoiceToDate').val());
        buyerInvoiceGrid.ajax.reload();
        //ReloadBuyerInvoiceMap();
    }

    function exportInvoiceGrid() {
        ExportDataEvent('#Buyerinvoice-datatable',  @ApplicationConstants.ExportRestrictionCount,
            '@Url.Action("InvoiceGrid", "Invoice", new { area = "Buyer" })',
            '@string.Format(Resource.messageExportRestrictionCount, ApplicationConstants.ExportRestrictionCount)'
        );
    }
    function getAssetTankVessels() {
        let orders = [];
        if (window.location.href.indexOf('Invoice/View') > -1)
        {
            orders = getSelectedAssets();
        }
        return orders;
    }

</script>

