<div class="well bg-white shadow-b">
    <div class="ibox mb0">
        <div class="ibox-content no-border no-padding">
            <div id="supplier-duplicate-inv-approvals-div" class="table-responsive">
                <table id="tbl-supplier-duplicate-inv-approvals" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Resource.lblVendor</th>
                            <th>@Resource.headinPoNumber</th>
                            <th>@Resource.lblEDDT</th>
                            <th>@Resource.lblJobName</th>
                            <th>@Resource.lblDroppedDate</th>
                            <th>@Resource.lblDropped @Resource.lblQuantity</th>
                            <th>@Resource.lblPricePerGallon</th>
                            <th>@Resource.lblAutoApprovedOn</th>
                            <th>@Resource.lblStatus</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var duplicateInvExcpGrid, duplicateInvExportColumns = { columns: [0, 2, 3, 4, 5, 6, 7, 8] };
    $(document).ready(function () {
        duplicateInvExcpGrid = $('#tbl-supplier-duplicate-inv-approvals').DataTable({
            "ajax": {
                "url": "@Url.Action("GetSupplierApprovalExceptions", "Exception", new { area = "Buyer" })",
                "type": "POST",
                "data": function (data) {
                    data.ExceptionTypes = "2",
                    dataGridRq = data;
                    $('#supplier-duplicate-inv-approvals-div').append("<div class='pa bg-white top0 left0 z-index5 loading-wrapper'><span class='spinner-dashboard pa'></span></div>");
                },
                "datatype": "json",
                "dataSrc": function (json) {
                    $("#supplier-duplicate-inv-approvals-div").find('.loading-wrapper').hide();
                    return json.data;
                }
            },
            'lengthMenu': [[10, 25, 50, 100, 99999999], [10, 25, 50, 100, "All"]],
            aaSorting: [[0, 'desc']],
            "serverSide": true,
            "searchDelay": 500,
            processing: true,
            "searching": true,
            "bProcessing": true,
            lengthChange: true,
            "columns": [
                { "data": "Vendor", "autoWidth": true },
                { "data": "PoNumber", "autoWidth": true },
                { "data": "InvoiceNumber", "autoWidth": true },
                { "data": "JobName", "autoWidth": true },
                { "data": "DropDate", "autoWidth": true },
                { "data": "DeliveredQuantity", "autoWidth": true },
                { "data": "PricePerGallon", "autoWidth": true },
                { "data": "AutoApprove", "autoWidth": true },
                { "data": "StatusName", "autoWidth": true },
            ],
            pageLength: 10,
            responsive: true,
            "order": [],
            "initComplete": function (settings, json) {
                wrapperHeight();
            },
            "columnDefs": [
                { "name": "Vendor", "targets": 0 },
                { "name": "PoNumber", "targets": 1 },
                { "name": "InvoiceNumber", "targets": 2 },
                { "name": "JobName", "targets": 3 },
                { "name": "DropDate", "targets": 4 },
                { "name": "DeliveredQuantity", "targets": 5 },
                { "name": "PricePerGallon", "targets": 6 },
                { "name": "AutoApprove", "targets": 7 },
                { "name": "StatusName", "targets": 8 },
            ],
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'csv', title: '@Resource.gridColumnException', exportOptions: duplicateInvExportColumns },
                { extend: 'excel', title: '@Resource.gridColumnException', exportOptions: duplicateInvExportColumns },
                @*{ extend: 'pdf', title: '@Resource.headingFuelRequestSummary', exportOptions: duplicateInvExportColumns, orientation: 'landscape' },*@
                {
                    extend: 'print', exportOptions: duplicateInvExportColumns,
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            language: {
                sLoadingRecords: "<div class='spinner-small'></div><div class='fs14'>@Resource.lblLoading</div>"
            }
        });
    });
</script>