@model SiteFuel.Exchange.ViewModels.DeliveryScheduleViewModel

@using (Html.BeginCollectionItem("DeliverySchedules"))
{
    <div class="partial-block">
        <div class="border-b-dash mb10 pb5">
            @if (CurrentUser.IsBuyerAdmin || CurrentUser.IsBuyer || Model.CreatedBy == CurrentUser.Id)
            {
                @Html.PartialFor("_PartialCommonDeliverySchedule", m => m)
                <div class="row">
                    <div class="col-sm-6">
                        @Html.HiddenFor(m => m.DriverId)
                        @if(Model.Id > 0) { 
                            <label class="f-bold mb0">@Resource.lblDriver :</label>
                            <span>@Model.DriverName</span>
                        }
                        &nbsp;
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            @Html.Partial("_PartialCommonDeliveryScheduleStatus", Model.StatusId)
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.PartialFor("_PartialCommonDeliveryScheduleViewOnly", m => m)
            }
        </div>
    </div>
}
