@model DashboardWaitingApprovalViewModel
<h2 class="fs16 f-normal mb15">
    <span class="far fa-clock mr5"></span> @Html.ActionLink(Resource.lblWaitingForApproval, "Approvals", "Invoice", new { area = "Buyer", jobId = Model.SelectedJobId }, new { @class = "mt2 group-element" })
</h2>
<canvas id="approvalPieChart" class="mt10 mb10" height="80"></canvas>
@using (Html.BeginScripts())
{
    <script>
        $(document).ready(function () {
            var dashboardFilter = getDashboardFilter();
            var groupIds = getCompanyGroup().groupIds;
            var url = '@Url.Action("GetWaitingForApprovalCount", "Dashboard",new { area= "Buyer", jobId = Model.SelectedJobId })';
            $.get(url, { 'countryId': dashboardFilter.countryId, 'currency': dashboardFilter.currencyType, 'groupIds': groupIds }, function (response) {

                if (response.TotalCount == 0) {
                    hideElementById("bd-approval-tile");
                }
                else {
                    showElementById("bd-approval-tile");
                    $("#totalCount").text(response.TotalCount);
                    $("#invoiceCount").text(response.InvoiceCount);
                    $("#ddtCount").text(response.DropTicketCount);
                    $("#invoiceRejectedCount").text(response.RejectedInvoiceCount);
                    $("#ddtRejectedCount").text(response.RejectedDropTicketCount);

                    var aChart = document.getElementById('approvalPieChart').getContext('2d');
                    var approvalChart = new Chart(aChart, {
                        type: 'doughnut',
                        data: {
                            labels: ['Invoices: ' + response.InvoiceCount, 'Drop Tickets: ' + response.DropTicketCount, 'Invoices Rejected: ' + response.RejectedInvoiceCount, 'DDT Rejected: ' + response.RejectedDropTicketCount],
                            datasets: [{
                                position: 'bottom',
                                label: '# of Votes',
                                data: [response.InvoiceCount, response.DropTicketCount, response.RejectedInvoiceCount, response.RejectedDropTicketCount],
                                backgroundColor: [
                                    '#aadb8d',
                                    '#91b6e8',
                                    '#eb826a',
                                    '#c7705b'
                                ],
                                borderColor: [
                                    'rgba(255, 255, 255, 1)',
                                    'rgba(255, 255, 255, 1)',
                                    'rgba(255, 255, 255, 1)',
                                    'rgba(255, 255, 255, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'right',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 11
                                }
                            },
                            hover: {
                                onHover: function (e) {
                                    $("#approvalPieChart").css("cursor", e[0] ? "pointer" : "default");
                                }
                            }
                        }
                    });

                    document.getElementById("approvalPieChart").onclick = function (evt) {
                        var activePoints = approvalChart.getElementsAtEvent(evt);
                        var firstPoint = activePoints[0];
                        var label = approvalChart.data.labels[firstPoint._index];

                        var spaceChar = label.indexOf(" ");
                        var labelStr = label.substring(0, spaceChar);

                        switch (labelStr) {
                            case 'Invoices:':
                            window.open('@Html.Raw(@Url.Action("Approvals", "Invoice", new { area = "Buyer", jobId = Model.SelectedJobId, filter = InvoiceFilterType.InvoiceWaitingApproval }))', "_self");
                            break;
                            case 'Drop':
                            window.open('@Html.Raw(@Url.Action("Approvals", "Invoice", new { area = "Buyer", jobId = Model.SelectedJobId, filter = InvoiceFilterType.DropTicketWaitingApproval }))', "_self");
                                break;
                            case 'Invoices':
                            window.open('@Html.Raw(@Url.Action("Approvals", "Invoice", new { area = "Buyer", jobId = Model.SelectedJobId, filter = InvoiceFilterType.InvoiceWaitingForApprovalRejected }))', "_self");
                                break;
                            case 'DDT':
                            window.open('@Html.Raw(@Url.Action("Approvals", "Invoice", new { area = "Buyer", jobId = Model.SelectedJobId, filter = InvoiceFilterType.DropTicketWaitingForApprovalRejected }))', "_self");
                            break;
                        }
                    }

                    $("#approvalPieChart").closest(".chart-approval").find('.loading-wrapper').remove();
                }
            });
        });
    </script>
}