@model AssetDetailViewModel

<div class="row">
    <div class="col-md-6 col-sm-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.Asset.Name):
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Asset.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.Asset.AssetAdditionalDetail.TankId):
            </dt>
            <dd>
                @(string.IsNullOrEmpty(Model.Asset.AssetAdditionalDetail.TankId) ? Resource.lblHyphen : Model.Asset.AssetAdditionalDetail.TankId)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.Asset.AssetAdditionalDetail.MinFill):
            </dt>
            <dd>
                @(Model.Asset.AssetAdditionalDetail.MinFill == null ? Resource.lblHyphen : Model.Asset.AssetAdditionalDetail.MinFill.Value.ToString() + " " + Model.UoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.Asset.AssetAdditionalDetail.MaxFill):
            </dt>
            <dd>
                @(Model.Asset.AssetAdditionalDetail.MaxFill == null ? Resource.lblHyphen : Model.Asset.AssetAdditionalDetail.MaxFill.Value.ToString() + " " + Model.UoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.Asset.CreatedDate):
            </dt>
            <dd>
                @(Model.Asset.CreatedDate.ToString(Resource.constFormatDate))
            </dd>
        </dl>
    </div>
    <div class="col-md-6 col-sm-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.Asset.FuelType.Name):
            </dt>
            <dd>
                @((Model.Asset.FuelType == null || Model.Asset.FuelType.Name == null) ? Resource.lblHyphen : Model.Asset.FuelType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.Asset.AssetAdditionalDetail.ThresholdDeliveryRequest):
            </dt>
            <dd>
                @(Model.Asset.AssetAdditionalDetail.ThresholdDeliveryRequest == null ? Resource.lblHyphen : Model.Asset.AssetAdditionalDetail.ThresholdDeliveryRequest.Value.ToString() + " " + Model.UoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.Asset.AssetAdditionalDetail.FuelCapacity):
            </dt>
            <dd>
                @(Model.Asset.AssetAdditionalDetail.FuelCapacity == null ? Resource.lblHyphen : Model.Asset.AssetAdditionalDetail.FuelCapacity.Value.ToString() + " " + Model.UoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.JobName):
            </dt>
            <dd>
                @(string.IsNullOrEmpty(Model.JobName) ? Resource.lblHyphen : Model.JobName)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.DateAssigned):
            </dt>
            <dd>
                @(Model.DateAssigned == null ? Resource.lblHyphen : Model.DateAssigned.Value.ToString(Resource.constFormatDate))
            </dd>
        </dl>
    </div>
</div>