<div id="order-history">
    <h4>@Resource.headingOrders</h4>
    @Html.Partial("_PartialOrderHistoryGrid")
</div>
<div id="order-invoices">
    <h4>@Resource.headingInvoices</h4>
    <div class="row">
        @Html.Partial("_PartialInvoiceGridForOrder")
    </div>
</div>
<div id="order-droptickets">
    <h4>@Resource.headingDropTickets</h4>
    <div class="row">
        @Html.Partial("_PartialDigitalDropTicketGridForOrder")
    </div>
</div>
<div id="order-completedDeliveries">
    <h4>@Resource.headingCompletedDeliveries</h4>
        @Html.Partial("_PartialCompletedDeliveriesGrid", new InvoiceFilterViewModel())
</div>