@model AssetJobAssignmentViewModel
@{
    ViewBag.Title = "Change Asset Allocation";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="row well mb15">
            <div class="col-sm-12">
            <h4>@Resource.headingChangeAllocation</h4>
                <div class="row">
                    @Html.PartialFor("_PartialAssetJobAssignment", m => m)
                </div>
            </div>
        </div>
        <div class="row text-right mt10">
            <div class="col-sm-12">
                <input type="button" class="btn" value="@Resource.btnLabelCancel" onclick="window.history.go(-1)" />@*location.href='@Url.Action("View", "Asset", new { area = "Buyer" })'*@
                <input type="submit" name="submit" class="btn btn-lg btn-primary" value="@Resource.btnLabelSubmit" />
            </div>
        </div>
    </div>
}
