@model FuelRequestFilterViewModel

@{
    ViewBag.Title = "Fuel Requests / Nominations";
}
@Html.HiddenFor(m => m.GroupIds)
<div class="row">
    <div class="col-sm-7 col-md-9">
        @if (Model.JobId == 0 && Model.GroupIds == "")
        {
            <h4 class="dib float-left mt7 pt0">@Resource.headingFuelRequestNominationSummary</h4>
            <a href="@Url.Action("View", "FuelRequest", new { area = "Buyer" })" class="float-left ml20 mt10">@Resource.btnLabelViewAll</a>
        }
        else
        {
            <h4 class="float-left mb5 pt5"><span id="spnGroupName"></span>@Resource.headingFuelRequestNominationSummary</h4>
        }
    <div class="mb7 float-left ml15">
        @*<div class="btn-group btn-toggle float-left mb5" data-toggle="buttons">
            <label class="btn broadcast-type active">
                <input type="radio" class="broadcastType" name="options" id="@(BroadcastType.All)" checked> @Resource.lblAll
            </label>
            <label class="btn">
                <input type="radio" class="broadcastType" name="options" id="@(BroadcastType.Public)"> @Resource.lblPublic
            </label>
            <label class="btn">
                <input type="radio" class="broadcastType" name="options" id="@(BroadcastType.Private)"> @Resource.lblPrivate
            </label>
        </div>*@

        <div class="btn-group btn-toggle btn-group-toggle" data-toggle="buttons">
            <label class="btn active">
                <input type="radio" class="broadcastType" name="options" id="@(BroadcastType.All)" checked>  @Resource.lblAll
            </label>
            <label class="btn ">
                <input type="radio" class="broadcastType" name="options" id="@(BroadcastType.Public)">@Resource.lblPublic
            </label>
            <label class="btn ">
                <input type="radio" class="broadcastType" name="options" id="@(BroadcastType.Private)"> @Resource.lblPrivate
            </label>
        </div>
        <span class='spinner-small fr-type float-right ml10 mt5'></span>
    </div>
    </div>
    
    @if (Model.JobId == 0)
    {
        <div class="col-sm-5 col-md-3">
            @Html.PartialFor("~/Views/Shared/_PartialCurrencyFilter.cshtml", m => m.Country)
        </div>
    }
</div>
@if (Model.JobId == 0)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="well pb10 mb10">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                    <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtBuyerFRFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                    <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtBuyerFRToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <input type="button" class="btn btn-primary" value="@Resource.btnLabelApply" onclick="ReloadDataTable();" />
                        <input type="button" class="btn ml5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_PartialFuelRequestGrid", Model)
    </div>
</div>

@if (Model.GroupIds == "")
{
    <div class="row mt10">
        <div class="col-12">
            <h3 class="mt0 pt8 f-light fs18 float-left">@Resource.headingCounterOffers</h3>
            @if (Model.JobId == 0)
            {
                <a onclick="ReloadCounterOfferGrid(0)" class="float-left ml20 mt8">@Resource.btnLabelViewAll</a>
            }
        </div>
    </div>

    <div class="row" id="CounterOfferGrid">
        @Html.Partial("_PartialCounterOfferGrid", Model)
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var companyGroup = getCompanyGroup();
        if (companyGroup.groupIds != "") {
            $('#spnGroupName').text(companyGroup.groupName + ' ');
        }
        else {
            $('#spnGroupName').text();
        }
    });
</script>
