@model ReOpenJobViewModel
@{
    ViewBag.Title = "Reopen Job";
}
@using (Html.BeginForm("ReOpen", "Job", new { area = "Buyer" }, FormMethod.Post, new { role = "form", Id = "reopenjob-form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-sm-12 col-lg-10  col-centered">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-2 pr0"><h4 class="f-light text-right  fs18">@Resource.headingReopenJob</h4></div>
                    <div class="col-sm-12 col-md-10">
                        <div class="col-md-12 border-b pb30 mb20 no-sm-padding"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.HiddenFor(m => m.JobId)
                                @Html.PartialFor("_PartialReOpenJob", m => m)
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- card details starts -->
            <!-- card details ends -->
        </div>
        <div class="row text-right mb25 btn-wrapper">
            <div class="col-sm-12">
                <input type="button" class="btn btn-default btn-md" value="@Resource.btnLabelCancel" onclick="location.href='@Url.Action("Details", "Job", new { area = "Buyer", id = Model.JobId })'" />
                <input type="button" class="btn btn-primary btn-md" id="btnSave" value="@Resource.btnLabelSubmit" />
            </div>
        </div>
    </div>
}
