@model JobFilterViewModel

@{
    ViewBag.Title = "Job Summary";
}

<div class="row">
    <div class="col-8">
        <h4 class="f-light fs21 mb5 float-left no-padding mb10">@Resource.headingJobs</h4>
        <a href="@Url.Action("View", "Job", new { area = "Buyer" })" class="float-left ml20 mt3">@Resource.btnLabelViewAll</a>
    </div>
    <div class="float-right col-4">
        @Html.PartialFor("~/Views/Shared/_PartialCurrencyFilter.cshtml", m => m.Country)
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=@(SiteFuel.Exchange.Core.Utilities.AppSettings.GoogleMapApiKey)" type="text/javascript"></script>
@Html.Partial("_PartialMapViewForJob", Model)
@*<div id="buyer-jobmap" class="row">
      @Html.Action("PartialMapView", "Job", new { area = "Buyer", jobFilter = Model })
</div>*@
<div class="row">
    <div class="col-sm-12">
        <div class="well pb10 mb10 mt15">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtBuyerJobFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtBuyerJobToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <input type="button" class="btn btn-primary" value="@Resource.btnLabelApply" onclick="ReloadDataTable();" />
                    <input type="button" class="btn ml5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.Partial("_PartialJobGrid", Model)
</div>