@model DeliveryRequestFilterGridViewModel
@{
    ViewBag.Title = "Delivery Request Summary";
}

<div class="row">
    <div class="col-sm-7 col-md-9">
        <h4 class="dib float-left mt7 pt0">@Resource.lblDeliveryRequestSummary</h4>
    </div>
    <div class="mb7 float-left ml60">
        <div class="btn-group btn-toggle float-left mb5" data-toggle="buttons">
            <label class="btn broadcast-type active">
                <input type="radio" class="broadcast-type" name="options" id="@DeliveryReqPriority.None" checked>@Resource.lblAll
            </label>
            <label class="btn broadcast-type">
                <input type="radio" class="broadcast-type" name="options" id="@DeliveryReqPriority.MustGo">@Resource.lblMustGoRequests
            </label>
            <label class="btn broadcast-type">
                <input type="radio" class="broadcast-type" name="options" id="@DeliveryReqPriority.ShouldGo">@Resource.lblShouldGoRequests
            </label>
            <label class="btn broadcast-type">
                <input type="radio" class="broadcast-type" name="options" id="@DeliveryReqPriority.CouldGo">@Resource.lblCouldGoRequests
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_PartialDeliveryRequestGrid",Model)
    </div>
</div>
