@using SiteFuel.Exchange.Web.Common
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    if (CurrentUser.IsFirstLogin)
    {
        Layout = "~/Views/Shared/_LayoutOnboarding.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="col-sm-12">
    <div class="row well">
        <div class="col-sm-12">
            <h4>@Resource.headingChangePassword</h4>
            <div class="row">
                <div class="col-12">
                    @Html.HiddenFor(m => m.UserId)
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword)
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword)
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control pwstrength", data_indicator = "pwindicator" })
                                    <span class="input-group-btn">
                                        <button class="btn show-password" type="button">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div id="pwindicator">
                                    <div class="strength-bar"></div>
                                    <div class="strength-label"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-12 text-right">
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">@Resource.btnLabelSave</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery-pwstrength")
}


