@model ForgotPasswordViewModel

@{
    ViewBag.FaviconPath = Model.FaviconImagePath;
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SupplierURL)
    @Html.HiddenFor(m => m.SupplierLogoPath)
    @Html.HiddenFor(m => m.BackgroundImagePath)
    @Html.HiddenFor(m => m.ButtonColor)
    <h1 class="mt0 fs18 mb20">@Resource.btnLabelForgotPassword</h1>
    <div id="display-custom-message">
        @Html.Partial("_DisplayCustomMessage")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email), autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6 col-centered text-center">
                <button type="submit" class="btn">@Resource.btnLabelReset</button>
            </div>
        </div>
    </div>
    if (!string.IsNullOrEmpty(Model.SupplierURL))
    {
        <div class="row">
            <div class="col-6 f-semibold">
                @Html.ActionLink(Resource.btnLabelLogin, "SupplierLogin", "Account", routeValues: new { area = "", supplierURL = Model.SupplierURL }, htmlAttributes: new { })
            </div>
            <div class="col-6 text-right f-semibold">
                @Html.ActionLink(Resource.lblRegister, "Register", "Account", routeValues: new { area = "", supplierURL = Model.SupplierURL }, htmlAttributes: new { })
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-6 f-semibold">
                @Html.ActionLink(Resource.btnLabelLogin, "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { })
            </div>
            <div class="col-6 text-right f-semibold">
                @Html.ActionLink(Resource.lblRegister, "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { })
            </div>
        </div>
    }
}
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(document).ready(function () {
        $("#supplierBrandText").hide();
        var SupplierLogoPath = '@Model.SupplierLogoPath';
        var SupplierURL = '@Model.SupplierURL';
        var backgroundImagePath = '@Model.BackgroundImagePath';
        @*var faviconPath = '@Model.FaviconImagePath';
        if (faviconPath != '') {
            $("#mainfavicon").attr("href", faviconPath.replace(/&amp;/g, '&'));
        }*@
        if (SupplierLogoPath != '' && SupplierURL != '' && backgroundImagePath != '') {
            $("#mainLogo").attr("src", SupplierLogoPath.replace(/&amp;/g, '&'));
            //$("#supplierBrandText").show();
            var imageURL = backgroundImagePath.replace(/&amp;/g, '&');
            $('.authbg').css("background", "url(" + imageURL + ")");
            $('.btn').css("background", '@Model.ButtonColor');
            $('.app-features').css("background", '@Model.ButtonColor');
            $('.tabs-login .active').css({ "border-bottom": '4px solid @Model.ButtonColor',"color":"@Model.ButtonColor"});
        }
    });
    </script>
}
