@using SiteFuel.Exchange.Web.Common
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    ViewBag.FaviconPath = Model.FaviconImagePath;
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Register", "Account", new { supplierURL = ViewBag.supplierURL }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.AdditionalUserId)
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-login overflow-h mb25">
                @if (ViewBag.supplierURL == null)
                {
                    <div class="text-center pb10">@Html.ActionLink(Resource.btnLabelLogin, "Login", "Account", new { area = "" }, new { })</div>
                }
                else
                {
                    <div class="text-center pb10">@Html.ActionLink(Resource.btnLabelLogin, "SupplierLogin", "Account", new { area = "", supplierURL = ViewBag.supplierURL }, new { })</div>
                }
                @Html.HiddenFor(m => m.SupplierURL)
                @Html.HiddenFor(m => m.SupplierLogoPath)
                @Html.HiddenFor(m => m.BackgroundImagePath)
                @Html.HiddenFor(m => m.ButtonColor)
                @Html.HiddenFor(m => m.InvitationId)
                <div class="text-center active pb10">@Resource.lblRegister</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="display-custom-message">
                @Html.Partial("_DisplayCustomMessage")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="fs15 mt0 f-normal">@Resource.headingCompanyDetails</h2>
        </div>
        <div class="col-sm-6 mb10">
            <div class="form-group mb0">
                @Html.TextBoxFor(m => m.Company.Name, new { @class = "form-control", autofocus = "autofocus", @placeholder = @Resource.lblCompanyName })
                @Html.ValidationMessageFor(m => m.Company.Name)
            </div>
        </div>
        @{
            var companyTypes = CommonHelperMethods.GetCompanyTypes();
            if (Model.InvitationId == 0 && !string.IsNullOrEmpty(ViewBag.SupplierURL))
            {
                companyTypes = companyTypes.Where(top => top.Name.ToLower().Contains(CompanyType.Buyer.ToString().ToLower())).ToList();
            }
        }
        <div class="col-sm-6 mb10">
            <div class="form-group mb0">
                @Html.DropDownListFor(m => m.Company.CompanyTypeId, new SelectList(companyTypes, "Id", "Name", 0), Resource.lblType, new { @class = "form-control onchange-select-showhide disable-control" })
                @Html.ValidationMessageFor(m => m.Company.CompanyTypeId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="fs15 mt15 f-normal">@Resource.headingYourDetails</h2>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = @Resource.lblFirstName })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = @Resource.lblLastName })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Resource.lblEmail })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @{
                    Model.MobileNumber = Model.MobileNumber.ToFormattedPhoneNumber();
                }
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control input-phoneformat phone", @placeholder = @Resource.lblMobileNumber, onchange = "IsPhoneNumberValid(this.value)" })
                @Html.ValidationMessageFor(m => m.MobileNumber)
                <div class="color-orange fs12 pt5" id="mobile-validation-msg"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb15">
            <div class="form-group mb0">
                <div class="input-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control pwstrength", data_indicator = "pwindicator", @placeholder = @Resource.lblPassword })
                    <span class="input-group-btn">
                        <button class="btn show-password" type="button">
                            <i class="fa fa-eye"></i>
                        </button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="col-sm-6 mb15">
            <div class="form-group mb0">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = @Resource.lblConfirmPassword })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group mb0">
                <div id="pwindicator">
                    <div class="strength-bar"></div>
                    <div class="strength-label"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button type="submit" class="btn">@Resource.lblRegister</button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery-pwstrength")
}

<script type="text/javascript">
    function IsPhoneNumberValid(phoneNumber) {
        var new_phoneNumber = phoneNumber.replace(/-|\s/g, "");
        if (new_phoneNumber != "" && new_phoneNumber.length==10) {
            var isPhoneNumberValid = '@Url.Action("IsPhoneNumberValid", "Validation", new { area = "" })' + '?phoneNumber=' + phoneNumber;
            $.get(isPhoneNumberValid, function (result) {
                if (!result) {
                    validationMessageFor("@Html.NameFor(m => m.MobileNumber)", '');
                    $("#mobile-validation-msg").html('@Resource.valMessagePhoneNotValid');
                    $('#@Html.IdFor(m=>m.IsPhoneNumberConfirmed)').val(false);
                } else {
                    $("#mobile-validation-msg").html('');
                    $('#@Html.IdFor(m=>m.IsPhoneNumberConfirmed)').val(true);
                }
            });
        }
        else {
            $("#mobile-validation-msg").html('');
        }
    }
</script>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(document).ready(function () {
        $("#supplierBrandText").hide();
        var SupplierLogoPath = '@Model.SupplierLogoPath';
        var SupplierURL = '@Model.SupplierURL';
        var backgroundImagePath = '@Model.BackgroundImagePath';
        if (SupplierLogoPath != '' && SupplierURL != '' && backgroundImagePath != '') {
            $("#mainLogo").attr("src", SupplierLogoPath.replace(/&amp;/g, '&'));
            //$("#supplierBrandText").show();
            var imageURL = backgroundImagePath.replace(/&amp;/g, '&');
            $('.authbg').css("background", "url(" + imageURL + ")");
            $('.btn').css("background", '@Model.ButtonColor');
            $('.app-features').css("background", '@Model.ButtonColor');
            $('.tabs-login .active').css({ "border-bottom": '4px solid @Model.ButtonColor',"color":"@Model.ButtonColor"});
        }
    });
    </script>
}

