@using SiteFuel.Exchange.Web.Common
@model ResetPasswordViewModel

@{
    ViewBag.FaviconPath = Model.FaviconImagePath;
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="mt0 fs18 mb20">@Resource.btnLabelReset @Resource.lblPassword</h1>
    <div id="display-custom-message">
        @Html.Partial("_DisplayCustomMessage")
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @Html.HiddenFor(m => m.SupplierURL)
                @if (Model.DisbleEmail)
                {
                    @Html.HiddenFor(m => m.Email)
                    @Html.DisplayFor(m => m.Email)
                }
                else
                {
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
                }
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control pwstrength", autofocus = "autofocus", placeholder = @Html.DisplayNameFor(m => m.Password), data_indicator = "pwindicator" })
                    <span class="input-group-btn">
                        <button class="btn show-password" type="button">
                            <i class="fa fa-eye"></i>
                        </button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group mb0">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div id="pwindicator">
                    <div class="strength-bar"></div>
                    <div class="strength-label"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button type="submit" class="btn">@Resource.btnLabelReset</button>
        </div>
    </div>
    if (!string.IsNullOrEmpty(Model.SupplierURL))
    {
        <div class="row">
            <div class="col-6 f-semibold">
                @Html.ActionLink(Resource.btnLabelLogin, "SupplierLogin", "Account", routeValues: new { area = "", supplierURL = Model.SupplierURL }, htmlAttributes: new { })
            </div>
            <div class="col-6 text-right f-semibold">
                @Html.ActionLink(Resource.lblRegister, "Register", "Account", routeValues: new { area = "", supplierURL = Model.SupplierURL }, htmlAttributes: new { })
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-6 f-semibold">
                @Html.ActionLink(Resource.btnLabelLogin, "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { })
            </div>
            <div class="col-6 text-right f-semibold">
                @Html.ActionLink(Resource.lblRegister, "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { })
            </div>
        </div>
    }

}

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/jquery-pwstrength")
}
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(document).ready(function () {
        $("#supplierBrandText").hide();
        var SupplierLogoPath = '@Model.SupplierLogoPath';
        var SupplierURL = '@Model.SupplierURL';
        var backgroundImagePath = '@Model.BackgroundImagePath';
        if (SupplierLogoPath != '' && SupplierURL != '' && backgroundImagePath != '') {
            $("#mainLogo").attr("src", SupplierLogoPath.replace(/&amp;/g, '&'));
            //$("#supplierBrandText").show();
            var imageURL = backgroundImagePath.replace(/&amp;/g, '&');
            $('.authbg').css("background", "url(" + imageURL + ")");
            $('.btn').css("background", '@Model.ButtonColor');
            $('.app-features').css("background", '@Model.ButtonColor');
            $('.tabs-login .active').css({ "border-bottom": '4px solid @Model.ButtonColor',"color":"@Model.ButtonColor"});
        }
    });
    </script>
}

