@model DeclineInvoiceViewModel
@{
    ViewBag.Title = "Decline Invoice";
}

@using (Html.BeginForm("Decline", "Invoice", new { }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DeclineReason.InvoiceStatusId)
    <div class="col-sm-12 col-lg-10  col-centered">
        <div class="row">
            <div class="col-sm-12 col-md-2 pr0"><h4 class="f-light text-right  fs18">@Resource.headingDeclineInvoice</h4></div>
            <div class="col-sm-12 col-md-10">
                <div class="col-md-12 border-b pb30 mb20 no-sm-padding"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.DeclineReason.Id)
                                <div class="form-group">
                                    <label>@Resource.lblReason</label>
                                    @Html.DropDownListFor(m => m.DeclineReason.ReasonId, new SelectList(CommonHelperMethods.GetInvoiceDeclineReasons(Model.UoM), "Id", "Name"),
                                          string.Format(Resource.valMessageSelect, Resource.lblReason), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeclineReason.ReasonId)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DeclineReason.AdditionalNotes)
                                    @Html.TextAreaFor(m => m.DeclineReason.AdditionalNotes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeclineReason.AdditionalNotes)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right mb25 btn-wrapper">
            <div class="col-sm-12">
                <input type="button" class="btn btn-default btn-md" id="btnCancel" value="@Resource.btnLabelCancel" onclick="location.href='@Url.Action("Details", "Invoice", new { id = Model.DeclineReason.Id })'" />
                <input type="submit" class="btn btn-primary btn-md" id="btnSave" value="@Resource.btnLabelSubmit" />
            </div>
        </div>
    </div>
}
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(document).ready(function () {
			if ($('#@Html.IdFor(m => m.DeclineReason.InvoiceStatusId)').val() == '@((int)InvoiceStatus.WaitingForApproval)')
			{
			    $('#ReasonId').find('option[value="2"]').remove();
			}
        });
    </script>
}