@model BillingStatementDetailsViewModel
@using System.Threading

@{
    ViewBag.Title = "Billing Statement Details";
    //Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(Model.Culture);
}
<div class="row">
    <div class="col-sm-12">
        <div class="row mb10">
            <div class="col-sm-12 tab-headers dib">
                <a id="tab-details" onclick="showsection('tab-contents-details'), activelink(this), inputBoxShowHide(null, 'download')" class="active mr20"
                   data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tab-contents-details"
                   data-ajax-url="@Url.Action("DetailsTab", "BillingStatement", new { area = "Supplier", id = Model.Id })">
                    <div class="step-inprogress fs18">
                        <span class="f-light step-text float-left">@Resource.tabheadingDetails</span>
                    </div>
                </a>
                <a id="tab-history" onclick="showsection('tab-contents-history'), activelink(this), inputBoxShowHide(null, 'download')" class="mr20"
                   data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tab-contents-history"
                   data-ajax-url="@Url.Action("HistoryTab", "BillingStatement", new { area = "Supplier", id = Model.Id })">
                    <div class="step-inprogress fs18">
                        <span class="f-light step-text float-left">
                            @Resource.tabHeadingHistory
                        </span>
                    </div>
                </a>
                <a id="tab-po" onclick="showsection('tab-contents-po'), activelink(this), inputBoxShowHide('download', null)"
                   data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tab-contents-po"
                   data-ajax-url="@Url.Action("GetStatementPdfDetails", "BillingStatement", new { area = "Supplier", id = Model.Id })">
                    <div class="step-inprogress fs18">
                        <span class="f-light step-text float-left">
                            @Resource.tabHeadingStatement
                        </span>
                    </div>
                </a>
                <div class="dib pull-right">
                    <input type="button" class="btn btn-default btn-download download hide-element" value="@Resource.btnLabelDownload" onclick="location.href='@Url.Action("DownloadPdf", "BillingStatement", new { area = "Supplier", id = Model.Id })'" />
                </div>
            </div>
        </div>
        <div class="tab-container">
            <div id="tab-contents-details">
            </div>
            <div id="tab-contents-history" class="hide-element">
            </div>
            <div id="tab-contents-po" class="hide-element">
            </div>
            <div class="position-abs mt15 text-center hide-element" id="ajax-loading">
                <span class='spinner-small ml10 mt5'></span>
            </div>
        </div>
    </div>
</div>