@model DashboardDriverDeliverySchedulesViewModel

<div class="widget-head-color-box navy-bg">
    <div class="m-b-md mb0">
        <div class="widget mb0">
            <h2>
                <span class="fa fa-tint"></span> @Resource.lblDeliverySchedules - <span id="totalFR">@Model.TotalDeliverySchedulesCount</span>
            </h2>
            <div class="row">
                <div class="col-sm-12 text-right">
                    @Html.ActionLink(Resource.btnLabelViewAll, "DeliverySchedules", "Order", new { area = "Driver" }, new { @class = "color-white pull-right mt2" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-text-box table-responsive">
    <small>@Resource.lblUpcoming10DeliverySchedules</small>
    <table class="table table-hover margin bottom" id="table-fr">
        <thead>
            <tr>
                <th width="155">@Resource.lblPoNumber</th>
                <th>@Resource.gridColumnDate</th>
                <th>@Resource.lblStartTime</th>
                <th>@Resource.lblEndTime</th>
                <th>@Resource.gridColumnGallons</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RecenDeliverySchedules.Count > 0)
            {
                foreach (DeliveryScheduleViewModel item in Model.RecenDeliverySchedules)
                {
                    string url = Url.Action("Details", "Order", new { area = "Driver" }) + "/" + item.OrderId;
                <tr>

                    <td><a href="@url"> @item.PONumber</a></td>

                    <td>@item.StrScheduleDate</td>

                    <td>@item.ScheduleStartTime </td>

                    <td>@item.ScheduleEndTime </td>

                    <td class='text-right'>@item.ScheduleQuantity.GetPreciseValue()</td>
                </tr>
                }
            }
            else
            {
                <tr><td colspan='5'>There are no items to display</td></tr>
            }
        </tbody>
    </table>
</div>