<div class="row mb10">
    <div class="col-sm-12">
        <div class="well pb10 mb5">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-1 pt5 pr0"><i class="fa fa-filter mr5 fs16"></i><label class="f-normal fs16">@Resource.lblFilter</label></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtDeliveriesFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                <div class="col-xs-6 col-sm-3 col-md-2 mb5"><input type="text" id="txtDeliveriesToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                <div class="col-xs-12 col-sm-4 col-md-3 mt5-xs">
                    <input type="button" class="btn btn-primary" value="@Resource.btnLabelApply" onclick="ReloadDataTable();" />
                    <input type="button" class="btn btn-default ml5" value="@Resource.btnLabelClearFilter" onclick="ClearFilter();" />
                </div>
            </div>
        </div>
    </div>
    <div id="displayDataWarning" class="col-md-12">
        <div class="alert alert-info fs12 mb15"><strong>@Resource.lblInfo</strong>@Resource.lblDeliveriesInfo</div>
    </div>
</div>
<h3 class="mt0 f-light fs21">@Resource.headingDeliveryDetails</h3>
<div class="row">
    <div class="col-md-12">
        <div class="well bg-white shadow-b">
            <div class="ibox mb0">
                <div class="ibox-content no-border no-padding">
                    <div class="table-responsive">
                        <table id="supplierorder-datatable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@Resource.gridColumnInvoiceNumber</th>
                                    <th>@Resource.gridColumnCustomer</th>
                                    <th>@Resource.gridColumnScheduledDate</th>
									<th>@Resource.gridColumnDropDate</th>
                                    <th>@Resource.gridColumnDeliveryScheduledTime</th>
                                    <th>@Resource.gridColumnDropTime</th>
                                    <th>@Resource.gridColumnGallonsScheduled</th>
                                    <th>@Resource.gridColumnGallonsDelivered</th>
                                    <th>@Resource.gridColumnScheduledDriver</th>
                                    <th>@Resource.gridColumnOverage</th>
                                    <th>@Resource.lblOverageAllowed</th>
                                    <th>@Resource.gridColumnDeliverySchedule</th>
                                    <th>@Resource.gridColumnAppOrManualDrop</th>
                                    <th>@Resource.gridColumnStatus</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var dropHistory;
    function ReloadDataTable() {       
        dropHistory.ajax.reload();
    }
</script>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        var ClearFilter;
        $(document).ready(function () {

            ClearFilter = function () {
                $('#txtDeliveriesFromDate').val(moment().format('MM/DD/YYYY'));
                $('#txtDeliveriesToDate').val(moment().format('MM/DD/YYYY'));
                $('#txtDeliveriesToDate').data("DateTimePicker").minDate($("#txtDeliveriesFromDate").datetimepicker("minDate"));
                ReloadDataTable();
            }

            if ($('#txtDeliveriesFromDate').length > 0 && $('#txtDeliveriesToDate').length > 0) {
                $("#txtDeliveriesFromDate").on('dp.change dp.show', function (e) {
                    if (e.date == false)
                        $('#txtDeliveriesToDate').data("DateTimePicker").minDate($("#txtDeliveriesFromDate").datetimepicker("minDate"));
                    else
                        $('#txtDeliveriesToDate').data("DateTimePicker").minDate(moment($('#txtDeliveriesFromDate').val()));
                });

                $('#txtDeliveriesFromDate').data("DateTimePicker").date(moment());
                $('#txtDeliveriesToDate').data("DateTimePicker").date(moment());
            }

            dropHistory = $('#supplierorder-datatable').DataTable({
                "ajax": {
                    "url": "@Url.Action("DropHistoryGrid", "Order", new { area = "Driver" })",
                    "type": "GET",
                    "datatype": "json",
                    "data": function (d) {
                            d.StartDate = $('#txtDeliveriesFromDate').val(),
                            d.EndDate = $('#txtDeliveriesToDate').val()
                    },
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "Number", "autoWidth": true },
                    { "data": "Customer", "autoWidth": true },
                            { "data": "ScheduledDate", "autoWidth": true },
                            { "data": "DropDate", "autoWidth": true },               
                            { "data": "ScheduledTime", "autoWidth": true },
                            { "data": "DroppedTime", "autoWidth": true },
                            {
                            "data": function (data, type, row, meta) {
                                if (data.QuantityTypeId != @((int)QuantityType.NotSpecified)) {
                                    return data.QuantityScheduled + " " + data.DisplayUoM;
                                }
                                else {
                                    return '@Resource.lblNotSpecified';
                                }
                                }, "autoWidth": true
                            },
                            {
                            "data": function (data) {
                            return data.QuanityDropped + " " + data.DisplayUoM;
                                }, "autoWidth": true
                            },
                            { "data": "ScheduledDriver", "autoWidth": true },
                            {"data": function (data, type, row, meta) {
                                    return (data.Overage > 0 ? data.Overage : 0 ) + '@Resource.constSymbolPercent';
                                }, "autoWidth": true
                            },
                            { "data": "IsOverageAllowed", "autoWidth": true },
                            { "data": "IsDeliverySchedule", "autoWidth": true },
                            { "data": "AppManual", "autoWidth": true },
                            { "data": "ScheduleStatus", "autoWidth": true }
                           ],
                pageLength: 10,
                responsive: true,
                "order": [],
                "initComplete": function (settings, json) {
                    wrapperHeight();
                },
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Orders' },
                    { extend: 'pdf', title: 'Orders' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ],
                language: {
                    sLoadingRecords: "<div class='spinner-small'></div><div class='fs14'>@Resource.lblLoading</div>"
                }

            });
        });

    </script>
}