@model SiteFuel.Exchange.ViewModels.BillingStatement.BillingScheduleFilterViewModel

@{
    ViewBag.Title = "Billing Schedule Summary";
}
<div class="row">
    <div class="col-sm-7 mb10 tab-headers dib">
        <a id="tab-schedule-summary" onclick="showsection('schedule-summary'), activelink(this)" class="mr20 schedule-summary single-ajax-mode"
           data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#schedule-summary"
           data-ajax-url="@Url.Action("GetScheduleSummary", "BillingSchedule", new { area = "Supplier" })">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.headingSchedules</span>
            </div>
        </a>
        <a id="tab-statement-summary" onclick="showsection('statement-summary'), activelink(this)" class="mr20 statement-summary single-ajax-mode"
           data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#statement-summary"
           data-ajax-url="@Url.Action("GetStatementSummary", "BillingStatement", new { area = "Supplier" })">
            <div class="step-inprogress fs18">
                <span class="f-light step-text float-left">@Resource.headingStatements</span>
            </div>
        </a>
    </div>
    <div class="col-sm-5 text-right">
        @Html.PartialFor("~/Views/Shared/_PartialCurrencyFilter.cshtml", m => m.Country)
    </div>
</div>
<div class="tab-container">
    <div id="schedule-summary" class="hide-element">
    </div>
    <div id="statement-summary" class="hide-element">
    </div>
</div>

