@model ManageExceptionViewModel
@{
    ViewBag.Title = "Manage Exceptions";
}

<div class="row">
    <div class="col-sm-12">
        <div class="tab-headers">
            <a id="tab-exceptions" onclick="showsection('manage-exception'), activelink(this)" class="active mr20"
               data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#manage-exception"
               data-ajax-success="parseForm" data-ajax-url="@Url.Action("CompanyExceptions", "Exception", new { area = "Supplier" })">
                <div class="step-inprogress fs16">
                    <span class="f-light step-text float-left">@Resource.lblManageExceptions</span>
                </div>
            </a>
            <a id="tab-my-approvals" onclick="showsection('my-approval'), activelink(this)" class="mr20"
               data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#my-approval"
               data-ajax-success="parseForm" data-ajax-url="@Url.Action("MyApprovalExceptions", "Exception", new { area = "Supplier" })">
                <div class="step-inprogress fs16">
                    <span class="f-light step-text float-left">@Resource.lblMyApprovals</span>
                </div>
            </a>
            <a id="tab-buyer-approvals" onclick="showsection('buyer-approval'), activelink(this)" class="mr20"
               data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#buyer-approval"
               data-ajax-success="parseForm" data-ajax-url="@Url.Action("GetBuyerApprovalGrid", "Exception", new { area = "Supplier" })">
                <div class="step-inprogress fs16">
                    <span class="f-light step-text float-left">@Resource.lblBuyerApprovals</span>
                </div>
            </a>
            <a id="tab-supplier-approvals" onclick="showsection('supplier-approval'), activelink(this)" class="mr20"
               data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#supplier-approval"
               data-ajax-success="parseForm" data-ajax-url="@Url.Action("GetCarrierSupplierApprovalGrid", "Exception", new { area = "Supplier" })">
                <div class="step-inprogress fs16">
                    <span class="f-light step-text float-left">@Resource.lblCarrierSupplierApprovals</span>
                </div>
            </a>
            @if (Model.IsLiftFileValidationEnabled)
            {
                <a id="tab-lift-filevalidation" onclick="showsection('lift-filevalidation'), activelink(this)" class="mr20"
                   data-ajax="true" data-ajax-loading="#ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#lift-filevalidation"
                   data-ajax-success="parseForm" data-ajax-url="@Url.Action("GetLiftFileValidationDetailsGrid", "Exception", new { area = "Supplier" })">
                    <div class="step-inprogress fs16">
                        <span class="f-light step-text float-left">@Resource.lblLiftFileValidation</span>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <div class="tab-container mt10">
            <div id="manage-exception">

            </div>
            <div id="my-approval" class="hide-element">

            </div>
            <div id="buyer-approval" class="hide-element">

            </div>
            <div id="supplier-approval" class="hide-element">

            </div>
            <div id="lift-filevalidation" class="hide-element">

            </div>
            <div class="position-abs mt15 text-center hide-element" id="ajax-loading">
                <span class='spinner-small ml10 mt5'></span>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        var approverStatus = 0;
        function showStatusMsg(data) {
            if (data.StatusCode == 0) {
                msgsuccess(data.StatusMessage)
            }
            else {
                msgerror(data.StatusMessage)
            }
            $('.form-submit').removeAttr('disabled');
        }
        $(window).bind("load", function () {
            if (approverStatus == 1) {
                if ($("#my-approval").is(":hidden")) {
                        $(".tab-headers a:nth-child(2)").trigger("click");
                }
            }
        });
        $(document).ready(function () {
            approverStatus=@ViewBag.approverStatus;
        });
    </script>
}