@{
    ViewBag.Title = "Dashboard";
}

<div class="row dashboard">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="well bg-white shadow-b mb10">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="mt0 pt0 f-normal">
                                <span class="fa fa-calendar mr5"></span>
                                @Resource.headingCalender
                            </h2>
                        </div>
                    </div>
                    <div id='calendar' class="mt10"></div>
                    <div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h5 class="color-red f-normal"><span class="fa fa-circle mr_5 fs10 pr10"></span>@Resource.lblMissedDeliveries</h5>
                                <h5 class="color-orange f-normal"><span class="fa fa-circle mr_5 fs10 pr10"></span>@Resource.lblUpcomingDeliveries</h5>
                                <h5 class="f-normal"><span class="fa fa-circle mr_5 fs10 pr10"></span>@Resource.lblInvoiceDueDate</h5>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <h5 class="color-green f-normal"><span class="fa fa-circle mr_5 fs10 pr10"></span>@Resource.lblCompletedDeliveries</h5>
                                <h5 class="color-black f-normal"><span class="fa fa-check mr_5 fs10 pr10"></span>@Resource.lblMissedDeliveryActionTaken</h5>
                                <h5 class="color-black f-normal"><span class="fa fa-flag mr_5 fs10 pr10"></span>@Resource.lblOrderStartDate</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="well bg-white shadow-b mb10 grid-loader" style="min-height:636px;">
                    @Html.Partial("_PartialDashboardDispatch", new DispatchViewModel())
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row dashboard">
    <div class="col-sm-6">
        <div class="widget navy-bg p-sm mt10 mb20">
            <div class="row">
                <div class="col-sm-7">
                    <h2>
                        <span class="fa fa-truck"></span> @Resource.headingHaulerRequest - 0
                    </h2>
                </div>
            </div>
            <div class="row mb15 mt15">
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblOpen
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblMissed
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblExpired
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblDeclined
                    </a>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-sm-12 text-right mt5">
                    <a class="color-white pull-right mt2" href="javascript:void(0)">@Resource.btnLabelViewAll</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="widget navy-bg p-sm mt10 mb20">
            <div class="row">
                <div class="col-sm-7">
                    <h2>
                        <span class="fa fa-file-text"></span> @Resource.headingOrders - 0
                    </h2>
                </div>
            </div>
            <div class="row mb15 mt15">
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblOpen
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblClosed
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblDrops
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblOrdersDeliveredByPercentage
                    </a>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-sm-12 text-right mt5">
                    <a class="color-white pull-right mt2" href="javascript:void(0)">@Resource.btnLabelViewAll</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row dashboard">
    <div class="col-sm-6">
        <div class="widget bg-darkgray p-sm mt10 mb20">
            <div class="row">
                <div class="col-sm-7 text-white">
                    <h2>
                        <span class="fa fa-money"></span> @Resource.headingDropTickets - 0
                    </h2>
                </div>
            </div>
            <div class="row mb15 mt15">
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblReceived
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblCreated
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblInvoicesCreated
                    </a>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-sm-12 text-right mt5">
                    <a class="color-white pull-right mt2" href="javascript:void(0)">@Resource.btnLabelViewAll</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="widget bg-darkgray p-sm mt10 mb20">
            <div class="row">
                <div class="col-sm-7 text-white">
                    <h2>
                        <span class="fas fa-dollar"></span> @Resource.headingInvoices - 0
                    </h2>
                </div>
            </div>
            <div class="row mb15 mt15">
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblRejected
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblReceived
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 mt10">
                    <a href="#." class="text-white">
                        <h1 class="no-margins">0</h1>
                        @Resource.lblCreated
                    </a>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-sm-12 text-right mt5">
                    <a class="color-white pull-right mt2" href="javascript:void(0)">@Resource.btnLabelViewAll</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .main-wrapper {
        background: #fafafa;
    }
</style>
@using (Html.BeginScripts())
{
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/fullcalendar")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/fullcalendar")
    @*@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Scripts/Main/Dashboard")*@
    <script type="text/javascript">

        var missed = '@Resource.lblMissed';
        var completed = '@Resource.lblCompleted';
		var discontinued = '@Resource.lblDiscontinued';
		var rescheduled = '@Resource.lblRescheduled';
		var canceled = '@Resource.lblCancelled';

        var customersDropDown = '';
        var getCustomersAndOrdersUrl = '@Url.Action("GetAllCustomersAndOrders", "Dashboard", new { area = "Supplier" })';
        var getCustomersUrl = '@Url.Action("GetAllCustomers", "Dashboard", new { area = "Supplier" })';
        var getOrdersForCustomer = '@Url.Action("GetCustomerOrders", "Dashboard", new { area = "Supplier" })';


        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                }
            });
        });
    </script>
}