
@model TerminalCardNumberViewModel
@using (Html.BeginCollectionItem(Model.CollectionHtmlPrefix + ".DriverInfo.CardNumbers"))
{
    <div class="partial-block">
        <div class="row">
            <div class="col-sm-3 mb15">
                @Html.HiddenFor(m => m.TerminalName, new { @class = "card-termnalname" })
                @Html.LabelFor(m => m.TerminalId)
                @Html.DropDownListFor(m => m.TerminalId, new SelectList(CommonHelperMethods.GetAllTerminals(), "Id", "Name", Model.TerminalId),
                    Resource.lblSelectTerminal, new { @id = "dllGetAllTerminals", @class = "form-control card-terminallist" })
                @Html.ValidationMessageFor(m => m.TerminalId)
            </div>
            <div class="col-sm-3 mb15">
                @Html.LabelFor(m => m.CardNumber)
                @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CardNumber)
            </div>
            <div class="col-sm-1 fs18 mt25 nmt mb10">
                <a href="javascript:void(0)" class="fa fa-trash-alt color-maroon mt7" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var optionValues = [];

        $('#dllGetAllTerminals option').each(function () {
            optionValues.push($(this).val());
        });

        $("#dllGetAllTerminals").select2({
            data: optionValues
        });
    });
</script>