@model AdditionalUserViewModel

@using (Html.BeginCollectionItem("AdditionalUsers"))
{
    <div class="partial-block border-dash-dark radius-5 mb15 pa15">
        <div class="row">
            <div class="col-sm-11">
                <div class="row">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.CompanyId)
                    @Html.HiddenFor(m => m.InvitedBy)
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "autofocus" }).IsReadonly(Model.DisplayMode != PageDisplayMode.Create)
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" }).IsReadonly(Model.DisplayMode != PageDisplayMode.Create)
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" }).IsReadonly(Model.DisplayMode != PageDisplayMode.Create)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RoleIds)
                            @Html.ListBoxFor(m => m.RoleIds, new SelectList(CommonHelperMethods.GetRolesByCompanyType((int)CurrentUser.CompanyTypeId), "Id", "Name", 0), new { @class = "form-control multi-select user-roles", onchange = "showMessage(this);" })
                            @Html.ValidationMessageFor(m => m.RoleIds)
                        </div>
                        <div class="hide-element val-message">
                            <div class="alert alert-warning fs12 col-sm-12" role="alert">
                                @Resource.valMessageMultipleRolesWithAdminRole
                            </div>
                        </div>
                    </div>
                    @if (Model.DisplayMode != PageDisplayMode.Create && Model.RoleIds.Contains((int)UserRoles.Admin))
                    {
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IsApiAccessAllowed, new { @class = "mr5" })
                                @Html.CheckBoxFor(m => m.IsApiAccessAllowed, new { @class = "form-group" })
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.IsApiAccessAllowed)
                    }
                </div>
            </div>
            @if (Model.DisplayMode == PageDisplayMode.Create)
            {
                <div class="col-sm-1 fs18 mt25 nmt mb10">
                    <a href="javascript:void(0)" class="fa fa-trash-alt color-maroon mt7" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
                </div>
            }
        </div>
        @Html.Partial("_PartialDrivertOtherInfo", Model)
    </div>
}
