@model int
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mt0 f-light pb5 fs21 mb5 float-left">@Resource.headingInvited</h3>
            @if (CurrentUser.IsBuyerAdmin || CurrentUser.IsSupplierAdmin || CurrentUser.IsCarrierAdmin)
            {
                <a href="@Url.Action("CompanyAdditionalUsers", "Profile", new { area = "Settings" })" class="fs18 pull-left ml20">
                    <i class="fa fa-plus-circle fs18 mt4 mr5 float-left"></i><span class="fs14 mt1 pull-left">@Resource.btnLabelCreateNew</span>
                </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well bg-white shadow-b">
                <div class="ibox mb0">
                    <div class="ibox-content no-border no-padding">
                        <div class="table-responsive">
                            <table id="invitedusers-datatable" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@Resource.gridColumnEmail</th>
                                        <th>@Resource.gridColumnRoles</th>
                                        <th>@Resource.gridColumnAddedBy</th>
                                        @if (CurrentUser.IsBuyerAdmin || CurrentUser.IsSupplierAdmin || CurrentUser.IsCarrierAdmin)
                                        {
                                            <th>@Resource.gridColumnAction</th>
                                        }
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation -->
<div class="modal fade confirm-box" id="confirm-delete-driver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pa top0 bg-white left0 z-index5 loading-wrapper" style="display:none;" id="deleteDriverLoading"><span class="spinner-dashboard pa"></span></div>
                <button type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                <h2 class="fs18 f-bold mt0">Are you sure?</h2>
                <p class="pb10" id="deleteDelGrpHeading" style="display:none;">Driver schedule exists.</p>
                <div class="text-right">
                    <button type="button" class="btn btn-danger btn-lg btnDriverYes">Confirm</button>
                    <button type="button" id="btnDriverCancel" (click)="deleteDriverNo()" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginScripts())
{
<script type="text/javascript">

        var invitedusersDataTable, element, exportInvitedColumns = { columns: [0, 1, 2] };
        var deleteDriverInfo=new Object();
        $(document).ready(function () {
            invitedusersDataTable = $('#invitedusers-datatable').dataTable({
                "ajax": {
                    "url": "@Url.Action("CompanyInvitedUsersGrid", "Profile", new { area ="Settings"})?companyId=" + @Model,
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                            {
                                "data": function (data, type, row, meta) {
                                    var url = '@Url.Action("CompanyAdditionalUsers", "Profile", new { area = "Settings" })?id=' + data.Id + '&isInvitedUser=true' + '';
                                    return '<a href="' + url + '">' + data.Email + '</a>';
                                }, "autoWidth": true
                            },
                            {
                                "data": function (data, type, row, meta) {

                                    return data.RoleNames;

                                }, "autoWidth": true
                            },
                            {
                                "data": function (data, type, row, meta) {

                                    return data.InvitedBy;

                                }, "autoWidth": true
                            },
                            {
                                "data": function (data, type, row, meta) {
                                    if ('@CurrentUser.IsBuyerAdmin' == 'True' || '@CurrentUser.IsSupplierAdmin' == 'True') {
                                        return '<a class="fa fa-trash-alt fs18 color-maroon deleteinvitedDriver"  data-toggle="modal" data-target="#confirm-delete-driver" data-backdrop="static" data-keyboard="false"  data-IsScheduleExists = "' + data.IsScheduleExists + '" data-ScheduleBuilderIdInfo="' + data.ScheduleBuilderIdInfo + '"  data-userid="' + data.Id + '"  data-dt_rowId="' + data.DT_RowId + '"></a>'
                                    }
                                    else {
                                        return "";
                                    }
                                }, "width": "40px", "bSortable": false
                            }
                ],
                pageLength: 10,
                responsive: true,
                "order": [],
                "initComplete": function (settings, json) {
                    wrapperHeight();
                },
                "fnDrawCallback": function (settings) {
                    changePhoneFormat();
                },
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'csv', title: '@Resource.headingInvited', exportOptions: exportInvitedColumns },
                    { extend: 'excel', title: '@Resource.headingInvited', exportOptions: exportInvitedColumns },
                    { extend: 'pdf', title: '@Resource.headingInvited', exportOptions: exportInvitedColumns },
                    {
                        extend: 'print', exportOptions: exportInvitedColumns,
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ],
                language: {
                    sLoadingRecords: "<div class='spinner-small'></div><div class='fs14'>@Resource.lblLoading</div>"
                }

            });
            $("body").on("click", ".deleteinvitedDriver", function (e) {
                deleteDriverInfo.IsScheduleExists = $(this).data("isscheduleexists");
                deleteDriverInfo.id = $(this).data('userid');
                deleteDriverInfo.DT_RowId = $(this).data('dt_rowid');
                $("#deleteDelGrpHeading").hide();
                if (deleteDriverInfo.IsScheduleExists) {
                    $("#deleteDelGrpHeading").show();
                }
                deleteDriverInfo.ScheduleBuilderIdInfo = $(this).data("schedulebuilderidinfo");
            });
            $("body").on("click", ".btnDriverYes", function (e) {
               var url = '@Url.Action("DeleteInvitedUser", "Profile", new { area = "Settings"})';
                element = $(this);
                $("#deleteDriverLoading").show();
                $.post(url, { id: deleteDriverInfo.id, IsScheduleExists: deleteDriverInfo.IsScheduleExists, ScheduleBuilderIdInfo: deleteDriverInfo.ScheduleBuilderIdInfo}, function (response) {
                        $("#deleteDriverLoading").hide();
                        $("#btnDriverCancel").click();
                        if (response.StatusCode != 0) {
                            msgerror("Error", response.StatusMessage, 10000);
                        }
                        else {
                            var currentRow = $("#" + deleteDriverInfo.DT_RowId);
                            var ipos = invitedusersDataTable.fnGetPosition(currentRow[0]);
                            invitedusersDataTable.fnDeleteRow(ipos);
                            msgsuccess("Success", response.StatusMessage)
                        }
                    });
            });
        });
</script>
}
