@model PrivateSupplierListViewModel

@using (Html.BeginCollectionItem("PrivateSupplierLists"))
{
    <div class="row partial-block">
        <div class="col-sm-11 ">
            <div class="row">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.IsNewSupplierList)
                <div class="col-sm-6 ">
                    <div class="form-group">
                        @if (Model.DisplayMode == PageDisplayMode.Edit)
                        {
                            @Html.LabelFor(m => m.Name)
                            <div class="form-control" readonly="true">@Html.DisplayFor(m => m.Name)</div>
                        }
                        else
                        {
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" }).IsReadonly(Model.DisplayMode == PageDisplayMode.Edit)
                            @Html.ValidationMessageFor(m => m.Name)
                        }
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Suppliers)
                        @Html.ListBoxFor(m => m.Suppliers, new SelectList(CommonHelperMethods.GetPrivateSuppliers(CurrentUser.CompanyId), "Id", "Name", 0), new { @class = "form-control multi-select private-supplier-list" })
                        @Html.ValidationMessageFor(m => m.Suppliers)
                    </div>
                </div>
            </div>
        </div>
        @if (Model.DisplayMode == PageDisplayMode.Create)
        {
            <div class="col-sm-1 fs18 mt25 nmt mb10">
                <a href="javascript:void(0)" class="fa fa-trash-alt color-maroon mt7" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
            </div>
        }
    </div>
}

