@model AdditionalUserViewModel

@using (Html.BeginCollectionItem("AdditionalUsers"))
{
    <div class="partial-block">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-sm-3 ">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "autofocus"})
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            @if (Model.DisplayMode == PageDisplayMode.Create)
            {
                <div class="col-sm-1 fs18 mt25">
                    <a href="javascript:void(0)" class="fa fa-trash-alt color-maroon mt7" title="@Resource.btnLabelRemove" onclick="removePartial(this);"></a>
                </div>
            }
            @*<div class="col-sm-6 ">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control noresize", placeholder = Html.DisplayNameFor(m => m.Message) })
                        @Html.ValidationMessageFor(m => m.Message)
                    </div>
                </div>*@
        </div>
    </div>
}

