@model AdditionalUserViewModel

<tr>
    <td>
        @Html.HiddenFor(m => Model.Id, new { @class = "userId" })
        @Model.Email
    </td>
    <td>
        @Html.Raw(string.Join("<br />", @Model.RoleNameList))
    </td>
    <td>
        @Model.FirstName @Model.LastName
    </td>
    <td>
        @Html.ListBoxFor(m => Model.EventTypeId, new SelectList(CommonHelperMethods.GetEventTypeByRoles((int)CurrentUser.CompanyTypeId, Model.RoleIds, CurrentUser.CompanySubTypeId), "Id", "Name"),
        new { @class = $"form-control multi-select events", onchange = "updateUserEvent(this);" })
    </td>
</tr>
